<i class="fa fa-step-backward" *ngIf="sourceKey" (click)="nav.back()"></i>
<ngx-spinner></ngx-spinner>
<form [formGroup]="crmtatconfiguration_Form" (ngSubmit)="onSubmit()" [ngClass]="theme">
  <div class="row second">
    <h1 class="col-4 columns mainheader left"><a href='#/home/{{p_currenturl}}'>{{'TAT Configurations' | translate}}</a>
    </h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
          <li><a class='alert-info' [routerLink]='' *ngIf='showview' (click)="edit_crmtatconfigurations()"><i
                class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col' *ngIf='maindata==null || maindata==undefined'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li *ngIf='!showview && (maindata==null || maindata==undefined)' class='nav-item dropdown  actionheader'>
            <ul class="nav navbar-nav1">
              <li *ngIf=' (maindata==null || maindata==undefined)' class="dropdown">
                <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                  aria-expanded='false'> <span class='caret'></span>Actions</a>
                <ul class="dropdown-menu">
                  <li><a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i
                        class='fa fa-plus' aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a></li>
                  <li><a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a></li>
                  <li><a class='dropdown-item' [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a></li>

                  <li role="separator" class="divider">
                    <hr>
                  </li>

                  <li><a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-envelope'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a></li>


                </ul>
              </li>
            </ul>
          </li>
          <ng-container *ngFor="let action of crmtatconfiguration_menuactions">
            <li><a class="alert-action" [routerLink]='' (click)="onChangeAction(action.actionid)"><i class="fa fa-new"
                  aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{action.description}}</a></li>
          </ng-container>
          <li class='nav-item actionheader' *ngIf="!showview">
            <a class="alert-success" [routerLink]='' (click)="onSubmitAndWait()"><i class="fa fa-database"></i>
              Submit</a>
            <a class="alert-primary" *ngIf='data.pkcol==null || maindata.ScreenType==null' [routerLink]=''
              (click)="onSubmit()"><i class="fa fa-share-square"></i> Submit & Clear</a>
            <app-action *ngIf="f.configid.value != null" (afterAction)="afterAction($event)" [menuid]="p_menuid"
              [value]="f.configid.value" [status]="f.status.value"></app-action>
          </li>
          <li class='nav-item actionheader'
            *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)">
            <a class="alert-danger" [routerLink]='' (click)="onClose()"><i class="fa fa-close"></i> Close</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="container"
    id="{{maindata ==undefined || maindata==null || maindata.ScreenType!=2?'contentAreascroll':'contentArea1'}}">
    <div class="w-5" *ngIf="showFormType=='1'" style="margin-top:10px!important">
      <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
    </div>
    <div *ngIf="(viewHtml != '' && showview)" [innerHTML]='getHtml(viewHtml)'>

    </div>


    <!--parentindex-->

    <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
      <div
        *ngIf="((hidelist.indexOf('parentindex') == -1) && (parentindexvisible==undefined || parentindexvisible==true))"
        style='' class="col-3"><label for="parentindex" class="control-label"
          (click)="AddOrEdit_parentindex(null)">Parent Index</label>
        <select *ngIf="!showview" id="parentindex" (change)="parentindex_onChange($event.target)"
          formControlName="parentindex" class="form-control">
          <option [ngValue]="null" selected>-Select-</option>
          <option *ngFor="let item of parentindex_List" value="{{item.value}}">{{item.label}}</option>
        </select>
        <label *ngIf="showview" class="labelview">{{f.parentindexdesc?.value}}</label>
      </div>


      <!--sub1index-->

      <div *ngIf="((hidelist.indexOf('sub1index') == -1) && (sub1indexvisible==undefined || sub1indexvisible==true))"
        style='' class="col-3"><label for="sub1index" class="control-label" (click)="AddOrEdit_sub1index(null)">Sub1
          Index</label>
        <select *ngIf="!showview" id="sub1index" (change)="sub1index_onChange($event.target)"
          formControlName="sub1index" class="form-control">
          <option [ngValue]="null" selected>-Select-</option>
          <option *ngFor="let item of sub1index_List" value="{{item.value}}">{{item.label}}</option>
        </select>
        <label *ngIf="showview" class="labelview">{{f.sub1indexdesc?.value}}</label>
      </div>


      <!--sub2index-->

      <div *ngIf="((hidelist.indexOf('sub2index') == -1) && (sub2indexvisible==undefined || sub2indexvisible==true))"
        style='' class="col-3"><label for="sub2index" class="control-label" (click)="AddOrEdit_sub2index(null)">Sub2
          Index</label>
        <select *ngIf="!showview" id="sub2index" (change)="sub2index_onChange($event.target)"
          formControlName="sub2index" class="form-control">
          <option [ngValue]="null" selected>-Select-</option>
          <option *ngFor="let item of sub2index_List" value="{{item.value}}">{{item.label}}</option>
        </select>
        <label *ngIf="showview" class="labelview">{{f.sub2indexdesc?.value}}</label>
      </div>


      <!--sub3index-->

      <div *ngIf="((hidelist.indexOf('sub3index') == -1) && (sub3indexvisible==undefined || sub3indexvisible==true))"
        style='' class="col-3"><label for="sub3index" class="control-label" (click)="AddOrEdit_sub3index(null)">Sub3
          Index</label>
        <select *ngIf="!showview" id="sub3index" (change)="sub3index_onChange($event.target)"
          formControlName="sub3index" class="form-control">
          <option [ngValue]="null" selected>-Select-</option>
          <option *ngFor="let item of sub3index_List" value="{{item.value}}">{{item.label}}</option>
        </select>
        <label *ngIf="showview" class="labelview">{{f.sub3indexdesc?.value}}</label>
      </div>
    </div>


    <!--criticality-->

    <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
      <div
        *ngIf="((hidelist.indexOf('criticality') == -1) && (criticalityvisible==undefined || criticalityvisible==true))"
        style='' class="col-3"><label for="criticality" class="control-label">Criticality</label>
        <select *ngIf="!showview" id="criticality" (change)="criticality_onChange($event.target)"
          formControlName="criticality" class="form-control">
          <option [ngValue]="null" selected>-Select-</option>
          <option *ngFor="let item of criticality_List" value="{{item.value}}">{{item.label}}</option>
        </select>
        <label *ngIf="showview" class="labelview">{{f.criticalitydesc?.value}}</label>
      </div>


      <!--source-->

      <div *ngIf="((hidelist.indexOf('source') == -1) && (sourcevisible==undefined || sourcevisible==true))" style=''
        class="col-3"><label for="source" class="control-label">Source</label>
        <select *ngIf="!showview" id="source" (change)="source_onChange($event.target)" formControlName="source"
          class="form-control">
          <option [ngValue]="null" selected>-Select-</option>
          <option *ngFor="let item of source_List" value="{{item.value}}">{{item.label}}</option>
        </select>
        <label *ngIf="showview" class="labelview">{{f.sourcedesc?.value}}</label>
      </div>
      <div *ngIf="((hidelist.indexOf('tathours') == -1) && (tathoursvisible==undefined || tathoursvisible==true))"
        style='' class="col-3 ">
        <label for="tathours" class="control-label">T A T Hours</label>
        <label *ngIf="showview" class="labelview">{{f.tathours?.value}}</label>
        <ngb-timepicker *ngIf="!showview" class="form-control timepicker" formControlName="tathours"></ngb-timepicker>
      </div>
      <div class="col"></div>
    </div>
  </div>
</form>