<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="erpcustomerinvoiceForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Customer Invoices' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="editerpcustomerinvoices()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='erpcustomerinvoicetoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.erpcustomerinvoiceshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.invoiceid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.invoiceid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<ngb-tabset class="tabset1"  [destroyOnHide]="false">
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<ngb-tab>
<ng-template ngbTabTitle>
<div (click)="ToolBar(true)">Master</div>
</ng-template>
<ng-template ngbTabContent>
<p-accordion  [multiple]='true'>


<!--branchid-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('branchid') == -1"  class="col" ><label  for="branchid" class="control-label" (click)="AddOrEditbranchid(null)">Branch</label>
<app-popupselect  *ngIf="!showview"  [options]="branchidList"  [optionsEvent]="branchidoptionsEvent" [form]="bobranchmaster" (selectItem)="onSelectedbranchid($event)"  [reportid]= 'bxg94' [menuid]='bxg94' formControlName="branchid" id="branchid" desc="branchname" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"     class="labelview">{{f.branchid?.value}}</label>
  </div>


<!--customerid-->

  <div   *ngIf="hidelist.indexOf('customerid') == -1"  class="col" ><label  for="customerid" class="control-label" (click)="AddOrEditcustomerid(null)">Customer</label>
<app-popupselect  *ngIf="!showview"  [options]="customeridList"  [optionsEvent]="customeridoptionsEvent" [form]="crmcustomermaster" (selectItem)="onSelectedcustomerid($event)"  [reportid]= 'pofgf' [menuid]='pofgf' formControlName="customerid" id="customerid" desc="lastname" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"     class="labelview">{{f.customerid?.value}}</label>
  </div>
<div class="col"></div>
<div class="col"></div>
</div>
</p-accordion>
<p-accordion [multiple]='true'>
<p-accordionTab header='Invoice Details'  [selected]='true'>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('invoicenumber') == -1"  class="col " >
<label  for="invoicenumber" class="control-label">Invoice Number</label>
      <label *ngIf="showview"     class="labelview">{{f.invoicenumber?.value}}</label>
      <input   *ngIf="!showview"  id="invoicenumber"  readonly formControlName="invoicenumber" class="form-control"
        >
<ngx-barcode [bc-value]='f.invoicenumber.value' [bc-display-value]='true'></ngx-barcode>
  </div>
  <div   *ngIf="hidelist.indexOf('invoicedate') == -1"  class="col " >
<label  for="invoicedate" class="control-label">Invoice Date</label>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.invoicedate?.value)}}</label>
<div class="input-group" *ngIf="!showview" >
<input #invoicedateformpicker="ngbDatepicker"      ngbDatepicker name="invoicedateformpicker" id="invoicedate"  formControlName="invoicedate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="invoicedateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
  </div>
<div class="col"></div>
<div class="col"></div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('invoicedetails') == -1"  class="col " >
<label  for="invoicedetails" class="control-label">Invoice Details</label>
      <label *ngIf="showview"     class="labelview">{{f.invoicedetails?.value}}</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="invoicedetails"  formControlName="invoicedetails" class="form-control"
        >
</textarea>
  </div>
</div>
</p-accordionTab>
</p-accordion>
<p-accordion [multiple]='true'>
<p-accordionTab header='Customer References'  [selected]='true'>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('customerreference') == -1"  class="col " >
<label  for="customerreference" class="control-label">Customer Reference</label>
      <label *ngIf="showview"     class="labelview">{{f.customerreference?.value}}</label>
      <input   *ngIf="!showview"  id="customerreference"  formControlName="customerreference" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('challanno') == -1"  class="col " >
<label  for="challanno" class="control-label">Challan No</label>
      <label *ngIf="showview"     class="labelview">{{f.challanno?.value}}</label>
      <input   *ngIf="!showview"  id="challanno"  formControlName="challanno" class="form-control"
        >
  </div>
<div class="col"></div>
<div class="col"></div>
</div>
</p-accordionTab>
</p-accordion>
<p-accordion [multiple]='true'>
<p-accordionTab header='Amount'  [selected]='true'>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('invoicecurrency') == -1"  class="col " >
<label  for="invoicecurrency" class="control-label">Invoice Currency</label>
      <label *ngIf="showview"     class="labelview">{{f.invoicecurrency?.value}}</label>
      <input   *ngIf="!showview"  id="invoicecurrency"  formControlName="invoicecurrency" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('totalitemvalue') == -1"  class="col " >
<label  for="totalitemvalue" class="control-label">Total Item Value</label>
      <label *ngIf="showview"     class="labelview">{{f.totalitemvalue?.value}}</label>
      <input   *ngIf="!showview"  id="totalitemvalue"  formControlName="totalitemvalue" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('discount') == -1"  class="col " >
<label  for="discount" class="control-label">Discount</label>
      <label *ngIf="showview"     class="labelview">{{f.discount?.value}}</label>
      <input   *ngIf="!showview"  id="discount"  formControlName="discount" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('tax1') == -1"  class="col " >
<label  for="tax1" class="control-label">Tax1</label>
      <label *ngIf="showview"     class="labelview">{{f.tax1?.value}}</label>
      <input   *ngIf="!showview"  id="tax1"  formControlName="tax1" class="form-control"
        >
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('tax2') == -1"  class="col " >
<label  for="tax2" class="control-label">Tax2</label>
      <label *ngIf="showview"     class="labelview">{{f.tax2?.value}}</label>
      <input   *ngIf="!showview"  id="tax2"  formControlName="tax2" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('totalcharges') == -1"  class="col " >
<label  for="totalcharges" class="control-label">Total Charges</label>
      <label *ngIf="showview"     class="labelview">{{f.totalcharges?.value}}</label>
      <input   *ngIf="!showview"  id="totalcharges"  formControlName="totalcharges" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('tds') == -1"  class="col " >
<label  for="tds" class="control-label">T D S</label>
      <label *ngIf="showview"     class="labelview">{{f.tds?.value}}</label>
      <input   *ngIf="!showview"  id="tds"  formControlName="tds" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('invoiceamount') == -1"  class="col " >
<label  for="invoiceamount" class="control-label">Invoice Amount</label>
      <label *ngIf="showview"     class="labelview">{{f.invoiceamount?.value}}</label>
      <input   *ngIf="!showview"  id="invoiceamount"  formControlName="invoiceamount" class="form-control"
        >
  </div>
</div>
</p-accordionTab>
</p-accordion>
<p-accordion [multiple]='true'>
<p-accordionTab header='Terms'  [selected]='true'>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('duedate') == -1"  class="col " >
<label  for="duedate" class="control-label">Due Date</label>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.duedate?.value)}}</label>
<div class="input-group" *ngIf="!showview" >
<input #duedateformpicker="ngbDatepicker"      ngbDatepicker name="duedateformpicker" id="duedate"  formControlName="duedate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="duedateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
  </div>


<!--paymentterms-->

  <div   *ngIf="hidelist.indexOf('paymentterms') == -1"  class="col" ><label  for="paymentterms" class="control-label">Payment Terms</label>
      <select  *ngIf="!showview"  id="paymentterms"  (change)="paymenttermsonChange($event.target)" formControlName="paymentterms"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of paymenttermsList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.paymentterms?.value}}</label>
  </div>


<!--creditdays-->

  <div   *ngIf="hidelist.indexOf('creditdays') == -1"  class="col" ><label  for="creditdays" class="control-label">Credit Days</label>
      <select  *ngIf="!showview"  id="creditdays"  (change)="creditdaysonChange($event.target)" formControlName="creditdays"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of creditdaysList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.creditdays?.value}}</label>
  </div>
<div class="col"></div>
</div>
</p-accordionTab>
</p-accordion>
<p-accordion [multiple]='true'>
<p-accordionTab header='Received Details'  [selected]='true'>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('receiveddate') == -1"  class="col " >
<label  for="receiveddate" class="control-label">Received Date</label>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.receiveddate?.value)}}</label>
<div class="input-group" *ngIf="!showview" >
<input #receiveddateformpicker="ngbDatepicker"      ngbDatepicker name="receiveddateformpicker" id="receiveddate"  formControlName="receiveddate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="receiveddateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
  </div>
  <div   *ngIf="hidelist.indexOf('receiptreference') == -1"  class="col " >
<label  for="receiptreference" class="control-label">Receipt Reference</label>
      <label *ngIf="showview"     class="labelview">{{f.receiptreference?.value}}</label>
      <input   *ngIf="!showview"  id="receiptreference"  formControlName="receiptreference" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('receivedamount') == -1"  class="col " >
<label  for="receivedamount" class="control-label">Received Amount</label>
      <label *ngIf="showview"     class="labelview">{{f.receivedamount?.value}}</label>
      <input   *ngIf="!showview"  id="receivedamount"  formControlName="receivedamount" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('receivedcurrency') == -1"  class="col " >
<label  for="receivedcurrency" class="control-label">Received Currency</label>
      <label *ngIf="showview"     class="labelview">{{f.receivedcurrency?.value}}</label>
      <input   *ngIf="!showview"  id="receivedcurrency"  formControlName="receivedcurrency" class="form-control"
        >
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('outstandingamount') == -1"  class="col " >
<label  for="outstandingamount" class="control-label">Outstanding Amount</label>
      <label *ngIf="showview"     class="labelview">{{f.outstandingamount?.value}}</label>
      <input   *ngIf="!showview"  id="outstandingamount"  formControlName="outstandingamount" class="form-control"
        >
  </div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div>
</p-accordionTab>
</p-accordion>
<p-accordion [multiple]='true'>
<p-accordionTab header='Finance Info'  [selected]='true'>


<!--basecurrency-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('basecurrency') == -1"  class="col" ><label  for="basecurrency" class="control-label">Currency</label>
      <select  *ngIf="!showview"  id="basecurrency"  (change)="basecurrencyonChange($event.target)" formControlName="basecurrency"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of basecurrencyList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.basecurrency?.value}}</label>
  </div>
  <div   *ngIf="hidelist.indexOf('baseamount') == -1"  class="col " >
<label  for="baseamount" class="control-label">Base Amount</label>
      <label *ngIf="showview"     class="labelview">{{f.baseamount?.value}}</label>
      <input   *ngIf="!showview"  id="baseamount"  formControlName="baseamount" class="form-control"
        >
  </div>


<!--accountid-->

  <div   *ngIf="hidelist.indexOf('accountid') == -1"  class="col" ><label  for="accountid" class="control-label" (click)="AddOrEditaccountid(null)">Account</label>
<app-popupselect  *ngIf="!showview"  [options]="accountidList"  [optionsEvent]="accountidoptionsEvent" [form]="erpfaaccountmaster" (selectItem)="onSelectedaccountid($event)"  [reportid]= 'oo2ro' [menuid]='oo2ro' formControlName="accountid" id="accountid" desc="accountname" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"     class="labelview">{{f.accountid?.value}}</label>
  </div>


<!--costcenter-->

  <div   *ngIf="hidelist.indexOf('costcenter') == -1"  class="col" ><label  for="costcenter" class="control-label" (click)="AddOrEditcostcenter(null)">Cost Center</label>
      <select  *ngIf="!showview"  id="costcenter"  (change)="costcenteronChange($event.target)" formControlName="costcenter"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of costcenterList" value="{{item.costcenterid}}">{{item.costcentername}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.costcenter?.value}}</label>
  </div>
</div>


<!--assigntofinanceuserid-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('assigntofinanceuserid') == -1"  class="col" ><label  for="assigntofinanceuserid" class="control-label" (click)="AddOrEditassigntofinanceuserid(null)">Assign To(Finance)</label>
<app-popupselect  *ngIf="!showview"  [options]="assigntofinanceuseridList"  [optionsEvent]="assigntofinanceuseridoptionsEvent" [form]="bousermaster" (selectItem)="onSelectedassigntofinanceuserid($event)"  [reportid]= 'e99kq' [menuid]='e99kq' formControlName="assigntofinanceuserid" id="userid" desc="username" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"     class="labelview">{{f.assigntofinanceuserid?.value}}</label>
  </div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('remarks') == -1"  class="col " >
<label  for="remarks" class="control-label">Remarks</label>
      <label *ngIf="showview"     class="labelview">{{f.remarks?.value}}</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="remarks"  formControlName="remarks" class="form-control"
        >
</textarea>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('soid') == -1"  class="col " >
<label  for="soid" class="control-label">S O</label>
      <label *ngIf="showview"     class="labelview">{{f.soid?.value}}</label>
      <input   *ngIf="!showview"  id="soid"  formControlName="soid" class="form-control"
        >
  </div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div></p-accordionTab></p-accordion>
</ng-template>
</ngb-tab>
<ngb-tab>
<ng-template ngbTabTitle>
<div (click)="ToolBar(false)">Invoice Details</div>
</ng-template>
<ng-template ngbTabContent>
<p-accordion  [multiple]='true'>
  <!-- child table erpcustomerinvoicedetails-->
<div [ngClass]="IserpcustomerinvoicedetailsVisible()">
<!--End-->
<h4  class="form-group sticky1  columns left">{{'Invoice Details' | translate}}
<select class='child'  id="erpcustomerinvoicedetailsPagingdropdown" (change)="erpcustomerinvoicedetailsPaging($event.target.value)" [value]='20'>
<option value='20'>20</option>
<option value='50'>50</option>
<option value='100'>100</option>
</select>
<div   class="right" role="toolbar" aria-label="Toolbar with button groups"> <!--btn-toolbar-->
    <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class='nav-link dropdown-toggle btn-success' (click)='erpcustomerinvoicedetailtoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'></a>
            <div class='dropdown-menu' style='display:block' *ngIf='this.erpcustomerinvoicedetailshowOption'>
      <a  class="dropdown-item"  [routerLink]='' (click)="erpcustomerinvoicedetailtoggleOption();erpcustomerinvoicedetailsroute(null, 'create')" ><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a>
              <div class='dropdown-divider'></div>
      <a class="dropdown-item" [routerLink]=''  (click)="erpcustomerinvoicedetailtoggleOption();showerpcustomerinvoicedetailsFilter()" ><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Filter</a>
      <a class="dropdown-item" [routerLink]='' ><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Mail</a>
    </div>
    </div>
  </div>
</h4>
<ng2-smart-table  #tblerpcustomerinvoicedetailssource (userRowSelect)="handleerpcustomerinvoicedetailsGridSelected($event)" [settings]="erpcustomerinvoicedetailssettings" (custom)="onCustomerpcustomerinvoicedetailsAction($event)" [source]="erpcustomerinvoicedetailssource"  (delete)="erpcustomerinvoicedetailsroute($event,'delete')"  (deleteConfirm)="erpcustomerinvoicedetailsroute($event,'delete')" (create)="erpcustomerinvoicedetailsroute($event,'create')"   (createConfirm)="erpcustomerinvoicedetailsbeforesave($event)"  (edit)="erpcustomerinvoicedetailsroute($event,'edit')"  (editConfirm)="erpcustomerinvoicedetailsbeforesave($event)"    >
</ng2-smart-table>
</div>
  <!--End of child table erpcustomerinvoicedetails-->
</p-accordion>
</ng-template></ngb-tab>
</ngb-tabset>
  </div>
</form>
