<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="lmsquoteForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Quotes' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="editlmsquotes()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='lmsquotetoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.lmsquoteshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.quoteid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.quoteid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<ngb-tabset class="tabset1"  [destroyOnHide]="false">
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<ngb-tab>
<ng-template ngbTabTitle>
<div (click)="ToolBar(true)">Master</div>
</ng-template>
<ng-template ngbTabContent>
<p-accordion  [multiple]='true'>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('branchid') == -1 && maindata==undefined || maindata==null || maindata.ScreenType==null"  class="col " >
<label  for="branchid" class="control-label">Branch</label>
      <input   *ngIf="!showview"  id="branchid"  formControlName="branchid" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('leadid') == -1 && maindata==undefined || maindata==null || maindata.ScreenType==null"  class="col " >
<label  for="leadid" class="control-label">Lead</label>
      <input   *ngIf="!showview"  id="leadid"  formControlName="leadid" class="form-control"
        >
  </div>


<!--opportunityid-->

  <div   *ngIf="hidelist.indexOf('opportunityid') == -1 && maindata==undefined || maindata==null || maindata.ScreenType==null"  class="col" ><label  for="opportunityid" class="control-label" (click)="AddOrEditopportunityid(null)">Opportunity</label>
<app-popupselect  *ngIf="!showview"  [options]="opportunityidList"  [optionsEvent]="opportunityidoptionsEvent" [form]="lmsopportunity" (selectItem)="onSelectedopportunityid($event)"  [reportid]= 'vm3i3' [menuid]='vm3i3' formControlName="opportunityid" id="opportunityid" desc="requirementdetails" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"      class="labelview">{{f.opportunityiddesc?.value}}</label>
  </div>
  <div   *ngIf="hidelist.indexOf('reference') == -1"  class="col " >
<label  for="reference" class="control-label">Reference</label>
      <input   *ngIf="!showview"  id="reference"  readonly formControlName="reference" class="form-control"
        >
<ngx-barcode [bc-value]='f.reference.value' [bc-display-value]='true'></ngx-barcode>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('quotedate') == -1"  class="col " >
<label  for="quotedate" class="control-label">Quote Date</label>
<div class="input-group" *ngIf="!showview" >
<input #quotedateformpicker="ngbDatepicker"      ngbDatepicker name="quotedateformpicker" id="quotedate"  formControlName="quotedate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="quotedateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.quotedate?.value)}}</label>
  </div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('details') == -1"  class="col " >
<label  for="details" class="control-label required">Details</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="details"  required formControlName="details" class="form-control"
        >
</textarea>
      <app-field-error-display [displayError]="f.details.invalid && (f.details.touched|| isSubmitted)" errorMsg="Enter {{'Details' | translate}}">
      </app-field-error-display>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('assignedto') == -1"  class="col " >
<label  for="assignedto" class="control-label required">Assigned To</label>
      <app-useraccess   *ngIf="!showview"  id="assignedto"  required formControlName="assignedto"
        >
</app-useraccess>
      <app-field-error-display [displayError]="f.assignedto.invalid && (f.assignedto.touched|| isSubmitted)" errorMsg="Enter {{'Assigned To' | translate}}">
      </app-field-error-display>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('quoteamount') == -1"  class="col " >
<label  for="quoteamount" class="control-label">Quote Amount</label>
      <input   *ngIf="!showview"  id="quoteamount"  formControlName="quoteamount" class="form-control"
        >
  </div>


<!--currency-->

  <div   *ngIf="hidelist.indexOf('currency') == -1"  class="col" ><label  for="currency" class="control-label">Currency</label>
      <select  *ngIf="!showview"  id="currency"  (change)="currencyonChange($event.target)" formControlName="currency"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of currencyList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.currencydesc?.value}}</label>
  </div>
  <div   *ngIf="hidelist.indexOf('expirationdate') == -1"  class="col " >
<label  for="expirationdate" class="control-label">Expiration Date</label>
<div class="input-group" *ngIf="!showview" >
<input #expirationdateformpicker="ngbDatepicker"      ngbDatepicker name="expirationdateformpicker" id="expirationdate"  formControlName="expirationdate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="expirationdateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.expirationdate?.value)}}</label>
  </div>


<!--taxid-->

  <div   *ngIf="hidelist.indexOf('taxid') == -1"  class="col" ><label  for="taxid" class="control-label" (click)="AddOrEdittaxid(null)">Tax</label>
<app-popupselect  *ngIf="!showview"  [options]="taxidList"  [optionsEvent]="taxidoptionsEvent" [form]="erptaxmaster" (selectItem)="onSelectedtaxid($event)"  [reportid]= 'wjjyy' [menuid]='wjjyy' formControlName="taxid" id="taxid" desc="taxname" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"      class="labelview">{{f.taxiddesc?.value}}</label>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('shippingruleid') == -1"  class="col " >
<label  for="shippingruleid" class="control-label">Shipping Rule</label>
      <input   *ngIf="!showview"  id="shippingruleid"  formControlName="shippingruleid" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('totalamount') == -1"  class="col " >
<label  for="totalamount" class="control-label">Total Amount</label>
      <input   *ngIf="!showview"  id="totalamount"  formControlName="totalamount" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('taxamount') == -1"  class="col " >
<label  for="taxamount" class="control-label">Tax Amount</label>
      <input   *ngIf="!showview"  id="taxamount"  formControlName="taxamount" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('charges') == -1"  class="col " >
<label  for="charges" class="control-label">Charges</label>
      <input   *ngIf="!showview"  id="charges"  formControlName="charges" class="form-control"
        >
  </div>
</div>


<!--paymenttermid-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('paymenttermid') == -1"  class="col" ><label  for="paymenttermid" class="control-label" (click)="AddOrEditpaymenttermid(null)">Payment Term</label>
      <select  *ngIf="!showview"  id="paymenttermid"  (change)="paymenttermidonChange($event.target)" formControlName="paymenttermid"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of paymenttermidList" value="{{item.termid}}">{{item.description}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.paymenttermiddesc?.value}}</label>
  </div>


<!--termid-->

  <div   *ngIf="hidelist.indexOf('termid') == -1"  class="col" ><label  for="termid" class="control-label" (click)="AddOrEdittermid(null)">Term</label>
      <select  *ngIf="!showview"  id="termid"  (change)="termidonChange($event.target)" formControlName="termid"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of termidList" value="{{item.termid}}">{{item.description}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.termiddesc?.value}}</label>
  </div>
<div class="col"></div>
<div class="col"></div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('terms') == -1"  class="col " >
<label  for="terms" class="control-label">Terms</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="terms"  formControlName="terms" class="form-control"
        >
</textarea>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('comments') == -1"  class="col " >
<label  for="comments" class="control-label">Comments</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="comments"  formControlName="comments" class="form-control"
        >
</textarea>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('campaignid') == -1"  class="col " >
<label  for="campaignid" class="control-label required">Campaign</label>
      <input   *ngIf="!showview"  id="campaignid"  required formControlName="campaignid" class="form-control"
        >
      <app-field-error-display [displayError]="f.campaignid.invalid && (f.campaignid.touched|| isSubmitted)" errorMsg="Enter {{'Campaign' | translate}}">
      </app-field-error-display>
  </div>


<!--leadsource-->

  <div   *ngIf="hidelist.indexOf('leadsource') == -1"  class="col" ><label  for="leadsource" class="control-label">Lead Source</label>
      <select  *ngIf="!showview"  id="leadsource"  (change)="leadsourceonChange($event.target)" formControlName="leadsource"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of leadsourceList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.leadsourcedesc?.value}}</label>
  </div>
  <div   *ngIf="hidelist.indexOf('supplierquotationid') == -1"  class="col " >
<label  for="supplierquotationid" class="control-label">Supplier Quotation</label>
      <input   *ngIf="!showview"  id="supplierquotationid"  formControlName="supplierquotationid" class="form-control"
        >
  </div>


<!--quotestatus-->

  <div   *ngIf="hidelist.indexOf('quotestatus') == -1"  class="col" ><label  for="quotestatus" class="control-label">Quote Status</label>
      <select  *ngIf="!showview"  id="quotestatus"  (change)="quotestatusonChange($event.target)" formControlName="quotestatus"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of quotestatusList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.quotestatusdesc?.value}}</label>
  </div>
</div>
</p-accordion>
<div  class='full-width'  *ngIf="customfieldvisible  && customfieldservicelist!=null && customfieldservicelist!=undefined  && customfieldservicelist.fields.length>0">
<p-accordion [multiple]='true'>
<p-accordionTab header='CustomField'  [selected]='false'>
<div class="sticky" *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined   &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))" >Custom Fields</div>
<div  class="form-group row" *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined   &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))">
<dynamic-form-builder [customfields]="customfieldservicelist" #customform></dynamic-form-builder>
</div>
</p-accordionTab>
</p-accordion>
</div>
<div  class='full-width'  *ngIf="attachmentvisible">
<p-accordion [multiple]='true'>
<p-accordionTab header='Attachment'  [selected]='false'>
<app-attachment #fileattachment  isAttachment=true  formControlName="attachment" [SessionData]="sessiondata"></app-attachment>
</p-accordionTab>
</p-accordion>
</div>
  <!-- child table lmsquotedetails-->
<div class="row"></div><div [ngClass]="IslmsquotedetailsVisible()">
<p></p>
<h4  class="form-group sticky1  columns left">{{'Details' | translate}}
<select class='child'  id="lmsquotedetailsPagingdropdown" (change)="lmsquotedetailsPaging($event.target.value)" [value]='20'>
<option value='20'>20</option>
<option value='50'>50</option>
<option value='100'>100</option>
</select>
<div   class="right" role="toolbar" aria-label="Toolbar with button groups"> <!--btn-toolbar-->
    <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class='nav-link dropdown-toggle btn-success' (click)='lmsquotedetailtoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'></a>
            <div class='dropdown-menu' style='display:block' *ngIf='this.lmsquotedetailshowOption'>
      <a  class="dropdown-item"  [routerLink]='' (click)="lmsquotedetailtoggleOption();lmsquotedetailsroute(null, 'create')" ><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a>
              <div class='dropdown-divider'></div>
      <a class="dropdown-item" [routerLink]=''  (click)="lmsquotedetailtoggleOption();showlmsquotedetailsFilter()" ><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Filter</a>
      <a class="dropdown-item" [routerLink]='' ><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Mail</a>
    </div>
    </div>
  </div>
</h4>
<ng2-smart-table  #tbllmsquotedetailssource (userRowSelect)="handlelmsquotedetailsGridSelected($event)" [settings]="lmsquotedetailssettings" (custom)="onCustomlmsquotedetailsAction($event)" [source]="lmsquotedetailssource"  (delete)="lmsquotedetailsroute($event,'delete')"  (deleteConfirm)="lmsquotedetailsroute($event,'delete')" (create)="lmsquotedetailsroute($event,'create')"   (createConfirm)="lmsquotedetailsbeforesave($event)"  (edit)="lmsquotedetailsroute($event,'edit')"  (editConfirm)="lmsquotedetailsbeforesave($event)"    >
</ng2-smart-table>
</div>
  <!--End of child table lmsquotedetails-->
</ng-template>
</ngb-tab>
<ngb-tab>
<ng-template ngbTabTitle>
<div (click)="ToolBar(false)">Quote Payment Terms</div>
</ng-template>
<ng-template ngbTabContent>
<p-accordion  [multiple]='true'>
  <!-- child table lmsquotepaymentterms-->
<div class="row"></div><div [ngClass]="IslmsquotepaymenttermsVisible()">
<p></p>
<h4  class="form-group sticky1  columns left">{{'Quote Payment Terms' | translate}}
<select class='child'  id="lmsquotepaymenttermsPagingdropdown" (change)="lmsquotepaymenttermsPaging($event.target.value)" [value]='20'>
<option value='20'>20</option>
<option value='50'>50</option>
<option value='100'>100</option>
</select>
<div   class="right" role="toolbar" aria-label="Toolbar with button groups"> <!--btn-toolbar-->
    <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class='nav-link dropdown-toggle btn-success' (click)='lmsquotepaymenttermtoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'></a>
            <div class='dropdown-menu' style='display:block' *ngIf='this.lmsquotepaymenttermshowOption'>
      <a  class="dropdown-item"  [routerLink]='' (click)="lmsquotepaymenttermtoggleOption();lmsquotepaymenttermsroute(null, 'create')" ><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a>
              <div class='dropdown-divider'></div>
      <a class="dropdown-item" [routerLink]=''  (click)="lmsquotepaymenttermtoggleOption();showlmsquotepaymenttermsFilter()" ><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Filter</a>
      <a class="dropdown-item" [routerLink]='' ><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Mail</a>
    </div>
    </div>
  </div>
</h4>
<ng2-smart-table  #tbllmsquotepaymenttermssource (userRowSelect)="handlelmsquotepaymenttermsGridSelected($event)" [settings]="lmsquotepaymenttermssettings" (custom)="onCustomlmsquotepaymenttermsAction($event)" [source]="lmsquotepaymenttermssource"  (delete)="lmsquotepaymenttermsroute($event,'delete')"  (deleteConfirm)="lmsquotepaymenttermsroute($event,'delete')" (create)="lmsquotepaymenttermsroute($event,'create')"   (createConfirm)="lmsquotepaymenttermsbeforesave($event)"  (edit)="lmsquotepaymenttermsroute($event,'edit')"  (editConfirm)="lmsquotepaymenttermsbeforesave($event)"    >
</ng2-smart-table>
</div>
  <!--End of child table lmsquotepaymentterms-->
</p-accordion>
</ng-template></ngb-tab>
</ngb-tabset>
  </div>
</form>
