<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="ltyreferralForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
  <div  *ngIf="!(viewhtml != '' && showview)">
    {{getHtml(viewhtml)}}
  </div>
<div class="row second"  *ngIf="viewhtml == '' && !showview">
<h1  class="col columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Referrals' | translate}}</a></h1>
  <div class="col  sticky1 second" role="toolbar" aria-label="Toolbar with button groups"> <!--btn-toolbar-->
      <div  *ngIf="toolbarvisible" class="btn-group mr-2" role="group" aria-label="First group">
<button type="button" class="btn indigo lighten-2" (click)="first()"><i class="fa fa-fast-backward" aria-hidden="true"></i></button>
<button type="button" class="btn indigo lighten-2" (click)="prev()"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
<app-popupselect  *ngIf="!showview"  [options]="pkList"  [optionsEvent]="pkoptionsEvent" [form]="pkform" (selectItem)="onSelectedpk($event)"  [reportid]= 31 [menuid]=31 formControlName="pk" id="pk" desc="" ></app-popupselect>
<button type="button" class="btn indigo lighten-2" (click)="next()"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
<button type="button" class="btn indigo lighten-2" (click)="last()"><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
        <button type="button" class="btn indigo lighten-2" (click)="resetForm()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button type="button" class="btn blue lighten-2" (click)="onSubmit()" ><i class="fa fa-save" aria-hidden="true"></i></button>
        <button type="button" class="btn blue lighten-2" (click)="onDelete()" ><i class="fa fa-trash" aria-hidden="true"></i></button>
        <button type="button" class="btn light-blue lighten-2" (click)="onCopy()" ><i class="fa fa-copy" aria-hidden="true"></i></button>
        <button type="button" class="dialogbtn"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button type="button" class="dialogbtn"><i class="fa fa-print" aria-hidden="true"></i></button>
        <button type="button" class="dialogbtn"><i class="fa fa-envelope" aria-hidden="true"></i></button>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"      *ngIf="!(viewhtml != '' && showview)">
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>


<!--customerid-->

<div class="form-group row" >
  <div   class="col" ><label (click)="editfield = 'customerid'; "  for="customerid" class="control-label" (click)="AddOrEditcustomerid(null)">Customer</label>
<app-popupselect  *ngIf="!showview"  [options]="customeridList"  [optionsEvent]="customeridoptionsEvent" [form]="crmcustomermaster" (selectItem)="onSelectedcustomerid($event)"  [reportid]= 'pofgf' [menuid]='pofgf' formControlName="customerid" id="customerid" desc="lastname" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview  && editfield!='customerid'"  (click)="editfield = 'customerid';"  class="form-control labelview">{{f.customeriddesc?.value}}</label>
  </div>
  <div  class="col "  >
<label (click)="editfield = 'referencenumber'; "  for="referencenumber" class="control-label">Reference Number</label>
      <input   *ngIf="!showview || editfield=='referencenumber'"  id="referencenumber"  readonly formControlName="referencenumber" class="form-control"
        >
  </div>
  <div  class="col "  >
<label (click)="editfield = 'referername'; "  for="referername" class="control-label">Referer Name</label>
      <input   *ngIf="!showview || editfield=='referername'"  id="referername"  formControlName="referername" class="form-control"
        >
  </div>
  <div  class="col "  >
<label (click)="editfield = 'recipentid'; "  for="recipentid" class="control-label">Recipent</label>
      <input   *ngIf="!showview || editfield=='recipentid'"  id="recipentid"  formControlName="recipentid" class="form-control"
        >
  </div>
</div>
<div class="form-group row" >
  <div  class="col "  >
<label (click)="editfield = 'recipientname'; "  for="recipientname" class="control-label">Recipient Name</label>
      <input   *ngIf="!showview || editfield=='recipientname'"  id="recipientname"  formControlName="recipientname" class="form-control"
        >
  </div>
  <div  class="col "  >
<label (click)="editfield = 'contact'; "  for="contact" class="control-label">Contact</label>
      <input   *ngIf="!showview || editfield=='contact'"  id="contact"  formControlName="contact" class="form-control"
        >
  </div>
  <div  class="col "  >
<label (click)="editfield = 'recipientemail'; "  for="recipientemail" class="control-label">Recipient Email</label>
      <input  type="email"  [email]="true"  *ngIf="!showview || editfield=='recipientemail'"  id="recipientemail"  formControlName="recipientemail" class="form-control"
        >
      <app-field-error-display [displayError]="f.recipientemail.invalid && (f.recipientemail.touched|| isSubmitted)" errorMsg="Enter valid email">
      </app-field-error-display>
  </div>


<!--referralstatus-->

  <div   class="col" ><label (click)="editfield = 'referralstatus'; "  for="referralstatus" class="control-label">Status</label>
      <select  *ngIf="!showview"  id="referralstatus"  (change)="referralstatusonChange($event.target)" formControlName="referralstatus"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of referralstatusList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview  && editfield!='referralstatus'"  (click)="editfield = 'referralstatus';"  class="form-control labelview">{{f.referralstatusdesc?.value}}</label>
  </div>
</div>
<p-accordion  [multiple]='true'>
<div *ngIf="customfieldvisible  && customfieldservicelist!=null && customfieldservicelist!=undefined  && customfieldservicelist.fields.length>0">
<p-accordionTab header='CustomField'  [selected]='false'>
<div class="sticky" *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined   &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))" >Custom Fields</div>
<div  class="form-group row" *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined   &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))">
<dynamic-form-builder [customfields]="customfieldservicelist" #customform></dynamic-form-builder>
</div>
</p-accordionTab>
</div>
</p-accordion>
<div class="form-group row" *ngIf="!showview">
  <div class="col" >
    <button class="btn btn-primary" (click)="onSubmitAndWait()"  type="button" ><i class="fa fa-database"></i> Submit</button>
    <button class="btn btn-secondary" type="submit" ><i class="fa fa-share-square"></i> Submit & Clear</button>
<app-action *ngIf="f.referralid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.referralid.value"  [status]="f.status.value"></app-action>
    <button type="button"  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</button>
  </div>
  </div>
  </div>
</form>
