<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="legalcasepartydetailForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Party Details' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="editlegalcasepartydetails()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='legalcasepartydetailtoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.legalcasepartydetailshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.partyid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.partyid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link active"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)"  ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"  >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('caseid') == -1"  class="col " >
<label  for="caseid" class="control-label">Case</label>
      <label *ngIf="showview"     class="labelview">{{f.caseid?.value}}</label>
      <input   *ngIf="!showview"  id="caseid"  formControlName="caseid" class="form-control"
        >
  </div>


<!--partytype-->

  <div   *ngIf="hidelist.indexOf('partytype') == -1"  class="col" ><label  for="partytype" class="control-label required" (click)="AddOrEditpartytype(null)" (click)="AddOrEditpartytype(null)">Party Type</label>
      <select  *ngIf="!showview"  id="partytype"  required (change)="partytypeonChange($event.target)" formControlName="partytype"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of partytypeList" value="{{item.masterdataid}}">{{item.masterdatadescription}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.partytype?.value}}</label>
      <app-field-error-display [displayError]="f.partytype.invalid && (f.partytype.touched || isSubmitted)" errorMsg="Enter {{'Party Type' | translate}}">
      </app-field-error-display>
  </div>
  <div   *ngIf="hidelist.indexOf('partyname') == -1"  class="col " >
<label  for="partyname" class="control-label required">Party Name</label>
      <label *ngIf="showview"     class="labelview">{{f.partyname?.value}}</label>
      <input   *ngIf="!showview"  id="partyname"  required formControlName="partyname" class="form-control"
        >
      <app-field-error-display [displayError]="f.partyname.invalid && (f.partyname.touched|| isSubmitted)" errorMsg="Enter {{'Party Name' | translate}}">
      </app-field-error-display>
  </div>


<!--position-->

  <div   *ngIf="hidelist.indexOf('position') == -1"  class="col" ><label  for="position" class="control-label">Position</label>
      <select  *ngIf="!showview"  id="position"  (change)="positiononChange($event.target)" formControlName="position"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of positionList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.position?.value}}</label>
  </div>
</div>


<!--gender-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('gender') == -1"  class="col" ><label  for="gender" class="control-label">Gender</label>
      <select  *ngIf="!showview"  id="gender"  (change)="genderonChange($event.target)" formControlName="gender"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of genderList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.gender?.value}}</label>
  </div>
  <div   *ngIf="hidelist.indexOf('mobilenumber') == -1"  class="col " >
<label  for="mobilenumber" class="control-label">Mobile Number</label>
      <label *ngIf="showview"     class="labelview">{{f.mobilenumber?.value}}</label>
      <int-phone-prefix   *ngIf="!showview"  id="mobilenumber"  formControlName="mobilenumber"  [locale]="'en'" [defaultCountry]="'ae'"  class="form-control telephone" 
        >
</int-phone-prefix>
  </div>
  <div   *ngIf="hidelist.indexOf('emailid') == -1"  class="col " >
<label  for="emailid" class="control-label">Email</label>
      <label *ngIf="showview"     class="labelview">{{f.emailid?.value}}</label>
      <input  type="email"  [email]="true"  *ngIf="!showview"  id="emailid"  formControlName="emailid" class="form-control"
        >
      <app-field-error-display [displayError]="f.emailid.invalid && (f.emailid.touched|| isSubmitted)" errorMsg="Enter valid email">
      </app-field-error-display>
  </div>
  <div   *ngIf="hidelist.indexOf('dateofbirth') == -1"  class="col " >
<label  for="dateofbirth" class="control-label">Date Of Birth</label>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.dateofbirth?.value)}}</label>
<div class="input-group" *ngIf="!showview" >
<input #dateofbirthformpicker="ngbDatepicker"      ngbDatepicker name="dateofbirthformpicker" id="dateofbirth"  formControlName="dateofbirth"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="dateofbirthformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('address1') == -1"  class="col " >
<label  for="address1" class="control-label">Address1</label>
      <label *ngIf="showview"     class="labelview">{{f.address1?.value}}</label>
      <input   *ngIf="!showview"  id="address1"  formControlName="address1" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('address2') == -1"  class="col " >
<label  for="address2" class="control-label">Address2</label>
      <label *ngIf="showview"     class="labelview">{{f.address2?.value}}</label>
      <input   *ngIf="!showview"  id="address2"  formControlName="address2" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('city') == -1"  class="col " >
<label  for="city" class="control-label">City</label>
      <label *ngIf="showview"     class="labelview">{{f.city?.value}}</label>
      <input   *ngIf="!showview"  id="city"  formControlName="city" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('contactperson') == -1"  class="col " >
<label  for="contactperson" class="control-label">Contact Person</label>
      <label *ngIf="showview"     class="labelview">{{f.contactperson?.value}}</label>
      <input   *ngIf="!showview"  id="contactperson"  formControlName="contactperson" class="form-control"
        >
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('cpmobilenumber') == -1"  class="col " >
<label  for="cpmobilenumber" class="control-label">C P Mobile Number</label>
      <label *ngIf="showview"     class="labelview">{{f.cpmobilenumber?.value}}</label>
      <int-phone-prefix   *ngIf="!showview"  id="cpmobilenumber"  formControlName="cpmobilenumber"  [locale]="'en'" [defaultCountry]="'ae'"  class="form-control telephone" 
        >
</int-phone-prefix>
  </div>
  <div   *ngIf="hidelist.indexOf('cpemail') == -1"  class="col " >
<label  for="cpemail" class="control-label">C P Email</label>
      <label *ngIf="showview"     class="labelview">{{f.cpemail?.value}}</label>
      <input  type="email"  [email]="true"  *ngIf="!showview"  id="cpemail"  formControlName="cpemail" class="form-control"
        >
      <app-field-error-display [displayError]="f.cpemail.invalid && (f.cpemail.touched|| isSubmitted)" errorMsg="Enter valid email">
      </app-field-error-display>
  </div>
  <div   *ngIf="hidelist.indexOf('rating') == -1"  class="col " >
<label  for="rating" class="control-label">Rating</label>
      <label *ngIf="showview"     class="labelview">{{f.rating?.value}}</label>
      <p-rating   *ngIf="!showview"  id="rating"  formControlName="rating" class="form-control"
        >
</p-rating>
  </div>
<div class="col"></div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('comments') == -1"  class="col " >
<label  for="comments" class="control-label">Comments</label>
      <label *ngIf="showview"     class="labelview">{{f.comments?.value}}</label>
      <app-comment   *ngIf="!showview"  id="comments"  formControlName="comments" [label]="'Comments'" 
        >
</app-comment>
  </div>
</div>
<div  class='full-width'  *ngIf="attachmentvisible">
<p-accordion [multiple]='true'>
<p-accordionTab header='Attachment'  [selected]='false'>
<app-attachment #fileattachment  isAttachment=true  formControlName="attachment" [SessionData]="sessiondata"></app-attachment>
</p-accordionTab>
</p-accordion>
</div>
  </div>
</form>
