<form [formGroup]="dateForm">

  <div class="input-group">
    <!--   [(ngModel)]="dateModel"-->
    <input class="form-control" formControlName="dateModel" ngbDatepicker #d="ngbDatepicker"
      [minDate]='{year: 1950, month:1, day: 1}' [maxDate]='{year: 2050, month:12, day: 31}'
      (dateSelect)="onChange($event)">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
        <i class="fa fa-calendar"></i>
      </button>
    </div>
  </div>




</form>