<div class="startpagecontent">
    <div class="main-contentainer">

        <div class="inline-curve">
            <h4>Welcome...</h4>
            <h6>MySkillsTree</h6>
            <label>Hi, <span class="applicant-name-label">{{loginUser}}</span></label>
            <p style="margin-left: 1rem;">Kindly Upload Your Resume <i class="fa fa-arrow-circle-right"
                    aria-hidden="true" style="margin-left: 1rem;"></i></p>

            <img src="assets/newstartup/mst_infography.png" alt="" style="margin: 7%;width: 86%;">

        </div>
        <div class="outline-curve">
            <div class="extra-header-box"></div>
            <div class="header-bar">
                <h6>Upload Resume</h6>
            </div>

            <form  [formGroup]="mstapplicantmaster_Form" (ngSubmit)="onSubmitData()">
                <div class="row applicant-form">
                    <div class="col-12">
                        <label for="briefintroduction" class="control-label">Brief Introduction</label>

                        <textarea autosize MinRows="10" MaxRows="15" onlyGrow="true" id="briefintroduction"
                            formControlName="briefintroduction" class="form-control"
                            style="height:100px !important;"> </textarea>
                    </div>

                    <div class="col-12">
                        <label for="statuscrimp" class="control-label">Status Crimp</label>
                        <textarea autosize MinRows="10" MaxRows="15" onlyGrow="true" id="statuscrimp"
                            formControlName="statuscrimp" class="form-control"
                            style="height:100px !important;"></textarea>
                    </div>


                    <div class="col-6" style="margin-top: 15px;">
                        <label for="availableforjob" class="control-label">Available For Job</label>
                        <input type="checkbox" id="availableforjob" formControlName="availableforjob"
                            style="margin-left: 20px;">
                    </div>

                    <div class="col-12" style="margin-top: 15px;">
                        <label for="attachment" class="control-label">Upload Your Resume</label><br>
                        <p-accordion [multiple]='true'>
                            <p-accordionTab [header]="'Attachment(' + fileattachment.getLength() + ')'" [selected]='false'>
                              <app-attachment #fileattachment isAttachment=true formControlName="attachment"
                                [SessionData]="sessionData"></app-attachment>
                            </p-accordionTab>
                          </p-accordion>
                    </div>

                    <div class="col-6 back-button">
                        <img src="assets/newstartup/back_button.png" alt="">
                    </div>

                    <div class="col-6 button-css">
                        <button type="submit">Add Language</button>
                        <img src="assets/newstartup/next_button.png" alt="" (click)="addlanguagedetails()">
                    </div>
                </div>
            </form>
            <div class="extra-box"></div>
            <div class="extra-box-overlap"></div>
            <div class="extra-right-box"></div>
            <div class="extra-right-box-overlap"></div>
        </div>
    </div>
</div>
