<div class="dialog">
  <form [formGroup]="lmspostForm" (ngSubmit)="onSubmit()" [ngClass]="theme">
    <div *ngIf="!(viewhtml != '' && showview)">
      {{getHtml(viewhtml)}}
    </div>
    <div class="container1" *ngIf="!(viewhtml != '' && showview)">
      <div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
        <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
      </div>
      <p-accordion [multiple]='true'>
        <div class="form-group row">
          <div class="col"><label for="userid" class="control-label" (click)="AddOrEdituserid(null)">User</label>
            <app-popupselect *ngIf="!showview" [options]="useridList" [optionsEvent]="useridoptionsEvent"
              [form]="bousermaster" (selectItem)="onSelecteduserid($event)" [reportid]='e99kq' [menuid]='e99kq'
              formControlName="userid" id="userid" desc="username"></app-popupselect>
            <div class="input-group">
            </div>
            <label *ngIf="showview" class="form-control labelview">{{f.useriddesc?.value}}</label>
          </div>
          <div class="col">
            <label for="senderemail" class="control-label">Sender Email</label>
            <input type="email" [email]="true" *ngIf="!showview" id="senderemail" formControlName="senderemail"
              class="form-control" placeholder="{{'Sender Email' | translate}}">
            <app-field-error-display [displayError]="f.senderemail.invalid && (f.senderemail.touched|| isSubmitted)"
              errorMsg="Enter valid email">
            </app-field-error-display>
          </div>
          <div class="col">
            <label for="scheduledate" class="control-label">Schedule Date</label>
            <div class="input-group" *ngIf="!showview">
              <input #scheduledateformpicker="ngbDatepicker" ngbDatepicker name="scheduledateformpicker"
                id="scheduledate" formControlName="scheduledate" class="form-control"
                placeholder="Choose Schedule Date">
              <button class="input-group-addon" *ngIf="!showview" (click)="scheduledateformpicker.toggle()"
                type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
            </div>
            <label *ngIf="showview"
              class="form-control labelview">{{ngbDateParserFormatter.format(f.scheduledate?.value)}}</label>
          </div>
          <div class="col">
            <label for="scheduletime" class="control-label">Schedule Time</label>
            <ngb-timepicker *ngIf="!showview" class="form-control timepicker" formControlName="scheduletime">
            </ngb-timepicker>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <label for="contenttext" class="control-label">Content Text</label>
            <textarea autosize MinRows="10" MaxRows="15" onlyGrow="true" *ngIf="!showview" id="contenttext"
              formControlName="contenttext" class="form-control" placeholder="{{'Content Text' | translate}}">
</textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <label for="recipientgroup" class="control-label">Recipient Group</label>
            <input *ngIf="!showview" id="recipientgroup" formControlName="recipientgroup" class="form-control"
              placeholder="{{'Recipient Group' | translate}}">
          </div>
          <div class="col">
            <label for="testgroup" class="control-label">Test Group</label>
            <input *ngIf="!showview" id="testgroup" formControlName="testgroup" class="form-control"
              placeholder="{{'Test Group' | translate}}">
          </div>
          <div class="col">
            <div class="columnchk">
              <label for="sendunsubscribelink" class="control-label">Send Unsubscribe Link</label>
              <input type="checkbox" *ngIf="!showview" id="sendunsubscribelink" formControlName="sendunsubscribelink"
                class="form-control" placeholder="{{'Send Unsubscribe Link' | translate}}">
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div *ngIf="attachmentvisible">
          <p-accordionTab header='Attachment' [selected]='false'>
            <app-attachment isAttachment="true" #fileattachment formControlName="attachment" [SessionData]="sessiondata"></app-attachment>
          </p-accordionTab>
        </div>
      </p-accordion>
      <div class="form-group row" *ngIf="!showview">
        <div class="col">
          <button class="btn btn-info" (click)="onSubmitAndWait()" type="button"><i class="fa fa-database"></i>
            Submit</button>
          <button class="btn btn-info" type="submit"><i class="fa fa-share-square"></i> Submit & Clear</button>
          <app-action *ngIf="f.postid.value != null" (afteraction)="afteraction($event)" [menuid]="pmenuid"
            [value]="f.postid.value" [status]="f.status.value"></app-action>
          <button type="button" (click)="onClose()"
            *ngIf="data!=undefined && data!=null && (data.ScreenType==1 || data.ScreenType==2)"
            class="btn btn-info"><i class="fa fa-close"></i> Close</button>
        </div>
      </div>
    </div>
  </form>
</div>