<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="hrmsloanschemedetailForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Loan Scheme Details' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="edithrmsloanschemedetails()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='hrmsloanschemedetailtoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.hrmsloanschemedetailshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.detailid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.detailid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('schemeid') == -1"  class="col "  >
<label  for="schemeid" class="control-label">Scheme</label>
      <input   *ngIf="!showview"  id="schemeid"  formControlName="schemeid" class="form-control"
        >
  </div>


<!--roleid-->

  <div   *ngIf="hidelist.indexOf('roleid') == -1"  class="col" ><label  for="roleid" class="control-label">Role</label>
      <select  *ngIf="!showview"  id="roleid"  (change)="roleidonChange($event.target)" formControlName="roleid"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of roleidList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.roleiddesc?.value}}</label>
  </div>
  <div  *ngIf="hidelist.indexOf('maxeligibleamount') == -1"  class="col "  >
<label  for="maxeligibleamount" class="control-label">Max. Eligible Amount</label>
      <input   *ngIf="!showview"  id="maxeligibleamount"  formControlName="maxeligibleamount" currencyMask   [options]="{ prefix: '',precision: 0, thousands: ',', decimal: '.' }" class="form-control"
        >
  </div>
  <div  *ngIf="hidelist.indexOf('maximumtimes') == -1"  class="col "  >
<label  for="maximumtimes" class="control-label">Maximum Times</label>
      <input   *ngIf="!showview"  id="maximumtimes"  formControlName="maximumtimes" class="form-control"
        >
      <app-field-error-display [displayError]="f.maximumtimes.errors!=null && f.maximumtimes.errors.pattern!=null && f.maximumtimes.errors!=undefined && f.maximumtimes.errors.pattern!=undefined  && (f.maximumtimes.touched|| isSubmitted)" errorMsg="Not a valid number">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.maximumtimes.errors!=null && f.maximumtimes.errors.min!=null && f.maximumtimes.errors!=undefined && f.maximumtimes.errors.min!=undefined  && (f.maximumtimes.touched|| isSubmitted)" errorMsg="Minimum value have to be entered">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.maximumtimes.errors!=null && f.maximumtimes.errors.max!=null && f.maximumtimes.errors!=undefined && f.maximumtimes.errors.max!=undefined  && (f.maximumtimes.touched|| isSubmitted)" errorMsg="Maximum value Exceeded">
      </app-field-error-display>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('interestrate') == -1"  class="col "  >
<label  for="interestrate" class="control-label">Interest Rate</label>
      <input   *ngIf="!showview"  id="interestrate"  formControlName="interestrate" class="form-control"
        >
      <app-field-error-display [displayError]="f.interestrate.errors!=null && f.interestrate.errors.pattern!=null && f.interestrate.errors!=undefined && f.interestrate.errors.pattern!=undefined  && (f.interestrate.touched|| isSubmitted)" errorMsg="Not a valid number">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.interestrate.errors!=null && f.interestrate.errors.min!=null && f.interestrate.errors!=undefined && f.interestrate.errors.min!=undefined  && (f.interestrate.touched|| isSubmitted)" errorMsg="Minimum value have to be entered">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.interestrate.errors!=null && f.interestrate.errors.max!=null && f.interestrate.errors!=undefined && f.interestrate.errors.max!=undefined  && (f.interestrate.touched|| isSubmitted)" errorMsg="Maximum value Exceeded">
      </app-field-error-display>
  </div>
  <div  *ngIf="hidelist.indexOf('maximuminstallment') == -1"  class="col "  >
<label  for="maximuminstallment" class="control-label">Maximum Installment</label>
      <input   *ngIf="!showview"  id="maximuminstallment"  formControlName="maximuminstallment" currencyMask   [options]="{ prefix: '',precision: 0, thousands: ',', decimal: '.' }" class="form-control"
        >
  </div>
  <div  *ngIf="hidelist.indexOf('restrictotherloan') == -1"  class="col "  >
<div class="columnchk">
<label  for="restrictotherloan" class="control-label">Restrict Other Loan</label>
      <input  type="checkbox"   *ngIf="!showview"  id="restrictotherloan"  formControlName="restrictotherloan" class="form-control"
        >
  </div>
  </div>
  <div  *ngIf="hidelist.indexOf('noexistingloan') == -1"  class="col "  >
<div class="columnchk">
<label  for="noexistingloan" class="control-label">No Existing Loan</label>
      <input  type="checkbox"   *ngIf="!showview"  id="noexistingloan"  formControlName="noexistingloan" class="form-control"
        >
  </div>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('allowdeferral') == -1"  class="col "  >
<div class="columnchk">
<label  for="allowdeferral" class="control-label">Allow Deferral</label>
      <input  type="checkbox"   *ngIf="!showview"  id="allowdeferral"  formControlName="allowdeferral" class="form-control"
        >
  </div>
  </div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div>  </div>
</form>
