<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="hrmsinterviewscheduleForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Interview Schedules' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="edithrmsinterviewschedules()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='hrmsinterviewscheduletoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.hrmsinterviewscheduleshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.interviewid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.interviewid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<ngb-tabset class="tabset1"  [destroyOnHide]="false">
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<ngb-tab>
<ng-template ngbTabTitle>
<div (click)="ToolBar(true)">Master</div>
</ng-template>
<ng-template ngbTabContent>
<p-accordion  [multiple]='true'>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('interviewreference') == -1"  class="col "  >
<label  for="interviewreference" class="control-label">Reference</label>
      <input   *ngIf="!showview"  id="interviewreference"  readonly formControlName="interviewreference" class="form-control"
        >
  </div>


<!--mprid-->

  <div   *ngIf="hidelist.indexOf('mprid') == -1"  class="col" ><label  for="mprid" class="control-label" (click)="AddOrEditmprid(null)">M R P</label>
<app-popupselect  *ngIf="!showview"  [options]="mpridList"  [optionsEvent]="mpridoptionsEvent" [form]="hrmsmanpowerrequest" (selectItem)="onSelectedmprid($event)"  [reportid]= 'gjoeq' [menuid]='gjoeq' formControlName="mprid" id="mprid" desc="mprreference" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"      class="labelview">{{f.mpriddesc?.value}}</label>
  </div>


<!--jobrole-->

  <div   *ngIf="hidelist.indexOf('jobrole') == -1"  class="col" ><label  for="jobrole" class="control-label" (click)="AddOrEditjobrole(null)">Role</label>
      <select  *ngIf="!showview"  id="jobrole"  (change)="jobroleonChange($event.target)" formControlName="jobrole"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of jobroleList" value="{{item.userroleid}}">{{item.userrole}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.jobroledesc?.value}}</label>
  </div>


<!--applicantid-->

  <div   *ngIf="hidelist.indexOf('applicantid') == -1"  class="col" ><label  for="applicantid" class="control-label" (click)="AddOrEditapplicantid(null)">Applicant</label>
<app-popupselect  *ngIf="!showview"  [options]="applicantidList"  [optionsEvent]="applicantidoptionsEvent" [form]="hrmsapplicantmaster" (selectItem)="onSelectedapplicantid($event)"  [reportid]= 'sb4n4' [menuid]='sb4n4' formControlName="applicantid" id="applicantid" desc="applicantname" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"      class="labelview">{{f.applicantiddesc?.value}}</label>
  </div>
</div>


<!--interviewround-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('interviewround') == -1"  class="col" ><label  for="interviewround" class="control-label">Interview Round</label>
      <select  *ngIf="!showview"  id="interviewround"  (change)="interviewroundonChange($event.target)" formControlName="interviewround"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of interviewroundList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.interviewrounddesc?.value}}</label>
  </div>
  <div  *ngIf="hidelist.indexOf('interviewdate') == -1"  class="col "  >
<label  for="interviewdate" class="control-label">Interview Date</label>
<div class="input-group" *ngIf="!showview" >
<input #interviewdateformpicker="ngbDatepicker"      ngbDatepicker name="interviewdateformpicker" id="interviewdate"  formControlName="interviewdate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="interviewdateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.interviewdate?.value)}}</label>
  </div>
  <div  *ngIf="hidelist.indexOf('interviewtime') == -1"  class="col "  >
<label  for="interviewtime" class="control-label">Interview Time</label>
<ngb-timepicker  *ngIf="!showview"  class="form-control timepicker" formControlName="interviewtime"  ></ngb-timepicker>
  </div>


<!--venue-->

  <div   *ngIf="hidelist.indexOf('venue') == -1"  class="col" ><label  for="venue" class="control-label">Venue</label>
      <select  *ngIf="!showview"  id="venue"  (change)="venueonChange($event.target)" formControlName="venue"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of venueList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.venuedesc?.value}}</label>
  </div>
</div>


<!--interviewer-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('interviewer') == -1"  class="col" ><label  for="interviewer" class="control-label" (click)="AddOrEditinterviewer(null)">Interviewer</label>
<app-popupselect  *ngIf="!showview"  [options]="interviewerList"  [optionsEvent]="intervieweroptionsEvent" [form]="bousermaster" (selectItem)="onSelectedinterviewer($event)"  [reportid]= 'e99kq' [menuid]='e99kq' formControlName="interviewer" id="userid" desc="username" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"      class="labelview">{{f.interviewerdesc?.value}}</label>
  </div>


<!--contactperson-->

  <div   *ngIf="hidelist.indexOf('contactperson') == -1"  class="col" ><label  for="contactperson" class="control-label" (click)="AddOrEditcontactperson(null)">Contact Person</label>
<app-popupselect  *ngIf="!showview"  [options]="contactpersonList"  [optionsEvent]="contactpersonoptionsEvent" [form]="bousermaster" (selectItem)="onSelectedcontactperson($event)"  [reportid]= 'e99kq' [menuid]='e99kq' formControlName="contactperson" id="userid" desc="username" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"      class="labelview">{{f.contactpersondesc?.value}}</label>
  </div>
  <div  *ngIf="hidelist.indexOf('rating') == -1"  class="col "  >
<label  for="rating" class="control-label">Rating</label>
      <p-rating   *ngIf="!showview"  id="rating"  formControlName="rating" class="form-control"
        >
</p-rating>
  </div>
  <div  *ngIf="hidelist.indexOf('totalscore') == -1"  class="col "  >
<label  for="totalscore" class="control-label">Total Score</label>
      <input   *ngIf="!showview"  id="totalscore"  formControlName="totalscore" class="form-control"
        >
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('interviewremarks') == -1"  class="col "  >
<label  for="interviewremarks" class="control-label">Interview Remarks</label>
<p-editor  *ngIf="!showview"  id="interviewremarks" formControlName="interviewremarks"    [style]="{  height: '320' }"></p-editor>  </div>
  </div>


<!--interviewstatus-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('interviewstatus') == -1"  class="col" ><label  for="interviewstatus" class="control-label">Interview Status</label>
      <select  *ngIf="!showview"  id="interviewstatus"  (change)="interviewstatusonChange($event.target)" formControlName="interviewstatus"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of interviewstatusList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.interviewstatusdesc?.value}}</label>
  </div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div></p-accordion>
</ng-template>
</ngb-tab>
<ngb-tab>
<ng-template ngbTabTitle>
<div (click)="ToolBar(false)">Scorings</div>
</ng-template>
<ng-template ngbTabContent>
<p-accordion  [multiple]='true'>
  <!-- child table hrmsinterviewscorings-->
<div class="row"></div><div [ngClass]="IshrmsinterviewscoringsVisible()">
<p></p>
<h4  class="form-group sticky1  columns left">{{'Scorings' | translate}}
<select class='child'  id="hrmsinterviewscoringsPagingdropdown" (change)="hrmsinterviewscoringsPaging($event.target.value)" [value]='20'>
<option value='20'>20</option>
<option value='50'>50</option>
<option value='100'>100</option>
</select>
<div   class="right" role="toolbar" aria-label="Toolbar with button groups"> <!--btn-toolbar-->
    <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class='nav-link dropdown-toggle btn-success' (click)='hrmsinterviewscoringtoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'></a>
            <div class='dropdown-menu' style='display:block' *ngIf='this.hrmsinterviewscoringshowOption'>
      <a  class="dropdown-item"  [routerLink]='' (click)="hrmsinterviewscoringtoggleOption();hrmsinterviewscoringsroute(null, 'create')" ><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a>
              <div class='dropdown-divider'></div>
      <a class="dropdown-item" [routerLink]=''  (click)="hrmsinterviewscoringtoggleOption();showhrmsinterviewscoringsFilter()" ><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Filter</a>
      <a class="dropdown-item" [routerLink]='' ><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Mail</a>
    </div>
    </div>
  </div>
</h4>
<ng2-smart-table  #tblhrmsinterviewscoringssource (userRowSelect)="handlehrmsinterviewscoringsGridSelected($event)" [settings]="hrmsinterviewscoringssettings" (custom)="onCustomhrmsinterviewscoringsAction($event)" [source]="hrmsinterviewscoringssource"  (delete)="hrmsinterviewscoringsroute($event,'delete')"  (deleteConfirm)="hrmsinterviewscoringsroute($event,'delete')" (create)="hrmsinterviewscoringsroute($event,'create')"   (createConfirm)="hrmsinterviewscoringsbeforesave($event)"  (edit)="hrmsinterviewscoringsroute($event,'edit')"  (editConfirm)="hrmsinterviewscoringsbeforesave($event)"    >
</ng2-smart-table>
</div>
  <!--End of child table hrmsinterviewscorings-->
</p-accordion>
</ng-template></ngb-tab>
</ngb-tabset>
  </div>
</form>
