<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="vmsinvitepersonForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Persons' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="editvmsinvitepersons()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='vmsinvitepersontoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.vmsinvitepersonshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.invitationpersonid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.invitationpersonid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('invitationid') == -1"  class="col " >
<label  for="invitationid" class="control-label">Invitation</label>
      <label *ngIf="showview"     class="labelview">{{f.invitationid?.value}}</label>
      <input   *ngIf="!showview"  id="invitationid"  formControlName="invitationid" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('firstname') == -1"  class="col " >
<label  for="firstname" class="control-label required">First Name</label>
      <label *ngIf="showview"     class="labelview">{{f.firstname?.value}}</label>
      <input   *ngIf="!showview"  id="firstname"  required formControlName="firstname" class="form-control"
        >
      <app-field-error-display [displayError]="f.firstname.invalid && (f.firstname.touched|| isSubmitted)" errorMsg="Enter {{'First Name' | translate}}">
      </app-field-error-display>
  </div>
  <div   *ngIf="hidelist.indexOf('lastname') == -1"  class="col " >
<label  for="lastname" class="control-label required">Last Name</label>
      <label *ngIf="showview"     class="labelview">{{f.lastname?.value}}</label>
      <input   *ngIf="!showview"  id="lastname"  required formControlName="lastname" class="form-control"
        >
      <app-field-error-display [displayError]="f.lastname.invalid && (f.lastname.touched|| isSubmitted)" errorMsg="Enter {{'Last Name' | translate}}">
      </app-field-error-display>
  </div>
  <div   *ngIf="hidelist.indexOf('email') == -1"  class="col " >
<label  for="email" class="control-label required">Email</label>
      <label *ngIf="showview"     class="labelview">{{f.email?.value}}</label>
      <input  type="email"  [email]="true"  *ngIf="!showview"  id="email"  required formControlName="email" class="form-control"
        >
      <app-field-error-display [displayError]="f.email.invalid && (f.email.touched|| isSubmitted)" errorMsg="Enter {{'Email' | translate}}">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.email.invalid && (f.email.touched|| isSubmitted)" errorMsg="Enter valid email">
      </app-field-error-display>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('mobile') == -1"  class="col " >
<label  for="mobile" class="control-label required">Mobile</label>
      <label *ngIf="showview"     class="labelview">{{f.mobile?.value}}</label>
      <int-phone-prefix   *ngIf="!showview"  id="mobile"  required formControlName="mobile"  [locale]="'en'" [defaultCountry]="'ae'"  class="form-control telephone" 
        >
</int-phone-prefix>
      <app-field-error-display [displayError]="f.mobile.invalid && (f.mobile.touched|| isSubmitted)" errorMsg="Enter {{'Mobile' | translate}}">
      </app-field-error-display>
  </div>


<!--language-->

  <div   *ngIf="hidelist.indexOf('language') == -1"  class="col" ><label  for="language" class="control-label">Language</label>
      <select  *ngIf="!showview"  id="language"  (change)="languageonChange($event.target)" formControlName="language"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of languageList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.language?.value}}</label>
  </div>
  <div   *ngIf="hidelist.indexOf('reserveparking') == -1"  class="col " >
<div class="columnchk">
<label  for="reserveparking" class="control-label">Reserve Parking</label>
      <label *ngIf="showview"     class="labelview">{{f.reserveparking?.value}}</label>
      <input  type="checkbox"   *ngIf="!showview"  id="reserveparking"  formControlName="reserveparking" class="form-control"
        >
  </div>
  </div>
  <div   *ngIf="hidelist.indexOf('carregistrationno') == -1"  class="col " >
<label  for="carregistrationno" class="control-label">Car Registration No</label>
      <label *ngIf="showview"     class="labelview">{{f.carregistrationno?.value}}</label>
      <input   *ngIf="!showview"  id="carregistrationno"  formControlName="carregistrationno" class="form-control"
        >
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('parkingslot') == -1"  class="col " >
<label  for="parkingslot" class="control-label">Parking Slot</label>
      <label *ngIf="showview"     class="labelview">{{f.parkingslot?.value}}</label>
      <input   *ngIf="!showview"  id="parkingslot"  formControlName="parkingslot" class="form-control"
        >
  </div>


<!--invitestatus-->

  <div   *ngIf="hidelist.indexOf('invitestatus') == -1"  class="col" ><label  for="invitestatus" class="control-label">Invite Status</label>
      <select  *ngIf="!showview"  id="invitestatus"  (change)="invitestatusonChange($event.target)" formControlName="invitestatus"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of invitestatusList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.invitestatus?.value}}</label>
  </div>
<div class="col"></div>
<div class="col"></div>
</div>  </div>
</form>
