<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="hrmseosdetailForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'EOS Details' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="edithrmseosdetails()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='hrmseosdetailtoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.hrmseosdetailshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.detailid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.detailid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('eosid') == -1"  class="col "  >
<label  for="eosid" class="control-label">E O S</label>
      <input   *ngIf="!showview"  id="eosid"  formControlName="eosid" class="form-control"
        >
  </div>


<!--basedon-->

  <div   *ngIf="hidelist.indexOf('basedon') == -1"  class="col" ><label  for="basedon" class="control-label">Based On</label>
      <select  *ngIf="!showview"  id="basedon"  (change)="basedononChange($event.target)" formControlName="basedon"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of basedonList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.basedondesc?.value}}</label>
  </div>
  <div  *ngIf="hidelist.indexOf('fromdays') == -1"  class="col "  >
<label  for="fromdays" class="control-label">From Days</label>
      <input   *ngIf="!showview"  id="fromdays"  formControlName="fromdays" class="form-control"
        >
      <app-field-error-display [displayError]="f.fromdays.errors!=null && f.fromdays.errors.pattern!=null && f.fromdays.errors!=undefined && f.fromdays.errors.pattern!=undefined  && (f.fromdays.touched|| isSubmitted)" errorMsg="Not a valid number">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.fromdays.errors!=null && f.fromdays.errors.min!=null && f.fromdays.errors!=undefined && f.fromdays.errors.min!=undefined  && (f.fromdays.touched|| isSubmitted)" errorMsg="Minimum value have to be entered">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.fromdays.errors!=null && f.fromdays.errors.max!=null && f.fromdays.errors!=undefined && f.fromdays.errors.max!=undefined  && (f.fromdays.touched|| isSubmitted)" errorMsg="Maximum value Exceeded">
      </app-field-error-display>
  </div>
  <div  *ngIf="hidelist.indexOf('todays') == -1"  class="col "  >
<label  for="todays" class="control-label">To Days</label>
      <input   *ngIf="!showview"  id="todays"  formControlName="todays" class="form-control"
        >
      <app-field-error-display [displayError]="f.todays.errors!=null && f.todays.errors.pattern!=null && f.todays.errors!=undefined && f.todays.errors.pattern!=undefined  && (f.todays.touched|| isSubmitted)" errorMsg="Not a valid number">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.todays.errors!=null && f.todays.errors.min!=null && f.todays.errors!=undefined && f.todays.errors.min!=undefined  && (f.todays.touched|| isSubmitted)" errorMsg="Minimum value have to be entered">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.todays.errors!=null && f.todays.errors.max!=null && f.todays.errors!=undefined && f.todays.errors.max!=undefined  && (f.todays.touched|| isSubmitted)" errorMsg="Maximum value Exceeded">
      </app-field-error-display>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('forevery') == -1"  class="col "  >
<label  for="forevery" class="control-label">For Every</label>
      <input   *ngIf="!showview"  id="forevery"  formControlName="forevery" class="form-control"
        >
      <app-field-error-display [displayError]="f.forevery.errors!=null && f.forevery.errors.pattern!=null && f.forevery.errors!=undefined && f.forevery.errors.pattern!=undefined  && (f.forevery.touched|| isSubmitted)" errorMsg="Not a valid number">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.forevery.errors!=null && f.forevery.errors.min!=null && f.forevery.errors!=undefined && f.forevery.errors.min!=undefined  && (f.forevery.touched|| isSubmitted)" errorMsg="Minimum value have to be entered">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.forevery.errors!=null && f.forevery.errors.max!=null && f.forevery.errors!=undefined && f.forevery.errors.max!=undefined  && (f.forevery.touched|| isSubmitted)" errorMsg="Maximum value Exceeded">
      </app-field-error-display>
  </div>
  <div  *ngIf="hidelist.indexOf('startfromjoin') == -1"  class="col "  >
<div class="columnchk">
<label  for="startfromjoin" class="control-label">Start From Join</label>
      <input  type="checkbox"   *ngIf="!showview"  id="startfromjoin"  formControlName="startfromjoin" class="form-control"
        >
  </div>
  </div>


<!--mode-->

  <div   *ngIf="hidelist.indexOf('mode') == -1"  class="col" ><label  for="mode" class="control-label">Mode</label>
      <select  *ngIf="!showview"  id="mode"  (change)="modeonChange($event.target)" formControlName="mode"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of modeList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.modedesc?.value}}</label>
  </div>


<!--type-->

  <div   *ngIf="hidelist.indexOf('type') == -1"  class="col" ><label  for="type" class="control-label">Type</label>
      <select  *ngIf="!showview"  id="type"  (change)="typeonChange($event.target)" formControlName="type"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of typeList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.typedesc?.value}}</label>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('typevalue') == -1"  class="col "  >
<label  for="typevalue" class="control-label">Type Value</label>
      <input   *ngIf="!showview"  id="typevalue"  formControlName="typevalue" class="form-control"
        >
  </div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div>  </div>
</form>
