<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="hrmsrecruitmentagencyForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Recruitment Agencies' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="edithrmsrecruitmentagencies()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='hrmsrecruitmentagencytoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.hrmsrecruitmentagencyshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.raid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.raid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('agencycode') == -1"  class="col "  >
<label  for="agencycode" class="control-label">Agency Code</label>
      <input   *ngIf="!showview"  id="agencycode"  formControlName="agencycode" class="form-control"
        >
  </div>
  <div  *ngIf="hidelist.indexOf('agencyname') == -1"  class="col "  >
<label  for="agencyname" class="control-label">Agency Name</label>
      <input   *ngIf="!showview"  id="agencyname"  formControlName="agencyname" class="form-control"
        >
  </div>
  <div  *ngIf="hidelist.indexOf('contactperson') == -1"  class="col "  >
<label  for="contactperson" class="control-label">Contact Person</label>
      <input   *ngIf="!showview"  id="contactperson"  formControlName="contactperson" class="form-control"
        >
  </div>
  <div  *ngIf="hidelist.indexOf('mobile') == -1"  class="col "  >
<label  for="mobile" class="control-label">Mobile</label>
      <int-phone-prefix   *ngIf="!showview"  id="mobile"  formControlName="mobile"  [locale]="'en'" [defaultCountry]="'ae'"  class="form-control telephone" 
        >
</int-phone-prefix>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('email') == -1"  class="col "  >
<label  for="email" class="control-label">Email</label>
      <input  type="email"  [email]="true"  *ngIf="!showview"  id="email"  formControlName="email" class="form-control"
        >
      <app-field-error-display [displayError]="f.email.invalid && (f.email.touched|| isSubmitted)" errorMsg="Enter valid email">
      </app-field-error-display>
  </div>
  <div  *ngIf="hidelist.indexOf('officephone') == -1"  class="col "  >
<label  for="officephone" class="control-label">Office Phone</label>
      <int-phone-prefix   *ngIf="!showview"  id="officephone"  formControlName="officephone"  [locale]="'en'" [defaultCountry]="'ae'"  class="form-control telephone" 
        >
</int-phone-prefix>
  </div>
  <div  *ngIf="hidelist.indexOf('address1') == -1"  class="col "  >
<label  for="address1" class="control-label">Address1</label>
      <input   *ngIf="!showview"  id="address1"  formControlName="address1" class="form-control"
        >
  </div>
  <div  *ngIf="hidelist.indexOf('address2') == -1"  class="col "  >
<label  for="address2" class="control-label">Address2</label>
      <input   *ngIf="!showview"  id="address2"  formControlName="address2" class="form-control"
        >
  </div>
</div>


<!--countryid-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('countryid') == -1"  class="col" ><label  for="countryid" class="control-label" (click)="AddOrEditcountryid(null)">Country</label>
<app-popupselect  *ngIf="!showview"  [options]="countryidList"  [optionsEvent]="countryidoptionsEvent" [form]="bocountry" (selectItem)="onSelectedcountryid($event)"  [reportid]= 'wc9rn' [menuid]='wc9rn' formControlName="countryid" id="countryid" desc="name" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"      class="labelview">{{f.countryiddesc?.value}}</label>
  </div>


<!--stateid-->

  <div   *ngIf="hidelist.indexOf('stateid') == -1"  class="col" ><label  for="stateid" class="control-label" (click)="AddOrEditstateid(null)">State</label>
<app-popupselect  *ngIf="!showview"  [options]="stateidList"  [optionsEvent]="stateidoptionsEvent" [form]="bostate" (selectItem)="onSelectedstateid($event)"  [reportid]= 'tyo5r' [menuid]='tyo5r' formControlName="stateid" id="stateid" desc="name" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"      class="labelview">{{f.stateiddesc?.value}}</label>
  </div>


<!--cityid-->

  <div   *ngIf="hidelist.indexOf('cityid') == -1"  class="col" ><label  for="cityid" class="control-label" (click)="AddOrEditcityid(null)">City</label>
<app-popupselect  *ngIf="!showview"  [options]="cityidList"  [optionsEvent]="cityidoptionsEvent" [form]="bocity" (selectItem)="onSelectedcityid($event)"  [reportid]= 'kbg3n' [menuid]='kbg3n' formControlName="cityid" id="cityid" desc="name" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"      class="labelview">{{f.cityiddesc?.value}}</label>
  </div>
  <div  *ngIf="hidelist.indexOf('pincode') == -1"  class="col "  >
<label  for="pincode" class="control-label">Pin Code</label>
      <input   *ngIf="!showview"  id="pincode"  formControlName="pincode" class="form-control"
        >
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('creditdays') == -1"  class="col "  >
<label  for="creditdays" class="control-label">Credit Days</label>
      <input   *ngIf="!showview"  id="creditdays"  formControlName="creditdays" class="form-control"
        >
      <app-field-error-display [displayError]="f.creditdays.errors!=null && f.creditdays.errors.pattern!=null && f.creditdays.errors!=undefined && f.creditdays.errors.pattern!=undefined  && (f.creditdays.touched|| isSubmitted)" errorMsg="Not a valid number">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.creditdays.errors!=null && f.creditdays.errors.min!=null && f.creditdays.errors!=undefined && f.creditdays.errors.min!=undefined  && (f.creditdays.touched|| isSubmitted)" errorMsg="Minimum value have to be entered">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.creditdays.errors!=null && f.creditdays.errors.max!=null && f.creditdays.errors!=undefined && f.creditdays.errors.max!=undefined  && (f.creditdays.touched|| isSubmitted)" errorMsg="Maximum value Exceeded">
      </app-field-error-display>
  </div>
  <div  *ngIf="hidelist.indexOf('paymentpercent') == -1"  class="col "  >
<label  for="paymentpercent" class="control-label">Payment Percent</label>
      <input   *ngIf="!showview"  id="paymentpercent"  formControlName="paymentpercent" class="form-control"
        >
      <app-field-error-display [displayError]="f.paymentpercent.errors!=null && f.paymentpercent.errors.pattern!=null && f.paymentpercent.errors!=undefined && f.paymentpercent.errors.pattern!=undefined  && (f.paymentpercent.touched|| isSubmitted)" errorMsg="Not a valid number">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.paymentpercent.errors!=null && f.paymentpercent.errors.min!=null && f.paymentpercent.errors!=undefined && f.paymentpercent.errors.min!=undefined  && (f.paymentpercent.touched|| isSubmitted)" errorMsg="Minimum value have to be entered">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.paymentpercent.errors!=null && f.paymentpercent.errors.max!=null && f.paymentpercent.errors!=undefined && f.paymentpercent.errors.max!=undefined  && (f.paymentpercent.touched|| isSubmitted)" errorMsg="Maximum value Exceeded">
      </app-field-error-display>
  </div>
  <div  *ngIf="hidelist.indexOf('paymentamount') == -1"  class="col "  >
<label  for="paymentamount" class="control-label">Payment Amount</label>
      <input   *ngIf="!showview"  id="paymentamount"  formControlName="paymentamount" currencyMask   [options]="{ prefix: '',precision: 0, thousands: ',', decimal: '.' }" class="form-control"
        >
  </div>
  <div  *ngIf="hidelist.indexOf('freereplacementdays') == -1"  class="col "  >
<label  for="freereplacementdays" class="control-label">Free Replacement Days</label>
      <input   *ngIf="!showview"  id="freereplacementdays"  formControlName="freereplacementdays" class="form-control"
        >
      <app-field-error-display [displayError]="f.freereplacementdays.errors!=null && f.freereplacementdays.errors.pattern!=null && f.freereplacementdays.errors!=undefined && f.freereplacementdays.errors.pattern!=undefined  && (f.freereplacementdays.touched|| isSubmitted)" errorMsg="Not a valid number">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.freereplacementdays.errors!=null && f.freereplacementdays.errors.min!=null && f.freereplacementdays.errors!=undefined && f.freereplacementdays.errors.min!=undefined  && (f.freereplacementdays.touched|| isSubmitted)" errorMsg="Minimum value have to be entered">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.freereplacementdays.errors!=null && f.freereplacementdays.errors.max!=null && f.freereplacementdays.errors!=undefined && f.freereplacementdays.errors.max!=undefined  && (f.freereplacementdays.touched|| isSubmitted)" errorMsg="Maximum value Exceeded">
      </app-field-error-display>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('remarks') == -1"  class="col "  >
<label  for="remarks" class="control-label">Remarks</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="remarks"  formControlName="remarks" class="form-control"
        >
</textarea>
  </div>
</div>
<p-accordion  [multiple]='true'>
<div  class='full-width'  *ngIf="customfieldvisible  && customfieldservicelist!=null && customfieldservicelist!=undefined  && customfieldservicelist.fields.length>0">
<p-accordion [multiple]='true'>
<p-accordionTab header='CustomField'  [selected]='false'>
<div class="sticky" *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined   &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))" >Custom Fields</div>
<div  class="form-group row" *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined   &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))">
<dynamic-form-builder [customfields]="customfieldservicelist" #customform></dynamic-form-builder>
</div>
</p-accordionTab>
</p-accordion>
</div>
<div  class='full-width'  *ngIf="attachmentvisible">
<p-accordion [multiple]='true'>
<p-accordionTab header='Attachment'  [selected]='false'>
<app-attachment #fileattachment  isAttachment=true  formControlName="attachment" [SessionData]="sessiondata"></app-attachment>
</p-accordionTab>
</p-accordion>
</div>
  </div>
</form>
