<div class='full-height'>
  <div>
    <i class="fa fa-step-backward" *ngIf="sourceKey" (click)="nav.back()"></i>
    <ngx-spinner></ngx-spinner>
    <form [formGroup]="mstapplicantmaster_Form" (ngSubmit)="onSubmit()" [ngClass]="theme">
      <div class="row second">
        <div class='col-12  sticky1 second' *ngIf="iseditbuttonshow" role='toolbar' aria-label='Toolbar with button groups' style="align-items: center !important;;justify-content: end;"
          [ngClass]="{'adminbgColor': this.userrole=='Admin','applicantbgColor':this.userrole=='Applicant','corporatebgColor':this.userrole=='Corporate'}">
          <!--btn-toolbar-->

          <button *ngIf="showview"class='alert-info  popup-add-button'
            (click)="edit_mstapplicantmasters()">Dashboard</button>

          <div class='dropdown d-inline-block btn-dropdown show'>
            <ul>
            </ul>
          </div>
        </div>
      </div>

      <div class="container"
        id="{{maindata ==undefined || maindata==null || maindata.ScreenType!=2?'contentAreascroll':'contentArea1'}}"
        style="height: 89% !important;">
        <div class="w-5" *ngIf="showFormType=='1'" style="margin-top:10px!important">
          <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
        </div>



      </div>

      <div class='row full-height'
        id="{{maindata ==undefined || maindata==null || maindata.ScreenType!=2?'contentAreascroll':'contentArea1'}}">
        <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 designcol'>
          <div class='row designrow'>
            <!---->
            <div class="col-12" *ngIf="(viewHtml != '' && showview)" [innerHTML]='getHtml(viewHtml)'
              [ngClass]="{'limitTextHeight': isReadMore}" style="padding: 0;margin: 0;">
            </div>
            <a href="javascript:void(0);" id="showReadBtn" *ngIf="this.readMoreBtn" class="readMoreBtn"
              (click)="isReadMore=!isReadMore">
              {{ isReadMore ? 'Show More': 'Show Less' }}
            </a>
            <div class='col-12 full-width' *ngIf="attachmentVisible">
              <p-accordion [multiple]='true'>
                <p-accordionTab [header]="'Attachment(' + fileattachment.getLength() + ')'" [selected]='false'>
                  <app-attachment #fileattachment isAttachment=true formControlName="attachment"
                    [SessionData]="sessionData"></app-attachment>
                </p-accordionTab>
              </p-accordion>
            </div>

          </div>

          <!-- Geography -->

          <div class="show-Pfl-card">

            <div class="show-prfl-card-hdr">
              <h5 style="padding: 0 10px !important;">{{'Geography Preferences'}}</h5>
            </div>

            <div *ngIf="mstapplicantgeographypreferences.length == 0" style="text-align: center;">
              <label> Please Wait...</label>
            </div>

            <div class="show-locaion-card" *ngFor="let item of mstapplicantgeographypreferences">
              <div class="location-inside-card">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <label>City : {{item.citydesc}}</label> | <label>Country : {{item.countrydesc}}</label>
                <br>
                <label style="margin: 10px;"><span>Remarks :</span> {{item.remarks}}</label>
              </div>
            </div>


          </div>
          <br>

          <!-- Old Geography -->

          <div class='row designrow' style="display: none;">
            <!-- child table mstapplicantgeographypreferences-->

            <div [ngClass]="Is_mstapplicantgeographypreferences_Visible()">
              <!--End-->
              <h4 class="form-group show-Pfl-Hdr-Lbl  columns left">{{'Geography Preferences'}}
                <ul class="nav navbar-nav1" style='display:none'>
                  <li class="dropdown">
                    <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                      aria-expanded='false'> <span class='caret'></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]=''
                          (click)="mstapplicantgeographypreferencetoggleOption();mstapplicantgeographypreferences_route(null, 'create')"><i
                            class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a></li>
                    </ul>
                  </li>
                </ul>
              </h4>
              <ng2-smart-table #tbl_mstapplicantgeographypreferences
                (userRowSelect)="handle_mstapplicantgeographypreferences_GridSelected($event)"
                [settings]="mstapplicantgeographypreferences_settings"
                (custom)="onCustom_mstapplicantgeographypreferences_Action($event)"
                [source]="tbl_mstapplicantgeographypreferences?.source?.data"
                (delete)="mstapplicantgeographypreferences_route($event,'delete')"
                (deleteConfirm)="mstapplicantgeographypreferences_route($event,'delete')"
                (create)="mstapplicantgeographypreferences_route($event,'create')"
                (createConfirm)="mstapplicantgeographypreferences_beforesave($event)"
                (edit)="mstapplicantgeographypreferences_route($event,'edit')"
                (editConfirm)="mstapplicantgeographypreferences_beforesave($event)">
              </ng2-smart-table>
            </div>
            <!--End of child table mstapplicantgeographypreferences-->

          </div>

          <!-- Education -->

          <div class="show-Pfl-card">

            <div class="show-prfl-card-hdr">
              <h5 style="padding: 0 10px !important;">{{'Education Details'}}</h5>
            </div>


            <div *ngIf="mstapplicanteducationdetails.length == 0" style="text-align: center;">
              <label> Please Wait...</label>
            </div>

            <div class="show-locaion-card" *ngFor="let item of mstapplicanteducationdetails">
              <div class="location-inside-card">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <label>Course : {{item.coursename}}</label> |
                <i class="fa fa-university" aria-hidden="true"></i>
                <label>Institute : {{item.institutionname}}</label>
                <br>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <label style="margin: 0 10px;">From : {{item.fromyear}}</label> <label>Upto : {{item.toyear}}</label>
                <br>
                <label style="margin: 10px;"><span>Remarks :</span>{{item.remarks}}</label>
              </div>
            </div>

          </div>
          <br>

          <!-- Old Education -->

          <div class='row designrow' style="display: none;">
            <!-- child table mstapplicanteducationdetails-->
            <div [ngClass]="Is_mstapplicanteducationdetails_Visible()">
              <!--End-->
              <h4 class="form-group show-Pfl-Hdr-Lbl  columns left">{{'Education Details'}}
                <ul class="nav navbar-nav1" style='display:none'>
                  <li class="dropdown">
                    <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                      aria-expanded='false'> <span class='caret'></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]=''
                          (click)="mstapplicanteducationdetailtoggleOption();mstapplicanteducationdetails_route(null, 'create')"><i
                            class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a></li>
                    </ul>
                  </li>
                </ul>
              </h4>
              <ng2-smart-table #tbl_mstapplicanteducationdetails
                (userRowSelect)="handle_mstapplicanteducationdetails_GridSelected($event)"
                [settings]="mstapplicanteducationdetails_settings"
                (custom)="onCustom_mstapplicanteducationdetails_Action($event)"
                [source]="tbl_mstapplicanteducationdetails?.source?.data"
                (delete)="mstapplicanteducationdetails_route($event,'delete')"
                (deleteConfirm)="mstapplicanteducationdetails_route($event,'delete')"
                (create)="mstapplicanteducationdetails_route($event,'create')"
                (createConfirm)="mstapplicanteducationdetails_beforesave($event)"
                (edit)="mstapplicanteducationdetails_route($event,'edit')"
                (editConfirm)="mstapplicanteducationdetails_beforesave($event)">
              </ng2-smart-table>
            </div>
            <!--End of child table mstapplicanteducationdetails-->

          </div>

          <!-- Achievement Details -->

          <div class="show-Pfl-card">

            <div class="show-prfl-card-hdr">
              <h5 style="padding: 0 10px !important;">{{'Achievement Details'}}</h5>
            </div>

            <div *ngIf="mstapplicantachievementdetails.length == 0" style="text-align: center;">
              <label> Please Wait...</label>
            </div>

            <div class="show-locaion-card" *ngFor="let item of mstapplicantachievementdetails">
              <div class="location-inside-card">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                <label>Category : {{item.masterdataiddesc}}</label> |
                <i class="fa fa-shield" aria-hidden="true"></i>
                <label>Skill : {{item.skill}}</label>
                <br>

                <i class="fa fa-trophy" aria-hidden="true"></i>
                <label>Achievement : {{item.achievementdetails}}</label>

              </div>
            </div>
          </div>
          <br>

          <!-- Old Achievement Details -->

          <div class='row designrow' style="display: none;">
            <!-- child table mstapplicantachievementdetails-->
            <div [ngClass]="Is_mstapplicantachievementdetails_Visible()">
              <!--End-->
              <h4 class="form-group show-Pfl-Hdr-Lbl  columns left">{{'Achievement Details'}}
                <ul class="nav navbar-nav1" style='display:none'>
                  <li class="dropdown">
                    <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                      aria-expanded='false'> <span class='caret'></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]=''
                          (click)="mstapplicantachievementdetailtoggleOption();mstapplicantachievementdetails_route(null, 'create')"><i
                            class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a></li>
                    </ul>
                  </li>
                </ul>
              </h4>
              <ng2-smart-table #tbl_mstapplicantachievementdetails
                (userRowSelect)="handle_mstapplicantachievementdetails_GridSelected($event)"
                [settings]="mstapplicantachievementdetails_settings"
                (custom)="onCustom_mstapplicantachievementdetails_Action($event)"
                [source]="tbl_mstapplicantachievementdetails?.source?.data"
                (delete)="mstapplicantachievementdetails_route($event,'delete')"
                (deleteConfirm)="mstapplicantachievementdetails_route($event,'delete')"
                (create)="mstapplicantachievementdetails_route($event,'create')"
                (createConfirm)="mstapplicantachievementdetails_beforesave($event)"
                (edit)="mstapplicantachievementdetails_route($event,'edit')"
                (editConfirm)="mstapplicantachievementdetails_beforesave($event)">
              </ng2-smart-table>
            </div>
            <!--End of child table mstapplicantachievementdetails-->

          </div>

          <!-- Language Details -->

          <div class="show-Pfl-card">

            <div class="show-prfl-card-hdr">
              <h5 style="padding: 0 10px !important;">{{'Language Details'}}</h5>
            </div>

            <div *ngIf="language_star_rating.length == 0" style="text-align: center;">
              <label> Please Wait...</label>
            </div>

            <div class="show-locaion-card" *ngFor="let item of language_star_rating">
              <div class="location-inside-card">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                <label>Language : {{item.language}}</label> |
                <i class="fa fa-shield" aria-hidden="true"></i>
                <label>Overall Rating : <span>{{item.overallStar}}</span></label>
                <br>

                <i class="fa fa-trophy" aria-hidden="true"></i>
                <label>Read : <span>{{item.readStar}}</span></label> |
                <label>Speak : <span>{{item.speakStar}}</span></label> |
                <label>Write : <span>{{item.writeStar}}</span></label>
              </div>
            </div>
          </div>
          <br>
          <!-- Old Language Details -->

          <div class='row designrow' style="display: none;">
            <!-- child table mstapplicantlanguagedetails-->
            <div [ngClass]="Is_mstapplicantlanguagedetails_Visible()">
              <!--End-->
              <h4 class="form-group show-Pfl-Hdr-Lbl  columns left">{{'Language Details'}}
                <ul class="nav navbar-nav1" style='display:none'>
                  <li class="dropdown">
                    <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                      aria-expanded='false'> <span class='caret'></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]=''
                          (click)="mstapplicantlanguagedetailtoggleOption();mstapplicantlanguagedetails_route(null, 'create')"><i
                            class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a></li>
                    </ul>
                  </li>
                </ul>
              </h4>
              <ng2-smart-table #tbl_mstapplicantlanguagedetails
                (userRowSelect)="handle_mstapplicantlanguagedetails_GridSelected($event)"
                [settings]="mstapplicantlanguagedetails_settings"
                (custom)="onCustom_mstapplicantlanguagedetails_Action($event)"
                [source]="tbl_mstapplicantlanguagedetails?.source?.data"
                (delete)="mstapplicantlanguagedetails_route($event,'delete')"
                (deleteConfirm)="mstapplicantlanguagedetails_route($event,'delete')"
                (create)="mstapplicantlanguagedetails_route($event,'create')"
                (createConfirm)="mstapplicantlanguagedetails_beforesave($event)"
                (edit)="mstapplicantlanguagedetails_route($event,'edit')"
                (editConfirm)="mstapplicantlanguagedetails_beforesave($event)">
              </ng2-smart-table>
            </div>
            <!--End of child table mstapplicantlanguagedetails-->

          </div>

        </div>

        <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 designcol'>



          <!-- Skill Details -->
          <br>
          <div class="show-Pfl-card">

            <div class="show-prfl-card-hdr">
              <h5 style="padding: 0 10px !important;">{{'Skill Details'}}</h5>
            </div>

            <div *ngIf="skillarray.length == 0" style="text-align: center;">
              <label> Please Wait...</label>
            </div>

            <div class="show-locaion-card" *ngFor="let item of skillarray">
              <div class="location-inside-card">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                <label>Skill Category : {{item.skillDescription}}</label> |
                <i class="fa fa-shield" aria-hidden="true"></i>
                <label>Sub Category : <span>{{item.subCategory}}</span></label>
                <br>

                <i class="fa fa-trophy" aria-hidden="true"></i>
                <label>Self Rating : <span>{{item.showstr}}</span></label> <br>
                <label style="margin: 10px;"><span>Remarks :</span> {{item.remarks}}</label>


              </div>
            </div>
          </div>
          <br>

          <!-- Old Skill Details -->
          <div class='row designrow' style="display: none;">
            <!-- child table mstapplicantskilldetails-->
            <div [ngClass]="Is_mstapplicantskilldetails_Visible()">
              <!--End-->
              <h4 class="form-group show-Pfl-Hdr-Lbl  columns left">{{'Skill Details'}}
                <ul class="nav navbar-nav1" style='display:none'>
                  <li class="dropdown">
                    <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                      aria-expanded='false'> <span class='caret'></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]=''
                          (click)="mstapplicantskilldetailtoggleOption();mstapplicantskilldetails_route(null, 'create')"><i
                            class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a></li>
                    </ul>
                  </li>
                </ul>
              </h4>
              <ng2-smart-table #tbl_mstapplicantskilldetails
                (userRowSelect)="handle_mstapplicantskilldetails_GridSelected($event)"
                [settings]="mstapplicantskilldetails_settings"
                (custom)="onCustom_mstapplicantskilldetails_Action($event)"
                [source]="tbl_mstapplicantskilldetails?.source?.data"
                (delete)="mstapplicantskilldetails_route($event,'delete')"
                (deleteConfirm)="mstapplicantskilldetails_route($event,'delete')"
                (create)="mstapplicantskilldetails_route($event,'create')"
                (createConfirm)="mstapplicantskilldetails_beforesave($event)"
                (edit)="mstapplicantskilldetails_route($event,'edit')"
                (editConfirm)="mstapplicantskilldetails_beforesave($event)">
              </ng2-smart-table>
            </div>
            <!--End of child table mstapplicantskilldetails-->

          </div>

          <!-- Career Details -->
          <div class="show-Pfl-card">
            <div class="show-prfl-card-hdr">
              <h5 style="padding: 0 10px !important;">{{'Career Details'}}</h5>
            </div>

            <div *ngIf="mstapplicantcareerdetails.length == 0" style="text-align: center;">
              <label> Please Wait...</label>
            </div>

            <div class="show-locaion-card" *ngFor="let item of mstapplicantcareerdetails">
              <div class="location-inside-card">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <label>{{item.designation}}</label> |
                <i class="fa fa-building" aria-hidden="true"></i>
                <label>{{item.companyname}}</label>
                <br>

                <i class="fa fa-calendar" aria-hidden="true"></i>
                <label>From : {{item.fromdate | date : 'dd-MM-yyyy'}}</label>
                <label>Upto : {{item.todate | date : 'dd-MM-yyyy'}}</label><br>
                <label style="margin: 10px;"><span>Remarks :</span>{{item.remarks}}</label>
              </div>
            </div>
          </div>
          <br>

          <!-- Old Career Details -->

          <div class='row designrow' style="display: none;">
            <!-- child table mstapplicantcareerdetails-->
            <div [ngClass]="Is_mstapplicantcareerdetails_Visible()">
              <!--End-->
              <h4 class="form-group show-Pfl-Hdr-Lbl  columns left">{{'Career Details'}}
                <ul class="nav navbar-nav1" style='display:none'>
                  <li class="dropdown">
                    <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                      aria-expanded='false'> <span class='caret'></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]=''
                          (click)="mstapplicantcareerdetailtoggleOption();mstapplicantcareerdetails_route(null, 'create')"><i
                            class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a></li>
                    </ul>
                  </li>
                </ul>
              </h4>
              <ng2-smart-table #tbl_mstapplicantcareerdetails
                (userRowSelect)="handle_mstapplicantcareerdetails_GridSelected($event)"
                [settings]="mstapplicantcareerdetails_settings"
                (custom)="onCustom_mstapplicantcareerdetails_Action($event)"
                [source]="tbl_mstapplicantcareerdetails?.source?.data"
                (delete)="mstapplicantcareerdetails_route($event,'delete')"
                (deleteConfirm)="mstapplicantcareerdetails_route($event,'delete')"
                (create)="mstapplicantcareerdetails_route($event,'create')"
                (createConfirm)="mstapplicantcareerdetails_beforesave($event)"
                (edit)="mstapplicantcareerdetails_route($event,'edit')"
                (editConfirm)="mstapplicantcareerdetails_beforesave($event)">
              </ng2-smart-table>
            </div>
            <!--End of child table mstapplicantcareerdetails-->

          </div>

          <!-- Projects -->
          <div class="show-Pfl-card">
            <div class="show-prfl-card-hdr">
              <h5 style="padding: 0 10px !important;">{{'Projects'}}</h5>
            </div>

            <div *ngIf="mstapplicantworkreferences.length == 0" style="text-align: center;">
              <label> Please Wait...</label>
            </div>

            <div class="show-locaion-card" *ngFor="let item of mstapplicantworkreferences">
              <div class="location-inside-card">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <label>{{item.worktopic}}</label> <br>
                <i class="fa fa-building" aria-hidden="true"></i>
                <label>{{item.companyname}}</label><br>
                <i class="fa fa-link" aria-hidden="true"></i>
                <label>URL : <a style="color: blue;" href="{{item.referenceurl}}"
                    target="_blank">{{item.referenceurl}}</a></label><br>

                <label><span>Work Description :</span> {{item.workdescription}}</label> <br>
                <label style="margin: 10px;"><span>Remarks :</span> {{item.remarks}}</label>
              </div>
            </div>
          </div>
          <br>

          <!-- Old Projects -->
          <div class='row designrow' style="display:none">
            <!-- child table mstapplicantworkreferences-->
            <div [ngClass]="Is_mstapplicantworkreferences_Visible()">
              <!--End-->
              <h4 class="form-group show-Pfl-Hdr-Lbl  columns left">{{'Projects'}}
                <ul class="nav navbar-nav1" style='display:none'>
                  <li class="dropdown">
                    <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                      aria-expanded='false'> <span class='caret'></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]=''
                          (click)="mstapplicantworkreferencetoggleOption();mstapplicantworkreferences_route(null, 'create')"><i
                            class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a></li>
                    </ul>
                  </li>
                </ul>
              </h4>
              <ng2-smart-table #tbl_mstapplicantworkreferences
                (userRowSelect)="handle_mstapplicantworkreferences_GridSelected($event)"
                [settings]="mstapplicantworkreferences_settings"
                (custom)="onCustom_mstapplicantworkreferences_Action($event)"
                [source]="tbl_mstapplicantworkreferences?.source?.data"
                (delete)="mstapplicantworkreferences_route($event,'delete')"
                (deleteConfirm)="mstapplicantworkreferences_route($event,'delete')"
                (create)="mstapplicantworkreferences_route($event,'create')"
                (createConfirm)="mstapplicantworkreferences_beforesave($event)"
                (edit)="mstapplicantworkreferences_route($event,'edit')"
                (editConfirm)="mstapplicantworkreferences_beforesave($event)">
              </ng2-smart-table>
            </div>
            <!--End of child table mstapplicantworkreferences-->

          </div>

          <!-- Social Media -->
          <div class="show-Pfl-card">

            <div class="show-prfl-card-hdr">
              <h5 style="padding: 0 10px;">{{'Social Media'}}</h5>
            </div>

            <div *ngIf="mstapplicantsocialmediadetails.length == 0" style="text-align: center;">
              <label> Please Wait...</label>
            </div>

            <div class="show-locaion-card" *ngFor="let item of mstapplicantsocialmediadetails">
              <div class="location-inside-card">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                <label>Social Media : {{item.socialmedianamedesc}}</label> |
                <i class="fa fa-shield" aria-hidden="true"></i>
                <label>Handle Name : {{item.handlename}}</label>
                <br>
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <label>URL : <a style="color: blue;" href="{{item.url}}" target="_blank">{{item.url}}</a></label> <br>
                <label style="margin: 10px;"><span>Remarks</span> : {{item.remarks}}</label>



              </div>
            </div>
          </div>
          <br>

          <!-- Old Social Media -->
          <div class='designrow' style="display: none;">
            <!-- child table mstapplicantsocialmediadetails-->
            <div [ngClass]="Is_mstapplicantsocialmediadetails_Visible()">
              <!--End-->
              <h4 class="form-group show-Pfl-Hdr-Lbl  columns left">{{'SocialMedia Details'}}
                <ul class="nav navbar-nav1" style='display:none'>
                  <li class="dropdown">
                    <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                      aria-expanded='false'> <span class='caret'></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]=''
                          (click)="mstapplicantsocialmediadetailtoggleOption();mstapplicantsocialmediadetails_route(null, 'create')"><i
                            class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a></li>
                    </ul>
                  </li>
                </ul>
              </h4>
              <ng2-smart-table #tbl_mstapplicantsocialmediadetails
                (userRowSelect)="handle_mstapplicantsocialmediadetails_GridSelected($event)"
                [settings]="mstapplicantsocialmediadetails_settings"
                (custom)="onCustom_mstapplicantsocialmediadetails_Action($event)"
                [source]="tbl_mstapplicantsocialmediadetails?.source?.data"
                (delete)="mstapplicantsocialmediadetails_route($event,'delete')"
                (deleteConfirm)="mstapplicantsocialmediadetails_route($event,'delete')"
                (create)="mstapplicantsocialmediadetails_route($event,'create')"
                (createConfirm)="mstapplicantsocialmediadetails_beforesave($event)"
                (edit)="mstapplicantsocialmediadetails_route($event,'edit')"
                (editConfirm)="mstapplicantsocialmediadetails_beforesave($event)">
              </ng2-smart-table>
            </div>
            <!--End of child table mstapplicantsocialmediadetails-->

          </div>

          <div class='row designrow' style="display: none!important;">
            <!-- child table mstapplicantreferencedetails-->
            <div [ngClass]="Is_mstapplicantreferencedetails_Visible()">
              <!--End-->
              <h4 class="form-group show-Pfl-Hdr-Lbl  columns left">{{'Reference Details'}}
                <ul class="nav navbar-nav1" style='display:none'>
                  <li class="dropdown">
                    <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                      aria-expanded='false'> <span class='caret'></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]=''
                          (click)="mstapplicantreferencedetailtoggleOption();mstapplicantreferencedetails_route(null, 'create')"><i
                            class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a></li>
                    </ul>
                  </li>
                </ul>
              </h4>
              <ng2-smart-table #tbl_mstapplicantreferencedetails
                (userRowSelect)="handle_mstapplicantreferencedetails_GridSelected($event)"
                [settings]="mstapplicantreferencedetails_settings"
                (custom)="onCustom_mstapplicantreferencedetails_Action($event)"
                [source]="tbl_mstapplicantreferencedetails?.source?.data"
                (delete)="mstapplicantreferencedetails_route($event,'delete')"
                (deleteConfirm)="mstapplicantreferencedetails_route($event,'delete')"
                (create)="mstapplicantreferencedetails_route($event,'create')"
                (createConfirm)="mstapplicantreferencedetails_beforesave($event)"
                (edit)="mstapplicantreferencedetails_route($event,'edit')"
                (editConfirm)="mstapplicantreferencedetails_beforesave($event)">
              </ng2-smart-table>
            </div>
            <!--End of child table mstapplicantreferencedetails-->

          </div>
          <div class='row designrow' *ngIf="Ismstapplicantreferencerequests_div_Visible">
            <!-- child table mstapplicantreferencerequests-->
            <div [ngClass]="Is_mstapplicantreferencerequests_Visible()">
              <!--End-->
              <h4 class="form-group show-Pfl-Hdr-Lbl  columns left">{{'Reference Requests'}}
                <ul class="nav navbar-nav1" style='display:none'>
                  <li class="dropdown">
                    <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                      aria-expanded='false'> <span class='caret'></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]=''
                          (click)="mstapplicantreferencerequesttoggleOption();mstapplicantreferencerequests_route(null, 'create')"><i
                            class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a></li>
                    </ul>
                  </li>
                </ul>
              </h4>
              <ng2-smart-table #tbl_mstapplicantreferencerequests
                (userRowSelect)="handle_mstapplicantreferencerequests_GridSelected($event)"
                [settings]="mstapplicantreferencerequests_settings"
                (custom)="onCustom_mstapplicantreferencerequests_Action($event)"
                [source]="tbl_mstapplicantreferencerequests?.source?.data"
                (delete)="mstapplicantreferencerequests_route($event,'delete')"
                (deleteConfirm)="mstapplicantreferencerequests_route($event,'delete')"
                (create)="mstapplicantreferencerequests_route($event,'create')"
                (createConfirm)="mstapplicantreferencerequests_beforesave($event)"
                (edit)="mstapplicantreferencerequests_route($event,'edit')"
                (editConfirm)="mstapplicantreferencerequests_beforesave($event)">
              </ng2-smart-table>
            </div>
            <!--End of child table mstapplicantreferencerequests-->

          </div>
          <div class='row designrow' *ngIf="Ismstjobstatuses_div_Visible">
            <!-- child table mstjobstatuses-->
            <div [ngClass]="Is_mstjobstatuses_Visible()">
              <!--End-->
              <h4 class="form-group show-Pfl-Hdr-Lbl  columns left">{{'Job Statuses'}}
                <ul class="nav navbar-nav1" style='display:none'>
                  <li class="dropdown">
                    <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                      aria-expanded='false'> <span class='caret'></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]=''
                          (click)="mstjobstatustoggleOption();mstjobstatuses_route(null, 'create')"><i
                            class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a></li>
                    </ul>
                  </li>
                </ul>
              </h4>
              <ng2-smart-table #tbl_mstjobstatuses (userRowSelect)="handle_mstjobstatuses_GridSelected($event)"
                [settings]="mstjobstatuses_settings" (custom)="onCustom_mstjobstatuses_Action($event)"
                [source]="tbl_mstjobstatuses?.source?.data" (delete)="mstjobstatuses_route($event,'delete')"
                (deleteConfirm)="mstjobstatuses_route($event,'delete')" (create)="mstjobstatuses_route($event,'create')"
                (createConfirm)="mstjobstatuses_beforesave($event)" (edit)="mstjobstatuses_route($event,'edit')"
                (editConfirm)="mstjobstatuses_beforesave($event)">
              </ng2-smart-table>
            </div>
            <!--End of child table mstjobstatuses-->

          </div>


        </div>
      </div>
    </form>
  </div>
</div>
