<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="hrmseosmasterForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'EOS Masters' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="edithrmseosmasters()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='hrmseosmastertoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.hrmseosmastershowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.eosd.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.eosd.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<ngb-tabset class="tabset1"  [destroyOnHide]="false">
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<ngb-tab>
<ng-template ngbTabTitle>
<div (click)="ToolBar(true)">Master</div>
</ng-template>
<ng-template ngbTabContent>
<p-accordion  [multiple]='true'>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('eoscode') == -1"  class="col "  >
<label  for="eoscode" class="control-label">E O S Code</label>
      <input   *ngIf="!showview"  id="eoscode"  formControlName="eoscode" class="form-control"
        >
  </div>
  <div  *ngIf="hidelist.indexOf('eosname') == -1"  class="col "  >
<label  for="eosname" class="control-label">E O S Name</label>
      <input   *ngIf="!showview"  id="eosname"  formControlName="eosname" class="form-control"
        >
  </div>
<div class="col"></div>
<div class="col"></div>
</div></p-accordion>
</ng-template>
</ngb-tab>
<ngb-tab>
<ng-template ngbTabTitle>
<div (click)="ToolBar(false)">EOS Roles</div>
</ng-template>
<ng-template ngbTabContent>
<p-accordion  [multiple]='true'>
  <!-- child table hrmseosroles-->
<div class="row"></div><div [ngClass]="IshrmseosrolesVisible()">
<p></p>
<h4  class="form-group sticky1  columns left">{{'EOS Roles' | translate}}
<select class='child'  id="hrmseosrolesPagingdropdown" (change)="hrmseosrolesPaging($event.target.value)" [value]='20'>
<option value='20'>20</option>
<option value='50'>50</option>
<option value='100'>100</option>
</select>
<div   class="right" role="toolbar" aria-label="Toolbar with button groups"> <!--btn-toolbar-->
    <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class='nav-link dropdown-toggle btn-success' (click)='hrmseosroletoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'></a>
            <div class='dropdown-menu' style='display:block' *ngIf='this.hrmseosroleshowOption'>
      <a  class="dropdown-item"  [routerLink]='' (click)="hrmseosroletoggleOption();hrmseosrolesroute(null, 'create')" ><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a>
              <div class='dropdown-divider'></div>
      <a class="dropdown-item" [routerLink]=''  (click)="hrmseosroletoggleOption();showhrmseosrolesFilter()" ><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Filter</a>
      <a class="dropdown-item" [routerLink]='' ><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Mail</a>
    </div>
    </div>
  </div>
</h4>
<ng2-smart-table  #tblhrmseosrolessource (userRowSelect)="handlehrmseosrolesGridSelected($event)" [settings]="hrmseosrolessettings" (custom)="onCustomhrmseosrolesAction($event)" [source]="hrmseosrolessource"  (delete)="hrmseosrolesroute($event,'delete')"  (deleteConfirm)="hrmseosrolesroute($event,'delete')" (create)="hrmseosrolesroute($event,'create')"   (createConfirm)="hrmseosrolesbeforesave($event)"  (edit)="hrmseosrolesroute($event,'edit')"  (editConfirm)="hrmseosrolesbeforesave($event)"    >
</ng2-smart-table>
</div>
  <!--End of child table hrmseosroles-->
</p-accordion>
</ng-template>
</ngb-tab>
<ngb-tab>
<ng-template ngbTabTitle>
<div (click)="ToolBar(false)">EOS Details</div>
</ng-template>
<ng-template ngbTabContent>
<p-accordion  [multiple]='true'>
  <!-- child table hrmseosdetails-->
<div class="row"></div><div [ngClass]="IshrmseosdetailsVisible()">
<p></p>
<h4  class="form-group sticky1  columns left">{{'EOS Details' | translate}}
<select class='child'  id="hrmseosdetailsPagingdropdown" (change)="hrmseosdetailsPaging($event.target.value)" [value]='20'>
<option value='20'>20</option>
<option value='50'>50</option>
<option value='100'>100</option>
</select>
<div   class="right" role="toolbar" aria-label="Toolbar with button groups"> <!--btn-toolbar-->
    <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class='nav-link dropdown-toggle btn-success' (click)='hrmseosdetailtoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'></a>
            <div class='dropdown-menu' style='display:block' *ngIf='this.hrmseosdetailshowOption'>
      <a  class="dropdown-item"  [routerLink]='' (click)="hrmseosdetailtoggleOption();hrmseosdetailsroute(null, 'create')" ><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a>
              <div class='dropdown-divider'></div>
      <a class="dropdown-item" [routerLink]=''  (click)="hrmseosdetailtoggleOption();showhrmseosdetailsFilter()" ><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Filter</a>
      <a class="dropdown-item" [routerLink]='' ><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Mail</a>
    </div>
    </div>
  </div>
</h4>
<ng2-smart-table  #tblhrmseosdetailssource (userRowSelect)="handlehrmseosdetailsGridSelected($event)" [settings]="hrmseosdetailssettings" (custom)="onCustomhrmseosdetailsAction($event)" [source]="hrmseosdetailssource"  (delete)="hrmseosdetailsroute($event,'delete')"  (deleteConfirm)="hrmseosdetailsroute($event,'delete')" (create)="hrmseosdetailsroute($event,'create')"   (createConfirm)="hrmseosdetailsbeforesave($event)"  (edit)="hrmseosdetailsroute($event,'edit')"  (editConfirm)="hrmseosdetailsbeforesave($event)"    >
</ng2-smart-table>
</div>
  <!--End of child table hrmseosdetails-->
</p-accordion>
</ng-template></ngb-tab>
</ngb-tabset>
  </div>
</form>
