<form [formGroup]="cmsformForm" (ngSubmit)="onSubmit()" [ngClass]="sessionService.getItem('selected-theme')">
  <div class="row second">
    <h1 class="col columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Forms' | translate}}</a></h1>
    <div class=" col " role="toolbar" aria-label="Toolbar with button groups">
      <!--btn-toolbar-->
      <div *ngIf="toolbarvisible" class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn indigo lighten-2" (click)="resetForm()"><i class="fa fa-plus"
            aria-hidden="true"></i></button>
        <button type="button" class="btn blue lighten-2" (click)="onSubmit()"><i class="fa fa-save"
            aria-hidden="true"></i></button>
        <button type="button" class="btn blue lighten-2" (click)="onDelete()"><i class="fa fa-trash"
            aria-hidden="true"></i></button>
        <button type="button" class="btn light-blue lighten-2" (click)="onCopy()"><i class="fa fa-copy"
            aria-hidden="true"></i></button>
        <button type="button" class="dialogbtn"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button type="button" class="dialogbtn"><i class="fa fa-print" aria-hidden="true"></i></button>
        <button type="button" class="dialogbtn"><i class="fa fa-envelope" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <div  class="container"     id="contentArea1"   >
    <ngb-tabset class="tabset1" [destroyOnHide]="false">
      <ngb-tab>
        <ng-template ngbTabTitle>
          <div (click)="ToolBar(true)">Master</div>
        </ng-template>
        <ng-template ngbTabContent>
          <br style='line-height:5px' />
          <div class="form-group row">
            <div class="col">
              <label for="formname" class="control-label">{{'FormName' | translate}}</label>
              <input id="formname" formControlName="formname" class="form-control"
                placeholder="{{'FormName' | translate}}">
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label for="introduction" class="control-label">{{'Introduction' | translate}}</label>
              <textarea autosize MinRows="10" MaxRows="15" onlyGrow="true" id="introduction"
                formControlName="introduction" class="form-control" placeholder="{{'Introduction' | translate}}">
</textarea>
            </div>
          </div>
          <div class="sticky"
            *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined  &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))">
            Custom Fields</div>
          <div class="form-group row"
            *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined  &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))">
            <dynamic-form-builder [customfields]="customfieldservicelist" #customform></dynamic-form-builder>
          </div>
          <div class="sticky">Attachments</div>
          <div class="form-group row">
            <ng-container *ngFor="let fld of attachmentfieldjson | keyvalue">
              <a href="http://localhost:5001/MyResources/{{fld.value.value}}"
                target="_blank">{{fld.value.value}} | </a>
            </ng-container>
            <p-fileUpload #fileattachment class="form-control" type="file" name="FileUpload[]" mode="basic"
              url="{{URL}}" (onSelect)="attachmentuploader($event)"></p-fileUpload>
            <ng-container *ngFor="let fld of attachmentlist">
              <div class="col">
                <label class="control-label"></label>
                <p-fileUpload #fileattachment class="form-control" type="file" name="FileUpload[]" url="{{URL}}"
                  mode="basic" (onSelect)="attachmentuploader($event)"></p-fileUpload>
              </div>
            </ng-container>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <div (click)="ToolBar(false)">Form Pages</div>
        </ng-template>
        <ng-template ngbTabContent>
          <br style='line-height:5px' />
          <!-- child table cmsformpages-->
          <div class="row"></div>
          <div [ngClass]="IscmsformpagesVisible()">
            <p></p>
            <h4 class="form-group sticky1  columns left">{{'Form Pages' | translate}}
              <select class='child' id="cmsformpagesPagingdropdown" (change)="cmsformpagesPaging($event.target.value)"
                [value]='20'>
                <option value='20'>20</option>
                <option value='50'>50</option>
                <option value='100'>100</option>
              </select>
              <div class="right tableheader" role="toolbar" aria-label="Toolbar with button groups">
                <!--btn-toolbar-->
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button type="button" class="dialogbtn" (click)="cmsformpagesroute(null, 'create')"><i
                      class="fa fa-plus" aria-hidden="true"></i></button>
                  <button type="button" class="dialogbtn" (click)="showcmsformpagesFilter()"><i
                      class="fa fa-filter" aria-hidden="true"></i></button>
                  <button type="button" class="dialogbtn"><i class="fa fa-envelope"
                      aria-hidden="true"></i></button>
                </div>
              </div>
            </h4>
              <div  class="table-container"> <ng2-smart-table    #tblcmsformpagessource (userRowSelect)="handlecmsformpagesGridSelected($event)"
              [settings]="cmsformpagessettings" [source]="cmsformpagessource"
              (delete)="cmsformpagesroute($event,'delete')" (deleteConfirm)="cmsformpagesroute($event,'delete')"
              (create)="cmsformpagesroute($event,'create')" (createConfirm)="cmsformpagesbeforesave($event)"
              (edit)="cmsformpagesroute($event,'edit')" (editConfirm)="cmsformpagesbeforesave($event)">
            </ng2-smart-table></div>
          </div>
          <!--End of child table cmsformpages-->
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <div class="form-group row">
      <div class="col">
        <button class="btn btn-info" (click)="onSubmitAndWait()" type="button"><i class="fa fa-database"></i>
          Submit</button>
        <button class="btn btn-info" type="submit"><i class="fa fa-database"></i> Submit & Clear</button>
        <app-action *ngIf="f.formid.value != null" [menuid]="pmenuid" [value]="f.formid.value"
          [status]="f.status.value"></app-action>
        <button type="button" (click)="onClose()"
          *ngIf="data!=undefined && data!=null && (data.ScreenType==1 || data.ScreenType==2)" class="btn btn-info"><i
            class="fa fa-close"></i> Close</button>
      </div>
    </div>
  </div>
</form>