<form [formGroup]="sasdemouserForm" (ngSubmit)="onSubmit()" [ngClass]="sessionService.getItem('selected-theme')">
  <div class="row second">
    <h1 class="col columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Demo Users' | translate}}</a></h1>
    <div class=" col " role="toolbar" aria-label="Toolbar with button groups">
      <!--btn-toolbar-->
      <div *ngIf="toolbarvisible" class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn indigo lighten-2" (click)="resetForm()"><i class="fa fa-plus"
            aria-hidden="true"></i></button>
        <button type="button" class="btn blue lighten-2" (click)="onSubmit()"><i class="fa fa-save"
            aria-hidden="true"></i></button>
        <button type="button" class="btn blue lighten-2" (click)="onDelete()"><i class="fa fa-trash"
            aria-hidden="true"></i></button>
        <button type="button" class="btn light-blue lighten-2" (click)="onCopy()"><i class="fa fa-copy"
            aria-hidden="true"></i></button>
        <button type="button" class="dialogbtn"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button type="button" class="dialogbtn"><i class="fa fa-print" aria-hidden="true"></i></button>
        <button type="button" class="dialogbtn"><i class="fa fa-envelope" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <div  class="container"     id="contentArea1"   >
    <div class="form-group row">
      <div class="col">
        <label for="companyname" class="control-label">{{'CompanyName' | translate}}</label>
        <input id="companyname" formControlName="companyname" class="form-control"
          placeholder="{{'CompanyName' | translate}}">
      </div>
      <div class="col">
        <label for="url" class="control-label">{{'URL' | translate}}</label>
        <input id="url" formControlName="url" class="form-control" placeholder="{{'URL' | translate}}">
      </div>
      <div class="col">
        <label for="username" class="control-label">{{'UserName' | translate}}</label>
        <input id="username" formControlName="username" class="form-control" placeholder="{{'UserName' | translate}}">
      </div>
      <div class="col">
        <label for="password" class="control-label">{{'Password' | translate}}</label>
        <input id="password" formControlName="password" class="form-control" placeholder="{{'Password' | translate}}">
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="firstname" class="control-label">{{'FirstName' | translate}}</label>
        <input id="firstname" formControlName="firstname" class="form-control"
          placeholder="{{'FirstName' | translate}}">
      </div>
      <div class="col">
        <label for="lastname" class="control-label">{{'LastName' | translate}}</label>
        <input id="lastname" formControlName="lastname" class="form-control" placeholder="{{'LastName' | translate}}">
      </div>
      <div class="col">
        <label for="emailaddress" class="control-label">{{'EmailAddress' | translate}}</label>
        <input id="emailaddress" formControlName="emailaddress" class="form-control"
          placeholder="{{'EmailAddress' | translate}}">
      </div>
      <div class="col"><label for="countryid" class="control-label" (click)="AddOrEditcountryid(null)">{{'Country' |
          translate}}</label>
        <div class="input-group">
          <input id="countryid" placeholder="" [ngbTypeahead]="countryid_bocountriesoptions"
            class="form-control autocomplete" (selectItem)="onSelectedcountryid($event)" formControlName='countryid'
            [resultFormatter]="countryid_bocountriesformatter">
          <input readonly id="countryiddesc" formControlName="countryiddesc" class="form-control autocompletedesc"
            placeholder="{{'Country' | translate}}">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="phonenumber" class="control-label">{{'PhoneNumber' | translate}}</label>
        <input id="phonenumber" formControlName="phonenumber" class="form-control"
          placeholder="{{'PhoneNumber' | translate}}">
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="sticky"
      *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined  &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))">
      Custom Fields</div>
    <div class="form-group row"
      *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined  &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))">
      <dynamic-form-builder [customfields]="customfieldservicelist" #customform></dynamic-form-builder>
    </div>
    <div class="sticky">Attachments</div>
    <div class="form-group row">
      <ng-container *ngFor="let fld of attachmentfieldjson | keyvalue">
        <a href="http://localhost:5001/MyResources/{{fld.value.value}}" target="_blank">{{fld.value.value}} |
        </a>
      </ng-container>
      <p-fileUpload #fileattachment class="form-control" type="file" name="FileUpload[]" mode="basic" url="{{URL}}"
        (onSelect)="attachmentuploader($event)"></p-fileUpload>
      <ng-container *ngFor="let fld of attachmentlist">
        <div class="col">
          <label class="control-label"></label>
          <p-fileUpload #fileattachment class="form-control" type="file" name="FileUpload[]" url="{{URL}}" mode="basic"
            (onSelect)="attachmentuploader($event)"></p-fileUpload>
        </div>
      </ng-container>
    </div>
    <div class="form-group row">
      <div class="col">
        <button class="btn btn-info" (click)="onSubmitAndWait()" type="button"><i class="fa fa-database"></i>
          Submit</button>
        <button class="btn btn-info" type="submit"><i class="fa fa-database"></i> Submit & Clear</button>
        <app-action *ngIf="f.registrationid.value != null" [menuid]="pmenuid" [value]="f.registrationid.value"
          [status]="f.status.value"></app-action>
        <button type="button" (click)="onClose()"
          *ngIf="data!=undefined && data!=null && (data.ScreenType==1 || data.ScreenType==2)" class="btn btn-info"><i
            class="fa fa-close"></i> Close</button>
      </div>
    </div>
  </div>
</form>