<img src="assets/spinner.gif" *ngIf="showSpinner" class="spinnerShow" />
<nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
  <img class="navbar-brand logo" src="assets/companylogo.png" id="logo_custom" width="10%" alt="logo">
</nav>
<div class="container-fluid register">
  <div class="row">
    <div class="col-md-6 register-left">
      <img src="assets/register.png" alt="MySkillTree" />
    </div>
    <div class="col-md-6 register-right">
      <div class="tab-content" id="myTabContent" style="margin: 15px 0;">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Forgot Password</h3>
          <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" style="margin: 15px 0;">
            <div class="register-form">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group">
                    <span>Email</span>
                    <input class="form-control" formControlName="email" type="email" placeholder="Your Email Address"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <label class="text-danger" *ngIf="showError">Not an registered user</label>
                  <button type="submit" class="btn btn-info btn-block register_btn" title="reset" [disabled]="!reactiveForm.valid">Request Password
                    Reset</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <br />
                  <button class="btn btn-info btn-block cancel_btn" (click)="backLogin()">CANCEL</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <p class="text-muted">Copyright © MySkillsTree Solutions Pvt Ltd.All rights reserved.</p>
      </div>
    </footer>
  </div>
</div>
