<i class="fa fa-step-backward" *ngIf="sourceKey" (click)="nav.back()"></i>
<ngx-spinner></ngx-spinner>
<form [formGroup]="bocompanyholiday_Form" (ngSubmit)="onSubmit()" [ngClass]="theme">
  <div class="row second">
    <h1 class="col-4 columns mainheader left"><a href='#/home/{{p_currenturl}}'>{{'Company Holidays' | translate}}</a>
    </h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
          <li><a class='alert-info' [routerLink]='' *ngIf='showview' (click)="edit_bocompanyholidays()"><i
                class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col' *ngIf='maindata==null || maindata==undefined'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li *ngIf='!showview && (maindata==null || maindata==undefined)' class='nav-item dropdown  actionheader'>
            <ul class="nav navbar-nav1">
              <li *ngIf=' (maindata==null || maindata==undefined)' class="dropdown">
                <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                  aria-expanded='false'> <span class='caret'></span>Actions</a>
                <ul class="dropdown-menu">
                  <li><a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i
                        class='fa fa-plus' aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a></li>
                  <li><a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a></li>
                  <li><a class='dropdown-item' [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a></li>

                  <li role="separator" class="divider">
                    <hr>
                  </li>

                  <li><a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-envelope'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a></li>


                </ul>
              </li>
            </ul>
          </li>
          <ng-container *ngFor="let action of bocompanyholiday_menuactions">
            <li><a class="alert-action" [routerLink]='' (click)="onChangeAction(action.actionid)"><i class="fa fa-new"
                  aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{action.description}}</a></li>
          </ng-container>
          <li class='nav-item actionheader' *ngIf="!showview">
            <a class="alert-success" [routerLink]='' (click)="onSubmitAndWait()"><i class="fa fa-database"></i>
              Submit</a>
            <a class="alert-primary" *ngIf='data.pkcol==null || maindata.ScreenType==null' [routerLink]=''
              (click)="onSubmit()"><i class="fa fa-share-square"></i> Submit & Clear</a>
            <app-action *ngIf="f.holidayid.value != null" (afterAction)="afterAction($event)" [menuid]="p_menuid"
              [value]="f.holidayid.value" [status]="f.status.value"></app-action>
          </li>
          <li class='nav-item actionheader'
            *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)">
            <a class="alert-danger" [routerLink]='' (click)="onClose()"><i class="fa fa-close"></i> Close</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="container"
    id="{{maindata ==undefined || maindata==null || maindata.ScreenType!=2?'contentAreascroll':'contentArea1'}}">
    <div class="w-5" *ngIf="showFormType=='1'" style="margin-top:10px!important">
      <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
    </div>
    <div *ngIf="(viewHtml != '' && showview)" [innerHTML]='getHtml(viewHtml)'>

    </div>


    <!--financialyearid-->

    <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
      <div
        *ngIf="((hidelist.indexOf('financialyearid') == -1) && (financialyearidvisible==undefined || financialyearidvisible==true))"
        style='' class="col-3"><label for="financialyearid" class="control-label"
          (click)="AddOrEdit_financialyearid(null)">Financial Year</label>
        <select *ngIf="!showview" id="financialyearid" (change)="financialyearid_onChange($event.target)"
          formControlName="financialyearid" class="form-control">
          <option [ngValue]="null" selected>-Select-</option>
          <option *ngFor="let item of financialyearid_List" value="{{item.value}}">{{item.label}}</option>
        </select>
        <label *ngIf="showview" class="labelview">{{f.financialyeariddesc?.value}}</label>
      </div>
      <div
        *ngIf="((hidelist.indexOf('holidaydate') == -1) && (holidaydatevisible==undefined || holidaydatevisible==true))"
        style='' class="col-3 ">
        <label for="holidaydate" class="control-label">Holiday Date</label>
        <label *ngIf="showview" class="labelview">{{ngbDateParserFormatter.format(f.holidaydate?.value)}}</label>
        <div class="input-group" *ngIf="!showview">
          <input #holidaydateformpicker="ngbDatepicker" [minDate]='{year: 2022, month:3, day: 1}'
            [maxDate]='{year: 2050, month:12, day: 31}' ngbDatepicker name="holidaydateformpicker" id="holidaydate"
            formControlName="holidaydate" class="form-control">
          <button class="input-group-addon" *ngIf="!showview" (click)="holidaydateformpicker.toggle()" type="button"><i
              class="fa fa-calendar" aria-hidden="true"></i></button>
        </div>
      </div>


      <!--holidayday-->

      <div *ngIf="((hidelist.indexOf('holidayday') == -1) && (holidaydayvisible==undefined || holidaydayvisible==true))"
        style='' class="col-3"><label for="holidayday" class="control-label">Holiday Day</label>
        <select *ngIf="!showview" id="holidayday" readonly (change)="holidayday_onChange($event.target)"
          formControlName="holidayday" class="form-control">
          <option [ngValue]="null" selected>-Select-</option>
          <option *ngFor="let item of holidayday_List" value="{{item.value}}">{{item.label}}</option>
        </select>
        <label *ngIf="showview" class="labelview">{{f.holidaydaydesc?.value}}</label>
      </div>
      <div *ngIf="((hidelist.indexOf('reason') == -1) && (reasonvisible==undefined || reasonvisible==true))" style=''
        class="col-3 ">
        <label for="reason" class="control-label">Reason</label>
        <label *ngIf="showview" class="labelview">{{f.reason?.value}}</label>
        <input *ngIf="!showview" id="reason" formControlName="reason" class="form-control">
      </div>
    </div>
  </div>
</form>