<i class="fa fa-step-backward" *ngIf="sourceKey" (click)="nav.back()"></i>
<p-blockUI [target]="pnl" [blocked]="blockedDocument"><i class="pi pi-lock" style="font-size: 3rem"></i></p-blockUI>
<form id="frm_boforum" [formGroup]="boforum_Form" (ngSubmit)="onSubmit()" [ngClass]="theme">
  <p-panel #pnl [showHeader]="false">
    <app-title reportcode="" title="Forums" [f]="f" [data]="data" [maindata]="maindata" [p_menuid]="p_menuid"
      [action]="action" (edit)="edit_boforums()" (first)="first()" (prev)="prev()" (onSelectedpk)="onSelectedpk($event)"
      (next)="next()" (last)="last()" (resetForm)="resetForm()" (onSubmit)="onSubmit()" (onDelete)="onDelete()"
      (onCopy)="onCopy()" (onCopyDetails)="onCopyDetails()" (onCopycursive)="onCopyRecursive()" (onClose)="onClose()"
      (afterAction)="afterAction" (onSubmitAndWait)="onSubmitAndWait()" (onChangeAction)="onChangeAction()"></app-title>
    <p-scrollTop></p-scrollTop>
    <p-scrollPanel #panelscroller [style]="maindata?sharedService.dialogScreenSize:sharedService.mainScreenSize"
      styleClass="custom">
      <div class="container1  ui-fluid p-grid"
        id="{{maindata ==undefined || maindata==null || maindata.ScreenType!=2?'contentAreascroll':'contentArea1'}}">
        <div class="w-5" *ngIf="showFormType=='1'" style="margin-top:10px!important">
          <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
        </div>
        <div *ngIf="!showview" id="div_boforums"></div>
        <div *ngIf="showview" id="div_boforums"></div>
        <div *ngIf="(viewHtml != '' && showview)" [innerHTML]='getHtml(viewHtml)'>

        </div>
        <div *ngIf="hidelist.indexOf('title')<0" class="  p-float-label  p-col-12 p-md-3">

          <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.title?.value}}</label>
          <input type="text" pInputText *ngIf="!showview" id="title" required
            pTooltip="{{'Enter' | translate}} {{'title' | translate}}" formControlName="title"
            class="  p-form-control p-inputtext-sm p-field">
          <label for="title" class="control-label required">{{'Title' | translate}}</label>
          <app-field-error-display [displayError]="f.title.errors?.required"
            errorMsg="{{'Enter'| translate}} {{'Title' | translate}}">
          </app-field-error-display>
        </div>
        <div *ngIf="hidelist.indexOf('description')<0" class="  p-col-12 p-md-12">
          <label for="description" class="control-label">{{'Description' | translate}}</label>

          <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.description?.value}}</label>
          <textarea autosize MinRows="10" MaxRows="15" onlyGrow="true" *ngIf="!showview" id="description"
            pTooltip="{{'Enter' | translate}} {{'description' | translate}}" formControlName="description" [rows]="5"
            [cols]="200" pInputTextarea autoResize="autoResize" class=" p-field p-inputwrapper-filled p-md-12">
</textarea>
        </div>


        <!--forumtype-->

        <div *ngIf="hidelist.indexOf('forumtype')<0" class=" p-float-label  p-col-12 p-md-3">
          <p-autoComplete forceSelection="true" showClear=true *ngIf="!showview"
            class="p-form-control p-inputtext-sm p-field p-inputwrapper-filled" formControlName="forumtype"
            pTooltip="{{'Enter' | translate}} {{'forumtype' | translate}}" field="label"
            [suggestions]="forumtype_Suggestions" (onSelect)="onSelected_forumtype($event)"
            (completeMethod)="onEntered_forumtype($event)" [dropdown]="true">
            <ng-template let-forumtype pTemplate="item">
              <div>{{forumtype.label}}</div>
            </ng-template>
          </p-autoComplete>
          <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.forumtypedesc?.value}}</label>
          <label for="forumtype" class="control-label">{{'Type' | translate}}</label>
        </div>
        <div *ngIf="hidelist.indexOf('comments')<0" class="  p-col-12 p-md-12">
          <label for="comments" class="control-label">{{'Comments' | translate}}</label>

          <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.comments?.value}}</label>
          <app-comment *ngIf="!showview" id="comments" pTooltip="{{'Enter' | translate}} {{'comments' | translate}}"
            formControlName="comments" [label]="'Comments'" class=" p-field">
          </app-comment>
        </div>


        <!--forumaccess-->

        <div *ngIf="hidelist.indexOf('forumaccess')<0" class=" p-col-12 p-md-12"><label for="forumaccess"
            class="control-label">{{'Access' | translate}}</label>

          <p-pickList filterBy="label" sourceHeader="Available" targetHeader="Selected" [source]="forumaccess_Available"
            [target]="forumaccess_Selected">
            <ng-template let-item pTemplate="item">
              <div>{{item.label}}</div>
            </ng-template>
          </p-pickList>
          <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.forumaccess?.value}}</label>
        </div>


        <!--forumstatus-->

        <div *ngIf="hidelist.indexOf('forumstatus')<0" class=" p-float-label  p-col-12 p-md-3">
          <p-autoComplete forceSelection="true" showClear=true *ngIf="!showview"
            class="p-form-control p-inputtext-sm p-field p-inputwrapper-filled" formControlName="forumstatus"
            pTooltip="{{'Enter' | translate}} {{'forumstatus' | translate}}" field="label"
            [suggestions]="forumstatus_Suggestions" (onSelect)="onSelected_forumstatus($event)"
            (completeMethod)="onEntered_forumstatus($event)" [dropdown]="true">
            <ng-template let-forumstatus pTemplate="item">
              <div>{{forumstatus.label}}</div>
            </ng-template>
          </p-autoComplete>
          <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.forumstatusdesc?.value}}</label>
          <label for="forumstatus" class="control-label">{{'Status' | translate}}</label>
        </div>
        <div class='full-width'
          *ngIf="customFieldVisible  && customFieldServiceList!=null && customFieldServiceList!=undefined  && customFieldServiceList.fields.length>0">
          <p-accordion [multiple]='true'>
            <p-accordionTab header='CustomField' [selected]='false'>
              <div class='ui-fluid p-formgrid p-grid '>
                <div class=""
                  *ngIf="customFieldServiceList!=null && customFieldServiceList!=undefined   &&(customFieldServiceList.formhtml!=null || customFieldServiceList.templatehtml!=null || (customFieldServiceList.fields!=[] && customFieldServiceList.fields.length>0))">
                  <dynamic-form-builder [customfields]="customFieldServiceList" #customform></dynamic-form-builder>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
        <div class='full-width' *ngIf="attachmentVisible">
          <p-accordion [multiple]='true'>
            <p-accordionTab [header]="'Attachment(' + fileattachment.getLength() + ')'" [selected]='false'>
              <div class='ui-fluid p-formgrid p-grid '>
                <app-attachment #fileattachment class="full-width" isAttachment=true formControlName="attachment"
                  [SessionData]="sessionData"></app-attachment>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
      <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>
    </p-scrollPanel>
  </p-panel>
</form>
