<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="hrmsletterrequestForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Letter Requests' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="edithrmsletterrequests()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='hrmsletterrequesttoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.hrmsletterrequestshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.lrequestid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.lrequestid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('requestdate') == -1"  class="col "  >
<label  for="requestdate" class="control-label">Request Date</label>
<div class="input-group" *ngIf="!showview" >
<input #requestdateformpicker="ngbDatepicker"      ngbDatepicker name="requestdateformpicker" id="requestdate"  formControlName="requestdate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="requestdateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.requestdate?.value)}}</label>
  </div>
  <div  *ngIf="hidelist.indexOf('requestreference') == -1"  class="col "  >
<label  for="requestreference" class="control-label">Request Reference</label>
      <input   *ngIf="!showview"  id="requestreference"  readonly formControlName="requestreference" class="form-control"
        >
  </div>


<!--lettertype-->

  <div   *ngIf="hidelist.indexOf('lettertype') == -1"  class="col" ><label  for="lettertype" class="control-label">Letter Type</label>
      <select  *ngIf="!showview"  id="lettertype"  (change)="lettertypeonChange($event.target)" formControlName="lettertype"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of lettertypeList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.lettertypedesc?.value}}</label>
  </div>
<div class="col"></div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('reason') == -1"  class="col "  >
<label  for="reason" class="control-label">Reason</label>
<p-editor  *ngIf="!showview"  id="reason" formControlName="reason"    [style]="{  height: '320' }"></p-editor>  </div>
  </div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('issuedate') == -1"  class="col "  >
<label  for="issuedate" class="control-label">Issue Date</label>
<div class="input-group" *ngIf="!showview" >
<input #issuedateformpicker="ngbDatepicker"      ngbDatepicker name="issuedateformpicker" id="issuedate"  formControlName="issuedate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="issuedateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.issuedate?.value)}}</label>
  </div>
  <div  *ngIf="hidelist.indexOf('templateid') == -1"  class="col "  >
<label  for="templateid" class="control-label">Template</label>
      <input   *ngIf="!showview"  id="templateid"  formControlName="templateid" class="form-control"
        >
  </div>


<!--issuemode-->

  <div   *ngIf="hidelist.indexOf('issuemode') == -1"  class="col" ><label  for="issuemode" class="control-label">Issue Mode</label>
      <select  *ngIf="!showview"  id="issuemode"  (change)="issuemodeonChange($event.target)" formControlName="issuemode"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of issuemodeList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.issuemodedesc?.value}}</label>
  </div>


<!--status-->

  <div   *ngIf="hidelist.indexOf('status') == -1"  class="col" ><label  for="status" class="control-label">Status</label>
      <select  *ngIf="!showview"  id="status"  readonly (change)="statusonChange($event.target)" formControlName="status"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of statusList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.statusdesc?.value}}</label>
  </div>
</div>
<div  class='full-width'  *ngIf="attachmentvisible">
<p-accordion [multiple]='true'>
<p-accordionTab header='Attachment'  [selected]='false'>
<app-attachment #fileattachment  isAttachment=true  formControlName="attachment" [SessionData]="sessiondata"></app-attachment>
</p-accordionTab>
</p-accordion>
</div>
  </div>
</form>
