<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="erpsupplieritemForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Supplier Items' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="editerpsupplieritems()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='erpsupplieritemtoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.erpsupplieritemshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.supplieritemid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.supplieritemid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<ngb-tabset class="tabset1"  [destroyOnHide]="false">
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<ngb-tab>
<ng-template ngbTabTitle>
<div (click)="ToolBar(true)">Master</div>
</ng-template>
<ng-template ngbTabContent>
<p-accordion  [multiple]='true'>


<!--supplierid-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('supplierid') == -1"  class="col" ><label  for="supplierid" class="control-label" (click)="AddOrEditsupplierid(null)">Supplier</label>
<app-popupselect  *ngIf="!showview"  [options]="supplieridList"  [optionsEvent]="supplieridoptionsEvent" [form]="erpsuppliermaster" (selectItem)="onSelectedsupplierid($event)"  [reportid]= 'qtmcq' [menuid]='qtmcq' formControlName="supplierid" id="supplierid" desc="suppliercode" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"     class="labelview">{{f.supplierid?.value}}</label>
  </div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div>
</p-accordion>
<p-accordion [multiple]='true'>
<p-accordionTab header='Item Specifications'  [selected]='true'>


<!--itemcategoryid-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('itemcategoryid') == -1"  class="col" ><label  for="itemcategoryid" class="control-label" (click)="AddOrEdititemcategoryid(null)" (click)="AddOrEdititemcategoryid(null)">Itemcategory</label>
      <select  *ngIf="!showview"  id="itemcategoryid"  (change)="itemcategoryidonChange($event.target)" formControlName="itemcategoryid"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of itemcategoryidList" value="{{item.masterdataid}}">{{item.masterdatadescription}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.itemcategoryid?.value}}</label>
  </div>


<!--itemsubcategoryid-->

  <div   *ngIf="hidelist.indexOf('itemsubcategoryid') == -1"  class="col" ><label  for="itemsubcategoryid" class="control-label" (click)="AddOrEdititemsubcategoryid(null)">Itemsubcategory</label>
      <select  *ngIf="!showview"  id="itemsubcategoryid"  (change)="itemsubcategoryidonChange($event.target)" formControlName="itemsubcategoryid"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of itemsubcategoryidList" value="{{item.subcategoryid}}">{{item.subcategoryname}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.itemsubcategoryid?.value}}</label>
  </div>
  <div   *ngIf="hidelist.indexOf('supplieritemcode') == -1"  class="col " >
<label  for="supplieritemcode" class="control-label">Supplier Item Code</label>
      <label *ngIf="showview"     class="labelview">{{f.supplieritemcode?.value}}</label>
      <input   *ngIf="!showview"  id="supplieritemcode"  formControlName="supplieritemcode" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('supplierpartname') == -1"  class="col " >
<label  for="supplierpartname" class="control-label">Supplier Part Name</label>
      <label *ngIf="showview"     class="labelview">{{f.supplierpartname?.value}}</label>
      <input   *ngIf="!showview"  id="supplierpartname"  formControlName="supplierpartname" class="form-control"
        >
  </div>
</div>


<!--ourcompanyitemid-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('ourcompanyitemid') == -1"  class="col" ><label  for="ourcompanyitemid" class="control-label" (click)="AddOrEditourcompanyitemid(null)">Company Item</label>
<app-popupselect  *ngIf="!showview"  [options]="ourcompanyitemidList"  [optionsEvent]="ourcompanyitemidoptionsEvent" [form]="erpitemmaster" (selectItem)="onSelectedourcompanyitemid($event)"  [reportid]= 'cmpvs' [menuid]='cmpvs' formControlName="ourcompanyitemid" id="itemid" desc="itemcode" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"     class="labelview">{{f.ourcompanyitemid?.value}}</label>
  </div>
  <div   *ngIf="hidelist.indexOf('itemdescription') == -1"  class="col " >
<label  for="itemdescription" class="control-label">Item Description</label>
      <label *ngIf="showview"     class="labelview">{{f.itemdescription?.value}}</label>
      <input   *ngIf="!showview"  id="itemdescription"  formControlName="itemdescription" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('brand') == -1"  class="col " >
<label  for="brand" class="control-label">Brand</label>
      <label *ngIf="showview"     class="labelview">{{f.brand?.value}}</label>
      <input   *ngIf="!showview"  id="brand"  formControlName="brand" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('model') == -1"  class="col " >
<label  for="model" class="control-label">Model</label>
      <label *ngIf="showview"     class="labelview">{{f.model?.value}}</label>
      <input   *ngIf="!showview"  id="model"  formControlName="model" class="form-control"
        >
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('make') == -1"  class="col " >
<label  for="make" class="control-label">Make</label>
      <label *ngIf="showview"     class="labelview">{{f.make?.value}}</label>
      <input   *ngIf="!showview"  id="make"  formControlName="make" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('ispreferred') == -1"  class="col " >
<div class="columnchk">
<label  for="ispreferred" class="control-label">Is Preferred</label>
      <label *ngIf="showview"     class="labelview">{{f.ispreferred?.value}}</label>
      <input  type="checkbox"   *ngIf="!showview"  id="ispreferred"  formControlName="ispreferred" class="form-control"
        >
  </div>
  </div>


<!--uom-->

  <div   *ngIf="hidelist.indexOf('uom') == -1"  class="col" ><label  for="uom" class="control-label">U O M</label>
      <select  *ngIf="!showview"  id="uom"  (change)="uomonChange($event.target)" formControlName="uom"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of uomList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.uom?.value}}</label>
  </div>


<!--currency-->

  <div   *ngIf="hidelist.indexOf('currency') == -1"  class="col" ><label  for="currency" class="control-label">Currency</label>
      <select  *ngIf="!showview"  id="currency"  (change)="currencyonChange($event.target)" formControlName="currency"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of currencyList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.currency?.value}}</label>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('dimensions') == -1"  class="col " >
<label  for="dimensions" class="control-label">Dimensions</label>
      <label *ngIf="showview"     class="labelview">{{f.dimensions?.value}}</label>
      <input   *ngIf="!showview"  id="dimensions"  formControlName="dimensions" class="form-control"
        >
  </div>


<!--producttype-->

  <div   *ngIf="hidelist.indexOf('producttype') == -1"  class="col" ><label  for="producttype" class="control-label">Product Type</label>
      <select  *ngIf="!showview"  id="producttype"  (change)="producttypeonChange($event.target)" formControlName="producttype"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of producttypeList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.producttype?.value}}</label>
  </div>
  <div   *ngIf="hidelist.indexOf('productimage') == -1"  class="col " >
<label  for="productimage" class="control-label">Product Image</label>
      <label *ngIf="showview"     class="labelview">{{f.productimage?.value}}</label>
<app-attachment #productimage formControlName="productimage" [SessionData]="sessiondata"></app-attachment>
<button  type="button" class="btn" *ngIf="productimage.getattachmentlist().length > 0"    (click) = "getproductimage()" >Open File</button>
  </div>
<div class="col"></div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('description') == -1"  class="col " >
<label  for="description" class="control-label">Description</label>
      <label *ngIf="showview"     class="labelview">{{f.description?.value}}</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="description"  formControlName="description" class="form-control"
        >
</textarea>
  </div>
</div>
</p-accordionTab>
</p-accordion>
<p-accordion [multiple]='true'>
<p-accordionTab header='Purchase Details'  [selected]='true'>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('minorderqty') == -1"  class="col " >
<label  for="minorderqty" class="control-label">Min Order Qty</label>
      <label *ngIf="showview"     class="labelview">{{f.minorderqty?.value}}</label>
      <input   *ngIf="!showview"  id="minorderqty"  formControlName="minorderqty" class="form-control"
        >
      <app-field-error-display [displayError]="f.minorderqty.errors!=null && f.minorderqty.errors.pattern!=null && f.minorderqty.errors!=undefined && f.minorderqty.errors.pattern!=undefined  && (f.minorderqty.touched|| isSubmitted)" errorMsg="Not a valid number">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.minorderqty.errors!=null && f.minorderqty.errors.min!=null && f.minorderqty.errors!=undefined && f.minorderqty.errors.min!=undefined  && (f.minorderqty.touched|| isSubmitted)" errorMsg="Minimum value have to be entered">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.minorderqty.errors!=null && f.minorderqty.errors.max!=null && f.minorderqty.errors!=undefined && f.minorderqty.errors.max!=undefined  && (f.minorderqty.touched|| isSubmitted)" errorMsg="Maximum value Exceeded">
      </app-field-error-display>
  </div>
  <div   *ngIf="hidelist.indexOf('reorderlevel') == -1"  class="col " >
<label  for="reorderlevel" class="control-label">Re Order Level</label>
      <label *ngIf="showview"     class="labelview">{{f.reorderlevel?.value}}</label>
      <input   *ngIf="!showview"  id="reorderlevel"  formControlName="reorderlevel" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('leadtimedays') == -1"  class="col " >
<label  for="leadtimedays" class="control-label">Lead Time Days</label>
      <label *ngIf="showview"     class="labelview">{{f.leadtimedays?.value}}</label>
      <input   *ngIf="!showview"  id="leadtimedays"  formControlName="leadtimedays" class="form-control"
        >
      <app-field-error-display [displayError]="f.leadtimedays.errors!=null && f.leadtimedays.errors.pattern!=null && f.leadtimedays.errors!=undefined && f.leadtimedays.errors.pattern!=undefined  && (f.leadtimedays.touched|| isSubmitted)" errorMsg="Not a valid number">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.leadtimedays.errors!=null && f.leadtimedays.errors.min!=null && f.leadtimedays.errors!=undefined && f.leadtimedays.errors.min!=undefined  && (f.leadtimedays.touched|| isSubmitted)" errorMsg="Minimum value have to be entered">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.leadtimedays.errors!=null && f.leadtimedays.errors.max!=null && f.leadtimedays.errors!=undefined && f.leadtimedays.errors.max!=undefined  && (f.leadtimedays.touched|| isSubmitted)" errorMsg="Maximum value Exceeded">
      </app-field-error-display>
  </div>


<!--riskclassification-->

  <div   *ngIf="hidelist.indexOf('riskclassification') == -1"  class="col" ><label  for="riskclassification" class="control-label">Risk Classification</label>
      <select  *ngIf="!showview"  id="riskclassification"  (change)="riskclassificationonChange($event.target)" formControlName="riskclassification"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of riskclassificationList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.riskclassification?.value}}</label>
  </div>
</div>
</p-accordionTab>
</p-accordion>
<p-accordion [multiple]='true'>
<p-accordionTab header='Price'  [selected]='true'>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('unitprice') == -1"  class="col " >
<label  for="unitprice" class="control-label">Unit Price</label>
      <label *ngIf="showview"     class="labelview">{{f.unitprice?.value}}</label>
      <input   *ngIf="!showview"  id="unitprice"  formControlName="unitprice" currencyMask   [options]="{ prefix: '',precision: 0, thousands: ',', decimal: '.' }" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('discountpercent') == -1"  class="col " >
<label  for="discountpercent" class="control-label">Discount Percent</label>
      <label *ngIf="showview"     class="labelview">{{f.discountpercent?.value}}</label>
      <input   *ngIf="!showview"  id="discountpercent"  formControlName="discountpercent" class="form-control"
        >
  </div>


<!--tax1name-->

  <div   *ngIf="hidelist.indexOf('tax1name') == -1"  class="col" ><label  for="tax1name" class="control-label" (click)="AddOrEdittax1name(null)">Tax1 Name</label>
      <select  *ngIf="!showview"  id="tax1name"  (change)="tax1nameonChange($event.target)" formControlName="tax1name"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of tax1nameList" value="{{item.taxid}}">{{item.taxname}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.tax1name?.value}}</label>
  </div>
  <div   *ngIf="hidelist.indexOf('tax1') == -1"  class="col " >
<label  for="tax1" class="control-label">Tax1</label>
      <label *ngIf="showview"     class="labelview">{{f.tax1?.value}}</label>
      <input   *ngIf="!showview"  id="tax1"  formControlName="tax1" class="form-control"
        >
  </div>
</div>


<!--tax2name-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('tax2name') == -1"  class="col" ><label  for="tax2name" class="control-label" (click)="AddOrEdittax2name(null)">Tax2 Name</label>
      <select  *ngIf="!showview"  id="tax2name"  (change)="tax2nameonChange($event.target)" formControlName="tax2name"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of tax2nameList" value="{{item.taxid}}">{{item.taxname}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.tax2name?.value}}</label>
  </div>
  <div   *ngIf="hidelist.indexOf('tax2') == -1"  class="col " >
<label  for="tax2" class="control-label">Tax2</label>
      <label *ngIf="showview"     class="labelview">{{f.tax2?.value}}</label>
      <input   *ngIf="!showview"  id="tax2"  formControlName="tax2" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('othercharges') == -1"  class="col " >
<label  for="othercharges" class="control-label">Other Charges</label>
      <label *ngIf="showview"     class="labelview">{{f.othercharges?.value}}</label>
      <input   *ngIf="!showview"  id="othercharges"  formControlName="othercharges" currencyMask   [options]="{ prefix: '',precision: 0, thousands: ',', decimal: '.' }" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('totalcost') == -1"  class="col " >
<label  for="totalcost" class="control-label">Total Cost</label>
      <label *ngIf="showview"     class="labelview">{{f.totalcost?.value}}</label>
      <input   *ngIf="!showview"  id="totalcost"  formControlName="totalcost" class="form-control"
        >
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('pricevalidenddate') == -1"  class="col " >
<label  for="pricevalidenddate" class="control-label">Price Valid End Date</label>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.pricevalidenddate?.value)}}</label>
<div class="input-group" *ngIf="!showview" >
<input #pricevalidenddateformpicker="ngbDatepicker"      ngbDatepicker name="pricevalidenddateformpicker" id="pricevalidenddate"  formControlName="pricevalidenddate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="pricevalidenddateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
  </div>
  <div   *ngIf="hidelist.indexOf('offerquantity1') == -1"  class="col " >
<label  for="offerquantity1" class="control-label">Offer Quantity1</label>
      <label *ngIf="showview"     class="labelview">{{f.offerquantity1?.value}}</label>
      <input   *ngIf="!showview"  id="offerquantity1"  formControlName="offerquantity1" class="form-control"
        >
      <app-field-error-display [displayError]="f.offerquantity1.errors!=null && f.offerquantity1.errors.pattern!=null && f.offerquantity1.errors!=undefined && f.offerquantity1.errors.pattern!=undefined  && (f.offerquantity1.touched|| isSubmitted)" errorMsg="Not a valid number">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.offerquantity1.errors!=null && f.offerquantity1.errors.min!=null && f.offerquantity1.errors!=undefined && f.offerquantity1.errors.min!=undefined  && (f.offerquantity1.touched|| isSubmitted)" errorMsg="Minimum value have to be entered">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.offerquantity1.errors!=null && f.offerquantity1.errors.max!=null && f.offerquantity1.errors!=undefined && f.offerquantity1.errors.max!=undefined  && (f.offerquantity1.touched|| isSubmitted)" errorMsg="Maximum value Exceeded">
      </app-field-error-display>
  </div>
  <div   *ngIf="hidelist.indexOf('unitprice1') == -1"  class="col " >
<label  for="unitprice1" class="control-label">Unit Price1</label>
      <label *ngIf="showview"     class="labelview">{{f.unitprice1?.value}}</label>
      <input   *ngIf="!showview"  id="unitprice1"  formControlName="unitprice1" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('totalcost1') == -1"  class="col " >
<label  for="totalcost1" class="control-label">Total Cost1</label>
      <label *ngIf="showview"     class="labelview">{{f.totalcost1?.value}}</label>
      <input   *ngIf="!showview"  id="totalcost1"  formControlName="totalcost1" class="form-control"
        >
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('offerquantity2') == -1"  class="col " >
<label  for="offerquantity2" class="control-label">Offer Quantity2</label>
      <label *ngIf="showview"     class="labelview">{{f.offerquantity2?.value}}</label>
      <input   *ngIf="!showview"  id="offerquantity2"  formControlName="offerquantity2" class="form-control"
        >
      <app-field-error-display [displayError]="f.offerquantity2.errors!=null && f.offerquantity2.errors.pattern!=null && f.offerquantity2.errors!=undefined && f.offerquantity2.errors.pattern!=undefined  && (f.offerquantity2.touched|| isSubmitted)" errorMsg="Not a valid number">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.offerquantity2.errors!=null && f.offerquantity2.errors.min!=null && f.offerquantity2.errors!=undefined && f.offerquantity2.errors.min!=undefined  && (f.offerquantity2.touched|| isSubmitted)" errorMsg="Minimum value have to be entered">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.offerquantity2.errors!=null && f.offerquantity2.errors.max!=null && f.offerquantity2.errors!=undefined && f.offerquantity2.errors.max!=undefined  && (f.offerquantity2.touched|| isSubmitted)" errorMsg="Maximum value Exceeded">
      </app-field-error-display>
  </div>
  <div   *ngIf="hidelist.indexOf('unitprice2') == -1"  class="col " >
<label  for="unitprice2" class="control-label">Unit Price2</label>
      <label *ngIf="showview"     class="labelview">{{f.unitprice2?.value}}</label>
      <input   *ngIf="!showview"  id="unitprice2"  formControlName="unitprice2" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('totalcost2') == -1"  class="col " >
<label  for="totalcost2" class="control-label">Total Cost2</label>
      <label *ngIf="showview"     class="labelview">{{f.totalcost2?.value}}</label>
      <input   *ngIf="!showview"  id="totalcost2"  formControlName="totalcost2" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('offerquantity3') == -1"  class="col " >
<label  for="offerquantity3" class="control-label">Offer Quantity3</label>
      <label *ngIf="showview"     class="labelview">{{f.offerquantity3?.value}}</label>
      <input   *ngIf="!showview"  id="offerquantity3"  formControlName="offerquantity3" class="form-control"
        >
      <app-field-error-display [displayError]="f.offerquantity3.errors!=null && f.offerquantity3.errors.pattern!=null && f.offerquantity3.errors!=undefined && f.offerquantity3.errors.pattern!=undefined  && (f.offerquantity3.touched|| isSubmitted)" errorMsg="Not a valid number">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.offerquantity3.errors!=null && f.offerquantity3.errors.min!=null && f.offerquantity3.errors!=undefined && f.offerquantity3.errors.min!=undefined  && (f.offerquantity3.touched|| isSubmitted)" errorMsg="Minimum value have to be entered">
      </app-field-error-display>
      <app-field-error-display [displayError]="f.offerquantity3.errors!=null && f.offerquantity3.errors.max!=null && f.offerquantity3.errors!=undefined && f.offerquantity3.errors.max!=undefined  && (f.offerquantity3.touched|| isSubmitted)" errorMsg="Maximum value Exceeded">
      </app-field-error-display>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('unitprice3') == -1"  class="col " >
<label  for="unitprice3" class="control-label">Unit Price3</label>
      <label *ngIf="showview"     class="labelview">{{f.unitprice3?.value}}</label>
      <input   *ngIf="!showview"  id="unitprice3"  formControlName="unitprice3" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('totalcost3') == -1"  class="col " >
<label  for="totalcost3" class="control-label">Total Cost3</label>
      <label *ngIf="showview"     class="labelview">{{f.totalcost3?.value}}</label>
      <input   *ngIf="!showview"  id="totalcost3"  formControlName="totalcost3" class="form-control"
        >
  </div>
<div class="col"></div>
<div class="col"></div>
</div>
</p-accordionTab>
</p-accordion>
<p-accordion [multiple]='true'>
<p-accordionTab header='Additional Details'  [selected]='true'>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('availablestock') == -1"  class="col " >
<label  for="availablestock" class="control-label">Available Stock</label>
      <label *ngIf="showview"     class="labelview">{{f.availablestock?.value}}</label>
      <input   *ngIf="!showview"  id="availablestock"  formControlName="availablestock" class="form-control"
        >
  </div>


<!--salesunitsize-->

  <div   *ngIf="hidelist.indexOf('salesunitsize') == -1"  class="col" ><label  for="salesunitsize" class="control-label">Sales Unit Size</label>
      <select  *ngIf="!showview"  id="salesunitsize"  (change)="salesunitsizeonChange($event.target)" formControlName="salesunitsize"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of salesunitsizeList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.salesunitsize?.value}}</label>
  </div>


<!--contractid-->

  <div   *ngIf="hidelist.indexOf('contractid') == -1"  class="col" ><label  for="contractid" class="control-label" (click)="AddOrEditcontractid(null)">Contract</label>
<app-popupselect  *ngIf="!showview"  [options]="contractidList"  [optionsEvent]="contractidoptionsEvent" [form]="erpcontractordermaster" (selectItem)="onSelectedcontractid($event)"  [reportid]= 'nd6u7' [menuid]='nd6u7' formControlName="contractid" id="contractid" desc="contractname" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"     class="labelview">{{f.contractid?.value}}</label>
  </div>


<!--suppliercontactid-->

  <div   *ngIf="hidelist.indexOf('suppliercontactid') == -1"  class="col" ><label  for="suppliercontactid" class="control-label" (click)="AddOrEditsuppliercontactid(null)">Supplier Contact</label>
      <select  *ngIf="!showview"  id="suppliercontactid"  (change)="suppliercontactidonChange($event.target)" formControlName="suppliercontactid"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of suppliercontactidList" value="{{item.contactid}}">{{item.lastname}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.suppliercontactid?.value}}</label>
  </div>
</div>


<!--accountid-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('accountid') == -1"  class="col" ><label  for="accountid" class="control-label" (click)="AddOrEditaccountid(null)">Account</label>
<app-popupselect  *ngIf="!showview"  [options]="accountidList"  [optionsEvent]="accountidoptionsEvent" [form]="erpfaaccountmaster" (selectItem)="onSelectedaccountid($event)"  [reportid]= 'oo2ro' [menuid]='oo2ro' formControlName="accountid" id="accountid" desc="accountname" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"     class="labelview">{{f.accountid?.value}}</label>
  </div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('remarks') == -1"  class="col " >
<label  for="remarks" class="control-label">Remarks</label>
      <label *ngIf="showview"     class="labelview">{{f.remarks?.value}}</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="remarks"  formControlName="remarks" class="form-control"
        >
</textarea>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('totalqtyordered') == -1"  class="col " >
<label  for="totalqtyordered" class="control-label">Total Qty Ordered</label>
      <label *ngIf="showview"     class="labelview">{{f.totalqtyordered?.value}}</label>
      <input   *ngIf="!showview"  id="totalqtyordered"  formControlName="totalqtyordered" class="form-control"
        >
  </div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div></p-accordionTab></p-accordion>
<div  class='full-width'  *ngIf="customfieldvisible  && customfieldservicelist!=null && customfieldservicelist!=undefined  && customfieldservicelist.fields.length>0">
<p-accordion [multiple]='true'>
<p-accordionTab header='CustomField'  [selected]='false'>
<div class="sticky" *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined   &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))" >Custom Fields</div>
<div  class="form-group row" *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined   &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))">
<dynamic-form-builder [customfields]="customfieldservicelist" #customform></dynamic-form-builder>
</div>
</p-accordionTab>
</p-accordion>
</div>
<div  class='full-width'  *ngIf="attachmentvisible">
<p-accordion [multiple]='true'>
<p-accordionTab header='Attachment'  [selected]='false'>
<app-attachment #fileattachment  isAttachment=true  formControlName="attachment" [SessionData]="sessiondata"></app-attachment>
</p-accordionTab>
</p-accordion>
</div>
</ng-template>
</ngb-tab>
<ngb-tab>
<ng-template ngbTabTitle>
<div (click)="ToolBar(false)">Supplier Item Features</div>
</ng-template>
<ng-template ngbTabContent>
<p-accordion  [multiple]='true'>
  <!-- child table erpsupplieritemfeatures-->
<div [ngClass]="IserpsupplieritemfeaturesVisible()">
<!--End-->
<h4  class="form-group sticky1  columns left">{{'Supplier Item Features' | translate}}
<select class='child'  id="erpsupplieritemfeaturesPagingdropdown" (change)="erpsupplieritemfeaturesPaging($event.target.value)" [value]='20'>
<option value='20'>20</option>
<option value='50'>50</option>
<option value='100'>100</option>
</select>
<div   class="right" role="toolbar" aria-label="Toolbar with button groups"> <!--btn-toolbar-->
    <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class='nav-link dropdown-toggle btn-success' (click)='erpsupplieritemfeaturetoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'></a>
            <div class='dropdown-menu' style='display:block' *ngIf='this.erpsupplieritemfeatureshowOption'>
      <a  class="dropdown-item"  [routerLink]='' (click)="erpsupplieritemfeaturetoggleOption();erpsupplieritemfeaturesroute(null, 'create')" ><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a>
              <div class='dropdown-divider'></div>
      <a class="dropdown-item" [routerLink]=''  (click)="erpsupplieritemfeaturetoggleOption();showerpsupplieritemfeaturesFilter()" ><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Filter</a>
      <a class="dropdown-item" [routerLink]='' ><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Mail</a>
    </div>
    </div>
  </div>
</h4>
<ng2-smart-table  #tblerpsupplieritemfeaturessource (userRowSelect)="handleerpsupplieritemfeaturesGridSelected($event)" [settings]="erpsupplieritemfeaturessettings" (custom)="onCustomerpsupplieritemfeaturesAction($event)" [source]="erpsupplieritemfeaturessource"  (delete)="erpsupplieritemfeaturesroute($event,'delete')"  (deleteConfirm)="erpsupplieritemfeaturesroute($event,'delete')" (create)="erpsupplieritemfeaturesroute($event,'create')"   (createConfirm)="erpsupplieritemfeaturesbeforesave($event)"  (edit)="erpsupplieritemfeaturesroute($event,'edit')"  (editConfirm)="erpsupplieritemfeaturesbeforesave($event)"    >
</ng2-smart-table>
</div>
  <!--End of child table erpsupplieritemfeatures-->
</p-accordion>
</ng-template>
</ngb-tab>
<ngb-tab>
<ng-template ngbTabTitle>
<div (click)="ToolBar(false)">Payment Terms</div>
</ng-template>
<ng-template ngbTabContent>
<p-accordion  [multiple]='true'>
  <!-- child table erpsupplierpaymentterms-->
<div [ngClass]="IserpsupplierpaymenttermsVisible()">
<!--End-->
<h4  class="form-group sticky1  columns left">{{'Payment Terms' | translate}}
<select class='child'  id="erpsupplierpaymenttermsPagingdropdown" (change)="erpsupplierpaymenttermsPaging($event.target.value)" [value]='20'>
<option value='20'>20</option>
<option value='50'>50</option>
<option value='100'>100</option>
</select>
<div   class="right" role="toolbar" aria-label="Toolbar with button groups"> <!--btn-toolbar-->
    <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class='nav-link dropdown-toggle btn-success' (click)='erpsupplierpaymenttermtoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'></a>
            <div class='dropdown-menu' style='display:block' *ngIf='this.erpsupplierpaymenttermshowOption'>
      <a  class="dropdown-item"  [routerLink]='' (click)="erpsupplierpaymenttermtoggleOption();erpsupplierpaymenttermsroute(null, 'create')" ><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a>
              <div class='dropdown-divider'></div>
      <a class="dropdown-item" [routerLink]=''  (click)="erpsupplierpaymenttermtoggleOption();showerpsupplierpaymenttermsFilter()" ><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Filter</a>
      <a class="dropdown-item" [routerLink]='' ><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Mail</a>
    </div>
    </div>
  </div>
</h4>
<ng2-smart-table  #tblerpsupplierpaymenttermssource (userRowSelect)="handleerpsupplierpaymenttermsGridSelected($event)" [settings]="erpsupplierpaymenttermssettings" (custom)="onCustomerpsupplierpaymenttermsAction($event)" [source]="erpsupplierpaymenttermssource"  (delete)="erpsupplierpaymenttermsroute($event,'delete')"  (deleteConfirm)="erpsupplierpaymenttermsroute($event,'delete')" (create)="erpsupplierpaymenttermsroute($event,'create')"   (createConfirm)="erpsupplierpaymenttermsbeforesave($event)"  (edit)="erpsupplierpaymenttermsroute($event,'edit')"  (editConfirm)="erpsupplierpaymenttermsbeforesave($event)"    >
</ng2-smart-table>
</div>
  <!--End of child table erpsupplierpaymentterms-->
</p-accordion>
</ng-template></ngb-tab>
</ngb-tabset>
  </div>
</form>
