<div class="startpagecontent">
  <div class="main-contentainer">

    <div class="inline-curve">
      <h4>Welcome...</h4>
      <h6>MySkillsTree</h6>
      <label>Hi, <span class="applicant-name-label">{{loginUser}}</span></label>
      <!-- <label class="applicant-name-label"></label> -->
      <p style="margin-left: 1rem;">Kindly Provide Your Personal Details <i class="fa fa-arrow-circle-right"
          aria-hidden="true" style="margin-left: 1rem;"></i></p>
      <img src="assets/newstartup/infography_personal.png" alt="" style="margin: 7%;width: 86%;">
    </div>

    <div class="outline-curve">
      <div class="extra-header-box"></div>
      <div class="header-bar">
        <h6>Add Personal Details</h6>
      </div>

      <form [formGroup]="mstapplicantmaster_Form" (ngSubmit)="onSubmit()">
        <div class="row applicant-form">

          <div class="col-4">
            <label for="applicanttype" class="control-label required">Type</label>
            <select id="applicanttype" required (change)="applicanttype_onChange($event.target)"
              formControlName="applicanttype" class="form-control">
              <option [ngValue]="null" selected>-Select-</option>
              <option *ngFor="let item of applicanttype_List" value="{{item.value}}">{{item.label}}</option>
            </select>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12">
            <label class="control-label required">First Name</label>
            <input id="firstname" formControlName="firstname" class="form-control">
          </div>

          <div class="col-4">
            <label for="lastname" class="control-label required">Last Name</label>
            <input id="lastname" formControlName="lastname" class="form-control">
          </div>

          <div class="col-4">
            <label for="gender" class="control-label">Gender</label>
            <select id="gender" (change)="gender_onChange($event.target)" formControlName="gender" class="form-control">
              <option [ngValue]="null" selected>-Select-</option>
              <option *ngFor="let item of gender_List" value="{{item.value}}">{{item.label}}</option>
            </select>
          </div>

          <div class="col-4">
            <label for="emailid" class="control-label required">Email</label>
            <input type="email" [email]="true" id="emailid" formControlName="emailid" class="form-control">
          </div>

          <div class="col-4">
            <label for="mobilenumber" class="control-label required">Mobile Number</label>
            <int-phone-prefix id="mobilenumber" required formControlName="mobilenumber" [locale]="'en'"
              class="form-control telephone">
            </int-phone-prefix>
          </div>

          <div class="col-4">
            <label for="dob" class="control-label">Date Of Birth</label>
            <div style="display: flex;">
              <input #dobformpicker="ngbDatepicker" [minDate]="{year: 1950, month: 1, day: 1}" [maxDate]="maxDate"
                ngbDatepicker name="dobformpicker" id="dob" formControlName="dob" class="form-control">
              <button class="input-group-addon personal-calender" (click)="dobformpicker.toggle()" type="button"><i class="fa fa-calendar"
                  aria-hidden="true"></i></button>
            </div>
          </div>

          <div class="col-4">
            <label for="emailid" class="control-label required">Recovery Email</label>
            <input type="email" [email]="true" id="recoveryemailid" formControlName="recoveryemailid" class="form-control">
          </div>

          <div class="col-4">

          </div>

          <div class="col-4">
            <label for="address1" class="control-label">Address 1</label>
            <input id="address1" formControlName="address1" class="form-control">
          </div>

          <div class="col-4">
            <label for="address2" class="control-label">Address 2</label>
            <input id="address2" formControlName="address2" class="form-control">
          </div>

          <div class="col-4">
            <label for="address3" class="control-label">Address 3</label>
            <input id="address3" formControlName="address3" class="form-control">
          </div>

          <div class="col-4">
            <label for="address3" class="control-label">Country</label>

            <app-popupselect [formControl]="mstapplicantmaster_Form.controls['country']" [options]="country_List"
              [optionsEvent]="country_optionsEvent" [form]="bocountry" (selectItem)="onSelected_country($event)"
              [reportid]='wc9rn' [menuid]='wc9rn' formControlName="country" id="value" desc="label"></app-popupselect>
          </div>

          <div class="col-4">
            <label for="state" class="control-label">State</label>

            <app-popupselect [formControl]="mstapplicantmaster_Form.controls['state']" [options]="state_List"
              [optionsEvent]="state_optionsEvent" [form]="bostate" (selectItem)="onSelected_state($event)"
              [reportid]='tyo5r' [menuid]='tyo5r' formControlName="state" id="value" desc="label"></app-popupselect>
          </div>

          <div class="col-4">
            <label for="city" class="control-label">City</label>

            <app-popupselect [formControl]="mstapplicantmaster_Form.controls['city']" [options]="city_List"
              [optionsEvent]="city_optionsEvent" [form]="bocity" (selectItem)="onSelected_city($event)"
              [reportid]='kbg3n' [menuid]='kbg3n' formControlName="city" id="value" desc="label"></app-popupselect>
          </div>

          <div class="col-4">
            <label for="zipcode" class="control-label">Zip Code</label>
            <input id="zipcode" formControlName="zipcode" class="form-control">
          </div>

          <div class="col-4">
            <!-- <label for="profilephoto" class="control-label">Photo</label> -->
            <div  style="display: flex;align-items: center;justify-content: end;">
            <app-attachment #profilephoto formControlName="profilephoto" [showremove]='bmyrecord'
            [SessionData]="sessionData"  ></app-attachment>
          </div>
          </div>
          <div class="col-4"></div>
          <br>

          <div class="col-6">
            <label for="briefintroduction" class="control-label">Brief Introduction</label>
            <textarea autosize onlyGrow="true" id="briefintroduction"
            formControlName="briefintroduction" class="form-control" style="height: 50px !important;"></textarea>
          </div>

          <div class="col-6">
            <label for="statuscrimp" class="control-label">Status Crimp</label>
            <textarea autosize onlyGrow="true" id="statuscrimp"
            formControlName="statuscrimp" class="form-control" style="height: 50px !important;"></textarea>
          </div>


          <div class="col-12 button-css">
            <button type="submit">Add Skills</button>
            <img src="assets/newstartup/next_button.png" alt="" (click)="addskill()">
          </div>

        </div>
      </form>
      <div class="extra-box"></div>
      <div class="extra-box-overlap"></div>
      <div class="extra-right-box"></div>
      <div class="extra-right-box-overlap"></div>
    </div>
  </div>
</div>