.startpagecontent {
  // margin-top: 50px;
}
.main-contentainer {
  width: 100%;
  height: 100vh;
}

.inline-curve {
  width: 25%;
  height: 100%;
  float: left;
  background-color: #cbf29f;
  border-top-right-radius: 320px 220px;

  h4 {
    padding-left: 15px !important;
    padding-top: 25px !important;
    color: rgb(135, 22, 22);
    font-size: 25px;
  }
  h6 {
    padding-left: 40px !important;
    color: rgb(135, 22, 22);
    font-size: 20px;
  }
  label {
    margin-left: 1rem;
    font-size: 25px;
    color: var(--blue);
  }
  .applicant-name-label {
    padding: 13px;
    color: rgb(135, 22, 22);
    font-weight: 600;
  }
  p {
    margin-left: 1rem;
  }
}

.outline-curve {
  width: 75%;
  height: 100%;
  float: left;
  form {
    margin: 1rem;
  }
  .header-bar {
    height: 35px;
    background-color: #cbf29f;
    border-bottom-left-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    h6 {
      color: #871616;
      font-weight: 600;
    }
  }
}

.applicant-form {
  margin: 10px;
  label {
    font-size: 12px;
    margin-bottom: 0px;
  }
  select {
    font-size: 11px;
  }
}

.button-css {
  text-align: end;
  margin-top: 10px;
  button {
    border: 0px;
    margin-left: 10px;
    background-color: rgb(135, 22, 22);
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 0px #000;
  }
}

.extra-header-box {
  height: 50px;
  width: 100px;
  background-color: var(--white);
  position: fixed;
  border-top-right-radius: 543px 292px;
}

.extra-box {
  width: 200px;
  height: 100px;
  background-color: #cbf29f;
  position: fixed;
  bottom: 0;
}

.extra-box-overlap {
  height: 100px;
  width: 200px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  border-bottom-left-radius: 100%;
}

.extra-right-box {
  width: 200px;
  height: 100px;
  background-color: #cbf29f;
  position: fixed;
  bottom: 0;
  right: 0;
}

.extra-right-box-overlap {
  height: 100px;
  width: 200px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 100%;
}
.personal-calender {
  position: absolute;
  right: 20px;
  bottom: 3px;
  border: none;
  background-color: transparent;
  color: #871616;
}

.telephone {
  div {
    input {
      height: 32px;
      border: none !important;
    }
  }
}
