/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import 'var.scss';
@import 'theme.scss';
@import '../../../node_modules/primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';

@import 'layout-light.css';
@import 'theme-light.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins';
}

.nav-tabs .nav-item a.active.after {
  border-left: 21px solid #007acc !important;
}

.nav-tabs .nav-item a {
  background: #efefef !important;
  display: inline-block !important;
  margin-right: 5px !important;
  min-width: 150px !important;
  outline: none !important;
  padding: 5px 40px 10px !important;
  position: relative !important;
  text-decoration: none !important;
}

.nav-tabs .nav-item a:before {
  margin: 0px !important;
  padding: 0px !important;
  height: 42px !important;
  border-top: 20px inset transparent !important;
  border-bottom: 20px inset transparent !important;
  border-left: 20px solid #fff !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;

  border: none !important;
  background-color: #efefef !important;
}

.nav-tabs .nav-item a:before {
  border: none !important;
  background-color: #efefef !important;
}

.nav-tabs .nav-item a:after {
  height: 42px !important;
  margin: 0px !important;
  padding: 0px !important;
  border-top: 20px inset transparent !important;
  border-bottom: 20px inset transparent !important;
  border-left: 20px solid #efefef !important;
  position: absolute !important;
  content: '' !important;
  top: 0 !important;
  right: -20px !important;
  z-index: 2 !important;
}

.nav-tabs .nav-item a.active:after {
  border-left-color: #6b431d !important;
}

.nav-tabs {
  background-color: #efefef !important;
}

.nav-tabs .nav-item a.active:first-child:before,
.nav-tabs .nav-item a:first-child:before {
  border: none !important;
}

.nav-tabs .nav-item .active {
  background: #6b431d !important;
  color: #fff !important;
}

.control-label {
  font-weight: bold !important;
}

.badge {
  padding: 0.5em 2em 0.5em 2em !important;
  border-radius: 1rem !important;
}

.p-datatable-thead {
  line-height: 3 !important;
  font-size: large !important;
}

.p-datatable-hoverable-rows .p-selectable-row {
  line-height: 2.5 !important;
}

.nav-pills {
  flex-wrap: nowrap !important;
}

.actionheader,
.second {
  position: relative !important;
  display: flex !important;
  flex-wrap: nowrap !important;
  align-items: stretch !important;
  margin: 2px;
}

.alert-success,
.alert-primary,
.alert-danger {
  width: auto !important;
  white-space: nowrap;
}
.wizard-button{
line-height: 1;
color: #fff !important;
border: none !important;
border-radius: 6px;
height: 30px;
padding: 5px 10px !important;
background: #6b431d !important;
font-size: 12px;
}

input[type='checkbox'] {
  margin-left: 20px !important;
  vertical-align: middle !important;
}

ng2-smart-table table thead {
  height: max-content;
  padding: 10px;
  background-color: var(--backcolor);
  color: var(--frontcolor);
  font-size: large;
}

.basecolor,
input[type='file'] {
  background-color: var(--backcolor) !important;
  color: var(--frontcolor) !important;
}

.badgebutton {
  border-radius: 0 !important;
}

.ng2-smart-row {
  td {
    padding: 0 !important;
  }
}

ngb-datepicker {
  overflow: hidden !important;
}

.p-sidebar-content {
  width: 90%;
  overflow-y: scroll !important;
  max-height: 450px;
}

.htmldata {
  display: flex;
}

.p-sidebar-content {
  background-color: #ebf3fc;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  position: fixed !important;
  right: 10rem !important;
  background-color: #fff;
  box-shadow: 1px 1px 5px 0px #b9afaf;
}

.ql-syntax {
  white-space: break-spaces;
}

.notification-message {
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  white-space: break-spaces;
}

.card1 p,
.card1 .profile__section__item__sub,
.card1 * {
  white-space: break-spaces;
}

.ng2-smart-action i {
  font-size: 1.25em !important;
  padding: 2px;
  // color: black !important; -- don't add color
}

.form-control,
.columnchk {
  min-width: 100%;
}

.notification {
  border: gray;
  border-style: solid;
  border-radius: 1em;
  border-width: thin;
  background-color: var(--frontcolor);
}

p-multiselect {
  padding: 0px !important;
}

.p-sidebar {
  top: 40px;
  right: 200px;
}

.backcolor {
  color: var(--backcolor) !important;
}

.designrow .smart-table-container {
  border-color: #4e2727 !important;
  border-style: solid !important;
  border-width: thin !important;
}

ng2-smart-table table {
  width: 100% !important;
}

.designrow .smart-table-container .sticky1 {
  color: #000 !important;
}

.p-submenu-list .p-menuitem-link {
  color: var(--frontcolor) !important;
}

.designrow .smart-table-container ng2-smart-table table tbody tr {
  border-bottom-color: #4e2727 !important;
  border-bottom-style: solid;
  border-bottom-width: thin !important;
}

p-editor {
  width: 100% !important; //1500px
}

dynamic-form-builder {
  width: 100% !important;
}

p-multiselect {
  padding: 0 !important;
  border: 0 !important;
}

.p-multiselect {
  width: 100%;
  line-height: 2.5;
}

* {
  box-sizing: border-box;
}

.p-dialog {
  max-height: 100% !important;
}

h1 a {
  font-weight: 700;
  margin-right: 17rem;
}

a + a {
  margin-left: 10px;
}

.alert-primary,
.alert-info,
.alert-action,
.btn-success {
  line-height: 1;
  color: #fff !important;
  border: none !important;
  border-radius: 6px;
  height: 22px;
  padding: 5px 10px !important;
  background: #6b431d !important;
  font-size: 12px;
}

.alert-primary:hover {
  line-height: 1;
  color: #fff !important;
  border: none !important;
  border-radius: 6px;
  padding: 5px 10px !important;
  height: 22px;
  background: #744921 !important;
  text-decoration: none;
}

.alert-success {
  line-height: 1;
  color: #fff !important;
  border: none !important;
  border-radius: 6px;
  height: 22px;
  padding: 5px 10px !important;
  background: #6b431d !important;
  font-size: 12px;
}

.alert-success:hover {
  line-height: 1;
  color: #fff !important;
  border: none !important;
  border-radius: 6px;
  padding: 5px 10px !important;
  height: 22px;
  background: #744921 !important;
  text-decoration: none;
}
.alert-danger {
  line-height: 1;
  color: #fff !important;
  border: none !important;
  border-radius: 6px;
  height: 22px;
  padding: 5px 10px !important;
  background: red !important;
  font-size: 12px;
}
.alert-danger:hover {
  line-height: 1;
  color: #fff !important;
  border: none !important;
  border-radius: 6px;
  height: 22px;
  padding: 5px 10px !important;
  background: red !important;
  text-decoration: none;
}

.layout-topbar-logo {
  margin-top: 20px;
}

.p-menuitem-text {
  padding: 2px;
  line-height: 1.5 !important;
  color: #fff !important;
}

li a .p-menuitem-text {
  padding-right: 30px !important;
  font-size: large;
}

.notification-message {
  border: radius 5px;

  & p {
    line-height: 1 !important;
    margin-bottom: 0 !important;
  }
}

.nav-item {
  font-size: medium;
}

.layout-topbar-item {
  font-size: medium;
}

.p-submenu-list {
  background-color: var(--frontcolor);
  width: max-content !important;
  border-style: double;
  padding: 5px !important;
  background-color: aliceblue;
  color: #fff !important;
}

.profile__section__item__sub {
  color: #242120 !important;
}

p-toastitem {
  width: max-content;
}

.p-toast-bottom-right {
  right: 0px !important;
  width: 100% !important;
}

.p-toast-message {
  overflow: visible !important;
  background-color: var(--backcolor) !important;
  color: #484545 !important;
  font-size: large !important;
  width: 50%;
  text-align: center !important;
  margin: auto !important;
  margin-bottom: 34rem !important;
  background-color: #ebf3fc !important;
}

.p-toast-detail span::before {
  content: '\A';
  white-space: pre;
}

p {
  white-space: pre-line;
}

.p-panelmenu {
  display: flex !important;
  flex-wrap: wrap !important;
}

.p-megamenu-panel {
  background-color: var(--frontcolor);
  border-style: double;
  width: max-content !important;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 2px !important;
  height: 0.7em !important;
  color: rgb(71, 33, 33) !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(71, 33, 33) !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

::-webkit-scrollbar-thumb {
  outline: 1px solid var(--backcolor) !important;
  background-color: rgb(71, 33, 33) !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link-next .ng2-smart-pagination {
  font-size: 14px !important;
  margin-left: 10px !important;
}

.page-link {
  font-size: 14px !important;
}

.dropdown-toggle {
  margin: 20px !important;
}

.dropdown-menu {
  padding: 0 !important;
  margin: 0 !important;
  padding-bottom: 20px !important;
  padding-top: 10px !important;
}

.badgebutton {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.hide {
  display: none !important;
}

.ng2-smart-actions {
  max-width: 100px !important;
  width: 100px !important;
}

.ng2-smart-actions .ng2-smart-title {
  display: unset !important;
  font-size: 13px !important;
}

// .ng2-smart-actions .ng2-smart-title {
//   display: none !important;
// }

td {
  white-space: nowrap;
}

p-radiobutton {
  vertical-align: top !important;
  padding: 2px;
}

.p-dynamic-dialog {
  width: 80% !important;
}

ngx-reportviewer {
  min-width: 100% !important; //1500px
  min-height: 100% !important; //1500px
}

/* headers grid color*/

ng2-smart-table {
  text-align: left;
}
ng2-smart-table thead > tr > th {
  text-align: left;
}

/*font size*/
ng2-smart-table {
  font-size: 16px !important;
}

.p-datatable-tbody td {
  white-space: break-spaces !important;
  word-break: break-word !important;
}

.menuactions {
  overflow: visible !important;
}

th {
  line-height: normal !important;
}

td ul,
td ul li {
  overflow: visible !important;
}

.padding5 {
  padding: 5px;
}

.large {
  font-size: large;
}

.orangecolor {
  color: orange;
}

.input-group {
  flex-wrap: nowrap !important;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

.dropdown-menu {
  padding: 10px !important;
}

.dropdown-menu.show {
  display: block;
}

.row {
  padding: 0px !important;
  margin: 0px !important;
}

.second {
  padding: 0px !important;
}

.col {
  padding: 5px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
}

div#header {
  margin-top: 1px !important;
  color: gray !important;
}

ngx-reportviewer {
  margin-left: 0px !important;
}

p-table {
  margin-bottom: 0px !important;
}

.layout-topbar-left {
  background-color: transparent !important;
}

#contentArea {
  padding-left: 10px !important;
  padding-right: 5px;
}

#dtopfilter .col input {
  margin-left: 5px;
  width: 80px !important;
}

#dtopfilter .col select,
#dtopfilter .col p-dropdown,
.ui-column-filter {
  margin-left: 5px;
  line-height: 0.5;
}

#dtopfilter .col p-slider {
  margin-left: 5px;
}

.second {
  padding-top: 2px;
  color: #000 !important;
}

.divdashboard {
  padding-top: 2px;
}

.dashboardcard {
  margin: 2px;
  display: block !important;
}

#pk form .input-group {
  padding-bottom: 5px !important;
}

#desc {
  line-height: 0.25rem !important;
}

.nav-pills .nav-item,
.nav-pills .nav-link {
  padding-right: 5px !important;
}

.nav-pills {
  align-items: baseline !important;
}

.labelview {
  color: var(--color2);
  font-weight: bold;
  padding-right: 10px !important;
  padding-left: 5px !important;
}

.frontcolor {
  color: var(--color2);
}

.comment-container {
  color: var(--color2);
  background-color: transparent;
}

.nogap {
  padding: 0px !important;
  margin: 0px !important;
}

.btn-group .dropdown-menu {
  left: -80px !important;
}

.nav-link {
  padding: 0rem 1rem !important;
}

.p-dialog-header {
  display: none !important;
}

h1 a {
  color: gray !important;
}

.tag-wrapper {
  background-color: var(--backcolor);
  color: var(--frontcolor);
  padding-left: 10px;
  padding-right: 10px;
}

.table thead tr {
  background-color: #6b431d !important;
  // color: var(--frontcolor) !important;
  color: white !important;
  border: #6b431d !important;
}

.table td,
.table th {
  padding: 0.6rem !important;
  font-size: small;
  align-items: center !important;
  vertical-align: middle !important;
}
.card * {
  overflow: hidden !important;
}

.card {
  width: 200px !important;
  height: 200px !important;
}

.smart-table-container {
  width: 100%;
  height: max-content;
  border-radius: 8px;
}

p-checkbox {
  padding-right: 10px !important;
}

p {
  line-height: 3em !important;
}

.btn-success {
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--backcolor) !important;
  border-color: var(--frontcolor) !important;
  border-width: 1px !important;
  color: var(--frontcolor) !important;
  border-style: solid !important;
}

div {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#contentArea2 {
  overflow: auto !important;
  position: absolute;
  height: 90% !important;
  width: 98% !important;
  padding-bottom: 50px;
  left: 30px;
}

.tab {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2) !important;
  padding: 5px;
  border-radius: 2px;
  position: relative;
  transition: margin-bottom 225ms;
  margin-bottom: 10px !important;
}

.table-container {
  color: var(--color4) !important;
  background-color: var(--backcolor4) !important;
}

.btn-info {
  color: var(--color4) !important;
  background-color: var(--backcolor4) !important;
  border-color: var(--backcolor3) !important;
}

th select {
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
}

th .p-inputtext {
  margin: 0px !important;
  width: 95px;
  height: 20px;
  display: block;
  margin-top: 6px !important;
  border: none !important;
}

th {
  padding: 0px !important;
  margin: 0px !important;
}

.p-multiselect-label {
  padding: 0px !important;
  margin: 0px !important;
}

.card {
  border-radius: 10px !important;
  margin: 0 0 8px !important;
  transition: box-shadow 83ms;
}

.pi-sort-alt:before {
  content: '\e903 \A \e902';
  font-size: 75%;
}

.pi-sort-amount-up-alt:before {
  content: '\e903';
  font-size: 75%;
}

.pi-sort-amount-down:before {
  content: '\e902';
  font-size: 75%;
}

.ui-datepicker {
  overflow: visible;
  z-index: 999;
}

#header {
  background-color: var(--backcolor);
  padding: 4px !important;
  border-color: var(--frontcolor);
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tfoot > tr > td {
  font-weight: bold;
  font-size: 11px;
}

:host ::ng-deep .ui-table-scrollable-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.my-drop-zone {
  border: none !important;
}

$spacing: 1rem;
$themeColor: #63b8ff;
$backColor: #ddd;
$textShadow: rgba(black, 0.35) 1px 1px 1px;

* {
  box-sizing: border-box;
}

body {
  font-family: Ariel;
  background-color: #e7e7e7;
  color: #555;
  line-height: 1.4;
}

.containerX {
  width: 70%;
  padding: $spacing * 2;
  margin: 100px auto;
  background-color: var(--frontcolor);

  h1 {
    text-align: center;
  }
}

.bars {
  text-align: center;
  margin-top: $spacing * 2;
}

/* Progress Bars */

.progress--bar {
  height: 1.5rem;
  margin: $spacing;
  background-color: $backColor;

  &:after {
    content: '';
    display: block;
    height: 100%;
    background-color: $themeColor;
  }
}

.progress--circle {
  position: relative;
  display: inline-block;
  margin: $spacing;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $backColor;

  &:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--frontcolor);
  }

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $themeColor;
  }
}

.progress__number {
  position: absolute;
  top: 50%;
  width: 100%;
  line-height: 1;
  margin-top: -0.75rem;
  text-align: center;
  font-size: 1.25rem;
  color: #777;
}

.progress--pie {
  &:before {
    display: none;
  }

  .progress__number {
    color: var(--frontcolor);
    text-shadow: $textShadow;
  }
}

$step: 5;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);

@for $i from 0 through $loops {
  .progress--bar.progress--#{$i * $step}:after {
    width: $i * $step * 1%;
  }

  .progress--circle.progress--#{$i * $step}:after {
    @if $i < $half {
      $nextDeg: 90deg+ ($increment * $i);
      background-image: linear-gradient(
          90deg,
          $backColor 50%,
          transparent 50%,
          transparent
        ),
        linear-gradient($nextDeg, $themeColor 50%, $backColor 50%, $backColor);
    } @else {
      $nextDeg: -90deg+ ($increment * ($i - $half));
      background-image: linear-gradient(
          $nextDeg,
          $themeColor 50%,
          transparent 50%,
          transparent
        ),
        linear-gradient(270deg, $themeColor 50%, $backColor 50%, $backColor);
    }
  }
}

.actionheader {
  align-items: stretch !important;
  display: flex;
  flex-wrap: initial;
}

.telephone {
  padding: 0px !important;
  margin: 0px !important;
}

#main-wrapper {
  width: 100% !important; //1500px
}

.hidecontrol tag-input-form {
  display: none;
}

.rightside i {
  color: #3a3a3a !important;
}

.form-control {
  font-size: 100% !important;
  border-radius: 5px !important;
  padding: 10px 14px;
  border: 1px solid #ced4da !important;
}

.form-control:focus {
  border: 1px solid blue;
}

.p-rating {
  display: flex;
}

.limitTextHeight {
  height: 348px !important;
  overflow: hidden;
}

button.btn.btn-primary.btn-sm.readMoreBtn {
  padding: 2px !important;
  margin-left: 80% !important;
}

.smallstar {
  font-weight: 100 !important;
}

.card1 p {
  line-height: 2rem !important;
}

.p-sidebar-content .p-sidebar-close-icon {
  font-size: 20px !important;
  background: red;
  z-index: 1;
  border-radius: 20px;
  color: #fff !important;
}

.p-sidebar-header .p-sidebar-close {
  position: absolute;
  top: 19px;
  left: 38px;
  color: #fff;
  z-index: 1;
  background-color: red;
  border-radius: 50px;
  display: none;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-family: Times; // make sure ★ appears correctly

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      green var(--percent),
      var(--frontcolor) var(--percent)
    );
    font-weight: bolder;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

th {
  font-size: 0.935rem;
  font-weight: 700;
}

.dialogbtn {
  margin: 0px;
  background: #1565c0;
  padding: 0px;
  color: var(--frontcolor);
  border: none;

  display: inline-block;
  font-weight: 400;

  text-align: center;
  vertical-align: middle;

  user-select: none;

  padding: 0.1rem 0.1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.col-lg-null,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.p-sortable-column {
  overflow: wrap;
}

.col-lg-null {
  width: max-content !important;
}

.col-lg-1 {
  max-width: 20px !important;
}

.col-lg-2 {
  max-width: 40px !important;
}

.col-lg-3 {
  max-width: 60px !important;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.table {
  background: var(--frontcolor);
  max-width: 1000px;
  width: 96%;
  border: 1px solid #e6eaee;
  border-radius: 3px;
  margin: 40px auto;
}

.head,
.group {
  height: 40px;
  border-bottom: 1px solid #e6eaee;
}

.head {
  font-size: 12px;
  color: rgba(53, 64, 82, 0.5);
  text-transform: uppercase;
  font-weight: 600;
}

.head-name {
  display: inline-block;
  padding-top: 14px;
  padding-left: 16px;
}

.head-other {
  display: inline-block;
  float: right;
  padding-right: 60px;

  div {
    display: inline-block;
    float: left;
    padding-top: 14px;
    width: 110px;

    &.star {
      width: 40px;
    }
  }
}

.group {
  background: #fafbfc;
  border-bottom: 1px solid #e6eaee;

  img {
    height: 24px;
    margin: 8px 8px 8px 16px;
    border-radius: 12px;
    display: inline-block;
    float: left;
  }

  .group-name {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: #354052;
    line-height: 18px;
    float: left;
    margin-top: 11px;
  }
}

.pipeline {
  height: 48px;
  border-bottom: 1px solid #e6eaee;
  font-weight: 500;

  &:last-child {
    border-bottom: none;
  }

  .pipeline-name {
    display: inline-block;
    padding-top: 15px;
    padding-left: 16px;
  }

  .pipeline-other {
    display: inline-block;
    float: right;
    padding-right: 60px;
    position: relative;

    .pipeline-health,
    .pipeline-branches,
    .pipeline-prs {
      float: left;
      padding-top: 15px;
      width: 110px;

      &.pipeline-health {
        padding-top: 10px;

        svg {
          width: 24px;
        }
      }

      &.pipeline-star {
        width: 40px;

        svg {
          float: right;
        }
      }
    }

    .buttons {
      background: rgba(#fafbfc, 0);
      transition: all 0.1s;
      display: block;
      position: absolute;
      right: 0;
      height: 47px;
      margin: auto; //remove me
      padding-left: 6px;

      &::before {
        width: 144px;
        transition: all 0.1s;
        content: '';
        height: 47px;
        margin-left: -144px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(
          90deg,
          rgba(#fafbfc, 0) 0%,
          #fafbfc 100%
        );
        opacity: 0;
      }

      div {
        display: inline-block;
        float: left;
        transition: all 0.1s;
      }

      a {
        padding: 12px 6px;
        display: inline-block;
        float: left;
        color: #354052;
        text-decoration: none;

        i {
          opacity: 0.5;
          display: block;
        }

        &:hover i {
          opacity: 0.75;
        }
      }

      a.unstarred,
      a.rerun,
      a.run {
        opacity: 0;
        transition: all 0.2s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
    background: #fafbfc;

    .pipeline-other .buttons {
      background: rgba(#fafbfc, 1);

      &::before {
        opacity: 1;
      }

      a.unstarred,
      a.rerun,
      a.run {
        opacity: 1;
      }
    }
  }
}

.more {
  padding-left: 0 !important;
}

.starred {
  .starred {
    color: #f5a623 !important;

    i {
      opacity: 1 !important;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}

.moredrop {
  background: var(--frontcolor) FFF;
  border-radius: 3px;
  width: max-content;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.25);

  position: absolute;

  left: 5px;

  z-index: 99999;

  ul {
    padding: 8px 0;
    display: grid;
    margin: 0;

    li {
      display: block;
      padding: 8px 16px;

      i {
        float: left;
        display: inline-block;
        margin-right: 14px;
        color: #354052;
        opacity: 0.5;
      }

      span {
        float: left;
        display: inline-block;
        line-height: 24px;
        color: #4a4a4a;
      }

      &:hover {
        background: #fafbfc;
        cursor: pointer;

        i {
          opacity: 0.75;
        }
      }
    }
  }
}

white {
  color: white;
}

html,
body {
  height: 110%;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.p-dropdown-panel {
  background-color: var(--frontcolor);
}

.reportheader {
  text-align: left;
}

.ng2-smart-actions,
.ng2-smart-action {
  margin: 0px !important;
  text-align: center;
}

.border {
  border: 1px solid var(--primary);
}

p.small {
  height: 5px;
}

.bluecolor {
  color: var(--blue);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.success {
  color: var(--success);
}

.info {
  color: var(--info);
}

.warning {
  color: var(--warning);
}

.danger {
  color: var(--danger);
}

.light {
  color: var(--light);
}

.dark {
  color: var(--dark);
}

.large {
  font-size: 20px;
}

.teal {
  background-color: teal;
  color: var(--frontcolor);
}

.red {
  background-color: red;
  color: var(--frontcolor);
}

.indigo {
  background-color: violet !important;
  color: black !important;
}

.lighten-2 {
  width: 15px;
  height: 15px;
  margin: 0px;
  padding: 0px;
}

.yellow {
  background-color: yellow;
  color: black !important;
}

.brown {
  background: brown;
  color: var(--frontcolor) !important;
}

.cyan {
  background: cyan !important;
  color: var(--frontcolor) !important;
}

.green {
  background: yellowgreen !important;
  color: var(--frontcolor) !important;
}

.orange {
  background: orange;
  color: var(--frontcolor) !important;
}

.blue {
  background: var(--backcolor) !important;
  color: var(--frontcolor) !important;
}

.pink {
  background-color: pink;
}

.magenta {
  background-color: magenta;
  width: 100%;
  padding: 0;
  margin: 0;
}

.dashboardcard .p-datatable {
  height: 200px !important;
}

.ssgicon {
  font-family: 'ssgicons';
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 118%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.cal-header,
.cal-days {
  background-color: var(--backcolor) !important;
  color: var(--frontcolor) !important;
  opacity: 1;
}

.cal-month-view .cal-cell-row:hover {
  background-color: var(--backcolor3) !important;
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number,
.cal-weekend,
.cal-week-view .cal-header.cal-weekend span {
  color: var(--color3) !important;
}

.cal-week-view .cal-hour-odd,
.cal-day-view .cal-hour:nth-child(odd) {
  background-color: var(--backcolor3) !important;
}

.cal-month-view .cal-cell-row .cal-cell:hover,
.cal-month-view .cal-cell.cal-has-events.cal-open {
  color: var(--color2); //#000;
  background-color: var(--backcolor2) !important; //var(--frontcolor);
}

.cal-day-cell.cal-today {
  color: var(--color1) !important;
}

.cal-week-view .cal-header.cal-today {
  color: var(--color1) !important; //var(--backcolor);
}

.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
  opacity: 0.3;
}

dynamic-form-builder {
  margin-left: 100px !important;
}

/** Gallery 2 css **/

.image-container,
.iv-image {
  position: absolute !important;
  top: 30px !important;
}

.iv-image {
  height: auto !important;
  width: auto !important;
  left: 40px !important;
}

.inline-icon {
  display: table-caption !important;
}

.dropbtn {
  background-color: transparent !important;
}

.folder {
  background-image: url('https://demo.herbie.ai/attachment/MyResources/folder.webp');
  height: 48px;
  width: 48px;
  display: inline-block;
}

.file {
  background-image: url('https://demo.herbie.ai/attachment/MyResources/file.png');
  height: 48px;
  width: 48px;
  display: inline-block;
}

.flagInput .flag {
  background-image: url('https://demo.herbie.ai/attachment/flags_boi3c5.png') !important;
  background: url('https://demo.herbie.ai/attachment/flags_boi3c5.png') !important;
}

.defaultCountry {
  background: url('https://demo.herbie.ai/attachment/flags_boi3c5.png')
    no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.telephone {
  padding: 0px !important;
  margin: 0px !important;
}

.telephone > .form-control {
  border: none !important;
}

.ql-toolbar.ql-snow {
  border: 1px solid #ccc !important;
}

.general,
.starred,
.unstarred {
  color: var(--frontcolor) !important;
}

.cardclass {
  color: var(--color4) !important;
  background-color: var(--backcolor4) !important;
  padding: 5px;
}

.cardtable .icon {
  mix-blend-mode: luminosity !important;
}

.p-panelmenu-header-link {
  background-color: inherit !important; //var(--backcolor)!important;
  color: inherit !important; // var(--frontcolor)!important;
}

.cardrow {
  min-width: 100% !important;
}

.col4 {
  min-width: 33.33% !important;
}

.col6 {
  min-width: 50% !important;
}

.col3 {
  min-width: 25% !important;
}

.nowrap {
  flex-wrap: nowrap !important;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: hidden;
}

.ngb-tp-input-container .btn {
  padding: 0px !important;
  margin: 0px !important;
  font-size: 0.75rem !important;
}

.hrms:before {
  content: '\f0c4';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

p-overlaypanel .p-overlaypanel {
  top: 0px !important;
}

.fullwidth {
  width: 100%;
}

.ng-header {
  height: 40px !important;
}

h1 {
  font-size: 1.25rem !important;
  font-weight: 600 !important;
}

.p-megamenu {
  padding: 0px;
  line-height: 1;
}

.ng-content {
  width: 100%;
  height: 100%;
}

.p-dynamicdialog {
  overflow: hidden !important;
  display: block;
  float: left;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

.p-dynamicdialog {
  top: inherit !important;
  left: inherit !important;
}

badge {
  width: max-content;
  border-radius: 25px;
  padding: 5px;
}

p-accordion {
  width: 100%;
}

.p-dialog {
  opacity: 1;
}

.p-dialog-content,
.p-dynamicdialog {
}

.containerX {
  width: 100% !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.sticky1 {
  display: flex;
}

td {
  vertical-align: text-top;
  font-size: 1em !important;
}

.p-selectbutton,
.p-field-checkbox {
  width: 1000px;
}

.width100 {
  width: 100% !important;
}

.sticky {
  width: 100%;
  height: 30px;
  margin: 0;
  left: 0;
  right: 0;
  top: 0; //
  background-color: var(--backcolor) !important; // #00d977;
  overflow: hidden;
  //background-image: -webkit-gradient(linear, left top, right top, from(#69c), to(#69c))!important;
  color: var(--frontcolor) !important;

  display: block;
  position: sticky;
  position: -webkit-sticky;
  z-index: 5; //5
  //  color: var(--frontcolor);
  padding-left: 20px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 400;

  border: 2px solid transparent;
}

.help-tip {
  z-index: 2 !important;
  right: 18px;
  text-align: center;
  background-color: var(--backcolor) !important;
  color: var(--frontcolor) !important;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
}

.help-tip p {
  z-index: 2 !important;

  display: none;
  // position: absolute;
  color: var(--frontcolor);
  text-align: center;
  background-color: var(--backcolor) !important;
  color: var(--frontcolor) !important;
  top: -20px;
  width: 600px;
  font-size: 14px;
  line-height: 56px;
  cursor: default;
}

.help-tip:before {
  content: '?' !important;
  font-weight: bold !important;
  color: #000 !important;
}

.help-tip:hover p {
  display: block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.cal-month-view .cal-day-number,
.cal-week-view .cal-day-headers {
  opacity: 0.75;
}

.cal-day-view .cal-drag-over .cal-hour-segment,
.cal-day-view .cal-hour-segment:hover,
.cal-week-view .cal-day-headers {
  color: var(--frontcolor) !important;
  background-color: var(--backcolor) !important;
}

.cal-month-view .cal-header .cal-cell {
  color: var(--frontcolor) !important;
  background-color: var(--backcolor) !important;
}

// .comments,
.card {
  color: var(--frontcolor) !important;
  background-color: var(--backcolor) !important;
}

.dashboardcard {
  background-color: var(--backcolor) !important;
  color: var(--frontcolor) !important;
}

tag-input {
  background-color: transparent !important;
  border: 0 !important;
}

.fixedheader {
  position: fixed !important;
  top: 0px !important;
  display: block !important;
}

.ng-footer {
  height: 10px;
  color: var(--menu-bg-color) !important;
  background-color: var(--menu-text-color) !important;
  position: absolute;
  bottom: -10px !important;
}

.p-widget-header {
  background-color: transparent !important;
  border: none !important;
}

tfoot tr td {
  background-color: transparent !important;
  border: none !important;
}

.cardheader {
  background-color: var(--menu-text-color);
  color: var(--menu-bg-color) !important;
  font-weight: 500;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.menu-wrapper {
  margin-top: 2% !important;
  max-width: 16% !important;
  top: 0;
}

th {
  vertical-align: text-top !important;
}

.form-group {
  margin-top: 0%;
}

.btn {
  margin: 2px;
}

.ui-table table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

input[type='checkbox'] {
  height: 15px !important;
}

select {
  padding: 0 10px !important;
  line-height: 30px !important;
}

.search {
  padding-top: 6px;
  padding-left: 2px;
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  //text-align: center;
  pointer-events: none;
  color: #aaa;
}

.dialog {
  background-color: var(--frontcolor);
}

p-dynamicdialog .p-dialog.p-dynamic-dialog.p-component {
  width: 100% !important;
  max-width: 95% !important;
  display: flex !important;
}

.p-dialog {
  background-color: #fff !important; //var(--backcolor)!important;
  color: rgba(0, 0, 0, 0.9) !important; //var(--frontcolor)!important;
}

.p-dialog-titlebar {
  background-color: grey !important;
}

.p-dynamicdialog {
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.p-dialog .p-dialog-titlebar-icon {
  color: #000 !important;
}

.p-dialog .p-dialog-titlebar {
  padding: 0px !important;
}

.p-dynamicdialog {
  top: 0%;
  left: 0%;
  transform: translateX(0%) translateY(0%) !important;
}

.btn {
  i {
    vertical-align: top !important;
  }
}

.sticky1 {
  select {
    margin-left: 5px;
  }
}

.sticky1 {
  margin: 0px !important;
  padding: 2px;
}

.p-treetable table {
  width: max-content !important;
}

.cardtable {
  width: 100% !important; //1500px

  th,
  td {
    padding: 20px;
    vertical-align: top;
  }
}

.smart-table-container {
  overflow-x: auto;
}

ng2-smart-table {
  table {
    overflow: auto !important;
    height: auto !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}

::ng-deep table tr:first-child th {
  position: sticky !important;
  top: -1px;
  z-index: 100;
  background: var(--frontcolor);
  border: 1px solid #dee2e6;
}

label.required::after {
  content: ' *';
  color: red;
}

.nb-theme-default .input-group-addon,
.nb-theme-default .form-control .timepicker {
  border: 0px !important;
}

.timepicker {
  & .btn {
    background: transparent !important;
    border: 0;
  }
}

.timepicker {
  border: none !important;
}

.ngb-tp-input-container {
  & .btn {
    background: transparent;
  }
}

.ngb-tp-hour {
  height: 20px;
}

.ngb-tp-minute {
  height: 20px;
}

.nb-theme-cosmic .input-group-addon,
.nb-theme-cosmic .form-control {
  border: 1px solid var(--frontcolor);

  & .intl-tel-input input {
    border: 2px solid #342e73;
    width: 100%;
    margin: 0px;
  }

  & .ngb-tp {
    border: 2px solid #342e73;
    margin: 0px;
  }
}

table-cell-view-mode div div {
  line-height: 0 !important;
  margin: 0px;
}

table tr td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

p-dynamicdialog {
  top: 0 !important;
}

.menu-wrapper + div {
  margin-top: 2% !important;
}

::-webkit-input-placeholder {
  color: transparent !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: transparent !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent !important;
}

:-ms-input-placeholder {
  color: transparent !important;
}

::-webkit-scrollbar-button:vertical:decrement {
  border-width: 0 7px 14px 7px;
  border-color: transparent transparent #404040 transparent;
}

::-webkit-scrollbar-button:vertical:decrement:hover {
  border-color: transparent transparent #505050 transparent;
}

/* Down */
::-webkit-scrollbar-button:vertical:increment {
  border-width: 14px 7px 0 7px;
  border-color: #404040 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:increment:hover {
  border-color: #505050 transparent transparent transparent;
}

/* Left */
::-webkit-scrollbar-button:horizontal:decrement {
  border-width: 7px 14px 7px 0;
  border-color: transparent #404040 transparent transparent;
}

::-webkit-scrollbar-button:horizontal:decrement:hover {
  border-color: transparent #505050 transparent transparent;
}

/* Right */
::-webkit-scrollbar-button:horizontal:increment {
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent #404040;
}

::-webkit-scrollbar-button:horizontal:increment:hover {
  border-color: transparent transparent transparent #505050;
}

.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.recents,
.p-megamenu {
  border: none !important;
}

.container {
  max-width: 100% !important;
}

#contentAreaLayout {
  position: absolute;
  top: 49px;
  height: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
}

p-dynamicdialog,
.p-dialog {
  bottom: 0;
}

.p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight:hover
  .p-accordion-header-link {
  border-color: transparent;
  background: #6b431d !important;
  color: #fff !important;
}

.p-dialog-content {
  height: 100% !important;
  width: 100% !important;

  overflow-x: auto !important;
  overflow-y: auto !important;
}

.rightside {
  float: right;
  right: 40px !important;
  position: absolute;
}

#contentArea1 //,#reportmaincontent
{
  position: relative;
  height: 93% !important;
  width: 100% !important;
  max-width: 100% !important;
}

.p-datatable-wrapper {
  overflow-x: auto;
  p-paginator {
    position: fixed;
    width: 100%;
    bottom: 20px;
  }
}

.table-container:not(.p-dialog-content .table-container) {
  overflow-x: auto !important;
  overflow-y: auto !important;
  position: absolute !important;
  height: auto !important;
  width: 100% !important;
}

.p-datatable-wrapper table {
  position: relative !important;
}

#contentAreanoscroll {
  position: absolute !important;
  height: 77% !important;
  width: 100% !important;
  max-width: 100% !important;
}

#contentAreascroll {
  position: absolute !important;
  height: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
  overflow-x: auto !important;
  overflow-y: auto !important;
}

#contentArea {
  max-height: 500px !important;
  overflow-x: auto !important;
  overflow-y: auto !important;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  display: none !important;
}

a.dropdown-item {
  display: none;
}

.p-dialog {
  width: auto !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

li.nav-item.dropdown.actionheader {
  display: none !important;
}

.p-rating {
  margin-top: 3px;
}

.p-dialog .p-dialog-content {
  padding: 0.25px 0.25px 24.25px 0.25px !important;
}

.modal-body {
  background-color: #5165ff;
  border-color: #5165ff;
}

.intro-1 {
  font-size: 20px;
}

.close {
  color: #fff;
}

.close:hover {
  color: #fff;
}

.intro-2 {
  font-size: 13px;
}

i.pi.pi-caret-up.fs-large.ng-tns-c186-0 {
  position: fixed;
  z-index: 1;
  font-size: 50px !important;
  top: 19px;
  right: 13%;
  color: #fff !important;
}

pre.ql-syntax {
  color: #000 !important;
  font-family: Arial !important;
}

.common_title_style {
  color: #000;
}

textarea#statuscrimp {
  height: 176px !important;
}

textarea#briefintroduction {
  height: 176px !important;
}

.common_header_clr {
  background: #f5f3e4 !important;
}

.close_common_icon {
  margin: 9px;
  font-size: 23px !important;
  border-radius: 51%;
  position: relative;
  top: 3px !important;
  top: -8px !important;
  cursor: pointer;
  left: 38px;
  background: white !important;
  color: red !important;
  height: 21px;
  border-radius: 50%;
  border-top-left-radius: 84% !important;
  border-top-right-radius: 84% !important;
  border-bottom-left-radius: 84% !important;
  border-bottom-right-radius: 84% !important;
}

.close_common_icon2 {
  background-color: red;
  font-size: 22px !important;
  border-radius: 30%;
  position: relative;
  cursor: pointer;
  left: -5px;
  background: white;
  color: red;
  line-height: 19px !important;
  height: 18px;
  border-radius: 50%;
  border-radius: 81% !important;
  border-top-left-radius: 84% !important;
  border-top-right-radius: 84% !important;
  border-bottom-left-radius: 84% !important;
  border-bottom-right-radius: 84% !important;
}

.common_add_btn {
  border-color: #fff !important;
  color: #fff;
  margin: -40px;
  margin-top: -60px;
}

.p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link {
  background-color: #6b431d !important;
  color: #fff !important;
}

ng2-smart-table-pager {
  margin-left: 40% !important;
}

.common_cls_font {
  font-style: medium !important;
  font-size: 15px;
}

span.p-menuitem-text {
  font-size: initial !important;
}

li.nav-item.actionheader.col {
  display: none !important;
}

li.list-group-item {
  white-space: break-spaces;
  border-bottom: none;
}

span.flag {
  margin-top: 8px !important;
}

a.alert-action {
  display: none !important;
}

.skilldetails_table th p {
  line-height: 17px !important;
}

.geographydetails_table th p {
  line-height: 17px !important;
}

.workdetails_table th p {
  line-height: 17px !important;
}

.educationdetail_table th p {
  line-height: 17px !important;
}

.socialmedia_table th p {
  line-height: 17px !important;
}

.languagedetail_table th p {
  line-height: 17px !important;
}

li.list-group-item.remarks_p p {
  position: relative;
  bottom: 20px;
  left: 8%;
  line-height: 20px !important;
  white-space: break-spaces !important;
  word-break: break-all;
  width: 91%;
}

h1.col-4.columns.mainheader.left.common_popup_title {
  margin-top: 6px;
}

.row.second {
  height: 40px !important;
  margin-top: 1px !important;
  color: gray !important;
}

.notification_icon {
  font-size: 20px !important;
  color: red !important;
  position: relative !important;
  top: 52% !important;
  left: 595px !important;
  z-index: 999 !important;
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  opacity: 0.5;
}

.loader {
  left: 50%;
  margin-left: -4em;
  top: 50% !important;
  left: 50% !important;
  bottom: 50% !important;
  font-size: 10px;
  border: 0.8em solid rgba(218, 219, 223, 1);
  border-left: 0.8em solid #000 !important;
  animation: spin 1.1s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.05em;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

form.finpopup.omega {
  height: 300px !important;
}

i.fa.fa-file-text {
  display: none !important;
}

.alert.alert-success p {
  position: relative;
  bottom: 20px;
  left: 9%;
  line-height: 20px !important;
  white-space: break-spaces !important;
  word-break: break-all;
  width: 91%;
}

label.labelview.alignment_label {
  margin-left: -20px !important;
}

@media only screen and (max-width: 600px) {
  h1 {
    color: white !important;
    white-space: nowrap;
    overflow-x: visible;
    z-index: 999;
    margin-top: 6px;
  }

  .alert.alert-success p {
    position: relative;
    left: 21%;
  }
}

span.p-toast-icon-close-icon.pi.pi-times {
  display: none !important;
}

a#showReadBtn {
  margin: 10px 15px;
}

.showprfl-contents {
  p {
    line-height: 1.5 !important;
    margin: 15px !important;
  }
}

.designrow {
  padding-top: 10px !important;
  padding-bottom: 30px !important;
  width: 100% !important;
}

.close_common_icon2 {
  background-color: red;
  font-size: 22px !important;
  border-radius: 30%;
  position: relative;
  cursor: pointer;
  left: -6px;
  background: white;
  color: red;
  line-height: 33px !important;
  height: 18px;
  border-radius: 50%;
  border-radius: 81% !important;
  border-top-left-radius: 84% !important;
  border-top-right-radius: 84% !important;
  border-bottom-left-radius: 84% !important;
  border-bottom-right-radius: 84% !important;
}

#mstterms {
  background-color: #0368b7 !important;
}

button#checkbutton {
  background: green !important;
  color: white !important;
}

button.alert-danger {
  background-color: red !important;
  color: white !important;
}

#msttext {
  color: aliceblue !important;
}

#mstaccept {
  color: aliceblue !important;
}

.test {
  background-color: #fff;
  color: #000;
  height: 55px;
}

.menu-icon {
  margin-left: 10px;
  font-size: 24px !important;
  margin-top: 6px;
  cursor: pointer;
}

.cancel-button {
  height: 35px;
  width: 85px !important;
  box-shadow: 0px 0px 5px 1px red;
  margin-right: 15px;
  border: 0px solid red !important;
}

.success-button {
  height: 35px;
  width: 85px !important;
  box-shadow: 0px 0px 5px 1px green;
  margin-right: 10px;
  border: 0px solid green !important;
}

.terms_condition {
  overflow-y: scroll;
  height: 300px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  background: #f0f0f0 !important;
  background: #fff !important;
  border: 3px solid #c2bfbf;
}

.closeButton {
  width: 15% !important;
  cursor: pointer;
}

.commonAttachmenticon {
  color: blue !important;
}

.commonDeleteicon {
  color: red !important;
}

.commonEditicon {
  color: green !important;
}

.cardskill {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 160px;
  text-align: center;
  font-family: arial;
}

.skilltitle {
  color: grey;
  font-size: 18px;
}

.newskillbtn {
  border: 0px;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #186ba0;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
}

dynamic-form-builder {
  width: 90% !important;
  margin-left: 0px !important;
}

.common_titles_new {
  color: #000 !important;
}

ng2-smart-table table thead {
  background: #f0f0f0;
  -webkit-box-shadow: none !important;
}

.skill-detailstable {
  -webkit-box-shadow: none !important;
}

.popup-add-button {
  color: #fff !important;
  border: none !important;
  border-radius: 6px;
  padding: 4px 14px !important;
  margin-right: 10px !important;
  background-color: #6b431d !important;
  font-size: 14px;
  height: fit-content;
}

.popup-add-button:hover {
  color: #fff !important;
  border: none !important;
  border-radius: 6px;
  padding: 4px 14px !important;
  margin-right: 10px !important;
  background: #8d6f6f !important;
}
.logo_title {
  cursor: pointer;
  font-size: 20px;
  color: #6b431d;
}

.field-Add-button {
  font-size: 20px !important;
  color: #23902b !important;
  margin-right: 5px !important;
  cursor: pointer !important;
}

.field-close-button {
  font-size: 20px !important;
  color: #ef2626 !important;
  cursor: pointer !important;
}

.field-add-close-button {
  display: flex;
  justify-content: center;
  padding: 15px !important;
}

.field-autocomplete {
  .p-autocomplete {
    ul {
      padding: 0 !important;
      border-color: #cfc8c8 !important;
    }
  }
}

.personal-info-btn-liftRadius {
  background: #584040 !important;
  color: #fff !important;
  text-decoration: none !important;
}

.personal-info-btn-liftRadius:hover {
  background: #8d6f6f !important;
  color: #fff !important;
  text-decoration: none !important;
}

.personal-info-btn {
  background: #584040 !important;
  color: #fff !important;
  text-decoration: none !important;
  margin: 0;
}

.personal-info-btn:hover {
  background: #8d6f6f !important;
  color: #fff !important;
  text-decoration: none !important;
  margin: 0;
}

.personal-info-btn-rightRadius {
  background: #584040 !important;
  color: #fff !important;
  text-decoration: none !important;
  border: none !important;
  box-shadow: 0px 0px 1px gray;
}

.personal-info-btn-rightRadius:hover {
  background: #8d6f6f !important;
  color: #fff !important;
  text-decoration: none !important;
  border: none !important;
  box-shadow: 0px 0px 1px gray;
}

// Sowmiya 19/12/2022

a {
  color: #3a3a3a !important;
  text-decoration: none;
  background-color: transparent;
}

.p-menubar-root-list > .p-menuitem-active > p-menubarsub > .p-submenu-list {
  display: grid !important;
  grid-template-columns: 165px 1fr 1fr !important;
  right: 0px !important;
  height: 270px !important;
}

.second {
  padding-top: 2px;
  color: var(--frontcolor) !important;
}

.card-header {
  background: #ebf3fc !important;
  color: #000;
  border-radius: 5px 5px 0px 0px;
  font-size: 15px;
  font-weight: bold;
  margin: 0 !important;
  height: 40px !important;
}

.applicant-card {
  position: absolute;
  top: 50px;
  left: 20%;
  width: 100% !important;
  max-width: 65%;
  background-color: #fff !important;
}

.tbody-res {
  padding: 0 !important;
}

.adminbgColor {
  background-color: #cbf29f !important;
  margin-top: -2px !important;
}

.applicantbgColor {
  background-color: #ebf3fc !important;
}

.corporatebgColor {
  background-color: #f5f3e4 !important;
  margin-top: -2px !important;
}

.report-coporate-bgColor {
  background-color: #cbf29f !important;
}

.report-admin-bgColor {
  background-color: #f5f3e4 !important;
}

.report-applicant-bgColor {
  background-color: #ebf3fc !important;
}

footer {
  position: fixed !important;
  height: 85px !important;
  bottom: -60px !important;
  width: 100% !important;
  background: #fff !important;
  z-index: 1 !important;
  font-weight: 600;

  .container {
    font-size: 11px !important;
  }
}

.all_rights {
  float: right;
  position: absolute;
  right: 80px;
}

.applicant-menu {
  i {
    color: #186ba0 !important;
  }
}

.corprate-dashboard {
  background-color: #f5f3e4 !important;
}

.applicant-popup-header {
  background-color: #ebf3fc !important;
}

.Skill-attachment {
  width: auto !important;
  margin: 25px !important;
}

.show-Pfl-Hdr-Lbl {
  color: #958a8a !important;
  font-size: 16px !important;
  background-color: #ebf3fc !important;
  font-weight: 600 !important;
  height: auto !important;
  line-height: 2;
}

.form-list {
  .col-3,
  .col-12 {
    margin: 10px;
  }
}

.omega .p-datatable .p-datatable-thead > tr > th,
.omega .p-datatable .p-datatable-tfoot > tr > td {
  background-color: #6b431d !important;
  border-color: #d9d9d9 !important;
  font-size: 15px;
}

.common_title_style {
  background-color: #f5f3e4 !important;
}

.geo-card1 {
  line-height: 1.5 !important;
  margin: 10px;
}

.table-card1,
.skill-card1,
.career-card1,
.project-card1,
.socialmedia-card1,
.achievement-card1,
.language-card1 {
  line-height: 1.5 !important;
  margin: 10px;
}

.popup-comment-header {
  height: 35px;
  background-color: #e9f1fa;
  display: flex;
  justify-content: end;
  align-items: center;
}

.ng-8-smart-actions-title-add {
  .ng2-smart-action {
    display: none !important;
  }
}

.bgcolor {
  background-color: #f5f3e4;
}

.heightbtn {
  line-height: 15px !important;
}

@media only screen and (max-width: 600px) {
  footer {
    height: 35px !important;
    text-align: center;
    bottom: 0px !important;
  }

  .all_rights {
    display: none !important;
  }

  .p-sidebar-content {
    position: fixed !important;
    width: 80% !important;
    right: 2rem !important;
  }

  .mobileView {
    display: none !important;
  }

  .mobilegeogrid {
    display: none !important;
  }

  .mobile_title {
    font-size: 17px !important;
    white-space: nowrap !important;
  }

  .mobile_hide_btn {
    display: none !important;
  }
}

.dashboard-sidebar {
  overflow-y: auto;
  height: 100%;
  max-height: 90%;
  background-color: #fff;
  float: left;
  box-shadow: 0px 0px 10px 0px #e2e0e0;
}

.dashboard-sidebar-content {
  // padding: 1rem;
  // overflow-y: scroll;
  height: 100% !important;
  max-height: 100% !important;

  .form-check {
    font-size: 12px;
    color: #9ba0a5;
    line-height: 1.9;
    padding-left: 2.25rem !important;
  }
}

.main-dash-content {

  .main-data {
    box-shadow: 0px 0px 10px 0px #e2e0e0;
    border-radius: 19px;
    margin: 5px 10px !important;
    padding: 0px 0px 5px 0px !important;
  }
}

.dashboard-card-header {
  background-color: #eaeaea;
  tr,
  th {
    color: #666;
    font-weight: 600;
    font-size: 12px;
    margin: 0;
    padding: 5px !important;
  }
}
.dashboard-table-data {
  tr {
    line-height: 3;
  }
  tr:nth-child(even) {
    background: #f1f1f1;
  }
}

.skill-label {
  label:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.dash_list {
  color: gray;
  margin: 5px;
  padding: 1px;
  border: 1px solid gray;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7rem;

  img {
    width: 15px;
  }

  label {
    font-size: 9px;
    margin: 0 !important;
  }
}

.dashboard-list_data {
  padding: 0 !important;
  background-color: #666666;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  label {
    font-size: 12px;
    font-weight: 600;
    margin: 0 20px !important;
    color: #fff;
  }
}
.sidenav-skill-card {
  border: 0px solid;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px #e2e0e0;
  margin: 15px 0 !important;

  .sidenav-skill-label {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d7ffd7;
    margin: 5px 0px !important;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 0;

    .skill-label {
      label {
        margin: 0 !important;
      }
    }
  }
  .head-label {
    border-top-left-radius: 15px;
    font-weight: 600;
    background-color: #666666;
    font-size: 12px;
    width: 100%;
    border-top-right-radius: 15px;
    padding: 5px 20px;
    color: #fff;
    text-align: center;
    margin: 0;
  }
}

.emp-resp {
  .details-label {
    color: #000;
    font-size: small;
    width: 25%;
    vertical-align: top;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .p-datatable-wrapper table {
    width: auto !important;
  }

  .custom_mobile_view {
    display: none !important;
  }

  .mobile_view_report {
    min-width: auto !important;
  }
  .mobile_close_result {
    left: 50px !important;
    top: 0% !important;
  }
  .reportMobileViewCommon {
    position: relative !important;
    left: 210px !important;
  }
  p-dynamicdialog .p-dialog.p-dynamic-dialog.p-component {
    height: auto !important;
  }
  #contentAreaLayout {
    overflow: hidden !important;
  }
}
.releaseBtn {
  background-color: aliceblue !important;
  border-radius: 5px !important;
  color: #000 !important;
}
.releaseBtn:hover {
  background-color: rgb(25, 133, 228) !important;
  border-radius: 5px !important;
  color: #fff !important;
}
.p-autocomplete-items {
  height: auto !important;
}

.show-Pfl-card {
  border: 1px;
  width: auto !important;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #cbcbcf;
  padding-bottom: 5px;

  .show-prfl-card-hdr {
    padding: 10px !important;
    background-color: #cbf29f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.show-locaion-card {
  border: 1px;
  width: auto !important;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #cbcbcf;
  padding: 10px;
  margin: 1rem 2rem;

  .location-inside-card {
    i {
      margin: 5px 10px;
      color: #8f9b99;
    }
    label {
      margin: 0 5px;
      // color:#8f9b99;
    }
    span {
      color: green;
    }
  }
}
.extra-right-box {
  height: 70px !important;
}
.extra-right-box-overlap {
  height: 70px !important;
}
.dialog-close {
  color: #fff !important;
  border: none !important;
  border-radius: 6px;
  padding: 4px 14px !important;
  margin-right: 10px !important;
  background: #7d3535 !important;
  width: fit-content;
}
.language-data {
  .star {
    color: green;
    font-size: 19px !important;
    vertical-align: middle;
  }
}

.language-action {
  vertical-align: middle !important;
  i {
    margin: 0 6px;
    font-size: 19px;
  }
  .clred {
    background-color: red !important;
  }
}
