<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="legalcommunicationdetailForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Communication Details' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="editlegalcommunicationdetails()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='legalcommunicationdetailtoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.legalcommunicationdetailshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.communicationid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.communicationid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link active"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)"  ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"  >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>


<!--partytype-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('partytype') == -1"  class="col" ><label  for="partytype" class="control-label required" (click)="AddOrEditpartytype(null)" (click)="AddOrEditpartytype(null)">Party Type</label>
      <select  *ngIf="!showview"  id="partytype"  required (change)="partytypeonChange($event.target)" formControlName="partytype"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of partytypeList" value="{{item.masterdataid}}">{{item.masterdatadescription}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.partytype?.value}}</label>
      <app-field-error-display [displayError]="f.partytype.invalid && (f.partytype.touched || isSubmitted)" errorMsg="Enter {{'Party Type' | translate}}">
      </app-field-error-display>
  </div>


<!--partyid-->

  <div   *ngIf="hidelist.indexOf('partyid') == -1"  class="col" ><label  for="partyid" class="control-label required" (click)="AddOrEditpartyid(null)">Party</label>
      <select  *ngIf="!showview"  id="partyid"  required (change)="partyidonChange($event.target)" formControlName="partyid"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of partyidList" value="{{item.partyid}}">{{item.partyname}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.partyid?.value}}</label>
      <app-field-error-display [displayError]="f.partyid.invalid && (f.partyid.touched || isSubmitted)" errorMsg="Enter {{'Party' | translate}}">
      </app-field-error-display>
  </div>
  <div   *ngIf="hidelist.indexOf('caseid') == -1"  class="col " >
<label  for="caseid" class="control-label">Case</label>
      <label *ngIf="showview"     class="labelview">{{f.caseid?.value}}</label>
      <input   *ngIf="!showview"  id="caseid"  formControlName="caseid" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('communicationdate') == -1"  class="col " >
<label  for="communicationdate" class="control-label required">Communication Date</label>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.communicationdate?.value)}}</label>
<div class="input-group" *ngIf="!showview" >
<input #communicationdateformpicker="ngbDatepicker"      ngbDatepicker name="communicationdateformpicker" id="communicationdate"  required formControlName="communicationdate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="communicationdateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
      <app-field-error-display [displayError]="f.communicationdate.invalid && (f.communicationdate.touched|| isSubmitted)" errorMsg="Enter {{'Communication Date' | translate}}">
      </app-field-error-display>
  </div>
</div>


<!--mode-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('mode') == -1"  class="col" ><label  for="mode" class="control-label" (click)="AddOrEditmode(null)" (click)="AddOrEditmode(null)">Mode</label>
      <select  *ngIf="!showview"  id="mode"  (change)="modeonChange($event.target)" formControlName="mode"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of modeList" value="{{item.masterdataid}}">{{item.masterdatadescription}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.mode?.value}}</label>
  </div>


<!--categoryid-->

  <div   *ngIf="hidelist.indexOf('categoryid') == -1"  class="col" ><label  for="categoryid" class="control-label" (click)="AddOrEditcategoryid(null)" (click)="AddOrEditcategoryid(null)">Category</label>
      <select  *ngIf="!showview"  id="categoryid"  (change)="categoryidonChange($event.target)" formControlName="categoryid"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of categoryidList" value="{{item.masterdataid}}">{{item.masterdatadescription}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.categoryid?.value}}</label>
  </div>


<!--documenttypeid-->

  <div   *ngIf="hidelist.indexOf('documenttypeid') == -1"  class="col" ><label  for="documenttypeid" class="control-label" (click)="AddOrEditdocumenttypeid(null)" (click)="AddOrEditdocumenttypeid(null)">Document Type</label>
      <select  *ngIf="!showview"  id="documenttypeid"  (change)="documenttypeidonChange($event.target)" formControlName="documenttypeid"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of documenttypeidList" value="{{item.masterdataid}}">{{item.masterdatadescription}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.documenttypeid?.value}}</label>
  </div>
  <div   *ngIf="hidelist.indexOf('subject') == -1"  class="col " >
<label  for="subject" class="control-label required">Subject</label>
      <label *ngIf="showview"     class="labelview">{{f.subject?.value}}</label>
      <input   *ngIf="!showview"  id="subject"  required formControlName="subject" class="form-control"
        >
      <app-field-error-display [displayError]="f.subject.invalid && (f.subject.touched|| isSubmitted)" errorMsg="Enter {{'Subject' | translate}}">
      </app-field-error-display>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('sender') == -1"  class="col " >
<label  for="sender" class="control-label required">Sender</label>
      <label *ngIf="showview"     class="labelview">{{f.sender?.value}}</label>
      <input   *ngIf="!showview"  id="sender"  required formControlName="sender" class="form-control"
        >
      <app-field-error-display [displayError]="f.sender.invalid && (f.sender.touched|| isSubmitted)" errorMsg="Enter {{'Sender' | translate}}">
      </app-field-error-display>
  </div>
  <div   *ngIf="hidelist.indexOf('addressedto') == -1"  class="col " >
<label  for="addressedto" class="control-label required">Addressed To</label>
      <label *ngIf="showview"     class="labelview">{{f.addressedto?.value}}</label>
      <input   *ngIf="!showview"  id="addressedto"  required formControlName="addressedto" class="form-control"
        >
      <app-field-error-display [displayError]="f.addressedto.invalid && (f.addressedto.touched|| isSubmitted)" errorMsg="Enter {{'Addressed To' | translate}}">
      </app-field-error-display>
  </div>
<div class="col"></div>
<div class="col"></div>
</div><div  class='full-width'  *ngIf="customfieldvisible  && customfieldservicelist!=null && customfieldservicelist!=undefined  && customfieldservicelist.fields.length>0">
<p-accordion [multiple]='true'>
<p-accordionTab header='CustomField'  [selected]='false'>
<div class="sticky" *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined   &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))" >Custom Fields</div>
<div  class="form-group row" *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined   &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))">
<dynamic-form-builder [customfields]="customfieldservicelist" #customform></dynamic-form-builder>
</div>
</p-accordionTab>
</p-accordion>
</div>
<div  class='full-width'  *ngIf="attachmentvisible">
<p-accordion [multiple]='true'>
<p-accordionTab header='Attachment'  [selected]='false'>
<app-attachment #fileattachment  isAttachment=true  formControlName="attachment" [SessionData]="sessiondata"></app-attachment>
</p-accordionTab>
</p-accordion>
</div>
  </div>
</form>
