<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="erpiltdetailForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Details' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="editerpiltdetails()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='erpiltdetailtoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.erpiltdetailshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.iltdetailid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.iltdetailid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>


<!--iltid-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('iltid') == -1"  class="col" ><label  for="iltid" class="control-label" (click)="AddOrEditiltid(null)">I L T</label>
<app-popupselect  *ngIf="!showview"  [options]="iltidList"  [optionsEvent]="iltidoptionsEvent" [form]="erpiltmaster" (selectItem)="onSelectediltid($event)"  [reportid]= 'ywc35' [menuid]='ywc35' formControlName="iltid" id="iltid" desc="ildcode" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"     class="labelview">{{f.iltid?.value}}</label>
  </div>


<!--frombranch-->

  <div   *ngIf="hidelist.indexOf('frombranch') == -1"  class="col" ><label  for="frombranch" class="control-label" (click)="AddOrEditfrombranch(null)">From Branch</label>
<app-popupselect  *ngIf="!showview"  [options]="frombranchList"  [optionsEvent]="frombranchoptionsEvent" [form]="bouserbranchaccess" (selectItem)="onSelectedfrombranch($event)"  [reportid]= 'oxubv' [menuid]='oxubv' formControlName="frombranch" id="branchid" desc="branchname" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"     class="labelview">{{f.frombranch?.value}}</label>
  </div>


<!--frombranchuserid-->

  <div   *ngIf="hidelist.indexOf('frombranchuserid') == -1"  class="col" ><label  for="frombranchuserid" class="control-label" (click)="AddOrEditfrombranchuserid(null)">From Branch User</label>
<app-popupselect  *ngIf="!showview"  [options]="frombranchuseridList"  [optionsEvent]="frombranchuseridoptionsEvent" [form]="bousermaster" (selectItem)="onSelectedfrombranchuserid($event)"  [reportid]= 'e99kq' [menuid]='e99kq' formControlName="frombranchuserid" id="userid" desc="username" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"     class="labelview">{{f.frombranchuserid?.value}}</label>
  </div>


<!--tobranch-->

  <div   *ngIf="hidelist.indexOf('tobranch') == -1"  class="col" ><label  for="tobranch" class="control-label" (click)="AddOrEdittobranch(null)">To Branch</label>
<app-popupselect  *ngIf="!showview"  [options]="tobranchList"  [optionsEvent]="tobranchoptionsEvent" [form]="bouserbranchaccess" (selectItem)="onSelectedtobranch($event)"  [reportid]= 'oxubv' [menuid]='oxubv' formControlName="tobranch" id="branchid" desc="branchname" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"     class="labelview">{{f.tobranch?.value}}</label>
  </div>
</div>


<!--tobranchuserid-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('tobranchuserid') == -1"  class="col" ><label  for="tobranchuserid" class="control-label" (click)="AddOrEdittobranchuserid(null)">To Branch User</label>
<app-popupselect  *ngIf="!showview"  [options]="tobranchuseridList"  [optionsEvent]="tobranchuseridoptionsEvent" [form]="bousermaster" (selectItem)="onSelectedtobranchuserid($event)"  [reportid]= 'e99kq' [menuid]='e99kq' formControlName="tobranchuserid" id="userid" desc="username" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"     class="labelview">{{f.tobranchuserid?.value}}</label>
  </div>


<!--itemid-->

  <div   *ngIf="hidelist.indexOf('itemid') == -1"  class="col" ><label  for="itemid" class="control-label" (click)="AddOrEdititemid(null)">Item</label>
<app-popupselect  *ngIf="!showview"  [options]="itemidList"  [optionsEvent]="itemidoptionsEvent" [form]="erpitemmaster" (selectItem)="onSelecteditemid($event)"  [reportid]= 'cmpvs' [menuid]='cmpvs' formControlName="itemid" id="itemid" desc="itemshortname" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"     class="labelview">{{f.itemid?.value}}</label>
  </div>


<!--uom-->

  <div   *ngIf="hidelist.indexOf('uom') == -1"  class="col" ><label  for="uom" class="control-label">U O M</label>
      <select  *ngIf="!showview"  id="uom"  (change)="uomonChange($event.target)" formControlName="uom"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of uomList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.uom?.value}}</label>
  </div>
  <div   *ngIf="hidelist.indexOf('quantity') == -1"  class="col " >
<label  for="quantity" class="control-label">Quantity</label>
      <label *ngIf="showview"     class="labelview">{{f.quantity?.value}}</label>
      <input   *ngIf="!showview"  id="quantity"  formControlName="quantity" class="form-control"
        >
  </div>
</div>
  </div>
</form>
