<i class="fa fa-step-backward" *ngIf="sourceKey" (click)="nav.back()"></i>
<ngx-spinner></ngx-spinner>
<form [formGroup]="mstjobstatus_Form" (ngSubmit)="onSubmit()" [ngClass]="theme">
  <div class="row second" style="background-color: #f5f3e4;margin: auto;">

    <div class="col-4">
      <h1 class="columns mainheader left">{{'Job Statuses'}}</h1>
    </div>


    <div class='col-5  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->

      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
          <li><a class='alert-info mobileshowview'  [routerLink]='' *ngIf='showview' (click)="edit_mstjobstatuses()"><i
                class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col' *ngIf='maindata==null || maindata==undefined'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li *ngIf='!showview && (maindata==null || maindata==undefined)' class='nav-item dropdown  actionheader'>
            <ul class="nav navbar-nav1">
              <li *ngIf=' (maindata==null || maindata==undefined)' class="dropdown">
                <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                  aria-expanded='false'> <span class='caret'></span>Actions</a>
                <ul class="dropdown-menu">
                  <li><a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i
                        class='fa fa-plus' aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a></li>
                  <li><a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a></li>
                  <li><a class='dropdown-item' [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a></li>

                  <li role="separator" class="divider">
                    <hr>
                  </li>

                  <li><a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-envelope'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a></li>


                </ul>
              </li>
            </ul>
          </li>
          <ng-container *ngFor="let action of mstjobstatus_menuactions">
            <li><a class="alert-action" [routerLink]='' (click)="onChangeAction(action.actionid)"><i class="fa fa-new"
                  aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{action.description}}</a></li>
          </ng-container>
        </ul>
      </div>
    </div>

    <div class="col-3" style="display: flex;align-items: center;">
      <ul style="display: inline-flex; margin: 0 !important;">
        <li class='nav-item actionheader' *ngIf="!showview">
          <a class="alert-success popup-add-button" [routerLink]='' (click)="onSubmitAndWait()" style="width: auto !important;"><i
              class="fa fa-database"></i>
            Submit</a>
          <a class="alert-primary popup-add-button mobileshowview" *ngIf='data.pkcol==null || maindata.ScreenType==null'
            [routerLink]='' (click)="onSubmit()"><i class="fa fa-share-square"></i> Submit & Clear</a>
          <app-action *ngIf="f.viewid.value != null" (afterAction)="afterAction($event)" [menuid]="p_menuid"
            [value]="f.viewid.value" [status]="f.status.value"></app-action>
        </li>
        <li class='nav-item actionheader'
          *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)">
          <a class="alert-danger popup-add-button" [routerLink]='' (click)="onClose()" style="width: auto !important;"><i class="fa fa-close"></i>
            Close</a>
        </li>

      </ul>
    </div>

  </div>



  <div class="container"
    id="{{maindata ==undefined || maindata==null || maindata.ScreenType!=2?'contentAreascroll':'contentArea1'}}">
    <div class="w-5" *ngIf="showFormType=='1'" style="margin-top:10px!important">
      <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
    </div>


    <!--applicantid-->

    <div *ngIf="(viewHtml == '' || !showview)" class="form-group row applicant_view">
      <div
        *ngIf="((hidelist.indexOf('applicantid') == -1) && (applicantidvisible==undefined || applicantidvisible==true))"
        style='' class="col-3 applicantfield"><label for="applicantid" class="control-label"
          (click)="AddOrEdit_applicantid(null)">Applicant</label>
        <app-popupselect *ngIf="!showview" [options]="applicantid_List" [optionsEvent]="applicantid_optionsEvent"
          [form]="mstapplicantmaster" (selectItem)="onSelected_applicantid($event)" [reportid]='MAM' [menuid]='MAM'
          formControlName="applicantid" id="value" desc="label"></app-popupselect>
        <div class="input-group">
        </div>
        <label *ngIf="showview" class="labelview">{{f.applicantiddesc?.value}}</label>
        <!-- <label *ngIf="showview" class="labelview">{{f.applicantiddesc?.value}} &nbsp; {{f.applicantiddesc1?.value}}</label> -->
      </div>


      <!--corporateid-->

      <div
        *ngIf="((hidelist.indexOf('corporateid') == -1) && (corporateidvisible==undefined || corporateidvisible==true))"
        style='' class="col-3 applicantfield"><label for="corporateid" class="control-label"
          (click)="AddOrEdit_corporateid(null)">Corporate</label>
        <input readonly id="corporateiddesc" formControlName="corporateiddesc" class="form-control">
        <label *ngIf="showview" class="labelview">{{f.corporateiddesc?.value}}</label>
      </div>
      <div
        *ngIf="((hidelist.indexOf('viewdatetime') == -1) && (viewdatetimevisible==undefined || viewdatetimevisible==true))"
        style='' class="col-3 applicantfield">
        <label for="viewdatetime" class="control-label">View Date Time</label>
        <label *ngIf="showview" class="labelview">{{ngbDateParserFormatter.format(f.viewdatetime?.value)}}</label>
        <div class="input-group" *ngIf="!showview">
          <input #viewdatetimeformpicker="ngbDatepicker" [minDate]='{year: 2022, month:3, day: 1}'
            [maxDate]='{year: 2050, month:12, day: 31}' ngbDatepicker name="viewdatetimeformpicker" id="viewdatetime"
            formControlName="viewdatetime" class="form-control">
          <button class="input-group-addon" *ngIf="!showview" (click)="viewdatetimeformpicker.toggle()" type="button"><i
              class="fa fa-calendar" aria-hidden="true"></i></button>
        </div>
      </div>
      <div
        *ngIf="((hidelist.indexOf('intereststatus') == -1) && (intereststatusvisible==undefined || intereststatusvisible==true))"
        style='' class="col-3 applicantfield">
        <div class="columnchk">
          <label for="intereststatus" class="control-label">Interest Status</label>
          <label *ngIf="showview" class="labelview">{{f.intereststatus?.value}}</label>
          <input type="checkbox" *ngIf="!showview" id="intereststatus" formControlName="intereststatus" class="">
        </div>
      </div>
    </div>


    <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
      <div *ngIf="((hidelist.indexOf('comments') == -1) && (commentsvisible==undefined || commentsvisible==true))"
        style='width:1500px' class="col-12 ">
        <label for="comments" class="control-label">Message</label>
        <label *ngIf="showview" class="labelview">{{f.comments?.value}}</label>
        <p-editor *ngIf="!showview" id="comments" formControlName="comments" [style]="{  height: '320' }"></p-editor>
      </div>
    </div>

    <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
      <div
        *ngIf="((hidelist.indexOf('allcomments') == -1) && (allcommentsvisible==undefined || allcommentsvisible==true))"
        style='width:1500px' class="col-12 ">
        <label for="allcomments" class="control-label">All Messages</label>
        <label *ngIf="showview" class="labelview">{{f.allcomments?.value}}</label>
        <p-editor *ngIf="!showview" id="allcomments" formControlName="allcomments" [style]="{  height: '320' }">
          <p-header hidden><span class="ql-formats"></span></p-header>
        </p-editor>
      </div>
    </div>


    <!--jobid-->

    <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
      <div *ngIf="((hidelist.indexOf('jobid') == -1) && (jobidvisible==undefined || jobidvisible==true))" style=''
        class="col-3 applicantfield"><label for="jobid" class="control-label"
          (click)="AddOrEdit_jobid(null)">Job</label>
        <input readonly id="jobiddesc" formControlName="jobiddesc" class="form-control">
        <label *ngIf="showview" class="labelview">{{f.jobiddesc?.value}}</label>
      </div>

      <div
        *ngIf="((hidelist.indexOf('hiringstatus') == -1) && (hiringstatusvisible==undefined || hiringstatusvisible==true))"
        style='' class="col-3 applicantfield">
        <div class="columnchk">
          <label for="hiringstatus" class="control-label">Hiring Status</label>
          <label *ngIf="showview" class="labelview">{{f.hiringstatus?.value}}</label>
          <input type="checkbox" *ngIf="!showview" id="hiringstatus" formControlName="hiringstatus" class="">
        </div>
      </div>
      
      <div *ngIf="((hidelist.indexOf('ctcoffered') == -1) && (ctcofferedvisible==undefined || ctcofferedvisible==true))"
        style='' class="col-3 applicantfield">
        <label for="ctcoffered" class="control-label">C T C Offered</label>
        <label *ngIf="showview" class="labelview">{{f.ctcoffered?.value}}</label>
        <input *ngIf="!showview" id="ctcoffered" formControlName="ctcoffered" type="number" class="form-control">
      </div>
      <div class="col"></div>
    </div>
  </div>
</form>
