<i class="fa fa-step-backward" *ngIf="sourceKey" (click)="nav.back()"></i>
<p-blockUI [target]="pnl" [blocked]="blockedDocument"><i class="pi pi-lock" style="font-size: 3rem"></i></p-blockUI>
<form id="frm_bokbtopic" [formGroup]="bokbtopic_Form" (ngSubmit)="onSubmit()" [ngClass]="theme">
  <p-panel #pnl [showHeader]="false">
    <app-title reportcode="663" title="Topics" [f]="f" [data]="data" [maindata]="maindata" [p_menuid]="p_menuid"
      [action]="action" (edit)="edit_bokbtopics()" (first)="first()" (prev)="prev()"
      (onSelectedpk)="onSelectedpk($event)" (next)="next()" (last)="last()" (resetForm)="resetForm()"
      (onSubmit)="onSubmit()" (onDelete)="onDelete()" (onCopy)="onCopy()" (onCopyDetails)="onCopyDetails()"
      (onCopycursive)="onCopyRecursive()" (onClose)="onClose()" (afterAction)="afterAction"
      (onSubmitAndWait)="onSubmitAndWait()" (onChangeAction)="onChangeAction()"></app-title>
    <p-scrollTop></p-scrollTop>
    <p-scrollPanel #panelscroller [style]="maindata?sharedService.dialogScreenSize:sharedService.mainScreenSize"
      styleClass="custom">
      <div class="container1  ui-fluid p-grid"
        id="{{maindata ==undefined || maindata==null || maindata.ScreenType!=2?'contentAreascroll':'contentArea1'}}">
        <div class="w-5" *ngIf="showFormType=='1'" style="margin-top:10px!important">
          <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
        </div>
        <div *ngIf="!showview" id="div_bokbtopics"></div>
        <div *ngIf="showview" id="div_bokbtopics"></div>
        <div *ngIf="(viewHtml != '' && showview)" [innerHTML]='getHtml(viewHtml)'>

        </div>


        <!--kbid-->

        <div *ngIf="hidelist.indexOf('kbid')<0" class=" p-float-label  p-col-12 p-md-3">
          <p-autoComplete forceSelection="true" showClear=true *ngIf="!showview"
            class="p-form-control p-inputtext-sm p-field p-inputwrapper-filled" formControlName="kbid"
            pTooltip="{{'Enter' | translate}} {{'kbid' | translate}}" field="label" [suggestions]="kbid_Suggestions"
            (onSelect)="onSelected_kbid($event)" (completeMethod)="onEntered_kbid($event)" [dropdown]="true">
            <ng-template let-kbid pTemplate="item">
              <div>{{kbid.label}}</div>
            </ng-template>
          </p-autoComplete>
          <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.kbiddesc?.value}}</label>
          <label for="kbid" class="control-label required" (click)="AddOrEdit_kbid(null)">{{'K B' |
            translate}}</label>
          <app-field-error-display [displayError]="f.kbid.errors?.required"
            errorMsg="{{'Enter'| translate}} {{'K B' | translate}}">
          </app-field-error-display>
        </div>
        <div *ngIf="hidelist.indexOf('description')<0" class="  p-float-label  p-col-12 p-md-6">

          <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.description?.value}}</label>
          <input type="text" pInputText *ngIf="!showview" id="description" required
            pTooltip="{{'Enter' | translate}} {{'description' | translate}}" formControlName="description"
            class="  p-form-control p-inputtext-sm p-field">
          <label for="description" class="control-label required">{{'Description' |
            translate}}</label>
          <app-field-error-display [displayError]="f.description.errors?.required"
            errorMsg="{{'Enter'| translate}} {{'Description' | translate}}">
          </app-field-error-display>
        </div>
        <div *ngIf="hidelist.indexOf('sequence')<0" class="p-float-label  p-col-12 p-md-3">

          <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.sequence?.value}}</label>
          <input type="text" pInputText *ngIf="!showview" id="sequence"
            pTooltip="{{'Enter' | translate}} {{'sequence' | translate}}" formControlName="sequence"
            class="  p-form-control p-inputtext-sm p-field">
          <label for="sequence" class="control-label">{{'Sequence' | translate}}</label>
        </div>


        <!--contenttype-->

        <div *ngIf="hidelist.indexOf('contenttype')<0" class=" p-float-label  p-col-12 p-md-3">
          <p-autoComplete forceSelection="true" showClear=true *ngIf="!showview"
            class="p-form-control p-inputtext-sm p-field p-inputwrapper-filled" formControlName="contenttype"
            pTooltip="{{'Enter' | translate}} {{'contenttype' | translate}}" field="label"
            [suggestions]="contenttype_Suggestions" (onSelect)="onSelected_contenttype($event)"
            (completeMethod)="onEntered_contenttype($event)" [dropdown]="true">
            <ng-template let-contenttype pTemplate="item">
              <div>{{contenttype.label}}</div>
            </ng-template>
          </p-autoComplete>
          <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.contenttypedesc?.value}}</label>
          <label for="contenttype" class="control-label required">{{'Content Type' |
            translate}}</label>
          <app-field-error-display [displayError]="f.contenttype.errors?.required"
            errorMsg="{{'Enter'| translate}} {{'Content Type' | translate}}">
          </app-field-error-display>
        </div>
        <div *ngIf="hidelist.indexOf('contenttext')<0" class="  p-col-12 p-md-12">
          <label for="contenttext" class="control-label required">{{'Content' | translate}}</label>

          <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.contenttext?.value}}</label>
          <p-editor *ngIf="!showview" id="contenttext" pTooltip="{{'Enter' | translate}} {{'contenttext' | translate}}"
            formControlName="contenttext" required [style]="{  height: '320' }"></p-editor>
          <app-field-error-display [displayError]="f.contenttext.errors?.required"
            errorMsg="{{'Enter'| translate}} {{'Content' | translate}}">
          </app-field-error-display>
        </div>
        <div *ngIf="hidelist.indexOf('contenturl')<0" class="  p-float-label  p-col-12 p-md-6">

          <label *ngIf="showview"
            class="labelview p-inputwrapper-filled">{{f.contenturl?.value?.length>0?f.contenturl?.value[0]?.name:""}}</label>
          <app-attachment #contenturl class="p-inputwrapper-filled full-width" formControlName="contenturl"
            [showremove]='bmyrecord' [SessionData]="sessionData"></app-attachment>
          <button type="button" class="btn" *ngIf="contenturl?.getAttachmentList()?.length > 0"
            (click)="getcontenturl()">Open File</button>
          <label for="contenturl" class="control-label">{{'Document' | translate}}</label>
          <app-field-error-display [displayError]="f.contenturl.errors?.pattern"
            errorMsg="{{'Document' | translate}} {{'notvalid'| translate}}">
          </app-field-error-display>
        </div>
      </div>
      <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>
    </p-scrollPanel>
  </p-panel>
</form>
