<form [formGroup]="hrmsemployeeskillForm" class="frm" (ngSubmit)="onSubmit()"
  [ngClass]="sessionService.getItem('selected-theme')">
  <div class="row">
    <h1 class="col columns  left"><a class="h1" href='#/home/{{pcurrenturl}}'>H R M S Employee Skills</a></h1>
    <div class="col  sticky1 right" role="toolbar" aria-label="Toolbar with button groups">
      <!--btn-toolbar-->
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn indigo lighten-2" (click)="resetForm()"><i class="fa fa-plus"
            aria-hidden="true"></i></button>
        <button type="button" class="btn blue lighten-2" (click)="onSubmit()"><i class="fa fa-save"
            aria-hidden="true"></i></button>
        <button type="button" class="btn blue lighten-2" (click)="onDelete()"><i class="fa fa-trash"
            aria-hidden="true"></i></button>
        <button type="button" class="btn light-blue lighten-2" (click)="onCopy()"><i class="fa fa-copy"
            aria-hidden="true"></i></button>
        <button type="button" class="dialogbtn"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button type="button" class="dialogbtn"><i class="fa fa-print" aria-hidden="true"></i></button>
        <button type="button" class="dialogbtn"><i class="fa fa-envelope" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <pre><br/></pre>
  <div  class="container"     id="contentArea1"   >
    <div class="form-group row">
      <div class="col"><label for="employeeid" class="control-label"
          (click)="AddOrEditemployeeid(null)">Employee</label>
        <div class="input-group">
          <input id="employeeid" placeholder="" [ngbTypeahead]="employeeid_hrmsemployeesoptions"
            class="form-control autocomplete" (selectItem)="onSelectedemployeeid($event)" formControlName='employeeid'
            [resultFormatter]="employeeid_hrmsemployeesformatter">
          <input readonly id="employeeiddesc" formControlName="employeeiddesc" class="form-control autocompletedesc"
            placeholder="employeeid">
        </div>
      </div>
      <div class="col"><label for="skillcategory" class="control-label" (click)="AddOrEditskillcategory(null)"
          (click)="AddOrEditskillcategory(null)">Skill Category</label>
        <select id="skillcategory" formControlName="skillcategory" class="form-control" placeholder="skillcategory">
          <option value="0">-Select-</option>
          <option *ngFor="let item of skillcategoryList" value="{{item.masterdataid}}">{{item.masterdatadescription}}
          </option>
        </select>
      </div>
      <div class="col">
        <label for="skilldescription" class="control-label">Skill Description</label>
        <input id="skilldescription" formControlName="skilldescription" class="form-control"
          placeholder="skilldescription">
      </div>
      <div class="col">
        <label for="noofyearsused" class="control-label">No Of Years Used</label>
        <input id="noofyearsused" formControlName="noofyearsused" class="form-control" placeholder="noofyearsused">
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="lastusedyear" class="control-label">Last Used Year</label>
        <input id="lastusedyear" formControlName="lastusedyear" class="form-control" placeholder="lastusedyear">
      </div>
      <div class="col"><label for="rating" class="control-label">Rating</label>
        <select id="rating" formControlName="rating" class="form-control" placeholder="rating">
          <option value="0">-Select-</option>
          <option *ngFor="let item of ratingList" value="{{item.configkey}}">{{item.configtext}}</option>
        </select>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="remarks" class="control-label">Remarks</label>
        <textarea autosize MinRows="10" MaxRows="15" onlyGrow="true" id="remarks" formControlName="remarks"
          class="form-control" placeholder="remarks">
</textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="status" class="control-label">Status</label>
        <input type="hidden" id="status" formControlName="status" class="form-control" placeholder="status">
        <input readonly id="statusdesc" formControlName="statusdesc" class="form-control" placeholder="status">
      </div>
      <div class="sticky">Attachments</div>
      <div class="form-group row">
        <ng-container *ngFor="let fld of attachmentfieldjson | keyvalue">
          <a (click)="sharedService.showAttachment($event,fld!.value!.value)" target="_blank">{{fld!.value!.value}} | </a>
        </ng-container>
        <p-fileUpload #fileattachment class="form-control" type="file" name="FileUpload[]" mode="basic" url="{{URL}}"
          (onSelect)="attachmentuploader($event)"></p-fileUpload>
        <ng-container *ngFor="let fld of attachmentlist">
          <div class="col">
            <label class="control-label"></label>
            <p-fileUpload #fileattachment class="form-control" type="file" name="FileUpload[]" url="{{URL}}"
              mode="basic" (onSelect)="attachmentuploader($event)"></p-fileUpload>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <button class="btn btn-info" (click)="onSubmitAndWait()" type="button"><i class="fa fa-database"></i>
          Submit</button>
        <button class="btn btn-info" type="submit"><i class="fa fa-database"></i> Submit & Clear</button>
        <button type="button" *ngIf="data!=undefined && data!=null && (data.ScreenType==1 || data.ScreenType==2)"
          class="btn btn-info"><i class="fa fa-close"></i> Close</button>
      </div>
    </div>
  </div>
</form>