<form class="frm" (ngSubmit)="onSubmit()" [ngClass]="sessionService.getItem('selected-theme')">

  <div class="form-group row">
    <div class="col">
      <div class="dialog">
        <p></p>
        <h1 class="form-group sticky1  columns left">Menu Masters
          <select class='header' id="bomenumastersPagingdropdown" (change)="bomenumastersPaging($event.target.value)"
            [value]='20'>
            <option value='20'>20</option>
            <option value='50'>50</option>
            <option value='100'>100</option>
          </select>
          <div class="right tableheader" role="toolbar" aria-label="Toolbar with button groups">
            <!--btn-toolbar-->
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button type="button" class="btn indigo lighten-2" (click)="showbomenumastersCheckbox()"><i
                  class="fa fa-check" aria-hidden="true"></i></button>
              <button type="button" class="btn blue lighten-2" (click)="deletebomenumastersAll()"><i class="fa fa-trash"
                  aria-hidden="true"></i></button>
              <button type="button" class="btn light-blue lighten-2" (click)="showbomenumastersInActive()"><i
                  class="fa fa-ban" aria-hidden="true"></i></button>
              <button type="button" class="dialogbtn" (click)="bomenumastersroute(null, 'create')"><i
                  class="fa fa-plus" aria-hidden="true"></i></button>
              <button type="button" class="dialogbtn" (click)="showbomenumastersFilter()"><i
                  class="fa fa-filter" aria-hidden="true"></i></button>
              <button type="button" class="dialogbtn"><i class="fa fa-envelope"
                  aria-hidden="true"></i></button>
            </div>
          </div>
        </h1>
          <div  class="table-container"> <ng2-smart-table    #tblbomenumasterssource (userRowSelect)="handlebomenumastersGridSelected($event)"
          [settings]="bomenumasterssettings" [source]="bomenumasterssource"
          (delete)="bomenumastersroute($event,'delete')" (create)="bomenumastersroute($event,'create')"
          (edit)="bomenumastersroute($event,'edit')">
        </ng2-smart-table></div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col">
      <button class="btn btn-info" type="submit"><i class="fa fa-database"></i> Submit</button>
    </div>
  </div>

</form>