<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="erpitembundleForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Item Bundles' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="editerpitembundles()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='erpitembundletoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.erpitembundleshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.bundleid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.bundleid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<ngb-tabset class="tabset1"  [destroyOnHide]="false">
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<ngb-tab>
<ng-template ngbTabTitle>
<div (click)="ToolBar(true)">Master</div>
</ng-template>
<ng-template ngbTabContent>
<p-accordion  [multiple]='true'>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('code') == -1"  class="col " >
<label  for="code" class="control-label required">Code</label>
      <label *ngIf="showview"     class="labelview">{{f.code?.value}}</label>
      <input   *ngIf="!showview"  id="code"  required formControlName="code" class="form-control"
        >
      <app-field-error-display [displayError]="f.code.invalid && (f.code.touched|| isSubmitted)" errorMsg="Enter {{'Code' | translate}}">
      </app-field-error-display>
  </div>
  <div   *ngIf="hidelist.indexOf('description') == -1"  class="col " >
<label  for="description" class="control-label required">Description</label>
      <label *ngIf="showview"     class="labelview">{{f.description?.value}}</label>
      <input   *ngIf="!showview"  id="description"  required formControlName="description" class="form-control"
        >
      <app-field-error-display [displayError]="f.description.invalid && (f.description.touched|| isSubmitted)" errorMsg="Enter {{'Description' | translate}}">
      </app-field-error-display>
  </div>
<div class="col"></div>
<div class="col"></div>
</div></p-accordion>
</ng-template>
</ngb-tab>
<ngb-tab>
<ng-template ngbTabTitle>
<div (click)="ToolBar(false)">Item Bundle Details</div>
</ng-template>
<ng-template ngbTabContent>
<p-accordion  [multiple]='true'>
  <!-- child table erpitembundledetails-->
<div [ngClass]="IserpitembundledetailsVisible()">
<!--End-->
<h4  class="form-group sticky1  columns left">{{'Item Bundle Details' | translate}}
<select class='child'  id="erpitembundledetailsPagingdropdown" (change)="erpitembundledetailsPaging($event.target.value)" [value]='20'>
<option value='20'>20</option>
<option value='50'>50</option>
<option value='100'>100</option>
</select>
<div   class="right" role="toolbar" aria-label="Toolbar with button groups"> <!--btn-toolbar-->
    <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class='nav-link dropdown-toggle btn-success' (click)='erpitembundledetailtoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'></a>
            <div class='dropdown-menu' style='display:block' *ngIf='this.erpitembundledetailshowOption'>
      <a  class="dropdown-item"  [routerLink]='' (click)="erpitembundledetailtoggleOption();erpitembundledetailsroute(null, 'create')" ><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a>
              <div class='dropdown-divider'></div>
      <a class="dropdown-item" [routerLink]=''  (click)="erpitembundledetailtoggleOption();showerpitembundledetailsFilter()" ><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Filter</a>
      <a class="dropdown-item" [routerLink]='' ><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Mail</a>
    </div>
    </div>
  </div>
</h4>
<ng2-smart-table  #tblerpitembundledetailssource (userRowSelect)="handleerpitembundledetailsGridSelected($event)" [settings]="erpitembundledetailssettings" (custom)="onCustomerpitembundledetailsAction($event)" [source]="erpitembundledetailssource"  (delete)="erpitembundledetailsroute($event,'delete')"  (deleteConfirm)="erpitembundledetailsroute($event,'delete')" (create)="erpitembundledetailsroute($event,'create')"   (createConfirm)="erpitembundledetailsbeforesave($event)"  (edit)="erpitembundledetailsroute($event,'edit')"  (editConfirm)="erpitembundledetailsbeforesave($event)"    >
</ng2-smart-table>
</div>
  <!--End of child table erpitembundledetails-->
</p-accordion>
</ng-template></ngb-tab>
</ngb-tabset>
  </div>
</form>
