<div class="dialog">
<form  [formGroup]="hrmsemployeenomineeForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
  <div  *ngIf="!(viewhtml != '' && showview)">
    {{getHtml(viewhtml)}}
  </div>
<div class="container1"   *ngIf="!(viewhtml != '' && showview)">
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
<p-accordion  [multiple]='true'>
<div class="form-group row" >
  <div  class="col "  >
<label (click)="editfield = 'relationship'; "  for="relationship" class="control-label">Relationship</label>
      <input   *ngIf="!showview || editfield=='relationship'"  id="relationship"  formControlName="relationship" class="form-control"
        placeholder="{{'Relationship' | translate}}">
  </div>
  <div  class="col "  >
<label (click)="editfield = 'firstname'; "  for="firstname" class="control-label">First Name</label>
      <input   *ngIf="!showview || editfield=='firstname'"  id="firstname"  formControlName="firstname" class="form-control"
        placeholder="{{'First Name' | translate}}">
  </div>
  <div  class="col "  >
<label (click)="editfield = 'lastname'; "  for="lastname" class="control-label">Last Name</label>
      <input   *ngIf="!showview || editfield=='lastname'"  id="lastname"  formControlName="lastname" class="form-control"
        placeholder="{{'Last Name' | translate}}">
  </div>
  <div  class="col "  >
<label (click)="editfield = 'fromdate'; "  for="fromdate" class="control-label">From Date</label>
<div class="input-group" *ngIf="!showview || editfield=='fromdate'">
<input #fromdateformpicker="ngbDatepicker"      ngbDatepicker name="fromdateformpicker" id="fromdate"  formControlName="fromdate"  class="form-control"   placeholder="Choose From Date">
<button class="input-group-addon"  *ngIf="!showview || editfield=='fromdate'"  (click)="fromdateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
      <label *ngIf="showview && editfield!='fromdate'"  (click)="editfield = 'fromdate';"   class="form-control labelview">{{ngbDateParserFormatter.format(f.fromdate?.value)}}</label>
  </div>
</div>
<div class="form-group row" >
  <div  class="col "  >
<label (click)="editfield = 'todate'; "  for="todate" class="control-label">To Date</label>
<div class="input-group" *ngIf="!showview || editfield=='todate'">
<input #todateformpicker="ngbDatepicker"      ngbDatepicker name="todateformpicker" id="todate"  formControlName="todate"  class="form-control"   placeholder="Choose To Date">
<button class="input-group-addon"  *ngIf="!showview || editfield=='todate'"  (click)="todateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
      <label *ngIf="showview && editfield!='todate'"  (click)="editfield = 'todate';"   class="form-control labelview">{{ngbDateParserFormatter.format(f.todate?.value)}}</label>
  </div>
  <div  class="col "  >
<label (click)="editfield = 'phone'; "  for="phone" class="control-label">Phone</label>
      <input   *ngIf="!showview || editfield=='phone'"  id="phone"  formControlName="phone" class="form-control"
        placeholder="{{'Phone' | translate}}">
  </div>
  <div  class="col "  >
<label (click)="editfield = 'email'; "  for="email" class="control-label">Email</label>
      <input   *ngIf="!showview || editfield=='email'"  id="email"  formControlName="email" class="form-control"
        placeholder="{{'Email' | translate}}">
  </div>
  <div  class="col "  >
<label (click)="editfield = 'details'; "  for="details" class="control-label">Details</label>
      <input   *ngIf="!showview || editfield=='details'"  id="details"  formControlName="details" class="form-control"
        placeholder="{{'Details' | translate}}">
  </div>
</div>


<!--benefittype-->

<div class="form-group row" >
  <div   class="col" ><label (click)="editfield = 'benefittype'; "  for="benefittype" class="control-label">Benefit Type</label>
      <select  *ngIf="!showview"  id="benefittype"  (change)="benefittypeonChange($event.target)" formControlName="benefittype"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of benefittypeList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview  && editfield!='benefittype'"  (click)="editfield = 'benefittype';"  class="form-control labelview">{{f.benefittypedesc?.value}}</label>
  </div>
  <div  class="col "  >
<label (click)="editfield = 'percentshare'; "  for="percentshare" class="control-label">Percent Share</label>
      <input   *ngIf="!showview || editfield=='percentshare'"  id="percentshare"  formControlName="percentshare" class="form-control"
        placeholder="{{'Percent Share' | translate}}">
  </div>


<!--nominationendreason-->

  <div   class="col" ><label (click)="editfield = 'nominationendreason'; "  for="nominationendreason" class="control-label">Reason</label>
      <select  *ngIf="!showview"  id="nominationendreason"  (change)="nominationendreasononChange($event.target)" formControlName="nominationendreason"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of nominationendreasonList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview  && editfield!='nominationendreason'"  (click)="editfield = 'nominationendreason';"  class="form-control labelview">{{f.nominationendreasondesc?.value}}</label>
  </div>
<div class="col"></div>
</div></p-accordion>
<div class="form-group row" *ngIf="!showview">
  <div class="col" >
    <button class="btn btn-info" (click)="onSubmitAndWait()"  type="button" ><i class="fa fa-database"></i> Submit</button>
    <button class="btn btn-info" type="submit" ><i class="fa fa-share-square"></i> Submit & Clear</button>
<app-action *ngIf="f.nomineeid!.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.nomineeid!.value"  [status]="f.status.value"></app-action>
    <button type="button"  (click)="onClose()"  *ngIf="data!=undefined && data!=null && (data.ScreenType==1 || data.ScreenType==2)" class="btn btn-info" ><i class="fa fa-close"></i> Close</button>
  </div>
  </div>
  </div>
</form>
</div>
