@import '../../../@theme/styles/themes';

.container {
  display: flex;
  flex-grow: 1;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.sidebar {
  width: 20% !important;
  height: 100% !important;
  background-color: #f8f9fa;
}

.sidebar-content {
  padding: 1rem;
  .form-check {
    font-size: 12px;
    color: #9ba0a5;
    line-height: 1.9;
    padding-left: 2.25rem !important;
  }
}
@include nb-install-component() {
  ngx-d3-bar,
  ngx-d3-pie,
  ngx-d3-advanced-pie,
  ngx-d3-area-stack,
  ngx-d3-line,
  ngx-d3-polar {
    display: block;
    width: 100%;
    height: nb-theme(card-height-medium);

    ::ng-deep {
      .pie-label {
        fill: nb-theme(color-fg-heading);
      }

      .grid-line-path {
        stroke: nb-theme(separator);
      }

      text {
        fill: nb-theme(color-fg-heading);
      }

      .chart-legend {
        .legend-labels {
          background: nb-theme(color-bg);
        }
        .legend-label {
          color: nb-theme(color-fg-heading);
          .active .legend-label-text {
            color: nb-theme(color-fg-heading);
          }
        }
      }
    }
  }
}
.sidebar {
  width: 20%;
  height: 100%;
  background-color: #f8f9fa;
}

.sidebar-content {
  padding: 1rem;

  .form-check {
    font-size: 12px;
    color: #9ba0a5;
    line-height: 1.9;
    padding-left: 2.25rem !important;
  }
}
