<i class="fa fa-step-backward" *ngIf="sourceKey" (click)="nav.back()"></i>
<ngx-spinner></ngx-spinner>
<form [formGroup]="bouserrolemaster_Form" (ngSubmit)="onSubmit()" [ngClass]="theme">
  <div class="row second bgcolor">
    <h1 class="col-4 columns mainheader left"><a href='#/home/{{p_currenturl}}'>{{'UserRole Masters' | translate}}</a>
    </h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
          <li><a class='alert-info' [routerLink]='' *ngIf='showview' (click)="edit_bouserrolemasters()"><i
                class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col' *ngIf='maindata==null || maindata==undefined'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li *ngIf='!showview && (maindata==null || maindata==undefined)' class='nav-item dropdown  actionheader'>
            <ul class="nav navbar-nav1">
              <li *ngIf=' (maindata==null || maindata==undefined)' class="dropdown">
                <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                  aria-expanded='false'> <span class='caret'></span>Actions</a>
                <ul class="dropdown-menu">
                  <li><a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i
                        class='fa fa-plus' aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a></li>
                  <li><a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a></li>
                  <li><a class='dropdown-item' [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a></li>

                  <li role="separator" class="divider">
                    <hr>
                  </li>

                  <li><a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-envelope'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a></li>


                </ul>
              </li>
            </ul>
          </li>
          <ng-container *ngFor="let action of bouserrolemaster_menuactions">
            <li><a class="alert-action" [routerLink]='' (click)="onChangeAction(action.actionid)"><i class="fa fa-new"
                  aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{action.description}}</a></li>
          </ng-container>
          <li class='nav-item actionheader' *ngIf="!showview">
            <a class="alert-success" [routerLink]='' (click)="onSubmitAndWait()"><i class="fa fa-database"></i>
              Submit</a>
            <a class="alert-primary mobile_view_btn" *ngIf='data.pkcol==null || maindata.ScreenType==null' [routerLink]=''
              (click)="onSubmit()"><i class="fa fa-share-square"></i> Submit & Clear</a>
            <app-action *ngIf="f.userroleid.value != null" (afterAction)="afterAction($event)" [menuid]="p_menuid"
              [value]="f.userroleid.value" [status]="f.status.value"></app-action>
          </li>
          <li class='nav-item actionheader'
            *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)">
            <a class="alert-danger" [routerLink]='' (click)="onClose()"><i class="fa fa-close"></i> Close</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="container"
    id="{{maindata ==undefined || maindata==null || maindata.ScreenType!=2?'contentAreascroll':'contentArea1'}}">
    <div class="w-5" *ngIf="showFormType=='1'" style="margin-top:10px!important">
      <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
    </div>
    <div *ngIf="(viewHtml != '' && showview)" [innerHTML]='getHtml(viewHtml)'>

    </div>
    <ngb-tabset class="tabset1" [destroyOnHide]="false">
      <div *ngIf="(viewHtml != '' && showview)" [innerHTML]='getHtml(viewHtml)'>

      </div>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <div (click)="ToolBar(true)">Master</div>
        </ng-template>
        <ng-template ngbTabContent>
          <p-accordion [multiple]='true'>
            <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
              <div
                *ngIf="((hidelist.indexOf('userrole') == -1) && (userrolevisible==undefined || userrolevisible==true))"
                style='' class="col-3 education_view_mobile">
                <label for="userrole" class="control-label required">User Role</label>
                <label *ngIf="showview" class="labelview">{{f.userrole?.value}}</label>
                <input *ngIf="!showview" id="userrole" required formControlName="userrole" class="form-control">
                <app-field-error-display [displayError]="f.userrole.errors?.required"
                  errorMsg="Enter {{'User Role' | translate}}">
                </app-field-error-display>
              </div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
            </div>
          </p-accordion>
          <p-accordion [multiple]='true'>
            <p-accordionTab header='More Details' [selected]='true'>
              <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
                <div
                  *ngIf="((hidelist.indexOf('additionalnotes') == -1) && (additionalnotesvisible==undefined || additionalnotesvisible==true))"
                  style='width:1500px' class="col-12 ">
                  <label for="additionalnotes" class="control-label">Additional Notes</label>
                  <label *ngIf="showview" class="labelview">{{f.additionalnotes?.value}}</label>
                  <textarea autosize MinRows="10" MaxRows="15" onlyGrow="true" *ngIf="!showview" id="additionalnotes"
                    formControlName="additionalnotes" class="form-control">
</textarea>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <div (click)="ToolBar(false)">UserType MenuAccess</div>
        </ng-template>
        <ng-template ngbTabContent>
          <p-accordion [multiple]='true'>
            <!-- child table bousertypemenuaccesses-->
            <div [ngClass]="Is_bousertypemenuaccesses_Visible()">
              <!--End-->
              <h4 class="form-group sticky1  columns left">{{'UserType MenuAccess' | translate}}
                <select class='child' id="bousertypemenuaccessesPagingdropdown"
                  (change)="bousertypemenuaccesses_Paging($event.target.value)" [value]='20'>
                  <option value='20'>20</option>
                  <option value='50'>50</option>
                  <option value='100'>100</option>
                </select>
                <ul class="nav navbar-nav1" style='display:none'>
                  <li class="dropdown">
                    <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                      aria-expanded='false'> <span class='caret'></span></a>
                    <ul class="dropdown-menu">
                      <li role="separator" class="divider">
                        <hr>
                      </li>
                      <li><a class="dropdown-item" [routerLink]='' (click)="showbousertypemenuaccessesFilter()"><i
                            class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Filter</a></li>
                      <li><a class="dropdown-item" [routerLink]=''><i class="fa fa-envelope"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Mail</a></li>
                    </ul>
                  </li>
                </ul>
              </h4>
              <ng2-smart-table #tbl_bousertypemenuaccesses
                (userRowSelect)="handle_bousertypemenuaccesses_GridSelected($event)"
                [settings]="bousertypemenuaccesses_settings" (custom)="onCustom_bousertypemenuaccesses_Action($event)"
                [source]="tbl_bousertypemenuaccesses?.source?.data">
              </ng2-smart-table>
            </div>
            <!--End of child table bousertypemenuaccesses-->
          </p-accordion>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</form>
