<i class="fa fa-step-backward" *ngIf="sourceKey" (click)="nav.back()"></i>
<ngx-spinner></ngx-spinner>
<form [formGroup]="bomenuaction_Form" (ngSubmit)="onSubmit()" [ngClass]="theme">
  <div class="row second">
    <h1 class="col-4 columns mainheader left">{{'Menu Actions' | translate}}</h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
          <li><a class='alert-info' [routerLink]='' *ngIf='showview' (click)="edit_bomenuactions()"><i
                class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col' *ngIf='maindata==null || maindata==undefined'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li *ngIf='!showview && (maindata==null || maindata==undefined)' class='nav-item dropdown  actionheader'>
            <ul class="nav navbar-nav1">
              <li *ngIf=' (maindata==null || maindata==undefined)' class="dropdown">
                <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                  aria-expanded='false'> <span class='caret'></span>Actions</a>
                <ul class="dropdown-menu">
                  <li><a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i
                        class='fa fa-plus' aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a></li>
                  <li><a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a></li>
                  <li><a class='dropdown-item' [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a></li>

                  <li role="separator" class="divider">
                    <hr>
                  </li>

                  <li><a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-envelope'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a></li>


                </ul>
              </li>
            </ul>
          </li>
          <ng-container *ngFor="let action of bomenuaction_menuactions">
            <li><a class="alert-action" [routerLink]='' (click)="onChangeAction(action.actionid)"><i class="fa fa-new"
                  aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{action.description}}</a></li>
          </ng-container>
          <li class='nav-item actionheader' *ngIf="!showview">
            <a class="alert-success" [routerLink]='' (click)="onSubmitAndWait()"><i class="fa fa-database"></i>
              Submit</a>
            <a class="alert-primary" *ngIf='data.pkcol==null || maindata.ScreenType==null' [routerLink]=''
              (click)="onSubmit()"><i class="fa fa-share-square"></i> Submit & Clear</a>
            <app-action *ngIf="f.actionid.value != null" (afterAction)="afterAction($event)" [menuid]="p_menuid"
              [value]="f.actionid.value" [status]="f.status.value"></app-action>
          </li>
          <li class='nav-item actionheader'
            *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)">
            <a class="alert-danger" [routerLink]='' (click)="onClose()"><i class="fa fa-close"></i> Close</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="container"
    id="{{maindata ==undefined || maindata==null || maindata.ScreenType!=2?'contentAreascroll':'contentArea1'}}">
    <div class="w-5" *ngIf="showFormType=='1'" style="margin-top:10px!important">
      <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
    </div>
    <div *ngIf="(viewHtml != '' && showview)" [innerHTML]='getHtml(viewHtml)'>

    </div>
    <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
      <div *ngIf="((hidelist.indexOf('menuid') == -1) && (menuidvisible==undefined || menuidvisible==true))" style=''
        class="col-3 ">
        <label for="menuid" class="control-label">Menu</label>
        <label *ngIf="showview" class="labelview">{{f.menuid?.value}}</label>
        <input *ngIf="!showview" id="menuid" formControlName="menuid" class="form-control">
      </div>
      <div
        *ngIf="((hidelist.indexOf('description') == -1) && (descriptionvisible==undefined || descriptionvisible==true))"
        style='' class="col-3 ">
        <label for="description" class="control-label">Description</label>
        <label *ngIf="showview" class="labelview">{{f.description?.value}}</label>
        <input *ngIf="!showview" id="description" formControlName="description" class="form-control">
      </div>


      <!--rowselecttype-->

      <div
        *ngIf="((hidelist.indexOf('rowselecttype') == -1) && (rowselecttypevisible==undefined || rowselecttypevisible==true))"
        style='' class="col-3"><label for="rowselecttype" class="control-label">Row Select Type</label>
        <select *ngIf="!showview" id="rowselecttype" (change)="rowselecttype_onChange($event.target)"
          formControlName="rowselecttype" class="form-control">
          <option [ngValue]="null" selected>-Select-</option>
          <option *ngFor="let item of rowselecttype_List" value="{{item.value}}">{{item.label}}</option>
        </select>
        <label *ngIf="showview" class="labelview">{{f.rowselecttypedesc?.value}}</label>
      </div>
      <div *ngIf="((hidelist.indexOf('actionicon') == -1) && (actioniconvisible==undefined || actioniconvisible==true))"
        style='' class="col-3 ">
        <label for="actionicon" class="control-label">Action Icon</label>
        <label *ngIf="showview" class="labelview">{{f.actionicon?.value}}</label>
        <input *ngIf="!showview" id="actionicon" formControlName="actionicon" class="form-control">
      </div>
    </div>


    <!--actiontype-->

    <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
      <div *ngIf="((hidelist.indexOf('actiontype') == -1) && (actiontypevisible==undefined || actiontypevisible==true))"
        style='' class="col-3"><label for="actiontype" class="control-label">Action Type</label>
        <select *ngIf="!showview" id="actiontype" (change)="actiontype_onChange($event.target)"
          formControlName="actiontype" class="form-control">
          <option [ngValue]="null" selected>-Select-</option>
          <option *ngFor="let item of actiontype_List" value="{{item.value}}">{{item.label}}</option>
        </select>
        <label *ngIf="showview" class="labelview">{{f.actiontypedesc?.value}}</label>
      </div>
      <div
        *ngIf="((hidelist.indexOf('servicename') == -1) && (servicenamevisible==undefined || servicenamevisible==true))"
        style='' class="col-3 ">
        <label for="servicename" class="control-label">Service Name</label>
        <label *ngIf="showview" class="labelview">{{f.servicename?.value}}</label>
        <input *ngIf="!showview" id="servicename" formControlName="servicename" class="form-control">
      </div>
      <div *ngIf="((hidelist.indexOf('actionname') == -1) && (actionnamevisible==undefined || actionnamevisible==true))"
        style='' class="col-3 ">
        <label for="actionname" class="control-label">Action Name</label>
        <label *ngIf="showview" class="labelview">{{f.actionname?.value}}</label>
        <input *ngIf="!showview" id="actionname" formControlName="actionname" class="form-control">
      </div>
      <div
        *ngIf="((hidelist.indexOf('actioncondition') == -1) && (actionconditionvisible==undefined || actionconditionvisible==true))"
        style='' class="col-3 ">
        <label for="actioncondition" class="control-label">Action Condition</label>
        <label *ngIf="showview" class="labelview">{{f.actioncondition?.value}}</label>
        <input *ngIf="!showview" id="actioncondition" formControlName="actioncondition" class="form-control">
      </div>
    </div>
    <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
      <div
        *ngIf="((hidelist.indexOf('actionbutton') == -1) && (actionbuttonvisible==undefined || actionbuttonvisible==true))"
        style='' class="col-3 ">
        <div class="columnchk">
          <label for="actionbutton" class="control-label">Action Button</label>
          <label *ngIf="showview" class="labelview">{{f.actionbutton?.value}}</label>
          <input type="checkbox" *ngIf="!showview" id="actionbutton" formControlName="actionbutton"
            class="form-control">
        </div>
      </div>
      <div
        *ngIf="((hidelist.indexOf('actionbuttonlocation') == -1) && (actionbuttonlocationvisible==undefined || actionbuttonlocationvisible==true))"
        style='' class="col-3 ">
        <label for="actionbuttonlocation" class="control-label">Action Button Location</label>
        <label *ngIf="showview" class="labelview">{{f.actionbuttonlocation?.value}}</label>
        <input *ngIf="!showview" id="actionbuttonlocation" formControlName="actionbuttonlocation" class="form-control">
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
      <div *ngIf="((hidelist.indexOf('actionhelp') == -1) && (actionhelpvisible==undefined || actionhelpvisible==true))"
        style='width:1500px' class="col-12 ">
        <label for="actionhelp" class="control-label">Action Help</label>
        <label *ngIf="showview" class="labelview">{{f.actionhelp?.value}}</label>
        <textarea autosize MinRows="10" MaxRows="15" onlyGrow="true" *ngIf="!showview" id="actionhelp"
          formControlName="actionhelp" class="form-control">
</textarea>
      </div>
    </div>
    <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
      <div
        *ngIf="((hidelist.indexOf('actionrequestorfield') == -1) && (actionrequestorfieldvisible==undefined || actionrequestorfieldvisible==true))"
        style='' class="col-3 ">
        <label for="actionrequestorfield" class="control-label">Action Requestor Field</label>
        <label *ngIf="showview" class="labelview">{{f.actionrequestorfield?.value}}</label>
        <input *ngIf="!showview" id="actionrequestorfield" formControlName="actionrequestorfield" class="form-control">
      </div>
      <div
        *ngIf="((hidelist.indexOf('actionassigneduserfield') == -1) && (actionassigneduserfieldvisible==undefined || actionassigneduserfieldvisible==true))"
        style='' class="col-3 ">
        <label for="actionassigneduserfield" class="control-label">Action Assigned User Field</label>
        <label *ngIf="showview" class="labelview">{{f.actionassigneduserfield?.value}}</label>
        <input *ngIf="!showview" id="actionassigneduserfield" formControlName="actionassigneduserfield"
          class="form-control">
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
      <div
        *ngIf="((hidelist.indexOf('notificationtext') == -1) && (notificationtextvisible==undefined || notificationtextvisible==true))"
        style='width:1500px' class="col-12 ">
        <label for="notificationtext" class="control-label">Notification Text</label>
        <label *ngIf="showview" class="labelview">{{f.notificationtext?.value}}</label>
        <textarea autosize MinRows="10" MaxRows="15" onlyGrow="true" *ngIf="!showview" id="notificationtext"
          formControlName="notificationtext" class="form-control">
</textarea>
      </div>
    </div>
    <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
      <div
        *ngIf="((hidelist.indexOf('actionrequestoremailfield') == -1) && (actionrequestoremailfieldvisible==undefined || actionrequestoremailfieldvisible==true))"
        style='' class="col-3 ">
        <label for="actionrequestoremailfield" class="control-label">Action Requestor Email Field</label>
        <label *ngIf="showview" class="labelview">{{f.actionrequestoremailfield?.value}}</label>
        <input *ngIf="!showview" id="actionrequestoremailfield" formControlName="actionrequestoremailfield"
          class="form-control">
      </div>
      <div
        *ngIf="((hidelist.indexOf('actionassigneduseremailfield') == -1) && (actionassigneduseremailfieldvisible==undefined || actionassigneduseremailfieldvisible==true))"
        style='' class="col-3 ">
        <label for="actionassigneduseremailfield" class="control-label">Action Assigned User Email Field</label>
        <label *ngIf="showview" class="labelview">{{f.actionassigneduseremailfield?.value}}</label>
        <input *ngIf="!showview" id="actionassigneduseremailfield" formControlName="actionassigneduseremailfield"
          class="form-control">
      </div>
      <div
        *ngIf="((hidelist.indexOf('actionstatus') == -1) && (actionstatusvisible==undefined || actionstatusvisible==true))"
        style='' class="col-3 ">
        <label for="actionstatus" class="control-label">Action Status</label>
        <label *ngIf="showview" class="labelview">{{f.actionstatus?.value}}</label>
        <input *ngIf="!showview" id="actionstatus" formControlName="actionstatus" class="form-control">
      </div>
      <div class="col"></div>
    </div>
  </div>
</form>
