<form [formGroup]="prjtestrunForm" (ngSubmit)="onSubmit()" [ngClass]="theme">
  <div *ngIf="!(viewhtml != '' && showview)">
    {{getHtml(viewhtml)}}
  </div>
  <div class="row second" *ngIf="viewhtml == '' && !showview">
    <h1 class="col columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Test Runs' | translate}}</a></h1>
    <div class=" col " role="toolbar" aria-label="Toolbar with button groups">
      <!--btn-toolbar-->
      <div *ngIf="toolbarvisible" class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn indigo lighten-2" (click)="first()"><i class="fa fa-fast-backward"
            aria-hidden="true"></i></button>
        <button type="button" class="btn indigo lighten-2" (click)="prev()"><i class="fa fa-step-backward"
            aria-hidden="true"></i></button>
        <app-popupselect *ngIf="!showview" [options]="pkList" [optionsEvent]="pkoptionsEvent" [form]="pkform"
          (selectItem)="onSelectedpk($event)" [reportid]=31 [menuid]=31 formControlName="pk" id="pk" desc="">
        </app-popupselect>
        <button type="button" class="btn indigo lighten-2" (click)="next()"><i class="fa fa-step-forward"
            aria-hidden="true"></i></button>
        <button type="button" class="btn indigo lighten-2" (click)="last()"><i class="fa fa-fast-forward"
            aria-hidden="true"></i></button>
        <button type="button" class="btn indigo lighten-2" (click)="resetForm()"><i class="fa fa-plus"
            aria-hidden="true"></i></button>
        <button type="button" class="btn blue lighten-2" (click)="onSubmit()"><i class="fa fa-save"
            aria-hidden="true"></i></button>
        <button type="button" class="btn blue lighten-2" (click)="onDelete()"><i class="fa fa-trash"
            aria-hidden="true"></i></button>
        <button type="button" class="btn light-blue lighten-2" (click)="onCopy()"><i class="fa fa-copy"
            aria-hidden="true"></i></button>
        <button type="button" class="dialogbtn"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button type="button" class="dialogbtn"><i class="fa fa-print" aria-hidden="true"></i></button>
        <button type="button" class="dialogbtn"><i class="fa fa-envelope" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <div  class="container"     id="contentArea1"    *ngIf="!(viewhtml != '' && showview)">
    <div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
      <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
    </div>
    <ngb-tabset class="tabset1" [destroyOnHide]="false">
      <ngb-tab>
        <ng-template ngbTabTitle>
          <div (click)="ToolBar(true)">Master</div>
        </ng-template>
        <ng-template ngbTabContent>
          <p-accordion [multiple]='true'>
            <div class="form-group row">
              <div class="col">
                <label for="projectid" class="control-label">Project</label>
                <input *ngIf="!showview" id="projectid" formControlName="projectid" class="form-control"
                  placeholder="{{'Project' | translate}}">
              </div>
              <div class="col">
                <label for="rundate" class="control-label">Run Date</label>
                <div class="input-group" *ngIf="!showview">
                  <input #rundateformpicker="ngbDatepicker" ngbDatepicker name="rundateformpicker" id="rundate"
                    formControlName="rundate" class="form-control" placeholder="Choose Run Date">
                  <button class="input-group-addon" *ngIf="!showview" (click)="rundateformpicker.toggle()"
                    type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                </div>
                <label *ngIf="showview"
                  class="form-control labelview">{{ngbDateParserFormatter.format(f.rundate?.value)}}</label>
              </div>
              <div class="col"><label for="userid" class="control-label" (click)="AddOrEdituserid(null)">User</label>
                <app-popupselect *ngIf="!showview" [options]="useridList" [optionsEvent]="useridoptionsEvent"
                  [form]="bousermaster" (selectItem)="onSelecteduserid($event)" [reportid]='e99kq' [menuid]='e99kq'
                  formControlName="userid" id="userid" desc="username"></app-popupselect>
                <div class="input-group">
                </div>
                <label *ngIf="showview" class="form-control labelview">{{f.useriddesc?.value}}</label>
              </div>
              <div class="col"></div>
            </div>
            <div class="form-group row">
              <div class="col">
                <label for="details" class="control-label">Details</label>
                <textarea autosize MinRows="10" MaxRows="15" onlyGrow="true" *ngIf="!showview" id="details"
                  formControlName="details" class="form-control" placeholder="{{'Details' | translate}}">
</textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col">
                <label for="notes" class="control-label">Notes</label>
                <app-comment *ngIf="!showview" id="notes" formControlName="notes" [label]="'Notes'"
                  placeholder="{{'Notes' | translate}}">
                </app-comment>
              </div>
            </div>
            <div *ngIf="attachmentvisible">
              <p-accordionTab header='Attachment' [selected]='false'>
                <app-attachment isAttachment="true" #fileattachment formControlName="attachment" [SessionData]="sessiondata">
                </app-attachment>
              </p-accordionTab>
            </div>
          </p-accordion>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <div (click)="ToolBar(false)">Test Run Details</div>
        </ng-template>
        <ng-template ngbTabContent>
          <p-accordion [multiple]='true'>
            <!-- child table prjtestrundetails-->
            <div class="row"></div>
            <div [ngClass]="IsprjtestrundetailsVisible()">
              <p></p>
              <h4 class="form-group sticky1  columns left">{{'Test Run Details' | translate}}
                <select class='child' id="prjtestrundetailsPagingdropdown"
                  (change)="prjtestrundetailsPaging($event.target!.value)" [value]='20'>
                  <option value='20'>20</option>
                  <option value='50'>50</option>
                  <option value='100'>100</option>
                </select>
                <div *ngIf='!showview' class="right" role="toolbar" aria-label="Toolbar with button groups">
                  <!--btn-toolbar-->
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="dialogbtn" (click)="prjtestrundetailsroute(null, 'create')"><i
                        class="fa fa-plus" aria-hidden="true"></i></button>
                    <button type="button" class="dialogbtn" (click)="showprjtestrundetailsFilter()"><i
                        class="fa fa-filter" aria-hidden="true"></i></button>
                    <button type="button" class="dialogbtn"><i class="fa fa-envelope"
                        aria-hidden="true"></i></button>
                  </div>
                </div>
              </h4>
                <div  class="table-container"> <ng2-smart-table    #tblprjtestrundetailssource (userRowSelect)="handleprjtestrundetailsGridSelected($event)"
                [settings]="prjtestrundetailssettings" (custom)="onCustomprjtestrundetailsAction($event)"
                [source]="prjtestrundetailssource" (delete)="prjtestrundetailsroute($event,'delete')"
                (deleteConfirm)="prjtestrundetailsroute($event,'delete')"
                (create)="prjtestrundetailsroute($event,'create')" (createConfirm)="prjtestrundetailsbeforesave($event)"
                (edit)="prjtestrundetailsroute($event,'edit')" (editConfirm)="prjtestrundetailsbeforesave($event)">
              </ng2-smart-table></div>
            </div>
            <!--End of child table prjtestrundetails-->
          </p-accordion>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <div class="form-group row" *ngIf="!showview">
      <div class="col">
        <button class="btn btn-info" (click)="onSubmitAndWait()" type="button"><i class="fa fa-database"></i>
          Submit</button>
        <button class="btn btn-info" type="submit"><i class="fa fa-share-square"></i> Submit & Clear</button>
        <app-action *ngIf="f.testrunid!.value != null" (afteraction)="afteraction($event)" [menuid]="pmenuid"
          [value]="f.testrunid!.value" [status]="f.status.value"></app-action>
        <button type="button" (click)="onClose()"
          *ngIf="data!=undefined && data!=null && (data.ScreenType==1 || data.ScreenType==2)" class="btn btn-info"><i
            class="fa fa-close"></i> Close</button>
      </div>
    </div>
  </div>
</form>