<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="hrmsemployeepublicationForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Publications' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="edithrmsemployeepublications()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='hrmsemployeepublicationtoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.hrmsemployeepublicationshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.publicationid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.publicationid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>


<!--employeeid-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('employeeid') == -1"  class="col" ><label  for="employeeid" class="control-label" (click)="AddOrEditemployeeid(null)">Employee</label>
<app-popupselect  *ngIf="!showview"  [options]="employeeidList"  [optionsEvent]="employeeidoptionsEvent" [form]="hrmsemployee" (selectItem)="onSelectedemployeeid($event)"  [reportid]= 'zcqka' [menuid]='zcqka' formControlName="employeeid" id="employeeid" desc="employeename" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"      class="labelview">{{f.employeeiddesc?.value}}</label>
  </div>


<!--publicationtype-->

  <div   *ngIf="hidelist.indexOf('publicationtype') == -1"  class="col" ><label  for="publicationtype" class="control-label">Publication Type</label>
      <select  *ngIf="!showview"  id="publicationtype"  (change)="publicationtypeonChange($event.target)" formControlName="publicationtype"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of publicationtypeList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.publicationtypedesc?.value}}</label>
  </div>
  <div  *ngIf="hidelist.indexOf('efforttype') == -1"  class="col "  >
<label  for="efforttype" class="control-label">Effort Type</label>
      <input   *ngIf="!showview"  id="efforttype"  formControlName="efforttype" class="form-control"
        >
  </div>
  <div  *ngIf="hidelist.indexOf('publicationdate') == -1"  class="col "  >
<label  for="publicationdate" class="control-label">Publication Date</label>
<div class="input-group" *ngIf="!showview" >
<input #publicationdateformpicker="ngbDatepicker"      ngbDatepicker name="publicationdateformpicker" id="publicationdate"  formControlName="publicationdate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="publicationdateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.publicationdate?.value)}}</label>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('publicationyear') == -1"  class="col "  >
<label  for="publicationyear" class="control-label">Publication Year</label>
      <input   *ngIf="!showview"  id="publicationyear"  formControlName="publicationyear" class="form-control"
        >
  </div>
  <div  *ngIf="hidelist.indexOf('title') == -1"  class="col "  >
<label  for="title" class="control-label">Title</label>
      <input   *ngIf="!showview"  id="title"  formControlName="title" class="form-control"
        >
  </div>
<div class="col"></div>
<div class="col"></div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('details') == -1"  class="col "  >
<label  for="details" class="control-label">Details</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="details"  formControlName="details" class="form-control"
        >
</textarea>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('publishername') == -1"  class="col "  >
<label  for="publishername" class="control-label">Publisher Name</label>
      <input   *ngIf="!showview"  id="publishername"  formControlName="publishername" class="form-control"
        >
  </div>
  <div  *ngIf="hidelist.indexOf('volumeno') == -1"  class="col "  >
<label  for="volumeno" class="control-label">Volume No</label>
      <input   *ngIf="!showview"  id="volumeno"  formControlName="volumeno" class="form-control"
        >
  </div>
  <div  *ngIf="hidelist.indexOf('authors') == -1"  class="col "  >
<label  for="authors" class="control-label">Authors</label>
      <input   *ngIf="!showview"  id="authors"  formControlName="authors" class="form-control"
        >
  </div>
  <div  *ngIf="hidelist.indexOf('isbn') == -1"  class="col "  >
<label  for="isbn" class="control-label">I S B N</label>
      <input   *ngIf="!showview"  id="isbn"  formControlName="isbn" class="form-control"
        >
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('citation') == -1"  class="col "  >
<label  for="citation" class="control-label">Citation</label>
      <input   *ngIf="!showview"  id="citation"  formControlName="citation" class="form-control"
        >
  </div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('notes') == -1"  class="col "  >
<label  for="notes" class="control-label">Notes</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="notes"  formControlName="notes" class="form-control"
        >
</textarea>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('remarks') == -1"  class="col "  >
<label  for="remarks" class="control-label">Remarks</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="remarks"  formControlName="remarks" class="form-control"
        >
</textarea>
  </div>
</div>
<div  class='full-width'  *ngIf="attachmentvisible">
<p-accordion [multiple]='true'>
<p-accordionTab header='Attachment'  [selected]='false'>
<app-attachment #fileattachment  isAttachment=true  formControlName="attachment" [SessionData]="sessiondata"></app-attachment>
</p-accordionTab>
</p-accordion>
</div>
  </div>
</form>
