<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="proprocessgapForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Process Gaps' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="editproprocessgaps()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='proprocessgaptoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.proprocessgapshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.gapid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.gapid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('reference') == -1"  class="col " >
<label  for="reference" class="control-label">Reference</label>
      <label *ngIf="showview"     class="labelview">{{f.reference?.value}}</label>
      <input   *ngIf="!showview"  id="reference"  formControlName="reference" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('processowner') == -1"  class="col " >
<label  for="processowner" class="control-label">Process Owner</label>
      <label *ngIf="showview"     class="labelview">{{f.processowner?.value}}</label>
      <input   *ngIf="!showview"  id="processowner"  formControlName="processowner" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('process') == -1"  class="col " >
<label  for="process" class="control-label">Process</label>
      <label *ngIf="showview"     class="labelview">{{f.process?.value}}</label>
      <input   *ngIf="!showview"  id="process"  formControlName="process" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('processstep') == -1"  class="col " >
<label  for="processstep" class="control-label">Process Step</label>
      <label *ngIf="showview"     class="labelview">{{f.processstep?.value}}</label>
      <input   *ngIf="!showview"  id="processstep"  formControlName="processstep" class="form-control"
        >
  </div>
</div>


<!--currentresult-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('currentresult') == -1"  class="col" ><label  for="currentresult" class="control-label">Current Result</label>
      <select  *ngIf="!showview"  id="currentresult"  (change)="currentresultonChange($event.target)" formControlName="currentresult"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of currentresultList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.currentresult?.value}}</label>
  </div>


<!--desiredresult-->

  <div   *ngIf="hidelist.indexOf('desiredresult') == -1"  class="col" ><label  for="desiredresult" class="control-label">Desired Result</label>
      <select  *ngIf="!showview"  id="desiredresult"  (change)="desiredresultonChange($event.target)" formControlName="desiredresult"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of desiredresultList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"     class="labelview">{{f.desiredresult?.value}}</label>
  </div>
  <div   *ngIf="hidelist.indexOf('actionitems') == -1"  class="col " >
<label  for="actionitems" class="control-label">Action Items</label>
      <label *ngIf="showview"     class="labelview">{{f.actionitems?.value}}</label>
      <input   *ngIf="!showview"  id="actionitems"  formControlName="actionitems" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('targetdate') == -1"  class="col " >
<label  for="targetdate" class="control-label">Target Date</label>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.targetdate?.value)}}</label>
<div class="input-group" *ngIf="!showview" >
<input #targetdateformpicker="ngbDatepicker"      ngbDatepicker name="targetdateformpicker" id="targetdate"  formControlName="targetdate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="targetdateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('notes') == -1"  class="col " >
<label  for="notes" class="control-label">Notes</label>
      <label *ngIf="showview"     class="labelview">{{f.notes?.value}}</label>
      <app-comment   *ngIf="!showview"  id="notes"  formControlName="notes" [label]="'Notes'" 
        >
</app-comment>
  </div>
</div>
  </div>
</form>
