<i class="fa fa-step-backward" *ngIf="sourceKey" (click)="nav.back()"></i>
<ngx-spinner></ngx-spinner>
<form [formGroup]="mstjobrequirement_Form" [ngClass]="theme">
  <div class="row second"
    [ngClass]="{'report-admin-bgColor': this.userrole=='Admin','report-applicant-bgColor':this.userrole=='Applicant','report-coporate-bgColor':this.userrole=='Corporate'}">
    <div class="col-4" style="display: flex;align-items: center;">
      <h1 class=" columns mainheader left" style="margin: auto;">{{'Job Requirements'}}
      </h1>
    </div>

    <div class='col-4  sticky1 second' style="display: flex;justify-content: end;align-items: center;" role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
          <li class='nav-item actionheader col' *ngIf='maindata==null || maindata==undefined'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li *ngIf='!showview && (maindata==null || maindata==undefined)' class='nav-item dropdown  actionheader'>
            <ul class="nav navbar-nav1">
              <li *ngIf=' (maindata==null || maindata==undefined)' class="dropdown">
                <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                  aria-expanded='false'> <span class='caret'></span>Actions</a>
                <ul class="dropdown-menu">
                  <li><a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i
                        class='fa fa-plus' aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a></li>
                  <li><a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a></li>
                  <li><a class='dropdown-item' [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a></li>

                  <li role="separator" class="divider">
                    <hr>
                  </li>

                  <li><a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-envelope'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a></li>


                </ul>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>

    <div class='col-4' style="display: flex;justify-content: end;align-items: center;">

      <button *ngIf='showview' (click)="edit_mstjobrequirements()" class="popup-add-button">
        <i class="nb-edit"></i>Edit
      </button>
      <li class='nav-item actionheader' *ngIf="!showview">
        <app-action *ngIf="f.jobid.value != null" (afterAction)="afterAction($event)" [menuid]="p_menuid"
          [value]="f.jobid.value" [status]="f.status.value"></app-action>
      </li>
      <button *ngIf="!showview" (click)="onSubmitAndWait()" class="alert-success job_re_btn">
        <i class="fa fa-database"></i>Submit
        <app-action *ngIf="f.jobid.value != null" (afterAction)="afterAction($event)" [menuid]="p_menuid"
          [value]="f.jobid.value" [status]="f.status.value"></app-action>
      </button>&nbsp;


      <button class="alert-danger job_re_btn"
        *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)"
        (click)="onClose()">
        <i class="fa fa-close"></i>Close
      </button>

      <ul style="display: none;">
        <li><a class='alert-info' [routerLink]='' *ngIf='showview' (click)="edit_mstjobrequirements()"><i
              class="nb-edit"></i>Edit</a></li>
        <li class='nav-item actionheader' *ngIf="!showview">
          <a class="alert-success popup-add-button" [routerLink]='' (click)="onSubmitAndWait()"><i
              class="fa fa-database"></i>
            Submit</a>
          <app-action *ngIf="f.jobid.value != null" (afterAction)="afterAction($event)" [menuid]="p_menuid"
            [value]="f.jobid.value" [status]="f.status.value"></app-action>
        </li>
        <li class='nav-item actionheader'
          *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)">
          <a class="alert-danger" [routerLink]='' (click)="onClose()"><i class="fa fa-close"></i> Close</a>
        </li>

      </ul>
    </div>

  </div>

  <div class="container"
    id="{{maindata ==undefined || maindata==null || maindata.ScreenType!=2?'contentAreascroll':'contentArea1'}}">
    <div class="w-5" *ngIf="showFormType=='1'" style="margin-top:10px!important">
      <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
    </div>
    <div *ngIf="(viewHtml != '' && showview)" [innerHTML]='getHtml(viewHtml)'>

    </div>
    <ngb-tabset class="tabset1" [destroyOnHide]="false">
      <div *ngIf="(viewHtml != '' && showview)" [innerHTML]='getHtml(viewHtml)'>

      </div>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <div (click)="ToolBar(true)">Master</div>
        </ng-template>
        <ng-template ngbTabContent>
          <p-accordion [multiple]='true'>
            <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
              <div
                *ngIf="((hidelist.indexOf('corporateid') == -1) && (corporateidvisible==undefined || corporateidvisible==true))"
                style='' class="col-3 education_view_mobile">
                <label for="corporateid" class="control-label">Corporate</label>
                <label *ngIf="showview" class="labelview">{{f.corporateid?.value}}</label>
                <input *ngIf="!showview" id="corporateid" formControlName="corporateid" class="form-control">
              </div>
              <div
                *ngIf="((hidelist.indexOf('jobdescription') == -1) && (jobdescriptionvisible==undefined || jobdescriptionvisible==true))"
                style='' class="col-3 education_view_mobile">
                <label for="jobdescription" class="control-label required">Job Description</label>
                <label *ngIf="showview" class="labelview">{{f.jobdescription?.value}}</label>
                <input *ngIf="!showview" id="jobdescription" required formControlName="jobdescription"
                  class="form-control">
                <app-field-error-display [displayError]="f.jobdescription.errors?.required"
                  errorMsg="Enter {{'Job Description'}}">
                </app-field-error-display>
              </div>
              <div
                *ngIf="((hidelist.indexOf('jobrequirement') == -1) && (jobrequirementvisible==undefined || jobrequirementvisible==true))"
                style='' class="col-3 education_view_mobile">
                <label for="jobrequirement" class="control-label required">Job Requirement</label>
                <label *ngIf="showview" class="labelview">{{f.jobrequirement?.value}}</label>
                <input *ngIf="!showview" id="jobrequirement" required formControlName="jobrequirement"
                  class="form-control">
                <app-field-error-display [displayError]="f.jobrequirement.errors?.required"
                  errorMsg="Enter {{'Job Requirement'}}">
                </app-field-error-display>
              </div>
              <div
                *ngIf="((hidelist.indexOf('numberofpositions') == -1) && (numberofpositionsvisible==undefined || numberofpositionsvisible==true))"
                style='' class="col-3 education_view_mobile">
                <label for="numberofpositions" class="control-label required">Number Of Positions</label>
                <label *ngIf="showview" class="labelview">{{f.numberofpositions?.value}}</label>
                <input *ngIf="!showview" id="numberofpositions" required formControlName="numberofpositions"
                  class="form-control">
                <app-field-error-display [displayError]="f.numberofpositions.errors?.required"
                  errorMsg="Enter {{'Number Of Positions'}}">
                </app-field-error-display>
              </div>
              <div
                *ngIf="((hidelist.indexOf('tobefilledbefore') == -1) && (tobefilledbeforevisible==undefined || tobefilledbeforevisible==true))"
                style='' class="col-3 education_view_mobile">
                <label for="tobefilledbefore" class="control-label">To Be Filled Before</label>
                <label *ngIf="showview"
                  class="labelview">{{ngbDateParserFormatter.format(f.tobefilledbefore?.value)}}</label>
                <div class="input-group" *ngIf="!showview">
                  <input #tobefilledbeforeformpicker="ngbDatepicker" [minDate]="minDate" readonly ngbDatepicker
                    name="tobefilledbeforeformpicker" id="tobefilledbefore" formControlName="tobefilledbefore"
                    class="form-control">
                  <button class="input-group-addon" *ngIf="!showview" (click)="tobefilledbeforeformpicker.toggle()"
                    type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
            <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">

              <div
                *ngIf="((hidelist.indexOf('experiencefrom') == -1) && (experiencefromvisible==undefined || experiencefromvisible==true))"
                style='' class="col-3 education_view_mobile">
                <label for="experiencefrom" class="control-label">Experience From</label>
                <label *ngIf="showview" class="labelview">{{f.experiencefrom?.value}}</label>
                <input *ngIf="!showview" id="experiencefrom" formControlName="experiencefrom" class="form-control">
              </div>
              <div
                *ngIf="((hidelist.indexOf('experienceto') == -1) && (experiencetovisible==undefined || experiencetovisible==true))"
                style='' class="col-3 education_view_mobile">
                <label for="experienceto" class="control-label">Experience To</label>
                <label *ngIf="showview" class="labelview">{{f.experienceto?.value}}</label>
                <input *ngIf="!showview" id="experienceto" formControlName="experienceto" class="form-control">
              </div>


              <!--locations-->
              <div
                *ngIf="((hidelist.indexOf('locations') == -1) && (locationsvisible==undefined || locationsvisible==true))"
                style='' class="col-3 education_view_mobile"><label for="locations" class="control-label">Locations</label>&nbsp;&nbsp; <br />
                <p-autoComplete formControlName="locations" field="label" [multiple]="true" *ngIf="!showview"
                  [suggestions]="locations_results" (completeMethod)="locations_onChange($event)"></p-autoComplete>
                <label *ngIf="showview" class="labelview">{{f.locations?.label}}</label>
                <label class="labelview alignment_label" *ngIf="showview">{{mstjobrequirement.locationdesc}}</label>
              </div>
              <div *ngIf="((hidelist.indexOf('skills') == -1) && (skillsvisible==undefined || skillsvisible==true))"
                style='' class="col-3 education_view_mobile"><label for="skills" class="control-label"
                  (click)="AddOrEdit_skills(null)">Skills</label>&nbsp;&nbsp; <br />
                <p-autoComplete formControlName="skills" field="label" id="skillsdesc" [multiple]="true"
                  *ngIf="!showview" [suggestions]="skills_results"
                  (completeMethod)="skills_onChange($event)"></p-autoComplete>

                <label *ngIf="showview" class="labelview">{{f.skills?.label}}</label>
                <label class="labelview alignment_label" *ngIf="showview">{{mstjobrequirement.skilldesc}}</label>
              </div>
            </div>


            <!--skills-->

            <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">


              <!--education-->
              <div
                *ngIf="((hidelist.indexOf('education') == -1) && (educationvisible==undefined || educationvisible==true))"
                style='' class="col-3 education_view_mobile"><label for="education" class="control-label"
                  (click)="AddOrEdit_education(null)">Education</label>
                <br />
                <p-autoComplete formControlName="education" field="label" id="educationdesc" [multiple]="true"
                  *ngIf="!showview" [suggestions]="education_results"
                  (completeMethod)="education_onChange($event)"></p-autoComplete>

                <label *ngIf="showview" class="labelview">{{f.education?.label}}</label>
                <label class="labelview alignment_label" *ngIf="showview">{{mstjobrequirement.educationdesc}}</label>
              </div>


              <!--language-->

              <div
                *ngIf="((hidelist.indexOf('language') == -1) && (languagevisible==undefined || languagevisible==true))"
                style='' class="col-3 education_view_mobile"><label for="language" class="control-label">Language</label>
                <br />
                <p-autoComplete formControlName="language" field="label" id="languagedesc" [multiple]="true"
                  *ngIf="!showview" [suggestions]="language_results"
                  (completeMethod)="language_onChange($event)"></p-autoComplete>
                <label *ngIf="showview" class="labelview">{{f.language?.label}}</label>
                <label class="labelview alignment_label" *ngIf="showview">{{mstjobrequirement.languagedesc}}</label>
              </div>
              <div
                *ngIf="((hidelist.indexOf('referenceavailability') == -1) && (referenceavailabilityvisible==undefined || referenceavailabilityvisible==true))"
                style='' class="col-3 education_view_mobile" style="display: flex; justify-content: center;  padding: 31px;
                right: 16px;
            ">
                <div class="columnchk">
                  <label for="referenceavailability" class="control-label">Reference Availability</label>
                  <label *ngIf="showview" class="labelview">{{f.referenceavailability?.value}}</label>
                  <input type="checkbox" *ngIf="!showview" id="referenceavailability"
                    formControlName="referenceavailability">
                </div>
              </div>
            </div>
            <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
              <div
                *ngIf="((hidelist.indexOf('referencevalidation') == -1) && (referencevalidationvisible==undefined || referencevalidationvisible==true))"
                style='' class="col-3 education_view_mobile" style="display: flex; justify-content: center;  padding: 31px;
                right: 16px;
            ">
                <div class="columnchk">
                  <label for="referencevalidation" class="control-label">Reference Validation</label>
                  <label *ngIf="showview" class="labelview">{{f.referencevalidation?.value}}</label>
                  <input type="checkbox" *ngIf="!showview" id="referencevalidation"
                    formControlName="referencevalidation">
                </div>
              </div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
            </div>
          </p-accordion>
          <div class='full-width' *ngIf="attachmentVisible">
            <p-accordion [multiple]='true'>
              <p-accordionTab [header]="'Attachment(' + fileattachment.getLength() + ')'" [selected]='false'>
                <app-attachment #fileattachment isAttachment=true formControlName="attachment"
                  [SessionData]="sessionData"></app-attachment>
              </p-accordionTab>
            </p-accordion>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <div (click)="ToolBar(false)">Job Statuses</div>
        </ng-template>
        <ng-template ngbTabContent>
          <p-accordion [multiple]='true'>
            <!-- child table mstjobstatuses-->
            <div [ngClass]="Is_mstjobstatuses_Visible()">
              <!--End-->
              <h4 class="form-group sticky1  columns left" style="font-size: inherit;margin: 6px 10px !important;">{{'Job Statuses'}}
                <select class='child' id="mstjobstatusesPagingdropdown"
                  (change)="mstjobstatuses_Paging($event.target.value)" [value]='20'>
                  <option value='20'>20</option>
                  <option value='50'>50</option>
                  <option value='100'>100</option>
                </select>
                <ul class="nav navbar-nav1" style='display:none'>
                  <li class="dropdown">
                    <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                      aria-expanded='false'> <span class='caret'></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]=''
                          (click)="mstjobstatustoggleOption();mstjobstatuses_route(null, 'create')"><i
                            class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a></li>
                      <li role="separator" class="divider">
                        <hr>
                      </li>
                      <li><a class="dropdown-item" [routerLink]='' (click)="showmstjobstatusesFilter()"><i
                            class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Filter</a></li>
                      <li><a class="dropdown-item" [routerLink]=''><i class="fa fa-envelope"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Mail</a></li>
                    </ul>
                  </li>
                </ul>
              </h4>
              <ng2-smart-table #tbl_mstjobstatuses (userRowSelect)="handle_mstjobstatuses_GridSelected($event)"
                [settings]="mstjobstatuses_settings" (custom)="onCustom_mstjobstatuses_Action($event)"
                [source]="tbl_mstjobstatuses?.source?.data" (delete)="mstjobstatuses_route($event,'delete')"
                (deleteConfirm)="mstjobstatuses_route($event,'delete')" (create)="mstjobstatuses_route($event,'create')"
                (createConfirm)="mstjobstatuses_beforesave($event)" (edit)="mstjobstatuses_route($event,'edit')"
                (editConfirm)="mstjobstatuses_beforesave($event)">
              </ng2-smart-table>
            </div>
            <!--End of child table mstjobstatuses-->
          </p-accordion>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</form>
