<div class="mobile_view_report"
  style="min-width:1200px;min-height:100px!important;width:100%!important;height:100%!important" [ngClass]="theme">
  <ngx-spinner></ngx-spinner>
  <div id="{{contentAreaid}}" onscroll="scrollFunction()">
    <div class="" id="maintable">
      {{configdata.header}}
      <div *ngIf="showmenu" class="row" id="header"
        [ngClass]="{'report-admin-bgColor': this.userrole=='Admin','report-applicant-bgColor':this.userrole=='Applicant','report-coporate-bgColor':this.userrole=='Corporate'}">

        <div class="reportheader col-3  nomargin nowrap">
          <h1 style="color:gray !important;">{{reportheader}}</h1>
        </div>
        <div class="col-6 custom_mobile_view"
          style="display: flex;justify-content: center;align-items: center;padding: 0 5rem;position: relative;bottom: 43px;z-index: 999;">
          <i class="fa fa-search search-icon" aria-hidden="true"
            style="position: relative;left: 2rem;color: #b1aaaa;"></i>
          <input type="text" class="form-control" placeholder="Search"
            (input)="treeview?dt1.filterGlobal($event.target.value, 'contains'):dt.filterGlobal($event.target.value, 'contains')"
            style="border-radius:30px !important; padding: 0 30px;height: 31px;">
          <i class="fa fa-microphone microphone-icon" aria-hidden="true" style="position: relative;
          right: 2rem;
          color: #b1aaaa;"></i>

        </div>

        <div class="col-3  input-group  nomargin nowrap" style="justify-content: end;">
          <a [routerLink]='' (click)="onChangeAction1('Add')" *ngIf="showAddJobs"><i class="fa fa-plus-circle reportMobileViewCommon"
            style="color:#6B431D!important;vertical-align: middle;margin-top: 8px;
            font-size: 18px;"></i></a>
          <nav class="right navbar navbar-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav1">
                <li class="dropdown">
                  <ul class="dropdown-menu">
                    <li *ngIf="canadd"><a class="dropdown-item" [routerLink]='' (click)="onChangeAction1('Add')"><i
                          class="fa fa-new" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Add</a></li>
                    <ng-container *ngFor="let action of menuactions">
                      <li><a class="dropdown-item" [routerLink]='' (click)="onChangeAction1(action.actionid)"><i
                            class="fa fa-new" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{action.description}}</a>
                      </li>
                    </ng-container>

                  </ul>
                </li>
              </ul>
            </div>
          </nav>

          <ng-container *ngFor="let action of menuactions">
            <button *ngIf="action.actionbutton==true && action.actionbuttonlocation!='B'" type="button" class=" border"
              (click)="onChangeAction1(action.actionid)" style="color: #dee2e6!important;"><i
                class="fa fa-new"></i>&nbsp;&nbsp;&nbsp;{{action.description}}</button>
          </ng-container>

          <button type="button" style="margin: 6px 0;font-size: 10px; border-bottom-left-radius: 30px;display: none;
                    border-top-left-radius: 30px;"
            class="nav-link  border personal-info-btn-liftRadius custom_mobile_view" (click)="ExecuteAction()"><i
              class="fa fa-caret-right "></i></button>
          <select [(ngModel)]="filtertype" class="border personal-info-btn-rightRadius custom_mobile_view"
            (change)="onChangeFilterType($event.target.value)" style="margin: 6px 0;font-size: 14px;  border-bottom-right-radius: 30px;display: none;
                    border-top-right-radius:30px;">
            <option value="undefined" selected>Select FilterType</option>
            <option value="FF">Field Filter</option>
          </select>

          <a class="" [routerLink]='' (click)="onClose()"
            *ngIf="(dialogdata!=undefined && dialogdata!=null && dialogdata.ScreenType!=null)">
            <i class="fa fa-times-circle close_common_icon mobile_close_result"
              style="top: 5% !important; left: 10px;"></i></a>
        </div>
        {{viewfilter}}

      </div>
      <ng-container *ngIf="configdata.sidefiltertype=='T' || configdata.sidefiltertype=='TA'">

        <div id="dtopfilter" style="display:flex;flex-wrap: wrap;">
          <ng-container *ngFor="let itemcol of cols">

            <ng-container *ngIf="itemcol.field!=groupfield && !itemcol.hide && filterExists(itemcol.field)">

              <div *ngIf="!itemcol.hide" class="col color1">
                <div class="small color1"> {{itemcol.header}}</div>

                <div class="small"><select [(ngModel)]="itemcol.filterMatchMode"
                    *ngIf="configdata.sidefiltertype=='TA' && itemcol.datatype!='n' && itemcol.datatype!='bool' ">
                    <option value="contains">contains</option>
                    <option value="startsWith">startsWith</option>
                    <option value="endsWith">endsWith</option>
                    <option value="equals">equals</option>
                    <option value="notEquals">notEquals</option>
                    <option value="in">in</option>
                    <option value="lt">lt</option>
                    <option value="lte">lte</option>
                    <option value="gt">gt</option>
                    <option value="gte">gte</option>
                  </select></div>
                <input style="height:20px"
                  *ngIf="((itemcol.filter == true || itemcol.filter==null|| itemcol.filter=='' )&& itemcol.dropdownItems==null && (itemcol.datatype==null || itemcol.datatype==''))"
                  pInputText type="text"
                  (input)="dt.filter($event.target.value, itemcol.field, itemcol.filterMatchMode)">
                <div
                  *ngIf="((itemcol.filter == true || itemcol.filter==null || itemcol.filter=='' ) && itemcol.dropdownItems==null && (itemcol.datatype=='n'))">

                  <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="itemcol.val" [min]="itemcol.min"
                    [max]="itemcol.max" (onChange)="onNumChange($event, dt,itemcol.field,itemcol.datatype)">
                  </p-slider>

                </div>
                <div
                  *ngIf="((itemcol.filter == true || itemcol.filter==null ) && itemcol.dropdownItems==null && (itemcol.datatype=='date'))">
                  <p-dropdown [options]="filters" [style]="{'width':'100%'}"
                    (onChange)="dt.filter($event.value, itemcol.field, 'in')" styleClass="ui-column-filter">
                  </p-dropdown>
                </div>
                <p-dropdown *ngIf="itemcol.datatype=='dp'" [options]="getdropdownItems(itemcol.field)"
                  [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, itemcol.field, 'equals')"></p-dropdown>
                <p-multiSelect *ngIf="((itemcol.filter == true || itemcol.filter==null ) && itemcol.datatype=='ms')"
                  [options]="getdropdownItems(itemcol.field)" defaultLabel="All Colors"
                  (onChange)="dt.filter($event.value, itemcol.field, 'in')"></p-multiSelect>
                <p-checkbox *ngIf="itemcol.datatype=='bool'" value=""
                  (onChange)="dt.filter($event.value, itemcol.field, 'eq')"></p-checkbox>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
      <table>
        <tr>
          <td *ngIf="configdata.sidefiltertype=='S' || configdata.sidefiltertype=='SA'">
            <ng-container *ngIf="configdata.sidefiltertype=='S' || configdata.sidefiltertype=='SA'">
              <div id="dsidefilter" class="row">
                <ng-container *ngFor="let itemcol of cols">

                  <ng-container *ngIf="itemcol.field!=groupfield && !itemcol.hide && filterExists(itemcol.field)">

                    <div *ngIf="!itemcol.hide" class="col color1" style="display:block">
                      <p class="small color1"> {{itemcol.header}} {{itemcol.datatype}}</p>
                      <p class="small"><select [(ngModel)]="itemcol.filterMatchMode"
                          *ngIf="configdata.sidefiltertype=='SA' && itemcol.datatype!='n' && itemcol.datatype!='bool' ">
                          <option value="contains">contains</option>
                          <option value="startsWith">startsWith</option>
                          <option value="endsWith">endsWith</option>
                          <option value="equals">equals</option>
                          <option value="notEquals">notEquals</option>
                          <option value="in">in</option>
                          <option value="lt">lt</option>
                          <option value="lte">lte</option>
                          <option value="gt">gt</option>
                          <option value="gte">gte</option>
                        </select></p>

                      <input style="height:20px"
                        *ngIf="((itemcol.filter == true || itemcol.filter==null|| itemcol.filter=='' )&& itemcol.dropdownItems==null && (itemcol.datatype==null || itemcol.datatype==''))"
                        pInputText type="text"
                        (input)="dt.filter($event.target.value, itemcol.field, itemcol.filterMatchMode)">
                      <div
                        *ngIf="((itemcol.filter == true || itemcol.filter==null || itemcol.filter=='' )  && (itemcol.datatype=='n'))">

                        <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="itemcol.val"
                          [min]="getmin(itemcol.field)" [max]="getmax(itemcol.field)"
                          (onChange)="onNumChange($event, dt,itemcol.field,itemcol.datatype)">
                        </p-slider>

                      </div>
                      <div
                        *ngIf="((itemcol.filter == true || itemcol.filter==null ) && itemcol.dropdownItems==null && (itemcol.datatype=='date'))">
                        <p-dropdown [options]="filters" [style]="{'width':'100%'}"
                          (onChange)="dt.filter($event.value, itemcol.field, 'in')" styleClass="ui-column-filter">
                        </p-dropdown>
                      </div>
                      <p-dropdown *ngIf="itemcol.datatype=='dp'" [options]="getdropdownItems(itemcol.field)"
                        [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, itemcol.field, 'equals')">
                      </p-dropdown>
                      <p-multiSelect
                        *ngIf="((itemcol.filter == true || itemcol.filter==null ) && itemcol.datatype=='ms')"
                        [options]="getdropdownItems(itemcol.field)" defaultLabel="All Colors"
                        (onChange)="dt.filter($event.value, itemcol.field, 'in')">
                      </p-multiSelect>
                      <p-checkbox *ngIf="itemcol.datatype=='bool'" value=""
                        (onChange)="dt.filter($event.value, itemcol.field, 'eq')">
                      </p-checkbox>
                    </div>
                  </ng-container>
                </ng-container>
              </div>

            </ng-container>

          </td>
          <td>
            <!--filters-->
            <ng-container *ngIf="cardtype && !kanbanview">
              <ng-container *ngFor='let rowData of data'>
                <div>
                  <a [routerLink]='' (click)='opendialog1(null,rowData)'>View</a>
                  <div class="row autogrow cardclass" [innerHTML]='getHtml(rowData)'></div>
                  <div class="row">
                    <div class="col" role='button' (click)='goroute("get",rowData["pk"],rowData)'><i class='fa fa-eye'
                        aria-hidden='true'></i></div>
                    <div class="col" role='button' (click)='goroute("edit",rowData["pk"],rowData)'>
                      <i class='fa fa-edit' aria-hidden='true'></i>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="kanbanview">
              <div class="table-container" style="display: flex;flex-wrap: wrap;">
                <div class="row">
                  <ng-container *ngFor='let rowstatusdata of statusdata'>
                    <div class="col-3">
                      <div style="display: flex;flex-wrap: wrap;" class="row">
                        <div class="cardclass"><span
                            style="white-space:nowrap;color:blueviolet;font-size:16px ;">{{rowstatusdata['configtext']}}</span>
                          <ng-container *ngFor='let rowData of data'>
                            <div *ngIf="rowstatusdata['configkey']==rowData[kanbankey]">
                              <span role='button' (click)='goroute("edit",rowData["pk"],rowData)'
                                class="autogrow cardclass" [innerHTML]='getHtml(rowData)'>
                              </span>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>

            <div class="table-container" *ngIf="!kanbanview">
              <p-treeTable class="maintable" *ngIf="treeview && !cardtype && !kanbanview" [value]="data" #dt1
                [columns]="cols" [(selection)]="selecteddata" [selectionMode]="selectionMode" dataKey="{{masterkey}}"
                [paginator]="paginator" [pageLinks]="5" [rows]="rowsdisplay"
                [rowsPerPageOptions]="[5,10,15,20,50,100,200,500,1000]" [expandedRowKeys]="expandedRows"
                (onPage)="paginate($event)" (onNodeSelect)="onRowSelect($event)"
                (onNodeUnselect)="onRowUnselect($event)" (onEditComplete)="onEditComplete($event)">
                <ng-template pTemplate="header" let-columns>
        <tr>
          <ng-container *ngIf="!showgroupcheckbox   && menuactions.length>0 && showmenu">
            <th></th>
          </ng-container>
          <ng-template pTemplate="caption">
            <div style="text-align:left" *ngIf="showcheckbox">
              <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
              <span style="margin-left: .25em; vertical-align: middle">Toggle All</span>
            </div>
          </ng-template>

          <th *ngFor="let col of columns">
            <ng-container *ngIf="!col.hide  && outputtype!='html'">
              {{col.header}}
            </ng-container>
          </th>
        </tr>
        </ng-template>

        <ng-template *ngIf="configdata.parentid != ''" pTemplate="body" let-rowNode let-rowData="rowData">
          <tr>
            <ng-container *ngIf="showmenu">
              <td class='col' style="width: 50px;padding: .2em .2em !important; ">
                <div class="starred">
                  <ng-container *ngIf="dialogdata.ScreenType=='2'">
                    <div class="col" role='button' (click)='goroute("get",rowData["pk"],rowData)'><i class='fa fa-eye'
                        aria-hidden='true'></i></div>
                  </ng-container>
                  <ng-container *ngIf="dialogdata.ScreenType!='2'">
                    <ng-container *ngFor="let action of menuactions">
              <td style='background-color: transparent!important'>

                <button class="actionbutton unstarred"
                  style="border:none;background-color: transparent!important;padding:0px!important;margin:0px!important;"
                  type="button" (click)="buttonactions(action,rowData)"><i [alt]="action.actiondescription"
                    [ngClass]="action.actionicon" aria-hidden="true"></i></button>
              </td>
            </ng-container>
            </ng-container>
    </div>
    </td>
    </ng-container>
    <ng-container *ngFor="let col of columns; let i = index">
      <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
      <td *ngIf="!col.hide">
        {{rowData[col.field]}}
      </td>

    </ng-container>
    </tr>
    </ng-template>

    <ng-template *ngIf="configdata.parentid == ''" pTemplate="body" let-rowNode let-rowData="rowData"
      let-columns="columns" let-expanded="expanded">



      <tr *ngIf="cardtype!='card'" style="background-color:#69c!important;color:white!important">
        <ng-container *ngIf="!showgroupcheckbox  && !rowNode.node.children && menuactions.length>0 && showmenu">
          <td class='col' style="width: 50px;padding: .2em .2em !important; ">
            <div class="starred">
              <ng-container *ngIf="dialogdata.ScreenType=='2'">
                <div class="col" role='button' (click)='goroute("get",rowData["pk"],rowData)'><i class='fa fa-eye'
                    aria-hidden='true'></i></div>
              </ng-container>
              <ng-container *ngIf="dialogdata.ScreenType!='2'">
                <ng-container *ngFor="let action of menuactions">
          <td style='background-color: transparent!important'>

            <button class="actionbutton unstarred"
              style="border:none;background-color: transparent!important;padding:0px!important;margin:0px!important;"
              type="button" (click)="buttonactions(action,rowData)"><i [alt]="action.actiondescription"
                [ngClass]="action.actionicon" aria-hidden="true"></i></button>
          </td>
        </ng-container>
        </ng-container>
        <td *ngIf="dialogdata.ScreenType!='2'" style='background-color: transparent!important'>
          <button style="border:none;background-color: transparent!important" type="button" class="more"><i
              class='fa fa-ellipsis-v' aria-hidden="true"></i></button>
        </td>
  </div>
  </td>
  </ng-container>
  <td *ngIf="showcheckbox && !rowNode.node.children">
    <p-treeTableCheckbox [value]="rowNode"></p-treeTableCheckbox>
  </td>

  <td *ngIf="rowNode.node.children" colspan="100">

    <table>
      <tr>

        <td style='width:5px'>
          <p-treeTableToggler [rowNode]='rowNode'></p-treeTableToggler>
        </td>
        <td [attr.colspan]="columns.length-2" innerHTML="{{GetGroupByText(rowNode.node.data)}}"></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td [attr.colspan]="columns.length" innerHTML="{{GetDetailHeader(rowData)}}"></td>
      </tr>
    </table>
  </td>


  <ng-container *ngIf="!rowNode.node.children && (outputtype!='html' || configdata['html']=='')">
    <ng-container *ngFor="let col of columns; let i = index" class="autogrow">
      <ng-container *ngIf="col.field!=groupfield && col.field!=groupfield+'desc' && !col.hide">
        <td class="{{'col-lg-'+col.width}}" *ngIf="col.link" innerHTML="<a
                                            href='{{evaluate(col.linkurl,rowData)}}'>{{rowData[col.field]}}</a>">
        </td>
        <td class="autogrow" *ngIf="!col.link && !editable" innerHTML="{{rowData[col.field]}}"></td>

        <td class="{{'col-lg-'+col.width}}" *ngIf="!col.link && editable" [pEditableColumn]="rowData"
          [pEditableColumnField]="col.field">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData[col.field]"
                (keydown.shift.z)="goNextRow($event,col.field, 0)">
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData[itemcol.field]}}
            </ng-template>
          </p-cellEditor>
        </td>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!rowNode.node.children && outputtype=='html' && configdata['html']!=''">
    <td><a [routerLink]='' (click)='opendialog1(null,rowData)'>View</a></td>
    <td class="autogrow cardclass" [innerHTML]="getHtml(rowData)"></td>

  </ng-container>
  </tr>
  </ng-template>
  </p-treeTable>
</div>

<div class="table-container" *ngIf="!kanbanview">

  <p-table responsive-scrolling [style]="{width:'100%'}" *ngIf="!treeview  && !cardtype && !kanbanview"
    class="tbllayout" #dt cellpadding="10px" (onEditInit)="onEditInit($event, rowIndex)"
    (onEditComplete)="onEditComplete($event)" (onEditCancel)="onEditCancel($event, rowIndex)" [columns]="cols"
    [first]="first" class="fit ptable" [value]="data" [selectionMode]="selectionMode" [(selection)]="selecteddata"
    dataKey="{{masterkey}}" [paginator]="true" [alwaysShowPaginator]="false" [pageLinks]="5" [rows]="rowsdisplay"
    (onRowDblclick)="onRowDblClick($event)" [rowsPerPageOptions]="[5,10,15,20,50,100,200,500,1000]"
    (onPage)="paginate($event)" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">

    <ng-template pTemplate="header" class="third" let-columns>
      <ng-container *ngIf="configdata!=null && (outputtype=='list'  || showfilter)">
        <ng-container *ngIf="configdata.tableheader!=null">
          <tr innerHTML="{{configdata.tableheader}}"></tr>
        </ng-container>

        <tr class="borderbottomless" *ngIf="groupfield==''">

          <ng-container *ngIf="dialogdata!=undefined">
            <th *ngIf="dialogdata.ScreenType=='2'">Popup</th>
            <th *ngIf="dialogdata.ScreenType=='3'">View</th>
            <th *ngIf="dialogdata.ScreenType=='4'">Popup</th>
          </ng-container>
          <th *ngIf="showcheckbox">
            <p-tableHeaderCheckbox style="background:white"></p-tableHeaderCheckbox>
          </th>
          <th *ngIf="menuactions && menuactions.length>0 && showmenu"
            style='width: 50px; padding: .2em .2em !important;'></th>
          <ng-container *ngFor="let itemcol of cols">
            <ng-container *ngIf="itemcol.field!=groupfield && !itemcol.hide  && outputtype!='html'">

              <th *ngIf="!itemcol.hide" [pSortableColumn]="itemcol.field">
                {{itemcol.header}}
                <p-sortIcon [field]="itemcol.field" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </ng-container>
          </ng-container>
        </tr>
        <tr *ngIf="showfilter">

          <th *ngIf="showcheckbox"></th>
          <th *ngIf="menuactions && menuactions.length>0 && showmenu"></th>


          <ng-container *ngFor="let itemcol of columns">

            <ng-container *ngIf="itemcol.field!=groupfield && !itemcol.hide">

              <th *ngIf="(!itemcol.hide)" [ngSwitch]="itemcol.datatype">

                <select *ngIf="itemcol.datatype!='dp' && itemcol.datatype!='ms' " [(ngModel)]="itemcol.filterMatchMode"
                  (click)="filter(itemcol.datatype,itemcol.field)">
                  <option
                    *ngIf="itemcol.datatype!='dp' && itemcol.datatype!='ms' && itemcol.datatype!='n'  && itemcol.datatype!='date' "
                    value="contains">Contains</option>
                  <option
                    *ngIf="itemcol.datatype!='dp' && itemcol.datatype!='ms' && itemcol.datatype!='n'   && itemcol.datatype!='date'  "
                    value="startsWith">Starts With</option>
                  <option
                    *ngIf="itemcol.datatype!='dp' && itemcol.datatype!='ms' && itemcol.datatype!='n'  && itemcol.datatype!='date'   "
                    value="endsWith">Ends With</option>
                  <option
                    *ngIf="itemcol.datatype!='dp' && itemcol.datatype!='ms'  && itemcol.datatype!='n'   && itemcol.datatype!='date' "
                    value="equals">Equals</option>
                  <option
                    *ngIf="itemcol.datatype!='dp' && itemcol.datatype!='ms' && itemcol.datatype!='n'   && itemcol.datatype!='date'  "
                    value="notEquals">Not Equals</option>
                  <option *ngIf="itemcol.datatype=='n' || itemcol.datatype=='date'" value="null">Null
                  </option>
                  <option *ngIf="itemcol.datatype=='n'" value="b">Between</option>
                  <option *ngIf="itemcol.datatype=='n' || itemcol.datatype=='date'" value="E">Empty
                  </option>
                </select>

                <input
                  *ngIf=" itemcol.datatype!=null  && itemcol.datatype!='dp' && itemcol.datatype!='ms'  && ((itemcol.filter == true || itemcol.filter==null|| itemcol.filter=='' )&& itemcol.dropdownItems==null && (itemcol.datatype==null || itemcol.datatype==''))"
                  pInputText type="text"
                  (input)="dt.filter($event.target.value, itemcol.field, itemcol.filterMatchMode)">
                <div
                  *ngIf="((itemcol.filter == true || itemcol.filter==null || itemcol.filter=='' ) && itemcol.dropdownItems==null && (itemcol.datatype=='n'))">

                  {{getmin(itemcol.field)}} - {{getmax(itemcol.field)}}<p-slider
                    [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="itemcol.val"
                    [min]="getmin(itemcol.field)" [max]="getmax(itemcol.field)"
                    (onChange)="onNumChange($event, dt,itemcol.field,itemcol.datatype)">
                  </p-slider>{{itemcol.val}}
                </div>
                <div
                  *ngIf="((itemcol.filter == true || itemcol.filter==null ) && itemcol.dropdownItems==null && (itemcol.datatype=='date'))">


                  <p-calendar style="width:5px !important;" [(ngModel)]="dateFilters" appendTo="body"
                    selectionMode="range" [readonlyInput]="false" dateFormat="dd.mm.yy"
                    (onSelect)="onDateSelect($event,itemcol.field)">
                  </p-calendar>

                </div>
                <p-multiSelect appendTo="body"
                  *ngIf="((itemcol.filter == true || itemcol.filter==null ) && (itemcol.datatype=='dp' || itemcol.datatype=='ms' ))"
                  [options]="getdropdownItems(itemcol.field)" defaultLabel="All Colors"
                  (onChange)="dt.filter($event.value, itemcol.field, 'in')"></p-multiSelect>
              </th>
            </ng-container>
          </ng-container>
        </tr>
      </ng-container>

    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">

      <ng-container *ngIf="outputtype=='list'">

        <tr class="ui-widget-header"
          *ngIf="groupfield!='' && rowgroupmetadata[rowData[groupfield]+'p'+page]!=null && rowgroupmetadata[rowData[groupfield]+'p'+page].index === rowIndex">
          <ng-container>
            <td *ngIf="showgroupcheckbox">
              <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
            </td>
            <td colspan=7 innerHTML="{{GetGroupByText(rowData)}}">
            </td>
          </ng-container>
        </tr>

        <tr class="ui-widget-header"
          *ngIf="outputtype=='html' && groupfield!=''  && rowgroupmetadata[rowData[groupfield]+'p'+page]!=null && rowgroupmetadata[rowData[groupfield]+'p'+page].index === rowIndex">
          <td colspan=7 class='cardclass' innerHTML="{{GetDetailHeader(rowData)}}"></td>
        </tr>

        <tr class="borderbottomless"
          *ngIf="outputtype=='list' && groupfield!='' && rowgroupmetadata[rowData[groupfield]+'p'+page].index === rowIndex">

          <th *ngIf="menuactions.length>0 && showmenu"></th>
          <ng-container *ngFor="let itemcol of columns">

            <ng-container
              *ngIf="itemcol.field!=groupfield && itemcol.field!=groupfield+'desc' && !itemcol.hide   && outputtype!='html'">
              <th *ngIf="showcheckbox && groupfield==''"></th>

              <th [ngStyle]="colStyles(itemcol.bgcolor,itemcol.forecolor)" *ngIf="!itemcol.hide"
                class="{{'col-lg-'+itemcol.width}}" [pSortableColumn]="itemcol.field">
                {{itemcol.header}}
              </th>
            </ng-container>
          </ng-container>
        </tr>

        <tr [pSelectableRow]="rowData"
          [ngClass]="{'rowactive':(rowData['status']=='A'),'rowinactive':(rowData['status']!='A')}">

          <ng-container *ngIf="dialogdata!=undefined">
            <td *ngIf="dialogdata.ScreenType=='3'" class="col" role='button'
              (click)='goroute("url",rowData["pk"],rowData)'><i class='fa fa-eye' aria-hidden='true'>View</i></td>
            <td *ngIf="dialogdata.ScreenType=='4'" class="col" role='button'
              (click)='goroute("get",rowData["pk"],rowData)'><i class='fa fa-eye' aria-hidden='true'>Popup</i></td>
          </ng-container>


          <td *ngIf="showcheckbox && !showgroupcheckbox">
            <p-tableCheckbox [value]="rowData" (click)="selectNode(rowData,$event)">
            </p-tableCheckbox>
          </td>

          <ng-container *ngIf="!showgroupcheckbox && menuactions!=undefined && menuactions.length>0 && showmenu">
            <td class='col menuactions' style="width: 50px;padding: .2em .2em !important; ">

              <!-- Collect the nav links, forms, and other content for toggling -->
              <ul class="nav navbar-nav1">
                <li class="dropdown">
                  <a [routerLink]='' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <ng-container *ngFor="let action of menuactions">
                      <li><i class="{{'orangecolor '+action.actionicon}}"></i>&nbsp;&nbsp;<a [routerLink]=''
                          (click)="buttonactions(action,rowData)" class='padding5  medium '>{{action.description}}</a>
                      </li>

                    </ng-container>
                  </ul>
                </li>
              </ul>


            </td>
          </ng-container>

          <ng-container *ngIf="outputtype=='list' || configdata['html']==''">

            <ng-container *ngFor="let itemcol of columns">

              <ng-container *ngIf="itemcol.field!=groupfield && !itemcol.hide">

                <td class="{{'col-lg-'+itemcol.width}}" *ngIf="itemcol.field=='customfield'">
                  <pre>{{getCustomFields(rowData['customfield'])}}</pre>
                </td>
                <td class="{{'col-lg-'+itemcol.width}}" *ngIf="itemcol.datatype=='TG'"
                  [innerHTML]="getTag(rowData[itemcol.field])">

                </td>
                <td class="{{'col-lg-'+itemcol.width}}" *ngIf="itemcol.datatype=='SS'"
                  [innerHTML]="getAccess(rowData[itemcol.field])">

                </td>
                <td class="{{'col-lg-'+itemcol.width}}" *ngIf="itemcol.datatype=='IM'">
                  <ng-container *ngIf="rowData[itemcol.field]!=null && rowData[itemcol.field]!=undefined">
                    <ng-container *ngFor="let fileobj of getJsonObject(rowData[itemcol.field])">
                      <a href="{{fileobj.name}}">{{fileobj.name}}</a> |
                    </ng-container>
                  </ng-container>
                </td>
                <td class="{{'col-lg-'+itemcol.width}}" *ngIf="itemcol.field=='attachment'">
                  <ng-container *ngFor="let fileobj of getAttachments(rowData['attachment'])">
                    <a href="{{fileobj}}">{{fileobj}}</a> |
                  </ng-container>
                </td>
                <td class="{{' col-lg-'+itemcol.width}}"
                  *ngIf="(itemcol.poptitle=='' || itemcol.poptitle==undefined) && itemcol.colhtml!='' && itemcol.colhtml!=undefined"
                  innerHTML="{{getcolHtml(rowData,itemcol.colhtml)}}">
                </td>

                <td class="{{' col-lg-'+itemcol.width}}"
                  *ngIf="itemcol.poptitle!='' && itemcol.poptitle!=undefined && itemcol.colhtml!='' && itemcol.colhtml!=undefined">
                  <button type="button" class="btn btn-outline-secondary" popoverTitle="{{rowData[itemcol.poptitle]}}"
                    [autoClose]="'inside'" ngbPopover="{{getcolHtml(rowData,itemcol.colhtml)}}">
                    {{rowData[itemcol.field]}}
                  </button>
                </td>
                <td class="{{' col-lg-'+itemcol.width}}" *ngIf="itemcol.link"><a
                    href="{{evaluate(itemcol.linkurl,rowData)}}">{{rowData[itemcol.field]}}</a>
                </td>
                <td class="{{' col-lg-'+itemcol.width}}" *ngIf="itemcol.sp"><button type="button" class="btn"
                    (click)="runsp(itemcol.spname,rowData)">{{rowData[itemcol.field]}}</button>
                </td>
                <td [ngStyle]="setcolor(itemcol,rowData)" class="{{' col-lg-'+itemcol.width}}"
                  *ngIf="!editable && itemcol.datatype!='IM'  && itemcol.datatype!='SS'  && itemcol.datatype!='TG'  && itemcol.field!='customfield' && (itemcol.colhtml=='' || itemcol.colhtml==undefined) && itemcol.field!='attachment' && !itemcol.link && !itemcol.sp"
                  innerHTML="{{rowData[itemcol.field]}}">
                </td>

                <td class=""
                  *ngIf="editable && itemcol.datatype!='IM'  && itemcol.datatype!='TG' && itemcol.field!='customfield' && (itemcol.colhtml=='' || itemcol.colhtml==undefined) && itemcol.field!='attachment' && !itemcol.link && !itemcol.sp"
                  [pEditableColumn]="rowData" [pEditableColumnField]="itemcol.field"
                  id="{{'col'+itemcol.field+rowIndex}}">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input id="{{itemcol.field + rowIndex}}" pInputText type="text"
                        [(ngModel)]="rowData[itemcol.field]"
                        (keydown.shift.z)="goNextRow($event,itemcol.field, rowIndex)">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData[itemcol.field]}}
                    </ng-template>
                  </p-cellEditor>
                </td>

              </ng-container>

            </ng-container>
          </ng-container>
          <ng-container *ngIf="outputtype=='html' && configdata['html']!=''">
            <td><a [routerLink]='' (click)='opendialog1(null,rowData)'>View</a></td>
            <td class="cardclass col" [innerHTML]="getHtml(rowData)">
            </td>

          </ng-container>

        </tr>

        <tr class="ui-widget-footer"
          *ngIf="groupfield!=''  && rowgroupmetadata[rowData[groupfield]+'p'+page]!=null && (rowgroupmetadata[rowData[groupfield]+'p'+page].index+ rowgroupmetadata[rowData[groupfield]+'p'+page].size -1   === rowIndex)">
          <td colspan=7 innerHTML="{{GetDetailFooter()}}"></td>
        </tr>
      </ng-container>
      <ng-container *ngIf="outputtype=='html'">
        <div style="display:inline-block;width:fit-content!important;border:none!important"
          class="cardclass col ui-widget-content">
          <ng-container *ngIf="!showgroupcheckbox && menuactions.length>0 && showmenu">
            <td class='col' style="width: 50px;padding: .2em .2em !important; ">
              <div class="starred">

            <td style='background-color: transparent!important'>

              <div class='moredrop' appendTo="body" id="{{'divrow'+rowIndex}}" style="display:none">
                <ul>
                  <ng-container *ngFor="let action of menuactions">

                    <li (mousedown)="buttonactions(action,rowData)"><i [alt]="action.actiondescription"
                        [ngClass]="action.actionicon"></i><span class='label'>{{action.description}}</span></li>
                  </ng-container>
                </ul>
              </div>

              <button style="border:none;background-color: transparent!important;display:none" type="button"
                (click)="moreclick(rowIndex)" (blur)="bgclick(rowIndex)" class="more"><i class='fa fa-ellipsis-v'
                  aria-hidden="true"></i></button>
            </td>
        </div>
        </td>
      </ng-container>

      <div style='width:fit-content;' [innerHTML]="getHtml(rowData)"></div>

      <div *ngIf="configdata.rowoutputype!='B' && rowData.header1!=''"
        style="white-space: pre-wrap; background-color: transparent;line-height: 2px;">
        {{rowData.header1}}
      </div>
      <div class="row" style="align-items:center;">

        <div class="col-3" style="text-align: center;">
          <ng-container *ngIf="showcheckbox && !showgroupcheckbox">
            <p-checkbox [value]="rowData" [(ngModel)]="selecteddata" (click)="CheckboxSelect(rowData,$event)">
            </p-checkbox>
          </ng-container>
        </div>


        <div class="col-5" style="display: flex !important;justify-content: space-between;padding: 0 8px;">
          <ng-container *ngFor="let action of menuactions">

            <div *ngIf="action.actionbutton==true && action.actionbuttonlocation=='B'">
              <span *ngIf="action.description == 'Selected'">
                <i class="fa fa-check-circle" style="font-size:25px;color: green;cursor: pointer;"
                  (click)="onChangeAction1(action.actionid)"></i>
              </span>

              <span *ngIf="action.description == 'Rejected'">
                <i class="fa fa-times-circle" style="font-size:25px;color: red;cursor: pointer;"
                  (click)="onChangeAction1(action.actionid)"></i>
              </span>
            </div>

          </ng-container>
        </div>
        <div class="col-3" style="text-align: center;">
          <i class="fa fa-eye" style="font-size: 20px !important;"
            (click)='opendialog1(null,rowData)'></i>
        </div>
      </div>



      <p-table responsive-scrolling [scrollable]="true" scrollHeight="100%" *ngIf="header1cols.length>0"
        [value]="rowData.header1results">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of header1cols">
              <font style="color:blue"> {{col.header}}</font>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr style="height:30px">
            <td *ngFor="let col of header1cols">
              <font style="color:#000">{{rowData[col.field]}}</font>
            </td>
          </tr>
        </ng-template>
      </p-table>

</div>
</ng-container>

</ng-template>

</p-table>
</div>
</td>
</tr>
</table>
</div>
</div>
<div class="row">
  <div class="col-12">
    <div class='full-width'
      *ngIf="customfieldvisible  && customfieldservicelist!=null && customfieldservicelist!=undefined  && customfieldservicelist.fields.length>0 && data.length>0">
      <div class="form-group row"
        *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined   &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))">
        <dynamic-form-builder [customfields]="customfieldservicelist" #customform></dynamic-form-builder>
      </div>

    </div>
  </div>
</div>
</div>

