/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
//@import '../node_modules/primeng/resources/themes/luna-pink/theme.css';
@import '../../../node_modules/primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import 'var.scss';
@import 'theme.scss';
@import 'layout-light.css';
@import 'theme-light.css';


* {
  box-sizing: border-box;
}

html {

  font-family: Poppins,sans-serif,Lato, -apple-system, 
                BlinkMacSystemFont, 
                "Segoe UI", 
                Roboto, 
                Oxygen-Sans, 
                Ubuntu, 
                Cantarell, 
                "Helvetica Neue", 
                sans-serif;
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: .7em!important;
  height: .7em!important;
  background-color:var(--backcolor)!important;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)!important;
    }
     
  ::-webkit-scrollbar-thumb {
    outline: 1px solid #0057e7!important;
    background-color:var(--frontcolor)!important;
    }
    
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-toggle
{
  margin: 20px !important;;
}
.dropdown-menu
{
  padding:0!important;
  margin:0!important;
}

.hide
{
  display:none!important;
}
.ng2-smart-actions
{
 max-width: 15px!important;
 width: 15px!important;
}
.ng2-smart-actions .ng2-smart-title
{
  display:none!important;
}
td{
  white-space: pre-wrap!important;

}
.p-datatable-tbody td
{
  overflow: hidden;//!important
}
.menuactions
{
  overflow: visible!important;
}
th{
  white-space: nowrap!important;
  overflow: hidden!important;
}
td ul,td ul li
{
  overflow: visible!important;
}
.padding5
{
padding:5px;
}
ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
.row
{
  padding:0px!important;
  margin:0px!important;
  
}
.second
{
  padding-top:10px!important;
}
.col
{
  padding:0px!important;
  margin-left:2px!important;
  margin-right:2px!important;
  
}

/*
form
{
  margin-bottom:30px!important;
}

.mainform
{
  padding-top:10px!important;
  padding-bottom:50px!important;
  padding-left:2px!important;
  padding-right:2px!important;
  overflow-x:auto!important;
  overflow-y:auto!important;
  position: absolute;
   // height: 100% !important;
   // width: 80% !important;
   // max-width: 100% !important;
}
*/
ngx-reportviewer
{
margin-left:0px!important;
}
//.p-datatable-wrapper table
p-table
{
margin-bottom:200px!important;
}

.layout-topbar-left {
  background-color: transparent!important;
}
#contentArea
{
  padding-left:10px!important;
  padding-right: 5px;
}
#dtopfilter .col input{
  margin-left:5px;
  width:80px!important;
}
#dtopfilter .col select,#dtopfilter .col p-dropdown,.ui-column-filter{
  margin-left:5px;
  line-height: .5;
  
}
#dtopfilter .col p-slider{
  margin-left:5px;
}
.second
{
  padding-top:2px;
}
.divdashboard
{
  padding-top: 2px;
}
.dashboardcard
{
  margin: 2px;
  //display: table-caption;
  display:block!important;
 // height:max-content!important;
}
.dashboardflex
{
//  margin: 2px;display:flex!important;
  //display: table-caption;
//  display:flex!important;
 
  // height:max-content!important;
}
.designrow
{
  /*
  display: flex!important;
    flex-wrap: wrap!important;
    margin-left:-15px!important;
    margin-right:-15px!important;
    */
}
#desc
{
  line-height: .5rem!important;
}
.nav-pills .nav-item,.nav-pills .nav-link
{
  padding-right:5px!important;
}
.nav-pills
{
  align-items: baseline!important;
}
.body
{
  //display: flex;
}
.labelview
{
  color:var(--color2);
 // text-decoration: underline;
  font-weight: bold;
  padding-right: 10px!important;
  padding-left: 5px!important;
}
.frontcolor
{
  color:var(--color2);
}
.comment-container
{
  color:var(--color2);
  background-color:var(--backcolor2);
}
.nogap
{
  padding: 0px !important;
  margin: 0px !important;
}
.btn-group .dropdown-menu
{
  left: -80px !important;
}
.nav-link
{
  padding: 0rem 1rem!important;
  //background-color:var(--backcolor)!important;
}
.p-dialog-header
{
  display:none!important;
}
.p-dialog
{
 // max-height:100%!important;
}
h1 a
{
  color:var(--frontcolor);
}
.smart-table-container
{
width:100%;
height: max-content;
}
.btn-success {
  color: var(--color3)!important;
  background-color: var(--backcolor3)!important;
  border-color: var(--backcolor)!important;
}

p-accordion
{
//  padding: 2px !important;
  
//  margin:2px !important;

}
div
{
  padding-top: 0;
  padding-bottom: 0;
  margin-top:0;
  margin-bottom:0;
}
#contentArea2
{
  overflow: auto !important;
  position: absolute;
  height: 90% !important;
  width: 98% !important;
  padding-bottom:50px;
  left:30px;
}
.tab
{
  box-shadow:  0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .20)!important;
 // margin: 5px!important;
 padding: 5px;
  border-radius: 2px;
  position: relative;
  transition: margin-bottom 225ms;
  margin-bottom: 10px!important;
}
.table-container
{
  color: var(--color4)!important;
  background-color:  var(--backcolor4)!important;
}
.btn-info {
  color: var(--color4)!important;
  background-color:  var(--backcolor4)!important;
  border-color:  var(--backcolor3)!important;
}
.nav-tabs {
  border-bottom: none;
  background-color: var(--backcolor3);
  color: var(--color3);
}

th select{
  padding: 0px!important;
  margin: 0px!important;
  border:none!important;
}
th .p-inputtext
{
  padding: 0px!important;
  margin: 0px!important;
  border:none!important;
}
th 
{
  padding: 0px!important;
  margin: 0px!important;

}
.p-multiselect-label
{
  padding: 0px!important;
  margin: 0px!important;
}
.card{
  border-radius: 10px!important;
  margin: 0 0 8px!important;
  transition: box-shadow 83ms;
  //border: none!important;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .20)!important;
  //box-shadow: 0 0 1px rgba(0,0,0,0.15), 0 2px 3px rgba(0,0,0,0.2);
}
.pi-sort-alt:before {
  content: '\e903 \A \e902';
  font-size: 75%;
}

.pi-sort-amount-up-alt:before {
  content: '\e903';
  font-size: 75%;
}

.pi-sort-amount-down:before {
  content: '\e902';
  font-size: 75%;
}

.ui-datepicker{
  overflow: visible;
  z-index: 999;
}
h1{
  background-color:var(--backcolor)!important;
  color:var(--frontcolor)!important;
}
#header
{
  background-color:var(--backcolor);
  padding: 4px!important;
  border-color: var(--frontcolor);
  margin-right: 0px!important;
    margin-left: 0px!important;
 // margin: 1px;
}

.p-datatable .p-datatable-thead > tr > th,  .p-datatable .p-datatable-tfoot > tr > td
{
font-weight: bold;
font-size: medium;
}

:host ::ng-deep .ui-table-scrollable-header{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.p-dialog
{
 // height:100%;
}
.my-drop-zone {
  border: none!important;
}

$spacing: 1rem;
$themeColor: #63B8FF;
$backColor: #ddd;
$textShadow: rgba(black, 0.35) 1px 1px 1px;

* { box-sizing: border-box; }

body {
  font-family: Roboto;
  background-color: #e7e7e7;
  color: #555;
  line-height: 1.4;
}

.containerX {
  width: 70%;
  padding: $spacing * 2;
  margin: 100px auto;
  background-color: white;
  h1 { text-align: center; }
}

.bars {
  text-align: center;
  margin-top: $spacing * 2;
}

/* Progress Bars */

.progress--bar {
  height: 1.5rem;
  margin: $spacing;
  background-color: $backColor;
  &:after {
    content: '';
    display: block;
    height: 100%;
    background-color: $themeColor;
  }
}

.progress--circle {
  position: relative;
  display: inline-block;
  margin: $spacing;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: $backColor;
  &:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: white;
  }
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    background-color: $themeColor;
  }
}

.progress__number {
  position: absolute;
  top: 50%;
  width: 100%;
  line-height: 1;
  margin-top: -0.75rem;
  text-align: center;
  font-size: 1.5rem;
  color: #777;
}

.progress--pie {
  &:before {
    display: none; /* Get rid of white circle for "pie chart style" meter */
  }
  .progress__number {
    color: white;
    text-shadow: $textShadow;
  }
}

/**
* $step is set to 5 by default, meaning you can only use percentage classes in increments of five (e.g. 25, 30, 45, 50, and so on). This helps to reduce the size of the final CSS file. If you need a number that doesn't end in 0 or 5, you can change the text percentage while rounding the class up/down to the nearest 5.
*/
$step: 5;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);
@for $i from 0 through $loops {
  .progress--bar.progress--#{$i * $step}:after {
    width: $i * $step * 1%;
  }
  .progress--circle.progress--#{$i * $step}:after {
    @if $i < $half {
      $nextDeg: 90deg + ($increment * $i);
      background-image: linear-gradient(90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextDeg, $themeColor 50%, $backColor 50%, $backColor);
    }
    @else {
      $nextDeg: -90deg + ($increment * ($i - $half));
      background-image: linear-gradient($nextDeg, $themeColor 50%, transparent 50%, transparent), linear-gradient(270deg, $themeColor 50%, $backColor 50%, $backColor);
    }
  }
}
.actionheader
{
  align-items: stretch!important;
    display: flex;
    flex-wrap: initial;
}
.telephone
{
  padding: 0px!important;
  margin: 0px!important;

}
#main-wrapper
{
  width: 1500px!important;
}

.form-control {
  height: auto!important;
  font-size: 100%!important;
  border-radius: 5px!important;
  padding: 10px 14px!important;
  border: 1px solid #ced4da!important;
}
.form-control:focus {
  border: 1px solid blue;
}
.p-rating
{
  display:flex;
}
.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
 // font-size: 30px;
  font-family: Times; // make sure ★ appears correctly
 // line-height: 1;
  
  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, #fc0 var(--percent),#fff var(--percent));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
}
th
{
  font-size: .935rem;
  font-weight: 700;
}
.dialogbtn
{
  margin:0px;
  background:#1565C0;
  padding:0px;
  color:white;
  border:none;

  display: inline-block;
    font-weight: 400;
    
    text-align: center;
    vertical-align: middle;
    
    user-select: none;
  
    padding: .1rem .1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;

}
.col-lg-null,.col-lg-1,.col-lg-2,.col-lg-3,.p-sortable-column
{
  overflow: wrap;
 /* text-overflow: hidden;//ellipsis
  white-space: nowrap;*/
  
}
.col-lg-null
{
  width:max-content!important;
}
.col-lg-1
{
  max-width: 20px!important;
}
.col-lg-2
{
  max-width: 40px!important;
}
.col-lg-3
{
  max-width: 60px!important;
}

.bg {
  width: 100vw;
  height: 100vh;
  // background: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.table {
  background: #fff;
  max-width: 1000px;
  width: 96%;
  // height: 265px;
  border: 1px solid #E6EAEE;
  border-radius: 3px;
  margin: 40px auto;
}
.head, .group {
  height: 40px;
  border-bottom: 1px solid #E6EAEE;
}

.head {
  font-size: 12px;
  color: rgba(53, 64, 82, 0.50);
  text-transform: uppercase;
  font-weight: 600;
  /*   padding-top: 40px; */
}

.head-name {
  display: inline-block;
  padding-top: 14px;
  padding-left: 16px;
}
.head-other {
  display: inline-block;
  float: right;
  padding-right: 60px;
  div {
    display: inline-block;
    float: left;
    padding-top: 14px;
    width: 110px;
    &.star {
      width: 40px;
    }
  }
}

.group {
  background: #FAFBFC;
  border-bottom: 1px solid #E6EAEE;
  img {
    height: 24px;
    margin: 8px 8px 8px 16px;
    border-radius: 12px;
    display: inline-block;
    float: left;
  }
  .group-name {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: #354052;
    line-height: 18px;
    float: left;
    margin-top: 11px;
  }
}
.pipeline {
  height: 48px;
  border-bottom: 1px solid #E6EAEE;
  font-weight: 500;
  &:last-child {
    border-bottom: none;
  }
  .pipeline-name {
    display: inline-block;
    padding-top: 15px;
    padding-left: 16px;
  }
  .pipeline-other {
    display: inline-block;
    float: right;
    padding-right: 60px;
    position: relative;

    .pipeline-health, .pipeline-branches, .pipeline-prs {
      float: left;
      padding-top: 15px;
      width: 110px;
      &.pipeline-health {
        padding-top: 10px;
        svg {
          width: 24px;
        }
      }
      &.pipeline-star {
        width: 40px;
        svg {
          float: right;
        }
      }
    }
    .buttons {
      background: rgba(#FAFBFC, 0);
      transition: all .1s;
      display: block;
      position: absolute;
      right: 0;
      height: 47px;
      // width: 140px;
      margin: auto; //remove me
      // padding: 14px 10px 14px 10px;
      padding-left: 6px;
      &::before {
        width: 144px;
        transition: all .1s;
        content: "";
        height: 47px;
        margin-left: -144px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(
          90deg,
          rgba(#FAFBFC, 0.00) 0%,
          #FAFBFC 100%
        );
        opacity: 0;
      }
      div {
        display: inline-block;
        float: left;
        // margin-left: 12px;
        transition: all .1s;
      }
      a {
        padding: 12px 6px;
        display: inline-block;
        float: left;
        color: #354052;
        text-decoration: none;
        i {
         opacity: .5;
        display: block;

        }
        &:hover i {
          opacity: .75;
        }
      }
      a.unstarred, a.rerun, a.run {
        opacity: 0;
        transition: all .2s;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
    background: #FAFBFC;

    .pipeline-other .buttons {
      background: rgba(#FAFBFC, 1);
      &::before {
        opacity: 1;
      }
      a.unstarred, a.rerun, a.run {
        opacity: 1;
        // transition: all 1s;
      }
    }
  }
}
.more 
{padding-left: 0 !important;}
.starred {
  .starred {
   color: #F5A623 !important;
    i {
      opacity: 1 !important;
    }
  &:hover {
  opacity: .75;
    }
  }
}

.moredrop {
  background: #FFFFFF;
  border-radius: 3px;
  width: max-content;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.25);
  // margin: 0;
  position: absolute;
 // right: 5%;
 left: 5px;
 // top: 95%;
  z-index: 99999;
  ul {
    padding: 8px 0;
    display: grid;
    margin: 0;
    li {
      // height: 34px;
      display: block;
      padding: 8px 16px;
      // display: block;
      i {
        float: left;
        display: inline-block;
        margin-right: 14px;
        color: #354052;
        opacity: .5;
      }
      span {
        float: left;
        display: inline-block;
        line-height: 24px;
        color: #4A4A4A;
      }
      &:hover {
        background: #FAFBFC;
        cursor: pointer;
        i {
           opacity: .75;
        }
      }
    }
  }
}



.white
{
color:white
}
html, body {
  height: 100%;
}
.full-width {
  width: 100%!important;
}
.full-height {
  height: 100%!important;
}
.p-dropdown-panel
{
  background-color: white;
  
}
.reportheader
{
  text-align: left;
}
.ng2-smart-actions,.ng2-smart-action
{
 // padding: .5em .5em!important;
 padding: 0px!important;
 margin: 0px!important;
}
.container2
{
  //margin-left:5px!important;//ss
}
.border
{
border:1px solid var(--primary);
//`color: var(--secondary)!important;
//background-color: var(--primary);
}

.ng2-smart-titles,.ng2-smart-sort-link,.ng2-smart-th
{
 // color: var(--frontcolor)!important;
 // background-color: var(--backcolor);
}
p.small {
  height: 5px;
}

.bluecolor
{
  color:var(--blue);
}
.primary
{
  color:var(--primary);
}
.secondary
{
  color:var(--secondary);
}
.success
{
  color:var(--success);
}
.info
{
  color:var(--info);
}
.warning
{
  color:var(--warning);
}
.danger
{
  color:var(--danger);
}
.light
{
  color:var(--light);
}
.dark
{
  color:var(--dark);
}
.large{
font-size:20px;
}
.teal
{
  background-color:teal;
  color:white;
 // width:100%;
 // padding:0;
 // margin:0;
}
.red
{
  background-color:red;
  color:white;
 // width:100%;
 // padding:0;
//  margin:0;
}
.indigo
{
  background-color:violet!important;
  color:black!important;
}
.lighten-2
{
  
  width: 15px;
  height: 15px;
  margin: 0px;
padding: 0px;
//  width:100%;
//  padding:0;
//  margin:0;
}

.yellow
{
  background-color:yellow;
  color:black!important;
//  width:100%;
 // padding:0;
 // margin:0;
}

.brown
{
  background:brown;
  color:white!important;
/*  width:100%;
  padding:0;
  margin:0;*/
}
.cyan
{
  background:cyan!important;
  color:white!important;
/*  width:100%;
  padding:0;
  margin:0;*/
}
.green
{
  background:yellowgreen!important;
  color:white!important;
/*  width:100%;
  padding:0;
  margin:0;*/
}

.orange
{
  background:orange;
  color:white!important;
 /* width:100%;
  padding:0;
  margin:0;*/
}

.blue
{
background:skyblue!important;
color:white!important;
//  width:100%;
//  padding:0;
//  margin:0;
}

.pink
{
  background-color:pink;
 /* width:100%;
  padding:0;
  margin:0;*/
}
.magenta
{
  background-color:magenta;
  width:100%;
  padding:0;
  margin:0;
}

.dashboardcard .p-datatable
{
  height: 200px !important;
}
.ssgicon
{
  font-family: "ssgicons";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* You can be more comfortable with increased icons size */
  /* font-size: 118%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.cal-header,.cal-days
{
  background-color:var(--backcolor)!important;
    color: var(--frontcolor)!important;
    opacity: 1.0;
}
.cal-month-view .cal-cell-row:hover {
  background-color: var(--backcolor3)!important; }
  .cal-month-view .cal-day-cell.cal-weekend .cal-day-number,.cal-weekend,.cal-week-view .cal-header.cal-weekend span {
    color: var(--color3)!important; }
    .cal-week-view .cal-hour-odd,.cal-day-view .cal-hour:nth-child(odd) {
      background-color: var(--backcolor3)!important; }

      .cal-month-view .cal-cell-row .cal-cell:hover, .cal-month-view .cal-cell.cal-has-events.cal-open
      {
        color:var(--color2);//#000;
        background-color:var(--backcolor2)!important;//#fff;
      }
      .cal-day-cell.cal-today {
        color:var(--color1)!important; }
        .cal-week-view .cal-header.cal-today {
          color:var(--color1)!important;  //#007bff;
      }
        .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
          opacity: 0.3;
        }   
        
        .right
        {
         // position: absolute!important;
         // right: 0px!important;
         
        }

dynamic-form-builder
{
  margin-left: 100px!important;
}

/** Gallery 2 css **/

.image-container,.iv-image
{
  position:absolute!important;
  top:30px!important;
  
}
.iv-image
{
  height: auto!important;
  width: auto!important;
  left:40px!important;
}
.inline-icon
{
  display: table-caption!important;
  
}
.dropbtn {
  background-color: transparent!important;
}
.folder {background-image: url("http://localhost:7026/MyResources/folder.webp");height: 48px;width: 48px;display: inline-block;}

.file {background-image: url("http://localhost:7026/MyResources/file.png");height: 48px;width: 48px;display: inline-block;}

.flagInput .flag { 
  background-image: url('http://localhost:7026/flags_boi3c5.png') !important; 
  background: url('http://localhost:7026/flags_boi3c5.png') !important; 
}
.defaultCountry{
  background: url('http://localhost:7026/flags_boi3c5.png') no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
}
.telephone
{
  padding: 0px!important;
  margin: 0px!important;
}
.telephone > .form-control
{
border: none !important;
}
.ql-toolbar.ql-snow {
  border: 1px solid #ccc!important;
}
.general,.starred,.unstarred{
  color: var(--frontcolor)!important;
  //background-color: var(--backcolor);
}
.cardclass
{
 // background-color: var(--backcolor)!important;
  color: var(--color4)!important;
  background-color: var(--backcolor4)!important;
  padding:5px;
}
.cardtable .icon{
  mix-blend-mode: luminosity!important;
}
.p-panelmenu-header-link
{
  background-color:inherit!important; //var(--backcolor)!important;
  color:inherit!important; // var(--frontcolor)!important;
}

.cardrow
{
//display: inline-flex!important;
min-width:100%!important;
}
.col4
{
  min-width:33.33%!important;
}
.col6
{
  min-width:50%!important;
}
.col3
{
  min-width:25%!important;
}
.nowrap{
  flex-wrap: nowrap!important;
}
.row1
{
  display: flex;
  flex-wrap: wrap;
}

.hidden
{
  display:hidden;
}

.ngb-tp-input-container .btn{
  padding: 0px!important;
  margin: 0px!important;
  font-size: .75rem!important;
}
.hrms:before{
  content: "\f0c4";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
};

/*
.visitormanagement {background-image: url("http://localhost:7026/MyResources/visitormanagement.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.invoice {background-image: url("http://localhost:7026/MyResources/invoice.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.gettingstarted {background-image: url("http://localhost:7026/MyResources/gettingstarted.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.workflow {background-image: url("http://localhost:7026/MyResources/workflow.webp");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.grievancesystem {background-image: url("http://localhost:7026/MyResources/grievancesystem.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.legalmanagement {background-image: url("http://localhost:7026/MyResources/legalmanagement.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.assetmanagement {background-image: url("http://localhost:7026/MyResources/assetmanagement.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.sunsmart {background-image: url("http://localhost:7026/MyResources/sunsmart.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.backoffice {background-image: url("http://localhost:7026/MyResources/backoffice.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.crm {background-image: url("http://localhost:7026/MyResources/crm.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.performancemanagement {background-image: url("http://localhost:7026/MyResources/performancemanagement.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.hospitalmanagement {background-image: url("http://localhost:7026/MyResources/hospitalmanagement.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.hrms {background-image: url("http://localhost:7026/MyResources/hrms.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.learningmanagement {background-image: url("http://localhost:7026/MyResources/learningmanagement.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.fleetmanagement {background-image: url("http://localhost:7026/MyResources/fleetmanagement.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.tnsamb {background-image: url("http://localhost:7026/MyResources/tnsamb.webp");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.sunsmartsystem {background-image: url("http://localhost:7026/MyResources/sunsmartsystem.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.procurement {background-image: url("http://localhost:7026/MyResources/procurement.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.reports {background-image: url("http://localhost:7026/MyResources/reports.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.dashboards {background-image: url("http://localhost:7026/MyResources/dashboards.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.customforms {background-image: url("http://localhost:7026/MyResources/customforms.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.finance {background-image: url("http://localhost:7026/MyResources/finance.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.propertymanagement {background-image: url("http://localhost:7026/MyResources/propertymanagement.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.loyaltymanagement {background-image: url("http://localhost:7026/MyResources/loyaltymanagement.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.mybiz {background-image: url("http://localhost:7026/MyResources/mybiz.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.helpdesk {background-image: url("http://localhost:7026/MyResources/helpdesk.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.complaintmanagement {background-image: url("http://localhost:7026/MyResources/complaintmanagement.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.recordmanagement {background-image: url("http://localhost:7026/MyResources/recordmanagement.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.contentmanagement {background-image: url("http://localhost:7026/MyResources/contentmanagement.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.leadmanagement {background-image: url("http://localhost:7026/MyResources/leadmanagement.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.projectmanagement {background-image: url("http://localhost:7026/MyResources/projectmanagement.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
.xxx {background-image: url("http://localhost:7026/MyResources/xxx.png");height: 16px;width: 16px;display: inline-block;mix-blend-mode: difference;filter:brightness(2)!important;}
*/
.ng-header
{
height: 30px!important;
}
h1{
font-size: 1.75rem!important;
}
.p-megamenu
{
    padding:0px;
    line-height: 1;
}
/*
  ::-webkit-scrollbar {
    //width: 15px;
    background-color:var(--backcolor)!important;
    
    //height:15px;
    width: 1rem; 
    height: 1rem; 
  }
  */
  .main
  {
    //margin-left:10px!important;
    /*
    position: absolute;
    
    height:90%!important;
    margin-left: 20px;
    */
  }
  .ng-content
  {
    width:100%;
    height:100%;
  }
  /*
  ::-webkit-scrollbar-corner {
     width: 5px; 
     height: 5px; 
    background-color: rgba(186,193,205,.2);
}
*/
/*
  ::-webkit-scrollbar-thumb {   
    border-radius: .5rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:var(--frontcolor)!important;
    //background-color:mix(var(--backcolor), var(--frontcolor));
    background-clip: content-box;
  }
*/


  .p-dynamicdialog
  {
  overflow: hidden!important;
  display:block;
    float:left;
    padding:0px;
    margin:0px;
  height:100%;
  }


 /*
  .layout-wrapper #contentArea,#contentArea
{
  //overflow: scroll!important;//ss
  //position: absolute;
    
  //height:90%!important;
  //margin-left:1%!important; 
  //width: 100%!important;
}
*/

.p-dynamicdialog {
  top: inherit!important;
  left: inherit!important; 
}
/*
.layout-menu-active
{
    #contentArea:not(.p-dialog-content)
{
    //width: 82%;
    //margin-left:18%!important; //ss
    //width: 82%!important;//ss
    //overflow: scroll!important;//ss
    position: absolute;
    
    height:90%!important;
    padding-left: 1%!important;
}

}
*/

badge
{
  width:max-content;
  border-radius: 25px;
  padding:5px;
}
p-accordion
{
  width:100%;
}
.p-dialog-mask {
  
 // background-color:#F0F0F0!important;//var(--backcolor)!important;
 // color:rgba(0,0,0,0.9)!important;//var(--frontcolor)!important;
}
.p-dialog
{
 // width:max-content!important;
//  height:max-content!important;  //100% !important;
//  padding-bottom:30px;
  opacity: 1;
}
.p-dialog-content,.p-dynamicdialog
{


}
/*
.layout-menu-static:not(.layout-menu-active)
{
#contentArea
{
  //margin-left:1%!important;
  //width:99%;
  width:100%;
  //overflow: scroll!important;//ss
  position: absolute;
    
  height:90%!important;
  padding-left: 1%!important;
}

}
*/
/*
.p-dialog-content #contentArea
{
  
  margin-left:1%!important;
  width: 99%;
  //overflow: scroll!important;//ss
  position: relative;
    
  height:90%!important;
  padding-left: 1%!important;
  
}
#contentArea
{
  padding-top: 20px!important;
}
*/
.row{
//margin-left:0px!important;
//margin-right:0px!important;
}
/*
#reportmaincontent
{
  position: absolute;
    
  height:90%!important;
  margin-left: 20px;
  overflow-y:scroll!important;overflow-x:scroll!important;scrollbar-width: thin1; 
  margin-left:18%!important; width: 82%!important;

}
*/
#reportmaincontent1
{
/*  margin-left: 2%;*/
}
.containerX {
   /* width: 100%;*/
    width:100%!important;
    padding-right: 0px!important;
    padding-left: 0px!important;
    margin-right: 0px!important;
    margin-left: 0px!important;
}
table
{
  //max-width: none;
}
.sticky1
{
    display: flex;
}   

td{
    vertical-align: text-top;
    font-size: 1em!important;
}

.p-datatable table {
 //   width: auto!important;
}

.p-selectbutton,.p-field-checkbox
{
    width:1000px;
}
.width100
{
    width:100%!important;
}
.sticky {
    width: 100%;
    height:30px;
    margin:0;
    left:0;
    right:0;
    top:0;//
    background-color:var(--backcolor)!important;// #00d977;
    overflow: hidden;
    //background-image: -webkit-gradient(linear, left top, right top, from(#69c), to(#69c))!important;
    color: var(--frontcolor)!important;

    display: block;
    position: sticky;
    position: -webkit-sticky;
    z-index: 5;  //5
  //  color: #fff;
    padding-left: 20px;
    text-transform: uppercase;
letter-spacing: 0.4px;
font-weight: 400;

border: 2px solid transparent;
  }

  .help-tip{
    z-index:2!important;
    right: 18px;
    text-align: center;
    background-color: var(--backcolor)!important;
    color:var(--frontcolor)!important;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
  }
  .help-tip p{
    z-index:2!important;
    
    display:none;
   // position: absolute;
    color:white;
    text-align: center;
    background-color: var(--backcolor)!important;
    color:var(--frontcolor)!important;
    //border-radius: 50%;
    top:-20px;
    width: 600px;
    //height: 24px;
    font-size: 14px;
    line-height: 56px;
    cursor: default;
  }
  .help-tip:before{
    content:'?'!important;
    font-weight: bold!important;
    color:#000!important;
  }
  
  .help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
  
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
  
  }
  
  .cal-month-view .cal-day-number,.cal-week-view .cal-day-headers{
    opacity: 0.75;
  }
  .cal-day-view .cal-drag-over .cal-hour-segment, .cal-day-view .cal-hour-segment:hover,.cal-week-view .cal-day-headers {
    color:var(--frontcolor)!important;
    background-color: var(--backcolor)!important;
  }
  .cal-month-view .cal-header .cal-cell{
    color:var(--frontcolor)!important;
        background-color:var(--backcolor)!important;
  }
/*
  .comment-container
  {
    background-color:var(--backcolor)!important;
    color:var(--frontcolor)!important;
  }
*/
  .comments,.card
  {
    color:var(--frontcolor)!important;
        background-color:var(--backcolor)!important;
  }
  .dashboardcard
  {
    background-color:var(--backcolor)!important;
    color:var(--frontcolor)!important;
  }
  tag-input
  {
    background-color: transparent!important;
    border: 0!important;
  }
.fixedheader
  {
    
    position: fixed!important;
    top: 0px!important;
    display: block!important;
    
  }
  .ng-header
  {
    //height: 50px!important;
  }
  
  
  .layout-wrapper .second
  {
    //width:82%!important;padding:2px!important;margin-left: 18%!important;//ss
    //margin-top: 50px;
  }
/*
  #contentArea
  {
    //overflow-y:scroll!important;overflow-x:scroll!important;scrollbar-width: thin1; //ss
    //margin-left:16%!important; 
    //width: 84%!important;
  }
  */
  .layout-topbar-logo
  {
    //color:#fff;
  }

  .ng-footer
  {
    height:10px;
    color:var(--menu-bg-color)!important;
    background-color:var(--menu-text-color)!important;
    position: absolute;
    bottom: -10px!important;
  }
  .p-widget-header
  {
    background-color: transparent!important;
    border: none!important;
  }

  tfoot tr td{
    background-color: transparent!important;
    border: none!important;
  }

  
  .cardheader
  {
    background-color:var(--menu-text-color);
    color:var(--menu-bg-color)!important;
    font-weight:500;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
  }

  .menu-wrapper
  {
    margin-top: 3%!important;
    max-width:16%!important;
    top:0;
  }
  th {
    vertical-align: text-top!important;

   // word-break:break-all
  }
  td{
    //word-break:break-all
  }
  .form-group {
    margin-top: 0%;
    
  }
.btn{
  margin:2px;

}
.p-datatable{
 /* margin: 1%!important;*/
}
.ui-table table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
input[type=checkbox]
{
  height:15px!important;
}
select
{
 // display: inline-block !important;
  padding: 0 10px !important;
//  height: 30px !important;
  
  line-height: 30px !important;
  //font-size: 1em!important;
  //border-radius: 25px !important;
  
 // background-color: #f1f1f1 !important;
}
.search {
  padding-top:6px;
  padding-left:2px;
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  //text-align: center;
  pointer-events: none;
  color: #aaa;
}
.dialog
{
  background-color: white;
}

.p-dialog
{
  //height: 100%;
 // width: 100%;
 background-color:#F0F0F0!important;//var(--backcolor)!important;
  color:rgba(0,0,0,0.9)!important;//var(--frontcolor)!important;
}

.p-dialog-titlebar
{
  background-color: grey!important;
}
.p-dynamicdialog
{
  //height:100%;
  max-height: 100%;

  //width:90%;
  //height:90%;
  width:100%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
//  padding: 20px 50px 20px 20px;
}
.p-dialog .p-dialog-titlebar-icon {
  color: #000!important;

}
.p-dialog .p-dialog-titlebar {
padding: 0px!important;
}
.p-dynamicdialog {
  top: 0%;
  left: 0%;
  transform:translateX(0%) translateY(0%)!important;
}
.btn
{
  i{
    vertical-align: top!important;
  };
}
.sticky1{
  select{
    margin-left: 5px;
   // height:40px;
  }
}
.sticky1{
  margin:0px!important;
}
.p-treetable table {
  
  width: max-content!important;
}

.p-datatable table:not(.cardtable) {
 // width: max-content!important;
    
  }
  
  .cardtable
{
  width:1500px!important;
  th, td {
    padding: 20px;
    vertical-align: top;
}
}
  
  select {
//height:auto!important;
  }
  .smart-table-container
  {
    overflow-x: auto;
  }
  ng2-smart-table
  {
    table
    {
      //width:max-content!important;
      //max-width:max-content!important;
      //overflow: scroll !important;
      overflow: auto !important;
      //position: absolute;
      height: 88% !important;
      width: 99% !important;
      max-width: 100% !important;
    //  width:auto!important;
    }
  }

   

  ::ng-deep table tr:first-child th {
    position: sticky !important;
    top: -1px;
    z-index: 100;
    background: white;
    border: 1px solid #dee2e6;
  //  height: 58px;
  }

  label.required::after {
    content: " *";
    color: red;
}
  
.nb-theme-default .input-group-addon, .nb-theme-default .form-control .timepicker
{

  border:0px!important;

}
.timepicker{
  & .btn{
    background:transparent!important;
    border: 0;
  }
}
.timepicker
{
  border:none!important;
}
.ngb-tp-input-container
{
  & .btn{
    background:transparent;
  }
}
.ngb-tp-hour
{
  height:20px;
}
.ngb-tp-minute
{
  height:20px;
}
.nb-theme-cosmic .input-group-addon, .nb-theme-cosmic .form-control {
  border: 1px solid white;
 & .intl-tel-input input{
      border: 2px solid #342e73;
      width:100%;
      margin:0px
    }
& .ngb-tp{
  border: 2px solid #342e73;
  margin:0px  
   
  }    
}

p-dynamicdialog
{
  top:0!important;
}


.menu-wrapper+div 
{
  margin-top: 2% !important;
}
.card{
  width: max-content!important;
}
::-webkit-input-placeholder {
  color:transparent!important;
}

:-moz-placeholder { /* Firefox 18- */
  color:transparent!important; 
}

::-moz-placeholder {  /* Firefox 19+ */
  color:transparent!important; 
}

:-ms-input-placeholder {  
  color:transparent!important;
}
::-webkit-scrollbar-button:vertical:decrement
{
  border-width: 0 7px 14px 7px;
  border-color: transparent transparent #404040 transparent;
}

::-webkit-scrollbar-button:vertical:decrement:hover
{
  border-color: transparent transparent #505050 transparent;
}


/* Down */
::-webkit-scrollbar-button:vertical:increment
{
  border-width: 14px 7px 0 7px;
  border-color: #404040 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:increment:hover
{
  border-color: #505050 transparent transparent transparent;
}


/* Left */
::-webkit-scrollbar-button:horizontal:decrement
{
  border-width: 7px 14px 7px 0;
  border-color: transparent #404040 transparent transparent;
}

::-webkit-scrollbar-button:horizontal:decrement:hover
{
  border-color: transparent #505050 transparent transparent;
}


/* Right */
::-webkit-scrollbar-button:horizontal:increment
{
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent #404040;
}

::-webkit-scrollbar-button:horizontal:increment:hover
{
  border-color: transparent transparent transparent #505050;
}
//.container,.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  .container{
  padding-right:0px!important;
padding-left:0px!important;
}
.recents,.p-megamenu
{
  border: none !important;
}
.container
{
max-width: 100%!important;
}
#contentAreaLayout//,#reportmaincontent
{
  position: absolute;
  height: 93% !important;
 width: 98% !important;
 max-width: 100% !important;
 overflow-x: auto !important;
 overflow-y: auto !important;
 bottom:0;
 //padding:20px!important;
} 
p-dynamicdialog,.p-dialog
{
  position: absolute;
 // height: 93% !important;
 width: 98% !important;
 max-width: 100% !important;
 
 bottom:0;
}
.p-dialog-content {
  //overflow: visible!important;
  height: 100% !important;
  width: 100% !important;
  
  overflow-x: auto !important;
  overflow-y: auto !important;
}
.right{
  float:right;
}
.p-dialog
{
  max-width: 100%;
  max-height: 100%;
}
iframe
{
  width: 100%;
  height: 100%;
}
#contentArea1//,#reportmaincontent
{
  position: relative;
  height: 100% !important;
 width: 98% !important;
 max-width: 100% !important;
 //overflow-x: auto !important;
 //overflow-y: auto !important;
 //bottom:0;
 //padding:20px!important;
} 
#contentArea
{
  //position: absolute;
 max-height: 500px!important;
 // width: 80% !important;
  //max-width: 100% !important;
  overflow-x: auto !important;
  overflow-y: auto !important;
 // margin-bottom: 20px!important;

}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
