<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="hrmsemployeemedicalassessmentForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Medical Assessments' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="edithrmsemployeemedicalassessments()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='hrmsemployeemedicalassessmenttoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.hrmsemployeemedicalassessmentshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.consultationid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.consultationid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>


<!--branchid-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('branchid') == -1"  class="col" ><label  for="branchid" class="control-label" (click)="AddOrEditbranchid(null)">Branch</label>
<app-popupselect  *ngIf="!showview"  [options]="branchidList"  [optionsEvent]="branchidoptionsEvent" [form]="bouserbranchaccess" (selectItem)="onSelectedbranchid($event)"  [reportid]= 'oxubv' [menuid]='oxubv' formControlName="branchid" id="branchid" desc="branchname" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"      class="labelview">{{f.branchiddesc?.value}}</label>
  </div>


<!--employeeid-->

  <div   *ngIf="hidelist.indexOf('employeeid') == -1"  class="col" ><label  for="employeeid" class="control-label" (click)="AddOrEditemployeeid(null)">Employee</label>
<app-popupselect  *ngIf="!showview"  [options]="employeeidList"  [optionsEvent]="employeeidoptionsEvent" [form]="hrmsemployee" (selectItem)="onSelectedemployeeid($event)"  [reportid]= 'zcqka' [menuid]='zcqka' formControlName="employeeid" id="employeeid" desc="employeename" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"      class="labelview">{{f.employeeiddesc?.value}}</label>
  </div>
  <div  *ngIf="hidelist.indexOf('employeename') == -1"  class="col "  >
<label  for="employeename" class="control-label">Employee Name</label>
      <input   *ngIf="!showview"  id="employeename"  formControlName="employeename" class="form-control"
        >
  </div>


<!--departmentid-->

  <div   *ngIf="hidelist.indexOf('departmentid') == -1"  class="col" ><label  for="departmentid" class="control-label" (click)="AddOrEditdepartmentid(null)" (click)="AddOrEditdepartmentid(null)">Department</label>
      <select  *ngIf="!showview"  id="departmentid"  (change)="departmentidonChange($event.target)" formControlName="departmentid"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of departmentidList" value="{{item.masterdataid}}">{{item.masterdatadescription}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.departmentiddesc?.value}}</label>
  </div>
</div>


<!--designationid-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('designationid') == -1"  class="col" ><label  for="designationid" class="control-label">Designation</label>
      <select  *ngIf="!showview"  id="designationid"  (change)="designationidonChange($event.target)" formControlName="designationid"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of designationidList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.designationiddesc?.value}}</label>
  </div>
  <div  *ngIf="hidelist.indexOf('referenceno') == -1"  class="col "  >
<label  for="referenceno" class="control-label">Reference No</label>
      <input   *ngIf="!showview"  id="referenceno"  formControlName="referenceno" class="form-control"
        >
  </div>
  <div  *ngIf="hidelist.indexOf('consultationdate') == -1"  class="col "  >
<label  for="consultationdate" class="control-label">Consultation Date</label>
<div class="input-group" *ngIf="!showview" >
<input #consultationdateformpicker="ngbDatepicker"      ngbDatepicker name="consultationdateformpicker" id="consultationdate"  formControlName="consultationdate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="consultationdateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.consultationdate?.value)}}</label>
  </div>


<!--consultationtype-->

  <div   *ngIf="hidelist.indexOf('consultationtype') == -1"  class="col" ><label  for="consultationtype" class="control-label">Type</label>
      <select  *ngIf="!showview"  id="consultationtype"  (change)="consultationtypeonChange($event.target)" formControlName="consultationtype"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of consultationtypeList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.consultationtypedesc?.value}}</label>
  </div>
</div>


<!--resulttype-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('resulttype') == -1"  class="col" ><label  for="resulttype" class="control-label">Result</label>
      <select  *ngIf="!showview"  id="resulttype"  (change)="resulttypeonChange($event.target)" formControlName="resulttype"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of resulttypeList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.resulttypedesc?.value}}</label>
  </div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('details') == -1"  class="col "  >
<label  for="details" class="control-label">Details</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="details"  formControlName="details" class="form-control"
        >
</textarea>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('workrestrictions') == -1"  class="col "  >
<label  for="workrestrictions" class="control-label">Work Restrictions</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="workrestrictions"  formControlName="workrestrictions" class="form-control"
        >
</textarea>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('notes') == -1"  class="col "  >
<label  for="notes" class="control-label">Notes</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="notes"  formControlName="notes" class="form-control"
        >
</textarea>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('nextassessmentdate') == -1"  class="col "  >
<label  for="nextassessmentdate" class="control-label">Next Assessment Date</label>
<div class="input-group" *ngIf="!showview" >
<input #nextassessmentdateformpicker="ngbDatepicker"      ngbDatepicker name="nextassessmentdateformpicker" id="nextassessmentdate"  formControlName="nextassessmentdate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="nextassessmentdateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.nextassessmentdate?.value)}}</label>
  </div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div><p-accordion  [multiple]='true'>
<div  class='full-width'  *ngIf="customfieldvisible  && customfieldservicelist!=null && customfieldservicelist!=undefined  && customfieldservicelist.fields.length>0">
<p-accordion [multiple]='true'>
<p-accordionTab header='CustomField'  [selected]='false'>
<div class="sticky" *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined   &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))" >Custom Fields</div>
<div  class="form-group row" *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined   &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))">
<dynamic-form-builder [customfields]="customfieldservicelist" #customform></dynamic-form-builder>
</div>
</p-accordionTab>
</p-accordion>
</div>
<div  class='full-width'  *ngIf="attachmentvisible">
<p-accordion [multiple]='true'>
<p-accordionTab header='Attachment'  [selected]='false'>
<app-attachment #fileattachment  isAttachment=true  formControlName="attachment" [SessionData]="sessiondata"></app-attachment>
</p-accordionTab>
</p-accordion>
</div>
  </div>
</form>
