<div class="startpagecontent">
    <div class="main-contentainer">

        <div class="inline-curve">
            <h4>Welcome...</h4>
            <h6>MySkillsTree</h6>
            <label>Hi, <span class="applicant-name-label">{{loginUser}}</span></label>
            <p style="margin-left: 1rem;">Kindly Provide Your Skill Details </p>

            <img src="assets/newstartup/infography_Skillset.png" alt="" style="margin: 7%;width: 86%;">

        </div>
        <div class="outline-curve">
            <div class="extra-header-box"></div>
            <div class="header-bar">
                <h6>Add Skill Set Details</h6>
            </div>
            <form [formGroup]="mstapplicantskilldetail_Form" (ngSubmit)="onSubmitData(mstapplicantskilldetail_Form)">
                <div class="row  applicant-form">

                    <div class="col-6">
                        <label for="segmentid" class="control-label required">Segments</label>
                        <select formControlName="segmentid" class="form-control"
                            (change)="segmentcategory_onChange($event.target)">
                            <option [ngValue]="null" [disabled]="true">-Select-</option>
                            <option *ngFor="let item of Segmentcategory_list" value="{{item.value}}">{{item.label}}
                            </option>
                        </select>
                        <input *ngIf="showinput1" class="form-control" id="segmentid"
                            formControlName="segmentcategoryothers" type="text" style="margin: 5px 0">
                    </div>

                    <div class="col-6">
                        <label for="skillcategory" class="control-label required">Skill Category</label>
                        <select class="form-control" formControlName="skillcategory"
                            (change)="skillcategory_onChange($event.target)">
                            <option value=null [disabled]="true">-Select-</option>
                            <option *ngFor="let item of skillcategory_List" value="{{item.categoryid}}">{{item.name}}
                            </option>
                        </select>

                        <input *ngIf="showinput2" class="form-control" id="skillcategory"
                            formControlName="skillcategoryothers" type="text" style="margin: 5px 0">
                    </div>

                    <div class="col-6">
                        <label for="subcategoryid" class="control-label required">Sub Category</label>
                        <select class="form-control" formControlName="subcategoryid"
                            (change)="subcategoryid_onChange($event.target)">
                            <option value=null [disabled]="true">-Select-</option>
                            <option *ngFor="let item of subcategoryid_List" value="{{item.subcategoryid}}">{{item.name}}
                            </option>
                        </select>

                        <input *ngIf="showinput3" id="subcategoryid" class="form-control"
                            formControlName="subcategoryidothers" type="text" style="margin: 5px 0">
                    </div>

                    <div class="col-6">
                        <label for="selfrating" class="control-label">Self Rating</label>
                        <p-rating id="selfrating" formControlName="selfrating" class="form-control">
                        </p-rating>
                    </div>
                    <div class="col-12">
                        <label for="remarks" class="control-label">Remarks</label>
                        <textarea id="remarks" formControlName="remarks" [style]="{  height: '320' }"
                            class="form-control"></textarea>
                    </div>

                    <div class="col-6 back-button">
                        <button (click)="back()"> Back </button>
                    </div>

                    <div class="col-6 button-css">
                        <!-- <button (click)="addEducation()"> Skip</button> -->
                        <button (click)="AddmoreSubmitData(mstapplicantskilldetail_Form)"> Add More Skills</button>
                        <button (click)="onSubmitData(mstapplicantskilldetail_Form)">Add Education </button>
                    </div>

                </div>
            </form>
            <div class="extra-box"></div>
            <div class="extra-box-overlap"></div>
            <div class="extra-right-box"></div>
            <div class="extra-right-box-overlap"></div>
        </div>
    </div>

</div>
