<i class="fa fa-step-backward" *ngIf="sourceKey" (click)="nav.back()"></i>
<ngx-spinner></ngx-spinner>
<form [formGroup]="mstcategory_Form" (ngSubmit)="onSubmit()" [ngClass]="theme">
  <div class="row second common_title_style">
    <h1 class="col-4 columns mainheader left"><a href='#/home/{{p_currenturl}}'>{{'Categories'}}</a></h1>
    <div class='col  sticky1 second common_header_clr' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
          <li><a class='alert-info' [routerLink]='' *ngIf='showview' (click)="edit_mstcategories()"><i
                class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col' *ngIf='maindata==null || maindata==undefined'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li *ngIf='!showview && (maindata==null || maindata==undefined)' class='nav-item dropdown  actionheader'>
            <ul class="nav navbar-nav1">
              <li *ngIf=' (maindata==null || maindata==undefined)' class="dropdown">
                <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                  aria-expanded='false'> <span class='caret'></span>Actions</a>
                <ul class="dropdown-menu">
                  <li><a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i
                        class='fa fa-plus' aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a></li>
                  <li><a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a></li>
                  <li><a class='dropdown-item' [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a></li>

                  <li role="separator" class="divider">
                    <hr>
                  </li>

                  <li><a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a></li>
                  <li><a class='dropdown-item' [routerLink]=''><i class='fa fa-envelope'
                        aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a></li>


                </ul>
              </li>
            </ul>
          </li>
          <ng-container *ngFor="let action of mstcategory_menuactions">
            <li><a class="alert-action" [routerLink]='' (click)="onChangeAction(action.actionid)"><i class="fa fa-new"
                  aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{action.description}}</a></li>
          </ng-container>
          <li class='nav-item actionheader common_title_style' *ngIf="!showview">

            <button type="button" class="btn btn-outline-primary popup-add-button" style="border-color: #fff !important;margin: 5px;
  padding: 3px;
  color: #fff;" (click)="onSubmitAndWait()">Submit</button>&nbsp;

            <button type="button" class="btn btn-outline-primary  popup-add-button" *ngIf='data.pkcol==null || maindata.ScreenType==null'
              style="border-color: #fff !important;
  color: #fff;margin: 5px;
     padding: 3px;" (click)="onSubmit()">Submit & Clear</button>&nbsp;

            <!-- <a class="alert-success" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="alert-primary"  *ngIf='data.pkcol==null || maindata.ScreenType==null' [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a> -->
            <app-action *ngIf="f.categoryid.value != null" (afterAction)="afterAction($event)" [menuid]="p_menuid"
              [value]="f.categoryid.value" [status]="f.status.value"></app-action>
          </li>
          <!-- <li  class='nav-item actionheader common_title_style'   *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)">
    <a class="alert-danger"  [routerLink]=''  (click)="onClose()"   ><i class="fa fa-close"></i> Close</a>
  </li> -->

          <i class='nav-item actionheader common_title_style'
            *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)"
            class="fa fa-times-circle close_common_icon2" (click)="onClose()"></i>

        </ul>
      </div>
    </div>
  </div>
  <div class="container"
    id="{{maindata ==undefined || maindata==null || maindata.ScreenType!=2?'contentAreascroll':'contentArea1'}}">
    <div class="w-5" *ngIf="showFormType=='1'" style="margin-top:10px!important">
      <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
    </div>
    <div *ngIf="(viewHtml != '' && showview)" [innerHTML]='getHtml(viewHtml)'>

    </div>
    <ngb-tabset class="tabset1" [destroyOnHide]="false">
      <div *ngIf="(viewHtml != '' && showview)" [innerHTML]='getHtml(viewHtml)'>

      </div>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <div (click)="ToolBar(true)">Master</div>
        </ng-template>
        <ng-template ngbTabContent>
          <p-accordion [multiple]='true'>
            <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
              <!-- <div *ngIf="((hidelist.indexOf('code') == -1) && (codevisible==undefined || codevisible==true))" style=''
                class="col-3 ">
                <label for="code" class="control-label">Code</label>
                <label *ngIf="showview" class="labelview">{{f.code?.value}}</label>
                <input *ngIf="!showview" id="code" formControlName="code" class="form-control">
              </div> -->
<!-- 
              <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['name'].errors.required">
                Name is required.
              </div>
            </div> -->
              <div *ngIf="((hidelist.indexOf('name') == -1) && (namevisible==undefined || namevisible==true))"
                class="col-3">
                <label for="name" type class="control-label">Name</label>
                <label *ngIf="showview" class="labelview">{{f.name?.value}}</label>
                <input type="text" onlyGrow="true" *ngIf="!showview" id="name" formControlName="name" class="form-control" required />
                <app-field-error-display [displayError]="f.name.errors?.required" errorMsg="Enter {{'Name'}}">
                </app-field-error-display>
                <!-- <span class="invalid-feedback"></span> -->
              </div>
              <!-- <app-field-error-display [displayError]="isFieldValid('name')"  errorMsg="Please enter name"></app-field-error-display> -->
            </div>
            <div *ngIf="(viewHtml == '' || !showview)" class="form-group row">
              <div
                *ngIf="((hidelist.indexOf('segmentid') == -1) && (segmentidvisible==undefined || segmentidvisible==true)) && maindata==undefined || maindata==null || maindata.ScreenType==null"
                style='' class="col-3 ">
             
             
                <label for="segmentid" class="control-label">Segment</label>
                <label *ngIf="showview" class="labelview">{{f.segmentid?.value}}</label>
                <input *ngIf="!showview" id="segmentid" formControlName="segmentid" class="form-control">
              </div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
            </div>
          </p-accordion>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <div (click)="ToolBar(false)">Subcategories</div>
        </ng-template>
        <ng-template ngbTabContent>
          <p-accordion [multiple]='true'>
            <div [ngClass]="Is_mstsubcategories_Visible()">
              <h4 class="form-group sticky1  columns left">{{'Subcategories'}}
                <select class='child' id="mstsubcategoriesPagingdropdown"
                  (change)="mstsubcategories_Paging($event.target.value)" [value]='20'>
                  <option value='20'>20</option>
                  <option value='50'>50</option>
                  <option value='100'>100</option>
                </select>
                <ul class="nav navbar-nav1" style='display:none'>
                  <li class="dropdown">
                    <a [routerLink]='' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true'
                      aria-expanded='false'> <span class='caret'></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]='' (click)="mstsubcategories_route(null, 'create')"><i
                            class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New</a></li>
                      <li role="separator" class="divider">
                        <hr>
                      </li>
                      <li><a class="dropdown-item" [routerLink]='' (click)="showmstsubcategoriesFilter()"><i
                            class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Filter</a></li>
                      <li><a class="dropdown-item" [routerLink]=''><i class="fa fa-envelope"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Mail</a></li>
                    </ul>
                  </li>
                </ul>
                <a class="rightside" [routerLink]='' (click)="mstsubcategories_route(null, 'create')"><i
                    class="fa fa-plus"></i></a>
              </h4>
              <ng2-smart-table #tbl_mstsubcategories (userRowSelect)="handle_mstsubcategories_GridSelected($event)"
                [settings]="mstsubcategories_settings" (custom)="onCustom_mstsubcategories_Action($event)"
                [source]="tbl_mstsubcategories?.source?.data" (delete)="mstsubcategories_route($event,'delete')"
                (deleteConfirm)="mstsubcategories_route($event,'delete')"
                (create)="mstsubcategories_route($event,'create')" (createConfirm)="mstsubcategories_beforesave($event)"
                (edit)="mstsubcategories_route($event,'edit')" (editConfirm)="mstsubcategories_beforesave($event)">
              </ng2-smart-table>
            </div>
            <!--End of child table mstsubcategories-->
          </p-accordion>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</form>