<div *ngIf="showheader" class="row layout-topbar ng-header p-shadow-4 ng-tns-c186-0 headerClass"
  [ngClass]="{'adminbgColor': this.userrole=='Admin','applicantbgColor':this.userrole=='Applicant','corporatebgColor':this.userrole=='Corporate'}">
  <div class="col-3 layout-topbar-left ng-tns-c186-0" style="align-items: self-end;">
    <a routerlink="" class="layout-topbar-logo ng-tns-c186-0" href="javascript:void(0)"><img class="logo-2"
        src="assets/companylogo.png" /> </a>
    <!-- <a pripple="" class="layout-topbar-mobile-button ng-tns-c186-0 p-ripple"><i
              class="pi pi-ellipsis-v fs-large ng-tns-c186-0"></i><span class="p-ink"></span></a> -->
    <label style="left: 63px;position: fixed;font-size: 20px; color: #000;">MySkillsTree</label>

  </div>
  <div *ngIf="hideCorporatePage" class="col-6"
    style="display:flex; justify-content:center; align-items:center;padding: 0 5rem;">
    <i class="fa fa-search search-icon" aria-hidden="true"></i>
    <input type="text" class="form-control" placeholder="Search"
      style="border-radius:30px !important; padding: 0 38px;">
    <i class="fa fa-microphone microphone-icon" aria-hidden="true"></i>
  </div>
  <div class="col-6" *ngIf="!hideCorporatePage"></div>
  <div class="col-3 layout-topbar-right ng-tns-c186-0">

    <div class="layout-topbar-actions-right ng-tns-c186-0">
      <ul class="layout-topbar-items ng-tns-c186-0">
        <li class="layout-topbar-item notifications ng-tns-c186-0"><a pripple=""
            class="layout-topbar-action rounded-circle ng-tns-c186-0 p-ripple" (click)="showNotificationSidebar()"><span
              class="p-overlay-badge ng-tns-c186-0"><i class="pi pi-bell fs-large ng-tns-c186-0 bell"
                style="color: red; "></i><span class="p-badge p-badge-warning p-badge-dot ng-tns-c186-0"
                title="Notifications">{{notifications.length}}</span></span><span class="p-ink"
              style="height: 44px; width: 44px;"></span></a>
        </li>
        <li *ngIf="showApplicantmenu">
          <i class="fa fa-th" aria-hidden="true" style="font-size: 24px;margin-top: 13px;cursor: pointer;"
            (click)="showMenus()"></i>
          <div class="card applicant-card" *ngIf="showmenulist"
            style="position: absolute;top: 50px;background-color: #fff !important;">
            <div>
            <div class="row" *ngIf="!menuvisible" style="margin: 8px !important; height: 15rem;">
              <div class="col-12 applicant-menu-icon" style="color: red;text-align: end;padding:0 5px;">
                <i class="fa fa-times-circle" aria-hidden="true" (click)="closeicon()"></i>
              </div>
              <div class="col-6 applicant-menu">
                <a class="icon" [routerLink]='' (click)="openApplicant()">
                  <i style="font-size: 25px;" class="bi bi-person-lines-fill"></i><br /><span
                    class="common_cls_font newfont_header" title="Applicant">Applicant</span></a>
              </div>
              <div class="col-6 applicant-menu">
                <a class="icon" [routerLink]='' (click)="openReference()">
                  <i class="bi bi-person-square" style="font-size: 25px;"></i>
                  <span class="common_cls_font newfont_header" title="References">References</span></a>
              </div>
              <div class="col-6 applicant-menu">
                <a class="icon" [routerLink]='' (click)="openJobs()">
                  <i class="bi bi-briefcase-fill" style="font-size: 25px;"></i><br />
                  <span class="common_cls_font newfont_header" title="Jobs">Jobs</span>
                </a>
              </div>
              <div class="col-6 applicant-menu">
                <a class="icon" [routerLink]='' (click)="openGallery()">
                  <i style="font-style: normal!important;font-size: 25px;" class="bi bi-image"></i><br />
                  <span class="common_cls_font newfont_header" title="Gallery">Gallery</span>
                </a>
              </div>
            </div>

            </div>

            <!-- <ul *ngIf="!menuvisible" class="nav nav-pills input-group">
                          <li class="nav-item ">
                              <a class="icon" [routerLink]='' (click)="openApplicant()">
                                  <i style="font-style: normal!important;font-size: initial;"
                                      class="bi bi-person-lines-fill">&nbsp;&nbsp;</i><span class="common_cls_font"
                                      title="Applicant">Applicant</span></a>
                          </li>
                          <li>
                              <font color='skyblue'>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</font>
                          </li>
                          <li class="nav-item "><a class="icon" style="font-style: normal!important;" [routerLink]=''
                                  (click)="openReference()">
                                  <i class="bi bi-person-square"></i>&nbsp;
                                  <span class="common_cls_font" title="References">References</span></a>
                          </li>
                          <li>
                              <font color='skyblue'>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</font>
                          </li>
                          <li class="nav-item "><a class="icon" style="font-style: normal!important;" [routerLink]=''
                                  (click)="openJobs()">
                                  <i class="bi bi-briefcase-fill"></i>&nbsp;
                                  <span class="common_cls_font" title="Jobs">Jobs</span>
                              </a>
                          </li>
                          <li>
                              <font color='skyblue'>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</font>
                          </li>
                          <li class="nav-item "><a class="icon" style="font-style: normal!important;" [routerLink]=''
                                  (click)="openGallery()">
                                  <i style="font-style: normal!important;font-size: initial;"
                                      class="bi bi-image">&nbsp;&nbsp;</i>
                                  <span class="common_cls_font" title="Gallery">Gallery</span>
                              </a>
                          </li>
                      </ul> -->
          </div>
        </li>
        <!-- <li class="layout-topbar-item app ng-tns-c186-0"><a pripple="" (click)="themeChooser.toggle($event)"
                      class="layout-topbar-action rounded-circle ng-tns-c186-0 p-ripple"><i
                          class="pi pi-table fs-large ng-tns-c186-0"></i><span class="p-ink"
                          style="height: 44px; width: 44px;"></span></a>

              </li> -->
        <!-- <a href="http://localhost:4200/#/home/boreportviewer/aj5qt">Visit W3Schools</a> -->

        <!-- master -->
        <li *ngIf="showAdminMenuaccess" class="layout-topbar-item ng-tns-c186-0 "
          style="list-style: none; color:black;">


          <label class="dropdown">

            <div>
              <i class="fa fa-folder-open-o fa1 fa2" aria-hidden="true" style="margin-left:10px; font-size: 24px !important; margin-top: 6px;"
                (click)="openpopup()"></i>
              <span class="p-ink" style="height: 44px; width: 44px; "></span>
            </div>

            <input type="checkbox" class="dd-input" id="test">

            <ul class="dd-menu" *ngIf="menuhide"
              style="width:30rem;  margin-top: 12px !important; border-radius: 12px;">
              <div style="display: flex;justify-content:  space-between;" class="row">

                <div class="col-12">
                  <button type="button" (click)="closePopup();"
                    class="p-sidebar-close p-sidebar-icon p-link ng-tns-c258-5 p-ripple ng-star-inserted"
                    style="float: right; margin:0px;padding-left: 44rem; ">
                    <span class="p-sidebar-close-icon fa fa-times-circle ng-tns-c258-5"
                      style="color: red !important; font-size: 20PX;"></span>
                  </button>
                </div>

                <!-- [routerLink]="['/home/boreportviewer/mcm']" routerLinkActive="router-link-active" -->
                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/MAM']" routerLinkActive="router-link-active">
                    <li class="li2">
                      <i class="fa fa-user-secret fa1" aria-hidden="true"></i><br />
                      Applicant Masters
                    </li>
                  </a>
                </div>

                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/mcm']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-user fa1" aria-hidden="true"></i><br /> Corporate Masters</li>
                  </a>
                </div>

                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/arrA']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-retweet fa1" aria-hidden="true"></i><br /> Reference</li>
                  </a>
                </div>

                <div class="col-4 card abc" style="text-align:center;"><a [routerLink]="['/home/boreportviewer/jobq']"
                    routerLinkActive="router-link-active ">
                    <li class="li2"><i class="fa fa-id-badge fa1" aria-hidden="true"></i><br /> Job Requirements</li>
                  </a>
                </div>

                <div class="col-4 card abc" style="text-align:center;"><a [routerLink]="['/home/boreportviewer/aadl']"
                    routerLinkActive="router-link-active ">
                    <li class="li2"><i class="fa fa-trophy fa1" aria-hidden="true"></i><br /> Achievement Details</li>
                  </a>
                </div>

                <div class="col-4 card abc" style="text-align:center;"><a [routerLink]="['/home/boreportviewer/acdl']"
                    routerLinkActive="router-link-active ">
                    <li class="li2"><i class="fa fa-graduation-cap fa1" aria-hidden="true"></i><br /> Career Details
                    </li>
                  </a>
                </div>

                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/aed']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-graduation-cap fa1" aria-hidden="true"></i><br /> Education Details
                    </li>
                  </a>
                </div>

                <div class="col-4 card abc " style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/agp']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-globe fa1" aria-hidden="true"></i><br /> Geography Preferences</li>
                  </a>
                </div>

                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/ald']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-language fa1" aria-hidden="true"></i><br /> Language Details</li>
                  </a>
                </div>

                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/ASMD']" routerLinkActive="router-link-active">
                    <li class="li2"><i class=" fa fa-twitter fa1" aria-hidden="true"></i><br /> Social Media Details
                    </li>
                  </a>
                </div>

                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/AWR']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-file-powerpoint-o fa1" aria-hidden="true"></i><br /> Projects</li>
                  </a>
                </div>

                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/psd']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-user fa1" aria-hidden="true"></i><br /> Profile Access Details
                    </li>
                  </a>
                </div>

                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/pcm']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-laptop fa1" aria-hidden="true"></i><br /> Profile Completion Masters
                    </li>
                  </a>
                </div>
              </div>
            </ul>

          </label>
        </li>
        <!-- end -->
        
        <!-- report -->
        <li *ngIf="showAdminMenuaccess" class="layout-topbar-item ng-tns-c186-0 "
          style="list-style: none; color:black;">


          <label class="dropdown">

            <div class="">

              <i class="fa fa-th fa1 fa2" aria-hidden="true"
                style="font-size:24px !important; margin-top: 10px !important; margin-left: 20px; "
                (click)="openpopups()"></i>
              <span class="p-ink" style="height: 44px; width: 44px;"></span>
            </div>

            <input type="checkbox" class="dd-input" id="test">

            <ul class="dd-menu" *ngIf="menuhides"
              style="width:30rem;  margin-top: 12px !important; border-radius: 12px;">
              <div style="display: flex;justify-content: space-between;" class="row">

                <div class="col-12">
                  <button type="button" (click)="closePopups();"
                    class="p-sidebar-close p-sidebar-icon p-link ng-tns-c258-5 p-ripple ng-star-inserted"
                    style="float: right; margin:0px;padding-left: 44rem; ">
                    <span class="p-sidebar-close-icon fa fa-times-circle ng-tns-c258-5"
                      style="color: red !important; font-size: 20PX;"></span>
                  </button>
                </div>

                <!-- <div class="col-4 card abc" style="text-align:center; ">
                       <li><i class="fa fa-building fa1" aria-hidden="true"></i><br /><a
                               [routerLink]="['/home/boreportviewer/v2mgx']"
                               routerLinkActive="router-link-active"> Master Data Type</a></li>
                   </div> -->
                <div class="col-4 card abc" style="text-align:center; ">
                  <a [routerLink]="['/home/boreportviewer/whwfe']" routerLinkActive="router-link-active">
                  <li class="li2"><i class="fa fa-building fa1" aria-hidden="true"></i>
                    <br /> Company Masters
                  </li></a>
                </div>
                <div class="col-4 card abc" style="text-align:center; ">
                  <a [routerLink]="['/home/boreportviewer/v2mgx']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-database fa1" aria-hidden="true"></i><br /> Master Data Type</li>
                  </a>
                </div>
                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/aj5qt']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-table fa1" aria-hidden="true"></i><br /> Master Data</li>
                  </a>
                </div>

                <!-- <div class="row" style=" font-size: 1rem;border-style: 1px solid gray;"> -->
                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/aj5q']" routerLinkActive="router-link-activet">
                    <li class="li2"><i class="fa fa-check-square fa1" aria-hidden="true"></i>
                      <br /> Config Values
                    </li>
                  </a>
                </div>
                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/674']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-cc fa1" aria-hidden="true"></i><br /> Subcategory Masters</li>
                  </a>
                </div>
                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/wc9rn']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-globe fa1" aria-hidden="true"></i><br /> Countries</li>
                  </a>
                </div>
                <!-- </div> -->

                <!-- <div class="row" style=" font-size: 1rem;"> -->
                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/segmt']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-cc-mastercard fa1" aria-hidden="true"></i><br /> Segment Masters
                    </li>
                  </a>
                </div>
                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/terms']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-trademark fa1" aria-hidden="true"></i><br /> Terms </li>
                  </a>
                </div>
                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/e99kq']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-user-secret fa1" aria-hidden="true"></i><br /> User Master</li>
                  </a>
                </div>
                <!-- </div> -->


                <!-- <div class="row" style="font-size: 1rem;"> -->
                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/tnf39']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-user fa1" aria-hidden="true"></i><br /> User Roles</li>
                  </a>
                </div>
                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/zkpxi']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-empire fa1" aria-hidden="true"></i><br /> Templates</li>
                  </a>
                </div>
                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/zzhpb']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-file fa1" aria-hidden="true"></i><br /> Reports</li>
                  </a>
                </div>
                <!-- </div> -->


                <!-- <div class="row" style="font-size: 1rem;"> -->
                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/ybg3p']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-tachometer fa1" aria-hidden="true"></i><br /> Dashboards</li>
                  </a>
                </div>
                <!-- </div> -->

              </div>
            </ul>
          </label>
        </li>
        <!-- end -->
        <!-- Corporate -->
        <li *ngIf="showCorporateMenuaccess" class="layout-topbar-item ng-tns-c186-0 "
          style="list-style: none; color:black;">


          <label class="dropdown">

            <div class="">
              <i class="fa fa-copyright fa2
               " aria-hidden="true" style="margin-left:10px; font-size: 24px !important; margin-top: 6px;"
                (click)="openpopup()"></i>
              <span class="p-ink" style="height: 44px; width: 44px; "></span>
            </div>

            <input type="checkbox" class="dd-input" id="test">

              <div *ngIf="menuhide" style="display: flex;justify-content: space-between;
              width:30rem; background-color:white; margin-top: 12px !important; border-radius: 12px;" class="row dd-menu">
                <div class="col-12">
                  <button type="button" pripple (click)="closePopup();"
                    class="p-sidebar-close p-sidebar-icon p-link ng-tns-c258-5 p-ripple ng-star-inserted"
                    style="float: right; margin:0px; padding-left: 41rem;">
                    <span class="p-sidebar-close-icon fa fa-times-circle ng-tns-c258-5" aria-hidden="false"
                      style="color: red !important; font-size: 24px;"></span>
                  </button>
                </div>

                <div class="col-6 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/mcm']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-graduation-cap fa1" aria-hidden="true"></i><br /> Corporate Masters
                    </li>
                  </a>
                </div>
                <div class="col-6 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/jobq']" routerLinkActive="router-link-active ">
                    <li class="li2"><i class="fa fa-trophy fa1" aria-hidden="true"></i><br /> Job requirements</li>
                  </a>
                </div>

                <div class="col-6 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/arrA']" routerLinkActive="router-link-active ">
                    <li class="li2"><i class="fa fa-graduation-cap fa1" aria-hidden="true"></i><br /> Requested
                      References</li>
                  </a>
                </div>

                <div class="col-6 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/newskillsearch']" routerLinkActive="router-link-active">
                    <li class="li2"><i class=" fa fa-twitter fa1" aria-hidden="true"></i><br /> Skill search</li>
                  </a>
                </div>
              </div>

          </label>
        </li>
        <!-- reports -->
        <li *ngIf="showCorporateMenuaccess" class="layout-topbar-item ng-tns-c186-0 "
          style="list-style: none; color:black;">


          <label class="dropdown">

            <div class="">
              <i class="fa fa-folder-open-o fa1 fa2
               " aria-hidden="true" style="margin-left:10px; font-size: 24px !important; margin-top: 6px;"
                (click)="openpopups()"></i>
              <span class="p-ink" style="height: 44px; width: 44px; "></span>
            </div>

            <input type="checkbox" class="dd-input" id="test">

            <ul class="dd-menu" *ngIf="menuhides"
              style="width:30rem; background-color:white; margin-top: 12px !important; border-radius: 12px;">
              <div style="display: flex;justify-content: space-between;" class="row">
                <div class="col-12">
                  <button type="button" pripple (click)="closePopups();"
                    class="p-sidebar-close p-sidebar-icon p-link ng-tns-c258-5 p-ripple ng-star-inserted"
                    style="float: right; margin:0px; padding-left: 41rem;">
                    <span class="p-sidebar-close-icon fa fa-times-circle ng-tns-c258-5" aria-hidden="false"
                      style="color: red !important; font-size: 24px;"></span>
                  </button>
                </div>

                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/aed']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-graduation-cap fa1" aria-hidden="true"></i><br />Education Details
                    </li>
                  </a>
                </div>
                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/aadl']" routerLinkActive="router-link-active ">
                    <li class="li2"><i class="fa fa-trophy fa1" aria-hidden="true"></i><br /> Achievement Details</li>
                  </a>
                </div>
                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/acdl']" routerLinkActive="router-link-active ">
                    <li class="li2"><i class="fa fa-graduation-cap fa1" aria-hidden="true"></i><br /> Career Details
                    </li>
                  </a>
                </div>

                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/ASMD']" routerLinkActive="router-link-active">
                    <li class="li2"><i class=" fa fa-twitter fa1" aria-hidden="true"></i><br /> Social Media Details
                    </li>
                  </a>
                </div>
                <div class="col-4 card abc " style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/agp']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-globe fa1" aria-hidden="true"></i><br /> Geography Preferences</li>
                  </a>
                </div>
                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/ald']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-language fa1" aria-hidden="true"></i><br /> Language Details</li>
                  </a>
                </div>

                <div class="col-4 card abc" style="text-align:center;">
                  <a [routerLink]="['/home/boreportviewer/AWR']" routerLinkActive="router-link-active">
                    <li class="li2"><i class="fa fa-file-powerpoint-o fa1" aria-hidden="true"></i><br /> Projects</li>
                  </a>
                </div>
              </div>
            </ul>

          </label>
        </li>

        <!-- end -->

        <li class="layout-topbar-item ng-tns-c186-0">
          <a pripple=""
            class="layout-topbar-action p-d-flex p-dir-row p-jc-center p-ai-center p-px-2 rounded-circle ng-tns-c186-0 p-ripple"
            (click)="showProfileDetails()"><img *ngIf="userphoto" src="https://demo.herbie.ai/attachment/{{userphoto}}"
              alt="avatar" style="width: 35px;
                      height: 35px;
                      border-radius: 15px;" class="ng-tns-c186-0 img_content" title="Profile"><span class="p-ink">
            </span></a>
        </li>


        <ul class="list-group" *ngIf="showhideProfile"
          style="position: absolute;top: 50px;left: 10%; height: 10px !important; width: 80% !important;">
          <li class="list-group-item">
            
              <button type="button" pripple (click)="closePopup();"
                class="p-sidebar-close p-sidebar-icon p-link ng-tns-c258-5 p-ripple ng-star-inserted"
                style="float: right; margin:0px; ">
                <i class="fa fa-times-circle" aria-hidden="true" style="color: red !important; font-size: 20px;"
                  (click)="closePopup();"></i>
              </button>
            </li>
            <li class="list-group-item">
            <center><img *ngIf="userphoto" src="https://demo.herbie.ai/attachment/{{userphoto}}" alt="avatar" style="width: 100px;
                  height: 100px;
                  border-radius: 50px;" class="ng-tns-c186-0 img_content" title="Profile">
            </center>
          </li>
          <li class="list-group-item">
            <span>{{username}} ({{userrole}})</span>
          </li>
          <li class="list-group-item li1" style="cursor: pointer;" (click)="showProfile()">
            <span>Manage your account</span>
          </li>
          <li class="list-group-item li1" (click)="logout()" style="cursor: pointer; background-color: red;">
            <a pripple="" class="layout-topbar-action rounded-circle ng-tns-c186-0 p-ripple"><i
                class="pi fs-large ng-tns-c186-0 pi-sign-out"
                style="font-size: 20px !important;color: white;position: relative;top: 4px;" title="Logout"></i>
              <span style="color:white !important;">Signout from account</span></a>
          </li>
        </ul>
        <!-- <li class="layout-topbar-item" style='width:fit-content'>{{username}}({{userrole}})
              </li> -->
        <!-- <li class="layout-topbar-item ng-tns-c186-0"><a pripple="" (click)="logout()"
                      class="layout-topbar-action rounded-circle ng-tns-c186-0 p-ripple"><i
                          class="pi fs-large ng-tns-c186-0 pi-sign-out"
                          style="font-size: 30px !important; color: #000;" title="Logout"></i><span
                          class="p-ink"></span></a></li> -->

      </ul>
    </div>
  </div>

  <footer>
    <div class="container">
      <p class="text-muted foot">Copyright © MySkillsTree Solutions Pvt Ltd.<label class="all_rights rights">All rights reserved.</label></p>
    </div>
    </footer>
</div>
<p-overlayPanel #userdetails>
  <div><b>User Name: </b><i [innerHtml]="user.username"></i></div>
  <div><b>Code: </b><i [innerHtml]="user.usercode"></i></div>
  <div><b>Logindate: </b><i [innerHtml]="user.logindate | date:'dd/MM/yyyy'"></i></div>
</p-overlayPanel>


<p-sidebar [(visible)]="displayNotifications" [(position)]="rightside" [baseZIndex]="10000" *ngIf="showNotify">
  <b>Notifications</b>
  <i class="pi pi-caret-up fs-large ng-tns-c186-0"></i>
  <button type="button" pripple class="p-sidebar-close p-sidebar-icon p-link ng-tns-c258-5 p-ripple ng-star-inserted"
    style="float: right; margin:0px;">
    <span class="p-sidebar-close-icon pi pi-times ng-tns-c258-5"></span>
  </button>
  <ng-container *ngIf="displayNotifications">

    <div *ngFor="let notification of notifications; let i=index" class="notification-message row">





      <div class="card bg-light mt-3 col-12 notification" style="color: #000 !important;"
        (click)="ShowTask(notification)">
        <a class="" [routerLink]='' title="Delete" (click)="delteNotify(notificationDelete[i])"><i
            class="fa fa-times-circle" style="position: absolute;right: 0;top: -5%;font-size: 18px;color: red;"></i></a>
        <b style="color: #000 !important;font-family: arial !important;"
          [innerHtml]="notification.assigneddate | date:'YYYY-MM-dd'"></b>
        <span style="font-family: arial !important; color: #000 !important;">
          <i style="color: #000 !important;font-family: arial !important;"
            [innerHtml]="getText(notification.subject)"></i>
        </span>

      </div>



    </div>
  </ng-container>
  
</p-sidebar>
