// .layout-topbar
// {
//   background-color: var(--frontcolor)!important;
//   color: var(--backcolor)!important;
// }

.layout-topbar {
  background-color: #ebf3fc !important;
  color: black !important;
  // background-color: var(--frontcolor)!important;
  // background: linear-gradient(to bottom, #004fce 0%, #009c8e 90%);

  // color: #fff !important;
}

.headerClass {
  span {
    // color: #fff;
    // color: black !important;
    color: gray !important;
  }

  ul {
    li {
      // color: #fff;
      color: black;
    }
  }
}

.logo-2 {
  // width: 70%;
  //   height: 100%;
  //   margin: 5px;
  width: 42px;
  border-radius: 50px;
  // margin-right: 86%;
  margin-bottom: 0 rem;
}

.icon {
  height: 50px;
  width: 50px;
  // color: #fff !important;
}

a {
  color: gray !important;
}

.layout-topbar {
  height: 3.5rem !important;
  box-shadow: none !important;
}

body {
  color: #000000;
  font-family: Sans-Serif;
  padding: 30px;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #222222;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  right: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input+.dd-menu {
  display: none;
}

.dd-input:checked+.dd-menu {
  display: block;
}

.dd-menu li {
  // padding: 10px 20px;
  cursor: pointer;
  // white-space: nowrap;
}

.dd-menu li:hover {
  // background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  /* margin: -10px -20px; */
  padding: 9px;
  white-space: pre-line;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.col-4 {
  //border-style: groove;
  border-color: #e0dfdf;
}

.p-menubar-root-list>.p-menuitem-active>p-menubarsub>.p-submenu-list {
  display: block;
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  width: 33rem !important;
  order: 7;
  right: 0px;
}

.p-menubar-root-list>.p-menuitem-active>p-menubarsub>.p-submenu-list {
  display: grid !important;
  grid-template-columns: 165px 1fr 1fr !important;
  right: 0px !important;
  height: 270px !important;
}

.abc:hover {
  background-color: #d8ecc1 !important;
}

.abc {
  border: none !important;
  height: 80px !important;
  border-color: #ffffff !important;
  background-color: white !important;
  padding: 5px !important;
  margin: 5px 5px !important;
  max-width: 30%;
  box-shadow: none !important;
  font-size: 11px;
}

// .col-4[_ngcontent-hub-c401] {
//   border-color: #ffffff !important;
//   background-color: #cbf29f !important;
//   /* gap: 5px !important; */
// }
i1 {
  font-size: 24px !important;
}

.col-4 .card:hover {
  background-color: #d8ecc1 !important;
}

.bell {
  font-size: 30px !important;
}

a[_ngcontent-uuu-c401] {
  color: gray !important;
}

.headerClass[_ngcontent-uuu-c401] ul[_ngcontent-uuu-c401] li[_ngcontent-uuu-c401] {
  color: gray !important;
}

.li1 {
  text-align: center;
}

.b1 {
  color: gray !important;
}

.abcrow {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.fa1 {
  color: gray !important;
  font-size: 24px !important;
}

.search-icon {
  position: relative;
  left: 2rem;
  color: #b1aaaa;
}

.microphone-icon {
  position: relative;
  right: 2rem;
  color: #b1aaaa;
}

.list-group-item {
  text-align: left;
}

.newfont_header {
  font-size: 12px;
}

.applicant-card {
  position: absolute;
  top: 50px;
  left: 10%;
  background-color: #fff !important;
  padding: 0;
  height: auto !important;
}

.applicant-menu-icon {
  color: red;
  text-align: end;

  i {
    cursor: pointer;
    font-size: 17px;
    // padding: 0 8px;
  }
}

.applicant-menu {
  text-align: left;
  padding: 0 0px 0 23px;
}

.applicant-menu:hover {
  background-color: #ebf3fc !important;
  text-align: left;
}

.row.second {
  max-height: 40px !important;
  margin-top: 1px !important;
}

.li2 {
  color: gray !important;
}

// .layout1 {
//   background-color: #d8ecc1 !important;
// }

.adminbgColor{
  background-color: #cbf29f !important;
  margin-top: -2px !important;
}
.applicantbgColor{
  background-color: #ebf3fc !important;
}
.corporatebgColor{
  background-color: #f5f3e4 !important;
  margin-top: -2px !important;
}
.seconds{
  background-color: #ccc;
}