<div *ngIf="showheader" class="row layout-topbar ng-header p-shadow-4 ng-tns-c186-0 headerClass"
  [ngClass]="{'adminbgColor': this.userrole=='Admin','applicantbgColor':this.userrole=='Applicant','corporatebgColor':this.userrole=='Corporate'}">
  <div class="col-3 layout-topbar-left ng-tns-c186-0" style="align-items: self-end;">
    <a routerlink="" class="layout-topbar-logo ng-tns-c186-0" href="javascript:void(0)"><img class="logo-2"
        src="assets/companylogo.png" (click) = "dashboard()"/> </a>
    <label style="left: 63px;position: fixed;font-size: 20px; color:#6B431D;" class="comp_title">MySkillsTree</label>

  </div>
  <div class="col-6">
  </div>
  <div class="col-3 layout-topbar-right ng-tns-c186-0">
    <div class="layout-topbar-actions-right ng-tns-c186-0">
      <ul class="layout-topbar-items ng-tns-c186-0">
        <li class="layout-topbar-item notifications ng-tns-c186-0"><a pripple=""
            class="layout-topbar-action rounded-circle ng-tns-c186-0 p-ripple" (click)="showNotificationSidebar()"><i class="pi pi-bell fs-large ng-tns-c186-0 bell"
                style="color: red; "></i>{{notifications.length}}<span class="p-ink"
              style="height: 44px; width: 44px;"></span></a>
        </li>
        <li *ngIf="showApplicantmenu && !showCertifiermenu" class="layout-topbar-item ng-tns-c186-0 "
          style="list-style: none; color:black;">
          <label class="dropdown">
            <div>
              <i class="fa fa-th fa1 fa2 menu-icon" aria-haspopup="true" aria-expanded="false"  (click)="openpopup()"></i>
              <span class="p-ink" style="height: 44px; width: 44px; "></span>
            </div>

            <input type="checkbox" class="dd-input" id="test">

            <ul class="dd-menu" *ngIf="menuhide"
              style="width:30rem;  margin-top: 12px !important; border-radius: 12px;">
              <div style="display: flex;margin: 8px 8px 0 8px !important;" class="row">

                <div class="col-12" style="text-align: end;display: flex;justify-content: end;
                padding: 0 0px;">
            <button type="button" (click)="closePopup();"
              class="p-sidebar-close p-sidebar-icon p-link ng-tns-c258-5 p-ripple ng-star-inserted"
              style=" margin:8px;">
              <span class="p-sidebar-close-icon fa fa-window-close ng-tns-c258-5"
                style="color: red !important; font-size: 20px;"></span>
            </button>
          </label>

          <label class="profile-img">
            <img *ngIf="userphoto" src="https://demo.herbie.ai/attachment/{{userphoto}}" alt="avatar" style="width: 100px;
              height: 100px;
              border-radius: 50px;" title="Profile">

            <img *ngIf="!userphoto" src="assets/profile.jpeg" alt="avatar" style="width: 100px;
              height: 100px;
              border-radius: 50px;" title="Profile">
          </label>

          <label class="profile-label" *ngIf="applicanticon" >
            <span><i class="fa fa-user" aria-hidden="true"></i>&nbsp;
              {{username}} ({{userrole}})</span>
          </label>

          <label class="profile-label" *ngIf="adminicon">
            <span><i class="fa fa-user-secret" aria-hidden="true"></i>&nbsp;
              {{username}} ({{userrole}})</span>
          </label>

          <label class="profile-label" *ngIf="corporateicon">
            <span><i class="fa fa-building-o" aria-hidden="true" style="font-weight: bolder;"></i>&nbsp;
              {{username}} ({{userrole}})</span>
          </label>

          <label class="profile-label" *ngIf="showmobilenumber" style="cursor: pointer;" >
            <span><i class="fa fa-mobile" aria-hidden="true" style="font-size: 23px;
           font-weight: bold;"></i>&nbsp;
              {{mobilenumber}}</span>
          </label>

          <label class="profile-label" style="cursor: pointer;" >
            <span><i class="fa fa-envelope-o" aria-hidden="true" style="font-weight: bolder;"></i>&nbsp;
              {{email_id}}</span>
          </label>

          <label class="profile-label" *ngIf="showApplicantAccount" style="cursor: pointer;" (click)="showProfile()">
            <span><i class="fa fa-cog" aria-hidden="true" style="font-size: 16px;"></i>&nbsp;
              Manage your account</span>
          </label>

          <label  (click)="logout()" class="sign_out-label">
            <i class="pi fs-large ng-tns-c186-0 pi-sign-out" title="Logout"></i>
            <span style="color:white !important;">Signout</span>
          </label>
        </div>

      </ul>
    </div>
  </div>


</div>


<footer>
  <div class="container">
    <!-- <p class="text-muted foot">Copyright © MySkillsTree Solutions Pvt Ltd.<label class="all_rights rights">All rights
        reserved.</label></p> -->
        <p class="text-muted foot">Copyright © MySkillsTree Solutions Pvt Ltd - All rights reserved.</p>
  </div>
</footer>
<p-overlayPanel #userdetails>
  <div><b>User Name: </b><i [innerHtml]="user.username"></i></div>
  <div><b>Code: </b><i [innerHtml]="user.usercode"></i></div>
  <div><b>Logindate: </b><i [innerHtml]="user.logindate"></i></div>
</p-overlayPanel>


<p-sidebar [(visible)]="displayNotifications" [(position)]="rightside" [baseZIndex]="10000" *ngIf="showNotify">
  <b>Notifications</b>
  <i class="pi pi-caret-up fs-large ng-tns-c186-0"></i>
  <button type="button" pripple class="p-sidebar-close p-sidebar-icon p-link ng-tns-c258-5 p-ripple ng-star-inserted"
    style="float: right; margin:0px;" (click)="closeNotify()">
    <!-- <span class="p-sidebar-close-icon pi pi-times ng-tns-c258-5"></span> -->
    <i class="fa fa-window-close" style="padding: 5px;font-size: 18px;color: red;"></i>
  </button>
  <ng-container *ngIf="displayNotifications">

    <div *ngFor="let notification of notifications; let i=index" class="notification-message row">





      <div class="card bg-light mt-3 col-12 notification" style="color: #000 !important;background-color: #ebf3fc !important;"
        (click)="ShowTask(notification)">
        <a class="" [routerLink]='' title="Delete" (click)="delteNotify(notificationDelete[i])"><i
            class="fa fa-window-close" style="position: absolute;right: 0;top: 2%;
                padding: 5px;font-size: 18px;color: red;"></i></a>
        <b style="color: #000 !important;font-family: arial !important;"
          [innerHtml]="notification.assigneddate | date:'YYYY-MM-dd'"></b>
        <span style="font-family: arial !important; color: #000 !important;">
          <i style="color: #000 !important;font-family: arial !important;"
            [innerHtml]="getText(notification.subject)"></i>
        </span>

      </div>
    </div>

  </ng-container>

</p-sidebar>
