<i  class="fa fa-step-backward" *ngIf="sourceKey" (click)="nav.back()"></i>
<p-blockUI [target]="pnl" [blocked]="blockedDocument"><i  class="pi pi-lock" style="font-size: 3rem"></i></p-blockUI>
<form id="frm_bofaq" [formGroup]="bofaq_Form" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<p-panel #pnl  [showHeader]="false">
<app-title reportcode="ffbs4"  title="FAQ" [f]="f"  [data]="data"  [maindata]="maindata" [p_menuid]="p_menuid" [action]="action"  (edit)="edit_bofaqs()" (first)="first()"  (prev)="prev()" (onSelectedpk)="onSelectedpk($event)" (next)="next()" (last)="last()" (resetForm)="resetForm()" (onSubmit)="onSubmit()" (onDelete)="onDelete()" (onCopy)="onCopy()"   (onCopyDetails)="onCopyDetails()"  (onCopycursive)="onCopyRecursive()"  (onClose)="onClose()" (afterAction)="afterAction" (onSubmitAndWait)="onSubmitAndWait()" (onChangeAction)="onChangeAction()"></app-title>
<p-scrollTop></p-scrollTop>
<p-scrollPanel  #panelscroller  [style]="maindata?sharedService.dialogScreenSize:sharedService.mainScreenSize" styleClass="custom">
<div  class="container1  ui-fluid p-grid"    id="{{maindata ==undefined || maindata==null || maindata.ScreenType!=2?'contentAreascroll':'contentArea1'}}" >
<div  class="w-5" *ngIf="showFormType=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form"  class="fa fa-file"></i></div>
</div>
<div *ngIf="!showview" id="div_bofaqs"></div>
<div *ngIf="showview" id="div_bofaqs"></div>
  <div  *ngIf="(viewHtml != '' && showview)" [innerHTML]='getHtml(viewHtml)' >

  </div>


<!--categoryid-->

  <div  *ngIf="hidelist.indexOf('categoryid')<0"  class=" p-float-label  p-col-12 p-md-3" >
<p-autoComplete  forceSelection="true" showClear=true  *ngIf="!showview"    class="p-form-control p-inputtext-sm p-field p-inputwrapper-filled" formControlName="categoryid"  pTooltip="{{'Enter' | translate}} {{'categoryid' | translate}}"  field="label"  [suggestions]="categoryid_Suggestions" (onSelect)="onSelected_categoryid($event)" (completeMethod)="onEntered_categoryid($event)"  [dropdown]="true">
<ng-template let-categoryid pTemplate="item">
<div>{{categoryid.label}}</div>
</ng-template>
</p-autoComplete>
      <label *ngIf="showview"    class="labelview p-inputwrapper-filled">{{f.categoryiddesc?.value}}</label>
<label  for="categoryid"  class="control-label required" (click)="AddOrEdit_categoryid(null)">{{'Category' | translate}}</label>
      <app-field-error-display [displayError]="f.categoryid.errors?.required" errorMsg="{{'Enter'| translate}} {{'Category' | translate}}">
      </app-field-error-display>
  </div>


<!--subcategoryid-->

  <div  *ngIf="hidelist.indexOf('subcategoryid')<0"  class=" p-float-label  p-col-12 p-md-3" >
<p-autoComplete  forceSelection="true" showClear=true  *ngIf="!showview"    class="p-form-control p-inputtext-sm p-field p-inputwrapper-filled" formControlName="subcategoryid"  pTooltip="{{'Enter' | translate}} {{'subcategoryid' | translate}}"  field="label"  [suggestions]="subcategoryid_Suggestions" (onSelect)="onSelected_subcategoryid($event)" (completeMethod)="onEntered_subcategoryid($event)"  [dropdown]="true">
<ng-template let-subcategoryid pTemplate="item">
<div>{{subcategoryid.label}}</div>
</ng-template>
</p-autoComplete>
      <label *ngIf="showview"    class="labelview p-inputwrapper-filled">{{f.subcategoryiddesc?.value}}</label>
<label  for="subcategoryid"  class="control-label">{{'Subcategory' | translate}}</label>
  </div>
  <div    *ngIf="hidelist.indexOf('question')<0"   class="  p-col-12 p-md-12" >
<label  for="question"  class="control-label required">{{'Question' | translate}}</label>

      <label *ngIf="showview"      class="labelview p-inputwrapper-filled">{{f.question?.value}}</label>
<p-editor  *ngIf="!showview"  id="question"  pTooltip="{{'Enter' | translate}} {{'question' | translate}}"  formControlName="question"   required  [style]="{  height: '320' }"></p-editor>      <app-field-error-display [displayError]="f.question.errors?.required" errorMsg="{{'Enter'| translate}} {{'Question' | translate}}">
      </app-field-error-display>
  </div>
  <div    *ngIf="hidelist.indexOf('answer')<0"   class="  p-col-12 p-md-12" >
<label  for="answer"  class="control-label required">{{'Answer' | translate}}</label>

      <label *ngIf="showview"      class="labelview p-inputwrapper-filled">{{f.answer?.value}}</label>
<p-editor  *ngIf="!showview"  id="answer"  pTooltip="{{'Enter' | translate}} {{'answer' | translate}}"  formControlName="answer"   required  [style]="{  height: '320' }"></p-editor>      <app-field-error-display [displayError]="f.answer.errors?.required" errorMsg="{{'Enter'| translate}} {{'Answer' | translate}}">
      </app-field-error-display>
  </div>
  </div>
<p-scrollTop target="parent"  styleClass="custom-scrolltop"  [threshold]="100"  icon="pi pi-arrow-up"></p-scrollTop>
</p-scrollPanel>
</p-panel>
</form>
