<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="hrmsinterviewscoringForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="row second"  >
<h1  class="col-4 columns mainheader left"><a href='#/home/{{pcurrenturl}}'>{{'Scorings' | translate}}</a></h1>
    <div class='col  sticky1 second' role='toolbar' aria-label='Toolbar with button groups'>
      <!--btn-toolbar-->
      <div class='col'></div>
      <div class='dropdown d-inline-block btn-dropdown show'>

        <ul class='nav nav-pills  input-group'>
<li><a class='nav-link active' [routerLink]=''  *ngIf='showview'  (click)="edithrmsinterviewscorings()"><i class="nb-edit"></i>Edit</a></li>
          <li class='nav-item actionheader col'>
            <a [routerLink]='' (click)='first()'><i class='fa fa-fast-backward'
                aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]='' (click)='prev()'><i
                class='fa fa-step-backward' aria-hidden='true'></i></a>&nbsp;&nbsp;
            <app-popupselect  [options]='pkList' [optionsEvent]='pkoptionsEvent' [form]='pkform'
              (selectItem)='onSelectedpk($event)' [reportid]=31 [menuid]=31 formControlName='pk' id='pk' desc=''>
            </app-popupselect>

            <a [routerLink]='' (click)='next()'><i class='fa fa-step-forward' aria-hidden='true'></i></a>&nbsp;&nbsp; <a
              [routerLink]='' (click)='last()'><i class='fa fa-fast-forward' aria-hidden='true'></i></a>

          </li>
          <li  *ngIf='!showview' class='nav-item dropdown  actionheader'>
            <a class='nav-link dropdown-toggle btn-success' (click)='hrmsinterviewscoringtoggleOption()' data-toggle='dropdown'
              [routerLink]='' role='button' aria-haspopup='true' aria-expanded='false'>Actions</a>

            <div class='dropdown-menu' style='display:block' *ngIf='this.hrmsinterviewscoringshowOption'>
              <div class='dropdown-divider'></div>

              <a class='dropdown-item' *ngIf='ScreenType!=2' [routerLink]='' (click)='resetForm()'><i class='fa fa-plus'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;New</a>
              <a class='dropdown-item' [routerLink]='' (click)='onSubmit()'><i class='fa fa-save'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Save</a>
              <a class='dropdown-item'  [routerLink]='' (click)='onDelete()'><i class='fa fa-trash'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Delete</a>

              <div class='dropdown-divider'></div>

              <a class='dropdown-item' [routerLink]='' (click)='onCopy()'><i class='fa fa-copy'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Copy</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-clipboard'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Clipboard</a>
              <a class='dropdown-item' [routerLink]=''><i class='fa fa-print'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Print</a>
              <a class='dropdown-item' [routerLink]='' ><i class='fa fa-envelope'
                  aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;Mail</a>


            </div>
          </li>
<li class='nav-item actionheader'   *ngIf="!showview">
    <a class="nav-link active" [routerLink]=''  (click)="onSubmitAndWait()"  ><i class="fa fa-database"></i> Submit</a>
    <a class="nav-link active"  [routerLink]='' (click)="onSubmit()" ><i class="fa fa-share-square"></i> Submit & Clear</a>
<app-action *ngIf="f.scoringid.value != null"  (afteraction)="afteraction($event)"   [menuid]="pmenuid" [value]="f.scoringid.value"  [status]="f.status.value"></app-action>
    <a class="nav-link"  [routerLink]=''  (click)="onClose()"  *ngIf="maindata!=undefined && maindata!=null && (maindata.ScreenType==1 || maindata.ScreenType==2)" class="" ><i class="fa fa-close"></i> Close</a>
  </li>

        </ul>
      </div>
    </div>
</div>
<div class="container"     id="contentArea1"    >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>


<!--interviewid-->

<div   *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('interviewid') == -1"  class="col" ><label  for="interviewid" class="control-label" (click)="AddOrEditinterviewid(null)">Interview</label>
<app-popupselect  *ngIf="!showview"  [options]="interviewidList"  [optionsEvent]="interviewidoptionsEvent" [form]="hrmsinterviewschedule" (selectItem)="onSelectedinterviewid($event)"  [reportid]= 'p2cyp' [menuid]='p2cyp' formControlName="interviewid" id="interviewid" desc="interviewreference" ></app-popupselect>
<div class="input-group">
</div>
      <label *ngIf="showview"      class="labelview">{{f.interviewiddesc?.value}}</label>
  </div>


<!--interviewround-->

  <div   *ngIf="hidelist.indexOf('interviewround') == -1"  class="col" ><label  for="interviewround" class="control-label">Interview Round</label>
      <select  *ngIf="!showview"  id="interviewround"  (change)="interviewroundonChange($event.target)" formControlName="interviewround"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of interviewroundList" value="{{item.configkey}}">{{item.configtext}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.interviewrounddesc?.value}}</label>
  </div>


<!--criteria-->

  <div   *ngIf="hidelist.indexOf('criteria') == -1"  class="col" ><label  for="criteria" class="control-label" (click)="AddOrEditcriteria(null)" (click)="AddOrEditcriteria(null)">Criteria</label>
      <select  *ngIf="!showview"  id="criteria"  (change)="criteriaonChange($event.target)" formControlName="criteria"  class="form-control"
         >
<option value="0">-Select-</option>
 <option *ngFor="let item of criteriaList" value="{{item.masterdataid}}">{{item.masterdatadescription}}</option>
    </select>
      <label *ngIf="showview"      class="labelview">{{f.criteriadesc?.value}}</label>
  </div>
  <div  *ngIf="hidelist.indexOf('rating') == -1"  class="col "  >
<label  for="rating" class="control-label">Rating</label>
      <p-rating   *ngIf="!showview"  id="rating"  formControlName="rating" class="form-control"
        >
</p-rating>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('weightage') == -1"  class="col "  >
<label  for="weightage" class="control-label">Weightage</label>
      <input   *ngIf="!showview"  id="weightage"  formControlName="weightage" class="form-control"
        >
  </div>
  <div  *ngIf="hidelist.indexOf('score') == -1"  class="col "  >
<label  for="score" class="control-label">Score</label>
      <input   *ngIf="!showview"  id="score"  formControlName="score" class="form-control"
        >
  </div>
<div class="col"></div>
<div class="col"></div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div  *ngIf="hidelist.indexOf('notes') == -1"  class="col "  >
<label  for="notes" class="control-label">Notes</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="notes"  formControlName="notes" class="form-control"
        >
</textarea>
  </div>
</div>
  </div>
</form>
