p-dynamicdialog .p-dialog.p-dynamic-dialog.p-component {
    max-width: 99% !important;
    display: flex !important;
    // min-height: 85% !important;
  }
  .p-accordion {
    margin-top: 0px !important;
}