<div class="dialog">
  <form [formGroup]="hrmspadecisionmanagementForm" (ngSubmit)="onSubmit()" [ngClass]="theme">
    <div *ngIf="!(viewhtml != '' && showview)">
      {{getHtml(viewhtml)}}
    </div>
    <div class="container1" *ngIf="!(viewhtml != '' && showview)">
      <div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
        <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
      </div>
      <p-accordion [multiple]='true'>
        <div class="form-group row">
          <div class="col">
            <label for="changeinrole" class="control-label">Change In Role</label>
            <input *ngIf="!showview" id="changeinrole" formControlName="changeinrole" class="form-control"
              placeholder="{{'Change In Role' | translate}}">
          </div>
          <div class="col">
            <label for="salarychange" class="control-label">Salary Change</label>
            <input *ngIf="!showview" id="salarychange" formControlName="salarychange" currencyMask
              [options]="{ prefix: '',precision: 0, thousands: ',', decimal: '.' }" class="form-control"
              placeholder="{{'Salary Change' | translate}}">
          </div>
          <div class="col">
            <label for="effectivedate" class="control-label">Effective Date</label>
            <div class="input-group" *ngIf="!showview">
              <input #effectivedateformpicker="ngbDatepicker" ngbDatepicker name="effectivedateformpicker"
                id="effectivedate" formControlName="effectivedate" class="form-control"
                placeholder="Choose Effective Date">
              <button class="input-group-addon" *ngIf="!showview" (click)="effectivedateformpicker.toggle()"
                type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
            </div>
            <label *ngIf="showview"
              class="form-control labelview">{{ngbDateParserFormatter.format(f.effectivedate?.value)}}</label>
          </div>
          <div class="col"></div>
        </div>
      </p-accordion>
      <div class="form-group row" *ngIf="!showview">
        <div class="col">
          <button class="btn btn-info" (click)="onSubmitAndWait()" type="button"><i class="fa fa-database"></i>
            Submit</button>
          <button class="btn btn-info" type="submit"><i class="fa fa-share-square"></i> Submit & Clear</button>
          <app-action *ngIf="f.appraisaldecisionid!.value != null" (afteraction)="afteraction($event)" [menuid]="pmenuid"
            [value]="f.appraisaldecisionid!.value" [status]="f.status.value"></app-action>
          <button type="button" (click)="onClose()"
            *ngIf="data!=undefined && data!=null && (data.ScreenType==1 || data.ScreenType==2)"
            class="btn btn-info"><i class="fa fa-close"></i> Close</button>
        </div>
      </div>
    </div>
  </form>
</div>