<div class="dialog">
<i class="fa fa-step-backward" *ngIf="sourcekey" (click)="nav.back()"></i>
<form  [formGroup]="legalcasehearingForm" (ngSubmit)="onSubmit()" [ngClass]="theme" >
<div class="container1" >
<div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
<div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
</div>
<p-accordion  [multiple]='true'>
  <div  *ngIf="(viewhtml != '' && showview)" innerHTML='{{getHtml(viewhtml)}}' >
    
  </div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('hearingdate') == -1"  class="col " >
<label  for="hearingdate" class="control-label">Hearing Date</label>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.hearingdate?.value)}}</label>
<div class="input-group" *ngIf="!showview" >
<input #hearingdateformpicker="ngbDatepicker"      ngbDatepicker name="hearingdateformpicker" id="hearingdate"  formControlName="hearingdate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="hearingdateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
  </div>
  <div   *ngIf="hidelist.indexOf('lawyerid') == -1"  class="col " >
<label  for="lawyerid" class="control-label">Lawyer</label>
      <label *ngIf="showview"     class="labelview">{{f.lawyerid?.value}}</label>
      <input   *ngIf="!showview"  id="lawyerid"  formControlName="lawyerid" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('additionallawyerid1') == -1"  class="col " >
<label  for="additionallawyerid1" class="control-label">Additional Lawyer I D1</label>
      <label *ngIf="showview"     class="labelview">{{f.additionallawyerid1?.value}}</label>
      <input   *ngIf="!showview"  id="additionallawyerid1"  formControlName="additionallawyerid1" class="form-control"
        >
  </div>
  <div   *ngIf="hidelist.indexOf('additionallawyerid2') == -1"  class="col " >
<label  for="additionallawyerid2" class="control-label">Additional Lawyer I D2</label>
      <label *ngIf="showview"     class="labelview">{{f.additionallawyerid2?.value}}</label>
      <input   *ngIf="!showview"  id="additionallawyerid2"  formControlName="additionallawyerid2" class="form-control"
        >
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('remarks') == -1"  class="col " >
<label  for="remarks" class="control-label">Remarks</label>
      <label *ngIf="showview"     class="labelview">{{f.remarks?.value}}</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="remarks"  formControlName="remarks" class="form-control"
        >
</textarea>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('actiontobetaken') == -1"  class="col " >
<label  for="actiontobetaken" class="control-label">Action To Be Taken</label>
      <label *ngIf="showview"     class="labelview">{{f.actiontobetaken?.value}}</label>
      <textarea  autosize MinRows="10" MaxRows="15" onlyGrow="true"  *ngIf="!showview"  id="actiontobetaken"  formControlName="actiontobetaken" class="form-control"
        >
</textarea>
  </div>
</div>
<div  *ngIf="(viewhtml == '' || !showview)" class="form-group row" >
  <div   *ngIf="hidelist.indexOf('nexthearingdate') == -1"  class="col " >
<label  for="nexthearingdate" class="control-label">Next Hearing Date</label>
      <label *ngIf="showview"   class="labelview">{{ngbDateParserFormatter.format(f.nexthearingdate?.value)}}</label>
<div class="input-group" *ngIf="!showview" >
<input #nexthearingdateformpicker="ngbDatepicker"      ngbDatepicker name="nexthearingdateformpicker" id="nexthearingdate"  formControlName="nexthearingdate"  class="form-control"   >
<button class="input-group-addon"  *ngIf="!showview"  (click)="nexthearingdateformpicker.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
</div>
  </div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div></p-accordion>
  </div>
</form>
</div>
