<div class="dialog">
  <form [formGroup]="erpsalesorderpaymenttermForm" (ngSubmit)="onSubmit()"
    [ngClass]="sessionService.getItem('selected-theme')">
    <div  class="container"     id="contentArea1"   >
      <div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
        <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
      </div>
      <p-accordion [multiple]='true'>
        <div class="form-group row">
          <div class="col">
            <label for="versionnumber" class="control-label">{{'Version Number' | translate}}</label>
            <input id="versionnumber" formControlName="versionnumber" class="form-control"
              placeholder="{{'Version Number' | translate}}">
          </div>
          <div class="col"><label for="paymenttermtype" class="control-label">{{'Payment Term Type' |
              translate}}</label>
            <select id="paymenttermtype" (change)="paymenttermtypeonChange($event.target)"
              formControlName="paymenttermtype" class="form-control">
              <option value="0">-Select-</option>
              <option *ngFor="let item of paymenttermtypeList" value="{{item.configkey}}">{{item.configtext}}</option>
            </select>
          </div>
          <div class="col">
            <label for="percentage" class="control-label">{{'Percentage' | translate}}</label>
            <input id="percentage" formControlName="percentage" class="form-control"
              placeholder="{{'Percentage' | translate}}">
          </div>
          <div class="col"></div>
        </div>
        <div class="form-group row">
          <div class="col">
            <label for="description" class="control-label">{{'Description' | translate}}</label>
            <textarea autosize MinRows="10" MaxRows="15" onlyGrow="true" id="description" formControlName="description"
              class="form-control" placeholder="{{'Description' | translate}}">
</textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col"><label for="currency" class="control-label">{{'Currency' | translate}}</label>
            <select id="currency" (change)="currencyonChange($event.target)" formControlName="currency"
              class="form-control">
              <option value="0">-Select-</option>
              <option *ngFor="let item of currencyList" value="{{item.configkey}}">{{item.configtext}}</option>
            </select>
          </div>
          <div class="col">
            <label for="amount" class="control-label">{{'Amount' | translate}}</label>
            <input id="amount" formControlName="amount" class="form-control" placeholder="{{'Amount' | translate}}">
          </div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
        <div class="form-group row">
          <div class="col">
            <label for="remarks" class="control-label">{{'Remarks' | translate}}</label>
            <textarea autosize MinRows="10" MaxRows="15" onlyGrow="true" id="remarks" formControlName="remarks"
              class="form-control" placeholder="{{'Remarks' | translate}}">
</textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <label for="arid" class="control-label">{{'A R' | translate}}</label>
            <input id="arid" formControlName="arid" class="form-control" placeholder="{{'A R' | translate}}">
          </div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
      </p-accordion>
      <div class="form-group row">
        <div class="col">
          <button class="btn btn-info" (click)="onSubmitAndWait()" type="button"><i class="fa fa-database"></i>
            Submit</button>
          <button class="btn btn-info" type="submit"><i class="fa fa-share-square"></i> Submit & Clear</button>
          <app-action *ngIf="f.paytermid!.value != null" [menuid]="pmenuid" [value]="f.paytermid!.value"
            [status]="f.status.value"></app-action>
          <button type="button" (click)="onClose()"
            *ngIf="data!=undefined && data!=null && (data.ScreenType==1 || data.ScreenType==2)"
            class="btn btn-info"><i class="fa fa-close"></i> Close</button>
        </div>
      </div>
    </div>
  </form>
</div>