<div class="dialog">
  <form [formGroup]="erptendercorrigendumForm" (ngSubmit)="onSubmit()"
    [ngClass]="sessionService.getItem('selected-theme')">
    <div *ngIf="!(viewhtml != '' && showview)">
      {{getHtml(viewhtml)}}
    </div>
    <div class="container1" *ngIf="!(viewhtml != '' && showview)">
      <div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
        <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
      </div>
      <p-accordion [multiple]='true'>
        <div class="form-group row">
          <div class="col">
            <label for="corrigendumdate" class="control-label">Corrigendum Date</label>
            <div class="input-group" *ngIf="!showview">
              <input #corrigendumdateformpicker="ngbDatepicker" ngbDatepicker name="corrigendumdateformpicker"
                id="corrigendumdate" formControlName="corrigendumdate" class="form-control"
                placeholder="Choose Corrigendum Date">
              <button class="input-group-addon" *ngIf="!showview" (click)="corrigendumdateformpicker.toggle()"
                type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
            </div>
            <label *ngIf="showview"
              class="form-control labelview">{{ngbDateParserFormatter.format(f.corrigendumdate?.value)}}</label>
          </div>
          <div class="col">
            <label for="description" class="control-label">Description</label>
            <input *ngIf="!showview" id="description" formControlName="description" class="form-control"
              placeholder="{{'Description' | translate}}">
            <label *ngIf="showview" class="form-control labelview">{{f.description?.value}}</label>
          </div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
        <div class="form-group row">
          <div class="col">
            <label for="notes" class="control-label">Notes</label>
            <textarea autosize MinRows="10" MaxRows="15" onlyGrow="true" *ngIf="!showview" id="notes"
              formControlName="notes" class="form-control" placeholder="{{'Notes' | translate}}">
</textarea>
            <label *ngIf="showview" class="form-control labelview">{{f.notes?.value}}</label>
          </div>
        </div>
        <div *ngIf="customfieldvisible">
          <p-accordionTab header='CustomField' [selected]='true'>
            <div class="sticky"
              *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined   &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))">
              Custom Fields</div>
            <div class="form-group row"
              *ngIf="customfieldservicelist!=null && customfieldservicelist!=undefined   &&(customfieldservicelist.formhtml!=null || customfieldservicelist.templatehtml!=null || (customfieldservicelist.fields!=[] && customfieldservicelist.fields.length>0))">
              <dynamic-form-builder [customfields]="customfieldservicelist" #customform></dynamic-form-builder>
            </div>
          </p-accordionTab>
        </div>
        <div *ngIf="attachmentvisible">
          <p-accordionTab header='Attachment' [selected]='true'>
            <app-attachment isAttachment="true" #fileattachment formControlName="attachment" [SessionData]="sessiondata"></app-attachment>
          </p-accordionTab>
        </div>
      </p-accordion>
      <div class="form-group row" *ngIf="!showview">
        <div class="col">
          <button class="btn btn-info" (click)="onSubmitAndWait()" type="button"><i class="fa fa-database"></i>
            Submit</button>
          <button class="btn btn-info" type="submit"><i class="fa fa-share-square"></i> Submit & Clear</button>
          <app-action *ngIf="f.corrigendumid!.value != null" (afteraction)="afteraction($event)" [menuid]="pmenuid"
            [value]="f.corrigendumid!.value" [status]="f.status.value"></app-action>
          <button type="button" (click)="onClose()"
            *ngIf="data!=undefined && data!=null && (data.ScreenType==1 || data.ScreenType==2)"
            class="btn btn-info"><i class="fa fa-close"></i> Close</button>
        </div>
      </div>
    </div>
  </form>
</div>