<div class="dialog">
  <form [formGroup]="hrmsapplicantskillForm" (ngSubmit)="onSubmit()" [ngClass]="theme">
    <div *ngIf="!(viewhtml != '' && showview)">
      {{getHtml(viewhtml)}}
    </div>
    <div class="container1" *ngIf="!(viewhtml != '' && showview)">
      <div class="w-5" *ngIf="showformtype=='1'" style="margin-top:10px!important">
        <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
      </div>
      <p-accordion [multiple]='true'>
        <div class="form-group row">
          <div class="col"><label for="skillcategory" class="control-label">Skill Category</label>
            <select *ngIf="!showview" id="skillcategory" (change)="skillcategoryonChange($event.target)"
              formControlName="skillcategory" class="form-control">
              <option value="0">-Select-</option>
              <option *ngFor="let item of skillcategoryList" value="{{item.configkey}}">{{item.configtext}}</option>
            </select>
            <label *ngIf="showview" class="form-control labelview">{{f.skillcategorydesc?.value}}</label>
          </div>
          <div class="col">
            <label for="skilldescription" class="control-label">Skill Description</label>
            <input *ngIf="!showview" id="skilldescription" formControlName="skilldescription" class="form-control"
              placeholder="{{'Skill Description' | translate}}">
          </div>
          <div class="col">
            <label for="noofyearsused" class="control-label">No Of Years Used</label>
            <input *ngIf="!showview" id="noofyearsused" formControlName="noofyearsused" class="form-control"
              placeholder="{{'No Of Years Used' | translate}}">
            <app-field-error-display
              [displayError]="f.noofyearsused.errors!=null && f.noofyearsused.errors.pattern!=null && f.noofyearsused.errors!=undefined && f.noofyearsused.errors.pattern!=undefined  && (f.noofyearsused.touched|| isSubmitted)"
              errorMsg="Not a valid number">
            </app-field-error-display>
            <app-field-error-display
              [displayError]="f.noofyearsused.errors!=null && f.noofyearsused.errors.min!=null && f.noofyearsused.errors!=undefined && f.noofyearsused.errors.min!=undefined  && (f.noofyearsused.touched|| isSubmitted)"
              errorMsg="Minimum value have to be entered">
            </app-field-error-display>
            <app-field-error-display
              [displayError]="f.noofyearsused.errors!=null && f.noofyearsused.errors.max!=null && f.noofyearsused.errors!=undefined && f.noofyearsused.errors.max!=undefined  && (f.noofyearsused.touched|| isSubmitted)"
              errorMsg="Maximum value Exceeded">
            </app-field-error-display>
          </div>
          <div class="col">
            <label for="lastusedyear" class="control-label">Last Used Year</label>
            <input *ngIf="!showview" id="lastusedyear" formControlName="lastusedyear" class="form-control"
              placeholder="{{'Last Used Year' | translate}}">
            <app-field-error-display
              [displayError]="f.lastusedyear.errors!=null && f.lastusedyear.errors.pattern!=null && f.lastusedyear.errors!=undefined && f.lastusedyear.errors.pattern!=undefined  && (f.lastusedyear.touched|| isSubmitted)"
              errorMsg="Not a valid number">
            </app-field-error-display>
            <app-field-error-display
              [displayError]="f.lastusedyear.errors!=null && f.lastusedyear.errors.min!=null && f.lastusedyear.errors!=undefined && f.lastusedyear.errors.min!=undefined  && (f.lastusedyear.touched|| isSubmitted)"
              errorMsg="Minimum value have to be entered">
            </app-field-error-display>
            <app-field-error-display
              [displayError]="f.lastusedyear.errors!=null && f.lastusedyear.errors.max!=null && f.lastusedyear.errors!=undefined && f.lastusedyear.errors.max!=undefined  && (f.lastusedyear.touched|| isSubmitted)"
              errorMsg="Maximum value Exceeded">
            </app-field-error-display>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <label for="rating" class="control-label">Rating</label>
            <p-rating *ngIf="!showview" id="rating" formControlName="rating" class="form-control"
              placeholder="{{'Rating' | translate}}">
            </p-rating>
          </div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
        <div class="form-group row">
          <div class="col">
            <label for="remarks" class="control-label">Remarks</label>
            <textarea autosize MinRows="10" MaxRows="15" onlyGrow="true" *ngIf="!showview" id="remarks"
              formControlName="remarks" class="form-control" placeholder="{{'Remarks' | translate}}">
</textarea>
          </div>
        </div>
        <div *ngIf="attachmentvisible">
          <p-accordionTab header='Attachment' [selected]='false'>
            <app-attachment isAttachment="true" #fileattachment formControlName="attachment" [SessionData]="sessiondata"></app-attachment>
          </p-accordionTab>
        </div>
      </p-accordion>
      <div class="form-group row" *ngIf="!showview">
        <div class="col">
          <button class="btn btn-info" (click)="onSubmitAndWait()" type="button"><i class="fa fa-database"></i>
            Submit</button>
          <button class="btn btn-info" type="submit"><i class="fa fa-share-square"></i> Submit & Clear</button>
          <app-action *ngIf="f.skillid!.value != null" (afteraction)="afteraction($event)" [menuid]="pmenuid"
            [value]="f.skillid!.value" [status]="f.status.value"></app-action>
          <button type="button" (click)="onClose()"
            *ngIf="data!=undefined && data!=null && (data.ScreenType==1 || data.ScreenType==2)"
            class="btn btn-info"><i class="fa fa-close"></i> Close</button>
        </div>
      </div>
    </div>
  </form>
</div>