<div class="content">
  <div class="header row">
    <div class="col-8"
      style="display: flex;justify-content: center;align-items: center;padding: 0rem 12rem;position: absolute;top: 5px;z-index: 9999;">
      <i class="fa fa-search search-icon" aria-hidden="true"></i>
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="term"
        style="border-radius:30px !important;padding: 0 40px;" multiple>
      <i class="fa fa-microphone microphone-icon" aria-hidden="true"></i>
    </div>
  </div>
  <div class="container">
    <div class="sidebar">
      <div class="sidebar-content">
        <h6 style="font-weight: 600;"> Skills Set</h6>
        <ng-multiselect-dropdown [placeholder]="'Select Segment'" [settings]="dropdownSettings"
          [data]="Segmentcategory_list" [(ngModel)]="segmentid" (onSelect)="segmentcategory_onChange($event,val)"
          (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)">
        </ng-multiselect-dropdown><br />
        <ng-multiselect-dropdown [placeholder]="'Select Category'" [settings]="categorySettings"
          [data]="skillcategory_List" [(ngModel)]="skillcategory" (onSelect)="skillcategory_onChange($event,val)"
          (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown><br />
        <ng-multiselect-dropdown [placeholder]="'Select Subcategory'" [settings]="subCategorySettings"
          [data]="subcategoryid_List" [(ngModel)]="subcategoryid" (onSelect)="subcategoryid_onChange($event,val)"
          (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
      </div>
      <div class="sidebar-content">
        <h6 style="font-weight: 600;"> Experience</h6><br/>
        <div class="range">
          <div class="sliderValue">
            <span>{{rangevalue}}</span>
          </div><br/><br/>
          <div class="field">
            <div class="value left">
              0</div>
            <input type="range" min="0" max="30" value="{{rangevalue}}" steps="1" (input)="valueChanged($event)">
            <div class="value right">
              30</div>
          </div>
        </div>
      </div><br/>
      <div class="sidebar-content">
        <h6 style="font-weight: 600;"> Location</h6>
        <ng-multiselect-dropdown [placeholder]="'Select Location'" [settings]="locationSettings" [data]="location_List"
          [(ngModel)]="value" (onSelect)="location_onChange($event,val)" (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
        <!-- <input class="form-control" [(ngModel)]="location" (keyup)="valueChanged1($event)"> -->
      </div>
    </div>
    <div class="main-content">
      <div class="row tab">
        <div class="col-5 tab-button">
          <button style="border-bottom-left-radius: 20px;border-top-left-radius: 20px;" (click)="onList()">List
            View</button>
          <button (click)="onGrid()">Grid View</button>
          <button style="border-bottom-right-radius: 20px;border-top-right-radius: 20px;" (click)="onCard()">Card
            View</button>
        </div>
        <div class="col-4"></div>
        <div class="col-3 dropdown-skillSet">
        </div>
      </div>

      <!-- List View -->

      <div class="listView-content" *ngIf="showList" style="max-height: 450px !important;overflow-y: scroll;">
        <h5>Profiles Matching Search Criteria</h5>
        <label for="">Matching profile</label>
        <div *ngFor="let item of showData | filter:term; index of i" [ngClass]="{ 'active' : 'listView-card'}"
          style="margin: 10px;">
          <div style="display: flex;padding: 5px;margin: 0px 0px -7px 9px;">
            <img *ngIf="item.useprofilephoto" src="https://demo.herbie.ai/attachment/{{item.useprofilephoto}}"
              alt="">&nbsp;&nbsp;
            <img *ngIf="item.useprofilephoto == null" src="assets/profile.jpeg" alt="">&nbsp;&nbsp;
            <ul>
              <li style="color: #000;font-weight: 600;font-size: 16px;
              text-transform: capitalize;">{{item.firstname}} {{item.lastname}}</li>
              <li>Email : {{item.emailid ? item.emailid : '-'}}</li>
              <li>Mobile No : {{item.mobilenumber ? item.mobilenumber : '-'}}</li>
              <li>Location : {{item.location ? item.location : '-'}}</li>
              <li>Experience : {{item.experience ? item.experience : '-'}}</li>
              <li>Category : <b style="color:#000;font-weight: 600;">{{item.segment}} - {{item.category}} -
                  {{item.subcategory}}</b>
              </li>
              <li>Skills : <b style="color:#000;font-weight: 600;">{{item.skills}}</b></li>

            </ul>
          </div>
        </div>
      </div>

      <!-- Grid View -->

      <div class="gridView-content" *ngIf="showGrid">
        <h5>Profiles Matching Search Criteria</h5>
        <label for="">Matching profile</label>
        <div class="grid-container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">NAME</th>
                <th scope="col">Email ID</th>
                <th scope="col">Mobile No</th>
                <th scope="col">Location</th>
                <th scope="col">Experience</th>
                <th scope="col">Skills</th>
                <th scope="col">Category</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of showData | filter:term" style="line-height: 3rem;">
              <tr>
                <td>
                  <img *ngIf="item.useprofilephoto" src="https://demo.herbie.ai/attachment/{{item.useprofilephoto}}"
                    class="grid-image">
                  <img *ngIf="item.useprofilephoto == null" src="assets/profile.jpeg" alt="" class="grid-image">
                  {{item.firstname}} {{item.lastname}}
                </td>
                <td>{{item.emailid ? item.emailid : '-'}}</td>
                <td>{{item.mobilenumber ? item.mobilenumber : '-'}}</td>
                <td>{{item.location ? item.location : '-'}}</td>
                <td>{{item.experience ? item.experience : '-'}}</td>
                <td>{{item.skills ? item.skills : '-'}}</td>
                <td>{{item.segment}} - {{item.category}} - {{item.subcategory}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Card View -->

      <div class="cardView-content" *ngIf="showCard">
        <h5>Profiles Matching Search Criteria</h5>
        <label for="">Matching profile</label>
        <div class="card-view">
          <div *ngFor="let item of showData | filter:term">
            <img *ngIf="item.useprofilephoto" src="https://demo.herbie.ai/attachment/{{item.useprofilephoto}}"
              alt="">&nbsp;&nbsp;
            <img *ngIf="item.useprofilephoto == null" src="assets/profile.jpeg" alt="">&nbsp;&nbsp;
            <ul>
              <li style="color: #000;font-weight: 600;font-size: 16px;
              text-transform: capitalize;">{{item.firstname}} {{item.lastname}}</li>
              <li>Email : {{item.emailid ? item.emailid : '-'}}</li>
              <li>Mobile No : {{item.mobilenumber ? item.mobilenumber : '-'}}</li>
              <li>Location : {{item.location ? item.location : '-'}}</li>
              <li>Experience : {{item.experience ? item.experience : '-'}}</li>
              <li>Skills : {{item.skills ? item.skills : '-'}}</li>
              <li>Category : {{item.segment}} - {{item.category}} - {{item.subcategory}}</li>
              <li><i class="fa fa-eye" title="View Profile" style="font-size: 1.7rem;position: relative;color: #000;left: 110px;cursor: pointer;" (click)='opendialog1(item.applicant,item.pkcol)'></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

</script>
